{% import 'macros/cycle-select.html' as select %}

<section id="section-3" role="tabpanel" aria-hidden="true" aria-labelledby="section-3-heading">
  <div class="container">
    <h2 id="section-3-heading">Spending by others to support or oppose candidates</h2>
    <div class="slab slab--inline slab--neutral u-padding--left u-padding--right">
      <div class="entity__figure row">
        <div class="heading--section heading--with-action u-no-margin">
          <h3 class="heading__left">Independent expenditures</h3>
        </div>
        <table class="data-table data-table--heading-borders scrollX" data-type="independent-expenditures">
          <thead>
            <th scope="col">Spent by</th>
            <th scope="col">Support/Oppose</th>
            <th scope="col">Candidate</th>
            <th scope="col">Aggregate amount</th>
          </thead>
        </table>
        <div class="datatable__note">
          <p class="t-note">These totals are drawn from quarterly, monthly and semi-annual reports. 24- and 48-Hour Reports of independent expenditures aren't included.</p>
        </div>
      </div>

      <div class="entity__figure row">
        <div class="heading--section heading--with-action u-no-margin">
          <h3 class="heading__left">Communication costs</h3>
        </div>
        <table class="data-table data-table--heading-borders scrollX" data-type="communication-costs">
          <thead>
            <th scope="col">Spent by</th>
            <th scope="col">Support/Oppose</th>
            <th scope="col">Candidate</th>
            <th scope="col">Aggregate amount</th>
          </thead>
        </table>
      </div>

      <div class="entity__figure row">
        <div class="heading--section heading--with-action u-no-margin">
          <h3 class="heading__left">Electioneering communications</h3>
        </div>
        <table class="data-table data-table--heading-borders scrollX" data-type="electioneering">
          <thead>
            <th scope="col">Spent by</th>
            <th scope="col">Candidate</th>
            <th scope="col">Aggregate amount</th>
          </thead>
        </table>
        <div class="datatable__note">
          <p class="t-note">To help users work with this data, we divide each itemized disbursement amount by the number of federal candidates named in connection with that disbursement. The resulting amount is listed here.</p>
        </div>
      </div>
    </div>
  </div>
</section>
