<ul class="tags" aria-hidden="false">
  <li data-tag-category="" class="tag__category primary"><div data-id="" data-removable="true" class="tag__item primary">&nbsp;<button class="button js-close_primary tag__remove"><span class="u-visually-hidden">Remove</span></button></div></li>
  <li data-tag-category="" class="tag__category sub"><div data-id="" data-removable="true" class="tag__item sub">&nbsp;<button class="button js-close_sub tag__remove"><span class="u-visually-hidden">Remove</span></button></div></li>
</ul>