<table class="t-sans usa-width-three-fourths">
  <tbody>
    <tr>
      <td class="figure__label">Last general election:</td>
      <td class="figure__value">{{last}}</td>
    </tr>
    <tr>
      <td class="figure__label">General election:</td>
      <td class="figure__value">{{current}}</td>
    </tr>
  </tbody>
</table>