<div class="message message--info">
  <div class="message__content">
    <p>ZIP code {{zip}} includes multiple congressional <span class="term" data-term="District">districts</span> with elections in {{cycle}}.</p>
    <p class="t-sans">Find your district on <a href="http://ziplook.house.gov/htbin/findrep?ZIP={{zip}}">house.gov</a>.</p>
  </div>
</div>
