<div class="container t-sans">
  <div class="grid grid--4-wide">
    <div class="grid__item">
      <h3>Last general election:</h3>
    </div>
    <div class="grid__item">
      <p>{{last}}</p>
    </div>
  </div>
</div>

<div class="container t-sans">
  <div class="grid grid--4-wide">
    <div class="grid__item">
      <h3>General election:</h3>
    </div>
    <div class="grid__item">
      <p>{{current}}</p>
    </div>
  </div>
</div>