<!--<p>Current office holder: <a href="/data/candidate/{{ candidate_id }}">{{ incumbent_name }}</a> | {{ party_name }}</p>-->
<!--<p>Last election: November 8, 2016</p>
<p>Next primary election: August 28, 2018</p>
<p>Next general election: November 6, 2018</p>-->