<div>
  <button class="js-feedback feedback__toggle button--cta-primary" aria-controls="feedback" aria-expanded="false" type="button">Feedback</button>
  <div id="feedback" class="js-feedback-box feedback" aria-hidden="true">
    <button class="js-feedback button--down feedback__close"><span class="u-visually-hidden">Close</span></button>
    <div class="js-status" aria-hidden="true">
      <div class="message message--inverse js-message">
      </div>
      <ul class="list--buttons">
        <li><button class="js-reset button--cta-primary feedback__button" type="button">Submit another issue</button></li>
      </ul>
    </div>
    <form id="feedback-form" class="container">
      <fieldset>
        <legend class="feedback__title">Help us improve FEC.gov</legend>
        <p class="t-sans">Don't include sensitive information like your name, contact information or Social Security number.</p>
        <label for="feedback-1" class="label">What were you trying to do and how can we improve it?*</label>
        <textarea id="feedback-1" name="action"></textarea>
        <label for="feedback-2" class="label">General feedback?</label>
        <textarea id="feedback-2" name="feedback"></textarea>
        <label for="feedback-3" class="label">Tell us about yourself</label>
        <span class="label--help">I'm a <span class="u-blank-space"></span> interested in <span class="u-blank-space"></span>.</span>
        <textarea id="feedback-3" name="about"></textarea>
        <p class="t-sans">This information will be reported on GitHub where it will be publicly visible. You can review all reported feedback on <a href="https://github.com/18f/fec/issues">our GitHub page</a>.</p>
        <p class="t-sans t-note">*Required</p>
        <button type="submit" class="button--standard feedback__button">Submit</button>
      </fieldset>
    </form>
  </div>
</div>
