<div class="mega-container">
  <div class="mega">
    <div class="mega__inner">
      <div class="mega-heading">
        <h2 class="mega-heading__title"><a href="/legal-resources">Legal home</a></h2>
      </div>
      <div class="row">
        <div class="usa-width-one-third mega__intro">
          <p>Explore relevant statutes, regulations, Commission actions and court cases.</p>
          <p><a href="/legal-resources" class="button button--alt-primary">Get started &raquo;</a></p>
        </div>
        <ul class="usa-width-one-third mega__list">
          <li><a class="mega__page-link" href="/data/legal/advisory-opinions">Advisory opinions</a></li>
          <li><a class="mega__page-link" href="/legal-resources/enforcement">Enforcement</a></li>
          <li><a class="mega__page-link" href="/legal-resources/statutes">Statutes</a></li>
          <li><a class="mega__page-link" href="/legal-resources/legislation">Legislation</a></li>
        </ul>
        <ul class="usa-width-one-third mega__list">
          <li><a class="mega__page-link" href="/legal-resources/regulations">Regulations</a></li>
          <li><a class="mega__page-link" href="/legal-resources/court-cases">Court cases</a></li>
          <li><a class="mega__page-link" href="{{transitionUrl}}/law/policy.shtml">Policy and other guidance</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
