<ul class="tags" aria-hidden="false">
  <li data-tag-type="" class="tag__category type"><div data-id="" data-removable="true" class="tag__item type">&nbsp;<button class="button js-close_type tag__remove"><span class="u-visually-hidden">Remove</span></button></div>
  </li>
</ul>