{% extends 'partials/filters.jinja' %}

{% import 'macros/filters/text.jinja' as text %}
{% import 'macros/filters/years.jinja' as years %}


{% block filters %}
  <div class="filters__inner">
  	{{ text.field('committee_name', 'Audited committee name') }}
  	{{ text.field('committee_id', 'Audited committee id') }}
  	{{ text.field('candidate_name', 'Authorized candidate name') }}
 
  {#{{ typeahead.field('committee_id', 'Audited Committee Name or ID') }}
    {{ typeahead.field('candidate_name', 'Authorized Candidate Name or ID') }}
   #}  
   	{% include 'partials/filters/committee-types.jinja' %}
    
    {% include 'partials/filters/audit-categories.jinja' %}

  	{{ years.range('cycle', 'Election Cycles covered by audit' ) }}
   
  </div>
{% endblock %}
