{% extends 'partials/filters.jinja' %}

{% import 'macros/filters/text.jinja' as text %}
{% import 'macros/filters/years.jinja' as years %}
{% import 'macros/filters/typeahead-filter.jinja' as typeahead %}


{% block filters %}
  <div class="filters__inner">
 	{{ typeahead.field('committee_id', 'Audited committee name or ID', '', dataset='audit_committees', allow_text=True) }}

   	{{ typeahead.field('candidate_id', 'Authorized candidate name or ID', '', dataset='audit_candidates', allow_text=True) }}
   	
   	{% include 'partials/filters/committee-types.jinja' %}
    
    {% include 'partials/filters/audit-categories.jinja' %}

  	{{ years.range('cycle', 'Election cycles covered by audit' ) }}
   
  </div>
{% endblock %}
