{% extends 'partials/filters.html' %}

{% import 'macros/filters/states.html' as states %}
{% import 'macros/filters/typeahead-filter.html' as typeahead %}
{% import 'macros/filters/years.html' as years %}
{% import 'macros/filters/date.html' as date %}

{% block filters %}
<div class="filters__inner">
  {{ typeahead.field('q', 'Candidate name or ID', '', dataset='candidates', allow_text=True) }}
  {{ years.years('election_year', 'Election year') }}
  {% include 'partials/filters/office-sought.html' %}
  {% include 'partials/filters/parties.html' %}
  {{ states.field('state') }}
  {% include 'partials/filters/districts.html' %}
  {% import 'macros/filters/date.html' as date %}
  {{ date.field('first_filing_date', 'Date first filed statement of candidacy', '') }}
  <div class="filter">
    <fieldset class="js-filter" data-filter="checkbox">
      <legend class="label">Candidate fundraising</legend>
      <ul>
        <li>
          <input id="cycle-checkbox-has-raised-funds" name="has_raised_funds" type="checkbox" value="true">
          <label for="cycle-checkbox-has-raised-funds">Has raised more than $0</label>
        </li>
      </ul>
    </fieldset>
  </div>
</div>
{% endblock %}
