{% with committee=context() %}
{% import 'macros/tables.html' as tables %}

{% set table_data = [
     (totals.0.federal_funds,'Presidential public funds'),
     (totals.0.individual_itemized_contributions, 'Itemized individual contributions'),
     (totals.0.individual_unitemized_contributions, 'Unitemized individual contributions'),
     (totals.0.individual_contributions, 'Total individual contributions'),
     (totals.0.political_party_committee_contributions,'Party committee contributions'),
     (totals.0.other_political_committee_contributions,'Other committee contributions'),
     (totals.0.candidate_contribution, 'Candidate contributions'),
     (totals.0.contributions, 'Total contributions'),
     (totals.0.transfers_from_affiliated_committee, 'Transfer from affiliated committees'),
     (totals.0.loans_received_from_candidate, 'Loans made by candidate'),
     (totals.0.other_loans_received, 'Other loans'),
     (totals.0.loans_received, 'Total loans received'),
     (totals.0.offsets_to_operating_expenditures, 'Offsets to operating expenditures'),
     (totals.0.offsets_to_fundraising_expenditures, 'Fundraising offsets'),
     (totals.0.offsets_to_legal_accounting, 'Legal and accounting offsets'),
     (totals.0.total_offsets_to_operating_expenditures, 'Total offsets'),
     (totals.0.other_receipts, 'Other receipts'),
   ]
%}
{{ tables.totals('Total receipts', totals.0.receipts, table_data,
    committee.report_year, header_description='Money raised by the committee' ) }}

{% set table_data = [
     (totals.0.operating_expenditures, 'Operating expenditures'),
     (totals.0.transfers_to_other_authorized_committee, 'Transfers to authorized committees'),
     (totals.0.repayments_loans_made_by_candidate, 'Candidate loan repayments'),
     (totals.0.repayments_other_loans, 'Other loan repayments'),
     (totals.0.loan_repayments_made, 'Total loan repayments'),
     (totals.0.refunded_individual_contributions, 'Individual refunds'),
     (totals.0.refunded_political_party_committee_contributions, 'Political party refunds'),
     (totals.0.refunded_other_political_committee_contributions, 'Other committee refunds'),
     (totals.0.contribution_refunds, 'Total contribution refunds'),
     (totals.0.other_disbursements, 'Other disbursements'),

   ]
%}
{{ tables.totals('Total disbursements', totals.0.disbursements, table_data,
    committee.report_year, header_description='Money spent by the committee' ) }}

{% endwith %}
