{% extends 'partials/filters.html' %}

{% import 'macros/filters/text.html' as text %}
{% import 'macros/filters/states.html' as states %}
{% import 'macros/filters/typeahead-filter.html' as typeahead %}
{% import 'macros/filters/years.html' as years %}
{% import 'macros/filters/date.html' as date %}

{% block filters %}
<div class="js-accordion accordion--neutral" data-content-prefix="filter" data-open-first="false">
  <div class="filters__inner">
    {{ typeahead.field('q', 'Committee name or ID', False, dataset='committees', allow_text=True) }}
    {{ years.cycles('cycle', 'Years active') }}
  </div>
  <button type="button" class="js-accordion-trigger accordion__button">Committee details</button>
  <div class="accordion__content">
    {{ text.field('treasurer_name', 'Most recent treasurer') }}
    {% include 'partials/filters/parties.html' %}
    {{ states.field('state') }}
    {{ date.field('first_filing_date', 'Date first filed statement of candidacy', '') }}
  </div>
  <button type="button" class="js-accordion-trigger accordion__button">Committee type</button>
  <div class="accordion__content">
    {% include 'partials/filters/committee-types.html' %}
  </div>
</div>
{% endblock %}
