{% with committee=context() %}
{% import 'macros/tables.html' as tables %}

{% set table_data = [
     (totals.0.individual_itemized_contributions, 'Itemized individual contributions'),
     (totals.0.individual_unitemized_contributions, 'Unitemized individual contributions'),
     (totals.0.individual_contributions, 'Total individual contributions'),
     (totals.0.political_party_committee_contributions, 'Party committees contributions'),
     (totals.0.other_political_committee_contributions, 'Other committees contributions'),
     (totals.0.transfers_from_affiliated_party, 'Transfers from affiliated committees'),
     (totals.0.contributions, 'Total contributions'),
     (totals.0.net_contributions, 'Net contributions'),
     (totals.0.all_loans_received, 'Loans received'),
     (totals.0.loan_repayments_received, 'Loan repayments received'),
     (totals.0.offsets_to_operating_expenditures, 'Offsets to operating expenditures'),
     (totals.0.fed_candidate_contribution_refunds, 'Candidate refunds'),
     (totals.0.other_fed_receipts, 'Other Receipts'),
     (totals.0.transfers_from_nonfed_account, 'Non-federal transfers'),
     (totals.0.transfers_from_nonfed_levin, 'Levin funds'),
     (totals.0.transfers_from_nonfed_account, 'Total non-federal transfers'),
     (totals.0.fed_receipts, 'Total federal receipts'),
   ]
%}
{{ tables.totals('Total receipts', totals.0.receipts, table_data,
    committee.report_year, header_description='Money raised by the committee' ) }}

{% set table_data = [
     (totals.0.shared_fed_operating_expenditures, 'Federal allocated operating expenditures'),
     (totals.0.shared_nonfed_operating_expenditures, 'Non-federal operating expenditures'),
     (totals.0.other_fed_operating_expenditures, 'Other federal operating expenditures'),
     (totals.0.operating_expenditures, 'Total operating expenditures'),
     (totals.0.net_operating_expenditures, 'Net operating expenditures'),
     (totals.0.transfers_to_affiliated_committee, 'Transfers to affiliated committees'),
     (totals.0.fed_candidate_committee_contributions, 'Contributions to other committees'),
     (totals.0.independent_expenditures, 'Independent expenditures'),
     (totals.0.coordinated_expenditures_by_party_committee, 'Coordinated party expenditures'),
     (totals.0.loans_made, 'Loans made'),
     (totals.0.loan_repayments_made, 'Loan repayments made'),

     (totals.0.refunded_individual_contributions, 'Individual refunds'),
     (totals.0.refunded_political_party_committee_contributions, 'Politial party refunds'),
     (totals.0.refunded_other_political_committee_contributions, 'Other committee refunds'),
     (totals.0.contribution_refunds, 'Total contribution refunds'),
     (totals.0.other_disbursements, 'Other disbursements'),
     (totals.0.shared_fed_activity, 'Allocated federal election activity - federal share'),
     (totals.0.allocated_federal_election_levin_share, 'Allocated federal election activity - Levin share'),
     (totals.0.non_allocated_fed_election_activity, 'Federal election activity - federal only'),
     (totals.0.fed_election_activity, 'Total federal election activity'),
     (totals.0.fed_disbursements, 'Total federal disbursements'),
   ]
%}
{{ tables.totals('Total disbursements', totals.0.disbursements, table_data,
    committee.report_year, header_description='Money spent by the committee' ) }}

{% endwith %}
