{% with committee=context() %}
{% import 'macros/tables.jinja' as tables %}

{% set table_data = [
     (totals.0.individual_itemized_contributions, 'Itemized individual contributions'),
     (totals.0.individual_unitemized_contributions, 'Unitemized individual contributions'),
     (totals.0.individual_contributions, 'Total individual contributions'),
     (totals.0.political_party_committee_contributions,'Party committee contributions'),
     (totals.0.other_political_committee_contributions,'Other committee contributions'),
     (totals.0.candidate_contribution, 'Candidate contributions'),
     (totals.0.contributions, 'Total contributions'),
     (totals.0.net_contributions, 'Net contributions'),
     (totals.0.transfers_from_other_authorized_committee, 'Transfer from authorized committees'),
     (totals.0.loans_made_by_candidate, 'Loans made by candidate'),
     (totals.0.all_other_loans, 'Other loans'),
     (totals.0.loans, 'Total loans received'),
     (totals.0.offsets_to_operating_expenditures, 'Offsets to operating expenditures'),
     (totals.0.other_receipts, 'Other receipts'),
   ]
%}
{{ tables.totals('Total receipts', totals.0.receipts, table_data,
    committee.report_year, header_description='Money raised by the committee' ) }}

{% set table_data = [
     (totals.0.operating_expenditures, 'Operating expenditures'),
     (totals.0.net_operating_expenditures, 'Net operating expenditures'),
     (totals.0.transfers_to_other_authorized_committee, 'Transfers to authorized committees'),
     (totals.0.loan_repayments_candidate_loans, 'Candidate loan repayments'),
     (totals.0.loan_repayments_other_loans, 'Other loan repayments'),
     (totals.0.refunded_individual_contributions, 'Individual refunds'),
     (totals.0.refunded_political_party_committee_contributions, 'Political party refunds'),
     (totals.0.refunded_other_political_committee_contributions, 'Other committee refunds'),
     (totals.0.contribution_refunds, 'Total contribution refunds'),
     (totals.0.other_disbursements, 'Other disbursements'),
   ]
%}

{{ tables.totals('Total disbursements', totals.0.disbursements, table_data,
    committee.report_year, header_description='Money spent by the committee' ) }}

{% endwith %}
