<div id="datatable-modal" class="panel__overlay" aria-hidden="true">
  <div class="panel">
    <div class="panel__row panel__navigation">
      <a class="panel__link button--small button--standard js-pdf_url" target="_blank">
        Open original image
      </a>
    </div>
      <button class="js-hide js-panel-close panel__close button--small button" data-hides="datatable-modal">
        <span class="u-visually-hidden">Show all</span>
      </button>

    <div class="js-panel-content panel__content">
      <table>
        <tr>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
