{% extends 'partials/filters.jinja' %}

{% import 'macros/filters/typeahead-filter.jinja' as typeahead %}
{% import 'macros/filters/date.jinja' as date %}
{% import 'macros/filters/range.jinja' as range %}

{% block filters %}
  <div class="filters__inner">
    {{ typeahead.field('committee_id', 'Committee Name or ID') }}
    {{ typeahead.field('creditor_debtor_name', 'Creditor/debtor Name or ID') }}
    {# removing date filter for now, waiting for determination of its usefulness #}
    {# {{ date.field('date', 'Date') }} #}
    {{ range.amount('amount_outstanding_beginning', 'Beginning balance') }}
    {{ range.amount('amount_outstanding_close', 'Ending balance') }}
 </div>
{% endblock %}
