{% extends 'partials/filters.jinja' %}

{% import 'macros/filters/checkbox.jinja' as checkbox %}
{% import 'macros/filters/date.jinja' as date %}
{% import 'macros/filters/range.jinja' as range %}
{% import 'macros/filters/text.jinja' as text %}
{% import 'macros/filters/typeahead-filter.jinja' as typeahead %}

{% block filters %}
  <div class="filters__inner">
    {{ typeahead.field('committee_id', 'Committee name or ID') }}
    {{ text.field('creditor_debtor_name', 'Creditor/Debtor name') }}
    {{ date.field('coverage_end_date', 'Coverage date range') }}
    {{ range.amount('amount_outstanding_beginning', 'Beginning balance') }}
    {{ range.amount('amount_outstanding_close', 'Ending balance') }}
    <legend class="label  u-margin--top">Debt type</legend>
    <fieldset class="js-filter js-line-number-filters" data-filter="checkbox">
      {{ checkbox.checkbox_dropdown_multiple('line_number', 'House or Senate committees', options=constants.line_numbers.debts.house_senate, legend=False, prefix='House or Senate committees:') }}
      {{ checkbox.checkbox_dropdown_multiple('line_number', 'Presidential committees', options=constants.line_numbers.debts.presidential, legend=False, prefix='Presidential committees:') }}
      {{ checkbox.checkbox_dropdown_multiple('line_number', 'PACs or party committees', options=constants.line_numbers.debts.pac_party, legend=False, prefix='PACs or party committees:') }}
    </fieldset>
 </div>
{% endblock %}
