{% extends 'partials/filters.jinja' %}

{% import 'macros/filters/date.jinja' as date %}
{% import 'macros/filters/range.jinja' as range %}
{% import 'macros/filters/text.jinja' as text %}
{% import 'macros/filters/autosuggest-filter.jinja' as autosuggest %}
{% import 'macros/filters/typeahead-filter.jinja' as typeahead %}

{% block filters %}
  <div class="filters__inner">
  {# TODO - Autosuggest #}
  {% if (FEATURES.use_tt) == false %}
    {{ autosuggest.field('committee_id', 'Committee Name or ID') }}
  {% else %}
    {{ typeahead.field('committee_id', 'Committee Name or ID') }}
  {% endif %}
  {# TODO: remove useTt with the use_tt feature flag #}
    {{ text.field('creditor_debtor_name', 'Creditor/debtor Name') }}
    {# removing date filter for now, waiting for determination of its usefulness #}
    {# {{ date.field('date', 'Date') }} #}
    {{ range.amount('amount_outstanding_beginning', 'Beginning balance') }}
    {{ range.amount('amount_outstanding_close', 'Ending balance') }}
 </div>
{% endblock %}
