{% extends 'partials/filters.html' %}

{% import 'macros/filters/text.html' as text %}
{% import 'macros/filters/typeahead-filter.html' as typeahead %}
{% import 'macros/filters/states.html' as states %}
{% import 'macros/filters/date.html' as date %}
{% import 'macros/filters/range.html' as range %}
{% import 'macros/filters/checkbox.html' as checkbox %}

{% block heading %}
Filter disbursements
{% endblock %}

{% block data_type_toggle %}
  {% include 'partials/filters/efiling.html' %}
{% endblock %}

{% block efiling_filters %}
<div class="filters__inner">
  {{ typeahead.field('committee_id', 'Spender name or ID', id_suffix='_raw') }}
  {{ text.field('disbursement_description', 'Description', id_suffix='_raw') }}
</div>
{% endblock %}

{% block filters %}
<div class="filters__inner">
  {{ typeahead.field('committee_id', 'Spender name or ID') }}
  {{ typeahead.field('recipient_name', 'Recipient name or ID', allow_text=True) }}
  {{ date.partition_field('date', 'Disbursement date', dates ) }}
</div>
<div class="js-accordion accordion--neutral" data-content-prefix="filter" data-open-first="false">
  <button type="button" class="js-accordion-trigger accordion__button">Spender details</button>
  <div class="accordion__content">
    {{ text.field('recipient_city', 'City') }}
    {{ states.field('recipient_state')}}
  </div>

  <button type="button" class="js-accordion-trigger accordion__button">Disbursement details</button>
  <div class="accordion__content">
    {{ text.field('disbursement_description', 'Description') }}
    {{ range.amount('amount', 'Disbursement amount') }}
    <legend class="label u-margin--top">Disbursement type</legend>
    <fieldset class="js-filter js-line-number-filters" data-filter="checkbox">
      {{ checkbox.checkbox_dropdown_multiple('line_number', 'Made by House or Senate committees', options=constants.line_numbers.disbursements.house_senate, legend=False, prefix='House or Senate committes:') }}
      {{ checkbox.checkbox_dropdown_multiple('line_number', 'Made by Presidential committees', options=constants.line_numbers.disbursements.presidential, legend=False, prefix='Presidential committees:') }}
      {{ checkbox.checkbox_dropdown_multiple('line_number', 'Made by PACs or party committees', options=constants.line_numbers.disbursements.pac_party, legend=False, prefix='PACs or party committees:') }}
    </fieldset>
    <div class="js-line-number-message message message--info message--small">
      <span class="t-block">Filters for disbursement types are available only for filings from 2007 or later.</span>
    </div>
    {{ text.field('image_number', 'Image number') }}
    <div class="message message--info message--small">
      <span class="t-block">Disbursements are reported periodically, according to the filer's reporting schedule. Disbursements are updated as they’re processed— that time can vary.</span>
    </div>
  </div>
</div>
{% endblock %}
