{% extends 'partials/filters.jinja' %}

{% import 'macros/filters/text.jinja' as text %}
{% import 'macros/filters/typeahead-filter.jinja' as typeahead %}
{% import 'macros/filters/states.jinja' as states %}
{% import 'macros/filters/date.jinja' as date %}
{% import 'macros/filters/years.jinja' as years %}
{% import 'macros/filters/range.jinja' as range %}
{% import 'macros/filters/checkbox.jinja' as checkbox %}

{% import 'macros/filters/dropdown-json.jinja' as dropdown %}

{% block heading %}
Filter disbursements
{% endblock %}

{% block data_type_toggle %}
  {% include 'partials/filters/efiling.jinja' %}
{% endblock %}

{% block efiling_filters %}
<div class="filters__inner">
  {{ typeahead.field('committee_id', 'Spender name or ID', id_suffix='_raw') }}
  {{ text.field('disbursement_description', 'Description', id_suffix='_raw') }}
</div>
{% endblock %}

{% block filters %}
<div class="filters__inner">
  {{ typeahead.field('committee_id', 'Spender name or ID', helper_text = 'Limit 10 spender names or IDs') }}
  {{ typeahead.field('recipient_name', 'Recipient name or ID', allow_text=True, helper_text = 'Limit 10 recipient names or IDs') }}
  {{ years.cycles('two_year_transaction_period', 'Report time period', show_tooltip=True)  }}
  {{ date.field('date', 'Disbursement date range' ) }}
</div>
<div class="js-accordion accordion--neutral" data-content-prefix="filter" data-open-first="false">
  <button type="button" class="js-accordion-trigger accordion__button">Recipient details</button>
  <div class="accordion__content">
    {{ text.field('recipient_city', 'City', helper_text = 'Limit 10 cities') }}
    {{ states.field('recipient_state')}}
  </div>

  <button type="button" class="js-accordion-trigger accordion__button">Disbursement details</button>
  <div class="accordion__content">
    {{ text.field('disbursement_description', 'Description') }}
    {{ range.amount('amount', 'Disbursement amount') }}
    {{ dropdown.select_single( 'line_number', 'Disbursement type', options=constants.line_numbers.disbursements, default='', title_prefix='Made by', forms=['Form 3','Form 3P','Fotm 3X']) }}
    <div class="js-line-number-message message message--info message--small">
      <span class="t-block">Filters for disbursement types are available only for filings from 2007 or later.</span>
    </div>
    {{ text.field('image_number', 'Image number') }}
    <div class="message message--info message--small">
      <span class="t-block">Disbursements are reported periodically, according to the filer's reporting schedule. Disbursements are updated as they’re processed— that time can vary.</span>
    </div>
  </div>
  <button type="button" class="js-accordion-trigger accordion__button">Spender committee type</button>
  <div class="accordion__content">
    {% import 'macros/filters/committee-types.jinja' as committee_type %}
    {{ committee_type.field(committee_type='spender_committee_type', organization_type='spender_committee_org_type', designation='spender_committee_designation') }}
  </div>
</div>
{% endblock %}
