{% extends 'partials/filters.jinja' %}

{% import 'macros/filters/text.jinja' as text %}
{% import 'macros/filters/typeahead-filter.jinja' as typeahead %}
{% import 'macros/filters/states.jinja' as states %}
{% import 'macros/filters/date.jinja' as date %}
{% import 'macros/filters/years.jinja' as years %}
{% import 'macros/filters/range.jinja' as range %}

{% block heading %}
Filter independent expenditures
{% endblock %}

{% block filters %}
<div class="js-accordion accordion--neutral" data-content-prefix="filter" data-open-first="false">
  <div class="filters__inner">
    {{ typeahead.field('committee_id', 'Spender name or ID') }}
    {{ typeahead.field('candidate_id', 'Candidate mentioned', dataset='candidates') }}
  </div>
  <button type="button" class="js-accordion-trigger accordion__button">Transaction information</button>
  <div class="accordion__content">
    {{ range.amount('amount', 'Disbursement amount') }}
    {{ date.field('date', 'Disbursement date', dates ) }}
  </div>
</div>
{% endblock %}
