<div id="glossary" class="glossary"
    aria-describedby="glossary-result" aria-hidden="true">
  <button
      title="Close glossary"
      class="button button--close--inverse toggle js-glossary-close"
    ><span class="u-visually-hidden">Hide glossary</span>
  </button>
  <h2>Glossary</h2>
  <label for="glossary-search" class="label">Filter terms</label>
  <input id="glossary-search" class="glossary__search js-glossary-search" type="search">
  <span class="t-note t-sans search__example">Examples: receipt; Hybrid PAC</span>
  <div class="glossary__content" id="glossary-result">
    <ul class="glossary__list js-glossary-list accordion--inverse"></ul>
  </div>
</div>
