{% import 'macros/search.html' as search %}

<section class="hero hero--primary" aria-labelledby="hero-heading">
  <div class="container">
    <h1 id="hero-heading">Explore campaign finance data</h1>
    <h2 class="t-ruled">See how money is raised and spent in federal elections</h2>
    <div class="hero__content">
      {{ search.search('hero', 'candidates') }}
    </div>
    <script type="application/javascript">
      trackMetric('large_search_loaded', '#large-search .js-search_img');
    </script>
  </div>
</section>
