{% extends 'partials/filters.html' %}

{% import 'macros/filters/text.html' as text %}
{% import 'macros/filters/typeahead-filter.html' as typeahead %}
{% import 'macros/filters/states.html' as states %}
{% import 'macros/filters/years.html' as years %}
{% import 'macros/filters/date.html' as date %}
{% import 'macros/filters/range.html' as range %}
{% import 'macros/filters/ie-reports.html' as reports %}
{% import 'macros/filters/misc.html' as misc %}
{% block heading %}
Filter independent expenditures
{% endblock %}

{% block data_type_toggle %}
  {% include 'partials/filters/efiling.html' %}
{% endblock %}

{% block efiling_filters %}
<div class="filters__inner">
  {{ typeahead.field('committee_id', 'Spender name or ID', id_suffix='_raw') }}
  {{ text.field('candidate_name', 'Candidate mentioned', id_suffix='_raw')}}
  {{ misc.support_oppose('_raw') }}
  {{ date.field('expenditure_date', 'Expenditure date', id_suffix='_raw') }}
</div>
{% endblock %}

{% block filters %}
<div class="js-accordion accordion--neutral" data-content-prefix="filter" data-open-first="false">
  <div class="filters__inner">
    {{ typeahead.field('committee_id', 'Spender name or ID') }}
    {{ years.cycles('cycle', 'Years') }}
    {{ reports.type() }}
    {{ reports.form()}}
  </div>
  <button type="button" class="js-accordion-trigger accordion__button">Candidate mentioned</button>
  <div class="accordion__content">
    {{ typeahead.field('candidate_id', 'Candidate', dataset='candidates') }}
    {{ misc.support_oppose('_processed') }}
  </div>

  <button type="button" class="js-accordion-trigger accordion__button">Transaction information</button>
  <div class="accordion__content">
    {{ text.field('payee_name', 'Payee') }}
    {{ range.amount('amount', 'Expenditure amount') }}
    {{ date.field('date', 'Expenditure date', dates ) }}
  </div>
</div>
{% endblock %}
