{% extends 'partials/filters.jinja' %}

{% import 'macros/filters/text.jinja' as text %}
{% import 'macros/filters/autosuggest-filter.jinja' as autosuggest %}
{% import 'macros/filters/version-status.jinja' as version_status %}
{% import 'macros/filters/states.jinja' as states %}
{% import 'macros/filters/districts.jinja' as districts %}
{% import 'macros/filters/office-sought.jinja' as office %}
{% import 'macros/filters/parties.jinja' as parties %}
{% import 'macros/filters/years.jinja' as years %}
{% import 'macros/filters/date.jinja' as date %}
{% import 'macros/filters/range.jinja' as range %}
{% import 'macros/filters/ie-reports.jinja' as reports %}
{% import 'macros/filters/support-oppose.jinja' as support_oppose %}
{% block heading %}
Filter independent expenditures
{% endblock %}

{% block data_type_toggle %}
  {% include 'partials/filters/efiling.jinja' %}
{% endblock %}

{% block efiling_filters %}
<div class="js-accordion accordion--neutral" data-content-prefix="filter" data-open-first="false">
  <div class="filters__inner">
    {{ autosuggest.field('committee_id', 'Spender name or ID', id_suffix='_raw') }}
    {{ text.field('candidate_search', 'Candidate mentioned', id_suffix='_raw') }}
    {{ reports.type(id_suffix='_raw') }}
    {{ reports.form(id_suffix='_raw') }}
    {{ version_status.version(id_suffix='_raw', methodology='True', checkbox_label='Current and unknown versions') }}
  </div>
{# Removing these filters for now until the filter count bug can be fixed #}
{% if FEATURES.ierawfilters %}
  <button type="button" class="js-accordion-trigger accordion__button" data-content-prefix="candidate_mentioned_raw">Candidate mentioned</button>
  <div class="accordion__content" id="candidate_mentioned_raw_0" aria-controls="candidate_mentioned_raw_0">
    {{ autosuggest.field('candidate_id', 'Candidate name or ID', dataset='candidates') }}
    {{ support_oppose.checkbox(id_suffix='_raw') }}
    {{ office.checkbox(id_suffix='_raw', name='candidate_office') }}
    {{ parties.checkbox(id_suffix='_raw', name='candidate_party') }}
    {{ states.field(id_suffix='_raw', name='candidate_office_state') }}
    {{ districts.dropdown(id_suffix='_raw', name='candidate_office_district') }}
  </div>
  <button type="button" class="js-accordion-trigger accordion__button" data-content-prefix="transaction_information_raw">Transaction information</button>
  <div class="accordion__content" id="transaction_information_raw_0" aria-controls="transaction_information_raw_0">
    {{ date.field('expenditure_date', 'Expenditure date', id_suffix='_raw') }}
  </div>
{% endif %}
</div>
{% endblock %}

{% block filters %}
<div class="js-accordion accordion--neutral" data-content-prefix="filter" data-open-first="false">
  <div class="filters__inner">
    {{ autosuggest.field('committee_id', 'Spender name or ID', helper_text = 'Limit 10 spender names or IDs') }}
    {{ years.cycles('cycle', 'Years', show_tooltip=False) }}
    {{ reports.type(id_suffix='_processed') }}
    {{ reports.form(id_suffix='_processed') }}
    {{ version_status.version(id_suffix='_processed', methodology='True', checkbox_label='Current and unknown versions') }}
  </div>
  <button type="button" class="js-accordion-trigger accordion__button"  data-content-prefix="candidate_mentioned_processed">Candidate mentioned</button>
  <div class="accordion__content" id="candidate_mentioned_processed_0" aria-controls="candidate_mentioned_processed_0">
    {{ autosuggest.field('candidate_id', 'Candidate name or ID', dataset='candidates', helper_text = 'Limit 10 candidate names or IDs') }}
    {{ support_oppose.checkbox(id_suffix='_processed') }}
    {{ office.checkbox(id_suffix='_processed', name='candidate_office') }}
    {{ parties.checkbox(id_suffix='_processed', name='candidate_party') }}
    {{ states.field(id_suffix='_processed', name='candidate_office_state') }}
    {{ districts.dropdown(id_suffix='_processed', name='candidate_office_district') }}
  </div>
  <button type="button" class="js-accordion-trigger accordion__button">Transaction information</button>
  <div class="accordion__content">
    {{ text.field('payee_name', 'Payee') }}
    {{ range.amount('amount', 'Expenditure amount') }}
    {{ date.field('date', 'Expenditure date', dates ) }}
  </div>
</div>
{% endblock %}
