{% extends 'partials/filters.jinja' %}

{% import 'macros/filters/text.jinja' as text %}
{% import 'macros/filters/typeahead-filter.jinja' as typeahead %}

{% import 'macros/filters/contributor-states.jinja' as states %}
{% import 'macros/filters/date.jinja' as date %}
{% import 'macros/filters/years.jinja' as years %}
{% import 'macros/filters/range.jinja' as range %}

{% block heading %}
Filter individual contributions
{% endblock %}

{% block filters %}
<div class="filters__inner">
  {{ typeahead.field('committee_id', 'Recipient name or ID') }}
  <legend class="label  u-margin--top">Contributor details</legend>
  {{ text.field('contributor_name', 'Contributor name') }}
  {{ text.field('contributor_zip', 'ZIP code', {'maxlength':5}) }}
  {{ text.field('contributor_city', 'City') }}
  {% include 'partials/filters/occupation-employer.jinja' %}
  {{ text.field('image_number', 'Image number') }}
</div>
<div class="js-accordion accordion--neutral" data-content-prefix="filter" data-open-first="true">
  <button type="button" class="js-accordion-trigger accordion__button">Time period</button>
  <div class="accordion__content">
    {{ years.cycles('two_year_transaction_period', 'Report years')  }}
    {{ date.field('date', 'Receipt date' ) }}
  </div>
  <button type="button" class="js-accordion-trigger accordion__button">More contributor details</button>
  <div class="accordion__content">
    {{ states.field('contributor_state') }}
  </div>
  <button type="button" class="js-accordion-trigger accordion__button">Recipient committee type</button>
  <div class="accordion__content">
    {% import 'macros/filters/committee-types.jinja' as committee_type %}
    {{ committee_type.field(name='recipient_committee_type') }}
  </div>
  <button type="button" class="js-accordion-trigger accordion__button">Transaction details</button>
  <div class="accordion__content">
    {{ range.amount('amount', 'Contribution amount') }}
    <div class="message message--info message--small">
      <span class="t-block">Receipts are reported periodically, according to the filer's reporting schedule. Receipts are updated as they’re processed— that time can vary.</span>
    </div>
  </div>
</div>
{% endblock %}
