{% extends 'partials/filters.jinja' %}

{% import 'macros/filters/text.jinja' as text %}
{% import 'macros/filters/typeahead-filter.jinja' as typeahead %}

{% import 'macros/filters/states.jinja' as states %}
{% import 'macros/filters/date.jinja' as date %}
{% import 'macros/filters/range.jinja' as range %}

{% block heading %}
Filter individual contributions
{% endblock %}

{% block filters %}
<div class="filters__inner">
  {{ typeahead.field('committee_id', 'Recipient name or ID') }}
  {{ text.field('contributor_name', 'Contributor name') }}
  {{ date.partition_field('date', 'Receipt date', dates ) }}
</div>
<div class="js-accordion accordion--neutral" data-content-prefix="filter" data-open-first="false">
  <button type="button" class="js-accordion-trigger accordion__button">Contributor details</button>
  <div class="accordion__content">
    {{ text.field('contributor_city', 'City') }}
    {{ states.field('contributor_state') }}
    {{ text.field('contributor_zip', 'ZIP code', {'maxlength':5}) }}
    {% include 'partials/filters/occupation.jinja' %}
    {{ text.field('contributor_employer', 'Employer') }}
  </div>
  <button type="button" class="js-accordion-trigger accordion__button">Transaction details</button>
  <div class="accordion__content">
    {{ range.amount('amount', 'Contribution amount') }}
    {{ text.field('image_number', 'Image number') }}
    <div class="message message--info message--small">
      <span class="t-block">Receipts are reported periodically, according to the filer's reporting schedule. Receipts are updated as they’re processed— that time can vary.</span>
    </div>
  </div>
</div>
{% endblock %}
