{% if parent == 'legal' %}
  {%- set description = "Clarify campaign finance legal requirements on the new fec.gov. Search across advisory opinions, closed Matters Under Review, statutes, and regulations all at once, with search results designed to help you find what you need quickly." %}
{% else %}
  {%- set description = "Explore current and historic federal campaign finance data on the new fec.gov. Look at totals and trends, and see how candidates and committees raise and spend money. When you find what you need, export results and save custom links." %}
{% endif %}
  <meta charset="utf-8">
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

  {# Social media and sharing
  ================================================== -#}
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ CANONICAL_BASE }}{{ request.path }}">
  <meta property="og:title" content="{{ title | trim }} - FEC.gov">
  <meta property="og:site_name" content="FEC.gov">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ get_social_image_path(social_image_identifier) }}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ title | trim }} - FEC.gov">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="{{ get_social_image_path(social_image_identifier) }}">

  {# Search engines
  ================================================== -#}
  <link rel="canonical" href="{{ CANONICAL_BASE }}">

  {# Favicons
  ================================================== -#}
  <link rel="icon" type="image/png" href="{{ static('img/favicon/favicon-32x32.png') }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ static('img/favicon/favicon-16x16.png') }}" sizes="16x16">
  <link rel="icon" type="image/x-icon" href="{{ static('img/favicon/favicon.ico') }}" sizes="32x32">
  {# Android, Chrome -#}
  <link rel="icon" type="image/png" sizes="48x48" href="{{ static('img/favicon/general/favicon-48x48.png') }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ static('img/favicon/data/favicon-192x192.png') }}">
  {# iOS -#}
  <link rel="apple-touch-icon" sizes="120x120" href="{{ static('img/favicon/data/favicon-120x120.png') }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ static('img/favicon/data/favicon-152x152.png') }}">
  <link rel="apple-touch-icon" sizes="167x167" href="{{ static('img/favicon/data/favicon-167x167.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ static('img/favicon/data/favicon-180x180.png') }}">
  {# Do we need this? -#}
  {# <link rel="icon" href="{{ static('img/favicon/favicon-full.svg') }}" type="image/svg+xml"> -#}
