{% extends 'partials/filters.jinja' %}

{% import 'macros/filters/typeahead-filter.jinja' as typeahead %}
{% import 'macros/filters/years.jinja' as years %}
{% import 'macros/filters/text.jinja' as text %}
{% import 'macros/filters/states.jinja' as states %}

{% block filters %}
  <div class="filters__inner">
    {{ typeahead.field('committee_id', 'Committee Name or ID') }}
    {{ years.singleElectionYear('cycle', 'Time period')  }}
    {% import 'macros/filters/committee-types.jinja' as committee_type %} {# TODO: Need to adjust macro to remove authorized committee filter #}
    {{ committee_type.field(display_sponsor_candidate_filter=True) }} {# TODO: Not currently filterable in API #}
    {{ text.field('treasurer_name', 'Most recent treasurer') }} {# TODO: Not currently in API #}
    {{ states.field('state') }} {# TODO: Not currently in API #}
    {# TODO: Add filing frequency accordion when available #}
  </div>
{% endblock %}
