{% extends 'partials/filters.jinja' %}
{% import 'macros/filters/text.jinja' as text %}
{% import 'macros/filters/date.jinja' as date %}
{% import 'macros/filters/range.jinja' as range %}
{% import 'macros/filters/keyword-proximity.jinja' as proximity %}
{% import 'macros/legal.jinja' as legal %}
{% import 'macros/filters/checkbox.jinja' as checkbox %}
{% import 'macros/filters/years.jinja' as years %}


{% block filters %}
  <div class="filters__inner">
  {# //TODO: Can maybe make form action="" #}
<form id="category-filters" action="/legal-resources/rulemakings/">
    {{ legal.keyword_search_q(result_type, query, name='Keyword') }}
    {{ proximity.field('keyword-proximity', title='Proximity') }}
    <div class="filter js-filter" data-filter="checkbox">
      <input id="is_open_for_comment" name="is_open_for_comment" type="checkbox" value="true">
      <label class="dropdown__value" for="is_open_for_comment">Show only rulenakings open for comment</label>
    </div>
    {{ text.field('rm_no','Reg Number', helper_text='Example: 2016-01') }}
    {{ text.field('rm_name','Reg Name') }}
    {{ years.years('rm_year', 'Reg year') }}
    {{ checkbox.checkbox_dropdown(
      name='doc_category_id',
      label='Document type',
      options=constants.rulemaking_doc_category_ids,
      ) 
    }}
  </div>
  <div class="js-accordion accordion--neutral" data-content-prefix="filter" data-open-first="true">
    <button type="button" class="js-accordion-trigger accordion__button">Date</button>
      <div class="accordion__content">
        {{ date.field('federal_registry_publish_date', 'Federal Register publication date range') }}
        {{ date.field('hearing_date', 'Hearing date range') }}
        {{ date.field('vote_date', 'Vote date range') }}
      </div>
  </div>
  <div class="js-accordion accordion--neutral" data-content-prefix="filter1" data-open-first="true">
    <button type="button" class="js-accordion-trigger accordion__button">Entities</button>
      <div class="accordion__content">
        {{ checkbox.checkbox_dropdown(
          name='entity_role_type',
          label='Entity role',
          options=constants.rulemaking_entity_role_types,
          ) 
        }}
        {{ text.field('entity_name','Entity name') }}
      </div>
  </div>
</form>

{% endblock %}
