<noscript>
  <div style="background-color: #212121; padding: 10px; font-family: sans-serif">
    <p style="color: #ffffff"><strong>Javascript recommended:</strong> FEC.gov uses Javascript to provide the best possible user experience. <a style="color: #ffffff; text-decoration: underline" target="_blank"
          href="https://enable-javascript.com" rel="noreferrer">
        Learn how to enable Javascript in your browser
      </a></p>
  </div>
</noscript>

<div id="browser_warning" style="display: none;">
  <h2>Your web browser is not supported</h2>
  <p>This site uses features that are not supported by this browser. For a better experience, please upgrade or switch to another browser, such as a recent version of <a href="https://www.google.com/chrome/" target="_blank">Chrome</a>, <a href="https://www.microsoft.com/edge/" target="_blank">Edge</a>, or <a href="https://www.mozilla.org/firefox/" target="_blank">Firefox</a>.</p>
</div>
<script>{# Currently checking for window.fetch and Object.assign #}
  var browserIsCapable = ('fetch' in window && 'assign' in Object);
  if (!browserIsCapable) {
    var browserWarningElement = document.getElementById('browser_warning');
    browserWarningElement.style.display = 'block';
  }
</script>
