<noscript>
  <div style="background-color: #212121; padding: 10px; font-family: sans-serif">
    <p style="color: #ffffff"><strong>Javascript recommended:</strong> FEC.gov uses Javascript to provide the best possible user experience. <a style="color: #ffffff; text-decoration: underline" target="_blank"
          href="https://enable-javascript.com" rel="noreferrer">
        Learn how to enable Javascript in your browser
      </a></p>
  </div>
</noscript>

<div id="browser_warning" style="display: none;">
  <h2>Your web browser is not supported</h2>
  <p>This site uses features that are not supported by this browser. Please upgrade or switch to another browser for a better experience.</p>
</div>
