// Tables
//

table {
  border-collapse: collapse;
  margin: 0;
  table-layout: fixed;
  width: 100%;
  @include font-feature-settings('kern', 'liga', 'tnum');
}

th {
  font-weight: 600;
  padding: 0;
  text-align: left;
}

td {
  padding: 0;
}

tr,
td,
th {
  vertical-align: middle;
}
