// Tables
//

table {
  @include font-feature-settings("kern", "liga", "tnum");
  border-collapse: collapse;
  margin: 0;
  table-layout: fixed;
  width: 100%;
}

th {
  font-weight: 600;
  padding: 0;
  text-align: left;
}

td {
  padding: 0;

}

tr,
td,
th {
  vertical-align: middle;
}
