// Accordions
//
// .accordion--neutral         - No background, dark buttons
// .accordion--inverse         - Dark background, light buttons
//
// <ul class="js-accordion" data-content-prefix="first">
//   <li>
//     <button class="accordion__button">
//       First Item
//     </button>
//     <div class="accordion__content">
//       <p>
//         First Item Content
//       </p>
//     </div>
//   </li>
//   <li>
//     <button class="accordion__button">
//       Second Item
//     </button>
//     <div class="accordion__content">
//       <p>
//         Second Item Content
//       </p>
//     </div>
//   </li>
// </ul>
//

.accordion__button {
  background-size: u(2rem);
  background-position: 95% 50%;
  border-bottom: 1px solid $base;
  margin: 0 0 -1px 0;
  color: $base;
  font-size: u(1.4rem);
  font-weight: bold;
  letter-spacing: -.3px;
  padding: u(1rem 4rem 1rem 2rem);
  text-align: left;
  width: 100%;

  @include u-icon-bg($plus-circle, $primary);

  &[aria-expanded='true'] {
    border-bottom: none;

    @include u-icon-bg($minus-circle, $primary);
  }

  &.email__button {
    padding: u(1rem 4rem 1rem 1rem);

    &::before {
      content:'';
      @extend .button--envelope;
      padding: u(1rem 0rem 1rem 0);
    }
  }

  &.results__button {
    background-position: 0% 50%;
    margin: u(0 0 0 3rem);
    padding-left: 3rem;
    border-bottom: 0;
  }
}

.accordion__content {
  border-bottom: 1px solid $base;
  padding: u(2rem);
  font-family: $sans-serif;

  @include clearfix();

  &.results__content {
    border-top: 1px solid $base;
    border-bottom: 0;
    margin-left: u(3rem);
    padding-bottom: 0;
    max-width: u(80rem);
  }

  &.results__content li {
    padding-bottom: u(2rem);

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.accordion__button--spacious {
  padding: u(2rem 4rem 2rem 2rem);
}

.accordion--neutral {
  .accordion__button {
    background-color: $gray-lightest;
    border-top: 1px solid $primary;

    &[aria-expanded='true'] {
      background-color: $gray-light;
      border-top: 1px solid $base;
      border-bottom: 2px solid $gray;
    }
  }

  .accordion__content {
    background-color: $gray-light;
    border-bottom-color: $base;
    border-top-color: $gray;
  }
}

.accordion--inverse {
  .accordion__button {
    background-position: 100% 50%;
    border-color: $inverse;
    color: $inverse;

    @include u-icon-bg($plus-circle, $inverse);

    &[aria-expanded='true'] {
      @include u-icon-bg($minus-circle, $inverse);
    }
  }

  .accordion__content {
    border-color: $inverse;

    @include u-font-color($inverse);
  }
}
