// Buttons
//
// .button--standard    - Standard button
// .button--cta         - Call to action button
// .button--alt         - Alternate button
//
// <button class="button--standard">Basic button</button>
// <button class="is-active button--standard">Active button</button>
// <button class="is-disabled button--standard">Inactive button</button>
//

.button {
  border: 2px solid;
  border-radius: 2px;
  color: $primary;
  display: inline-block;
  font-family: $sans-serif;
  font-size: u(1.4rem);
  line-height: 1;
  padding: u(8px 2rem);
  text-align: center;
  vertical-align: middle;
  @include transition(background-color, 0.1s, color, 0.1s, border-color, 0.1s);

  &.is-disabled {
    opacity: 0.5;
    cursor: default;
  }

  &.form-element--inline {
    min-height: u(3.6rem);
  }
}

.button--standard {
  background-color: $gray;
  border-color: $gray;
  color: $base;
  @extend .button;

  &:hover:not(.is-disabled, .is-active) {
    background-color: $gray-medium;
    border-color: $gray-medium;
  }

  &:active:not(.is-disabled),
  &.is-active {
    background-color: $gray-dark;
    border-color: $gray-dark;
    color: $inverse;
  }
}

.button--cta {
  background-color: $primary;
  border-color: $primary;
  color: $inverse !important;
  @extend .button;

  &:hover:not(.is-disabled, .is-active) {
    background-color: $navy;
    border-color: $navy;
  }

  &:active:not(.is-disabled),
  &.is-active {
    background-color: $bright-blue;
    border-color: $bright-blue;
    color: $primary;
  }
  span {
    color: $inverse;
  }
}

.button--alt {
  background-color: none;
  border-color: $gray;
  color: $base;
  @extend .button;

  &:hover:not(.is-disabled, .is-active) {
    border-color: $gray-medium;
  }

  &:active:not(.is-disabled),
  &.is-active {
    background-color: $gray-medium;
    border-color: $gray-dark;
    color: $base;
  }
}

.button--cta-primary {
  background-color: $primary-contrast;
  border-color: $primary-contrast;
  color: $primary;
  @extend .button;

  &:hover:not(.is-disabled, .is-active) {
    background-color: lighten($primary-contrast, 5%);
    border-color: lighten($primary-contrast, 5%);
  }

  &:active:not(.is-disabled),
  &.is-active {
    background-color: $navy;
    border-color: $navy;
    color: $inverse;
  }
}

.button--alt-primary {
  border-color: $inverse;
  color: $inverse;
  @extend .button;

  &:hover:not(.is-disabled, .is-active) {
    border-color: $gray-medium;
  }

  &:active:not(.is-disabled),
  &.is-active {
    background-color: rgba($inverse, 0.3);
    border-color: $primary-contrast;
    color: $inverse;
  }

  &:focus {
    color: $inverse;
  }
}

.button--cta-secondary {
  background-color: $secondary-contrast;
  border-color: $secondary-contrast;
  color: $secondary;
  @extend .button;

  &:hover:not(.is-disabled, .is-active) {
    background-color: lighten($secondary-contrast, 5%);
    border-color: lighten($secondary-contrast, 5%);
  }

  &:active:not(.is-disabled),
  &.is-active {
    background-color: $deep-orange;
    border-color: $deep-orange;
    color: $inverse;
  }
}

.button--alt-secondary {
  border-color: $inverse;
  color: $inverse;
  @extend .button;

  &:hover:not(.is-disabled, .is-active) {
    border-color: $gray-medium;
  }

  &:active:not(.is-disabled),
  &.is-active {
    background-color: rgba($inverse, 0.3);
    border-color: $secondary-contrast;
    color: $inverse;
  }

  &:focus {
    color: $inverse;
  }
}

.button--thin-border {
  border: 1px solid;
}

// Buttons: Size variations
//
// .button--lg    - Large button
// .button--sm    - Small button
//
// <button class="button--standard button--sm">Button</button>
//

.button--lg {
  border: 2px solid transparent;
  border-radius: 4px;
  font-family: $sans-serif;
  font-size: u(1.6rem);
  padding: u(1.4rem 3rem);
}

.button--sm {
  border: 1px solid transparent;
  border-radius: 2px;
  font-family: $sans-serif;
  font-size: u(1.2rem);
  line-height: 1;
  padding: u(5px 1rem);

  &:active {
    border: 1px solid;
  }
}

// Buttons: Remove button
//
// For clearing form inputs
//
// <div class="input--removable is-active">
//  <input type="text" value="Input">
//  <button type="button" class="button--remove button" data-removes="{{ name }}"><span class="u-visually-hidden">Remove</span></button>
// </div>
//

.button--remove {
  background-size: 50%;
  background-position: center center;
  border: none;
  display: none;
  height: u(4rem);
  padding: u(0.6rem);
  position: absolute;
  top: 0;
  right: 0;
  width: u(4rem);
  @include u-icon-bg($x, $primary);

  &:hover {
    padding: u(0.6rem);
    text-decoration: none;
  }

  &:focus {
    border: none;
  }
}

.input--removable {
  position: relative;

  input[type='text'] {
    padding-right: u(5rem);
  }

  &.is-active {
    .button--remove {
      display: block;
    }
  }
}

.button--search {
  background-size: u(2.2rem);
  background-position: 50%;
  padding: 0;
  @include u-icon-button($magnifying-glass);
}

// Buttons: Calendar dropdown buttons

.button--add-calendar {
  background-position: u(1rem 0.7rem);
  background-size: u(2rem);
  padding-left: u(4rem);
  padding-right: u(6rem);
  @include u-icon-bg($cal-add, $base);
}

.button--add-calendar--mini {
  background-position: u(1rem 0.7rem);
  background-size: u(2rem);
  max-width: u(7.4rem);
  padding-left: u(5rem);
  @include u-icon-bg($cal-add, $base);
}

// Buttons: Download dropdown buttons

.button--download--mini {
  background-position: u(0.75rem 0.5rem);
  background-size: u(1.75rem);
  background-color: $gray-light;
  border-color: $gray;
  max-width: u(5rem);
  padding-left: u(3.6rem);
  min-height: u(3rem) !important;
  @include u-icon-bg($download, $base);

  &::after {
    padding: u(0.5rem 0.3rem 1rem 1.5rem) !important;
    background-size: 10px !important;
  }

  &:hover:not(.is-disabled, .is-active) {
    background-color: $gray;
    border-color: $gray-dark;
    color: $base;
  }
}

// Button classes
//
// <button class="button--go button--standard" type="button">
//

.button--go {
  @include u-icon-button($arrow-right, right, 1rem);
}

// for links to the datatable view
.button--browse {
  @include u-icon-button($table, left);
}

.button--map {
  @include u-icon-button($map-pin, left);
}

.button--table {
  @include u-icon-button($table, right);
}

// toggle two-candidate view on map comparison
.button--two-candidates {
  background-size: u(3rem);
  padding-left: u(5rem);
  @include u-icon-button($two-candidates, left);
}

.button--candidate {
  background-size: u(2rem);
  padding-left: u(4rem);
  @include u-icon-button($candidate, left);
}

.button--election {
  @include u-icon-button($person-location, left);
}

.button--export {
  @include u-icon-button($download, right);
}

.button--document {
  @include u-icon-button($document, left);
}

.button--download {
  @include u-icon-button($download, left);
}

.button--download--dropdown {
  padding-right: u(6rem);
  @include u-icon-button($download, left);
}

.button--subscribe {
  padding-right: u(6rem);
  @include u-icon-button($signal, left);
}

.button--grid {
  height: u(3.4rem);
  width: u(9rem);
  @include u-icon-button($grid, left);
}

.button--list {
  height: u(3.4rem);
  width: u(9rem);
  @include u-icon-button($list, left);
}

.button--search--text {
  @include u-icon-button($magnifying-glass);
}

.button--back {
  @include u-icon-button($arrow-left-border, left);
}

.button--share {
  @include u-icon-button($share, right);
}

.button--check {
  @include u-icon-button($check);
}

.button--updates {
  @include u-icon-button($updates);
}

.button--calendar {
  @include u-icon-button($calendar);
}

.button--disbursements {
  background-size: u(3rem);
  padding: u(2rem 3rem 2rem 5rem);
  @include u-icon-button($disbursement, left);
}

.button--raising {
  background-size: u(3rem);
  padding: u(2rem 3rem 2rem 5rem);
  @include u-icon-button($piggy-bank, left);
}

.button--envelope {
  background-size: u(3rem);
  padding-left: u(5rem);
  @include u-icon-button($moving-envelope, left);
}

.button--previous {
  background-position: 50% 50%;
  @include u-icon-button($arrow-left, left, 1rem);
}

.button--next {
  background-position: 50% 50%;
  @include u-icon-button($arrow-right, right, 1rem);
}

.button--close--base {
  border: none;
  @include u-icon($x, $base);
}

.button--close--inverse {
  border: none;
  @include u-icon($x, $inverse);
}

.button--close--primary {
  background-size: u(2rem);
  border: none;
  @include u-icon($x, $primary);
}

.button--down {
  @include u-icon($arrow-down-border, $primary);
}

.button--cancel {
  @include u-icon($x-circle, $primary, 2rem, 2rem, contain);
}

.button--unstyled {
  border-bottom: 1px dotted $primary;
  font-size: u(1.4rem);
  padding: 0;
}

.button--panel {
  background-size: 90%;
  @include u-icon($arrow-right-circle, $gray, 2rem, 2rem, contain);
}

.button--nav-panel {
  background-position: 100% 50%;
  padding-right: u(4rem);
  @include u-icon-bg($arrow-right-circle, $inverse);

  &.button--candidates,
  &.button--committees,
  &.button--receipts,
  &.button--disbursements,
  &.button--filings {
    &::before {
      content: '';
      background-size: contain;
      float: left;
      display: block;
      margin-right: 0.5em;
      width: 1em;
      height: 1em;
    }
  }

  &.button--candidates {
    &::before {
      @include u-icon-bg($candidate, $inverse);
    }
  }

  &.button--committees {
    &::before {
      @include u-icon-bg($committee, $inverse);
    }
  }

  &.button--receipts {
    &::before {
      @include u-icon-bg($piggy-bank, $inverse);
    }
  }

  &.button--disbursements {
    &::before {
      @include u-icon-bg($disbursement, $inverse);
    }
  }

  &.button--filings {
    &::before {
      @include u-icon-bg($papers, $inverse);
    }
  }
}

.button--informative {
  background-image: url('../img/reaction-informative.svg');
  background-repeat: no-repeat;
  background-position: u(1rem) 50%;
  padding-left: u(4rem);
}

.button--confusing {
  background-image: url('../img/reaction-confusing.svg');
  background-repeat: no-repeat;
  background-position: u(1rem) 50%;
  padding-left: u(4rem);
}

.button--not-interested {
  background-image: url('../img/reaction-not-interested.svg');
  background-repeat: no-repeat;
  background-position: u(1rem) 50%;
  padding-left: u(4rem);
}

.button--loading {
  background-image: url('../img/loading-ellipsis-gray.gif');
  background-size: 75%;
}

.button--keywords {
  border-bottom: 1px dotted $base;
  font-size: u(1.4rem);
  margin-left: u(2.5rem);
  padding: 0;
  position: relative;

  &::before {
    content: '';
    background-size: 100%;
    display: block;
    position: absolute;
    width: 1em;
    height: 1em;
    left: -1.5em;
    @include u-icon-bg($pop-up, $base);
  }
}

//For internal/external button widgets in Wagtail
.block-internal_button .button--primary,
.block-external_button .button--primary {
  margin-bottom: u(2.4rem);
}
.button--open {
  background-size: u(2rem);
  background-position: 95% 50%;
  margin: -21px 0 -1px;
  color: $base;
  font-size: u(1.4rem);
  font-weight: bold;
  letter-spacing: -0.3px;
  padding: u(1rem 4rem 1rem 2rem);
  text-align: left;
  width: 100%;
  border-bottom: none;
  @include u-icon-bg($plus-circle, $primary);

  &.button--close {
    @include u-icon-bg($minus-circle, $primary);
  }
}
