#vue-component {
  width: 100%;
  max-width: 1024px;
}

// Vue strips the attributes from its DOM element
#gov-fec-calc-af {
  border-top: 2px solid $base;
  position: relative;
  
  .topnav {
    min-height: 7.5rem;
    padding-right: calc(33% + 3rem);
    width: 100%;

    meter {
      background: transparent;
      height: 1rem;
      margin-top: 1rem;
      width: 100%;

      // note#1: * Chrome and Sass don't agree on these rules when they're combined to single entries:
      &::-webkit-meter-bar {
        // note#1
        background: $gray-lightest;
        border-radius: .5rem;
        transition: all 1s;
      }
      &::-moz-meter-bar {
        // note#1
        background: $gray-lightest;
        border-radius: .5rem;
        transition: all 1s;
      }
      &::-webkit-meter-optimum-value {
        // note#1
        background: $green-light;
        border-radius: .5rem;
        transition: all 1s;
      }
      &:-moz-meter-optimum::-moz-meter-bar {
        // note#1
        background: $green-light;
        border-radius: .5rem;
        transition: all 1s;
      }
    }

    li {
      display: inline-block;
      opacity: 0;
      pointer-events: none;
      transition: opacity .1s;

      &.viewed {
        color: purple;
        cursor: pointer;
        display: inline-block;
        opacity: 1;
        pointer-events: visible;
        transition: opacity 1s, color .5s;
      }
      &.current {
        color: blue;
        cursor: default;
        display: inline-block;
        opacity: 1;
        transition: opacity 1s, color .5s;
      }
      &:before {
        content: " » ";
        color: purple;
        display: inline;
        padding: .5rem .8rem;
      }
      &.breadcrumbs__item {
        display: inline;
        font-size: 1.4rem;
        line-height: 1.6rem;
        max-width: none;
        padding: 0;
      }
      a.breadcrumbs__link {
        border: none;
        color: darkgray;
        font-size: 1.4rem;
        line-height: 1.6rem;
      }
      &.hidden {
        display: none !important;
      }
      &.hide-before:before {
        content: "";
        padding: 0
      }
    }
  } // end .topnav 

  .frames {
    background-color: #fff;
    // border-left: solid thin grey;
    // border-right: solid thin grey;
    // border-top: solid thin grey;
    height: 400px;
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .frame {
    display: block;
    float: left;
    height: 400px;
    left: 100%;
    padding: 2em calc(33% + 3rem) 2em 0; // 33% to give room for the help content
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: left .25s;
    width: 100% !important;
    
    &.previous {
      left: -100%;
      transition: left .25s;
    }
    &.current {
      left: 0;
      pointer-events: all;
      transition: left .5s;
    }
    &.intro {
      padding-right: 2em;
      text-align: center;

      div {
        max-width: 66%;
        margin: 0 auto;
      }
    }
    &.outro {
      p {
        font-family: $sans-serif;
      }
    }
  } // end .frame
  label {
    /* clear: both;
    float: left;
    position: relative; */
  }
  button {
    &.is-disabled {
      pointer-events: none;
      cursor: default;
    }
    &.button--back.button--alt {
      background-image: url("data:image/svg+xml;charset=utf8, %3Csvg%20%20fill%3D%27%23212121%27%20width%3D%2212%22%20height%3D%2210%22%20viewBox%3D%220%200%2012%2010%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M.418%203.809L6.652.124a.851.851%200%200%201%201.294.727v7.382a.852.852%200%200%201-1.284.733L.418%205.276a.852.852%200%200%201%200-1.467z%22%2F%3E%3C%2Fsvg%3E");
    }
    &.tooltip__trigger {
      margin-top: .5em;
      position: relative;
    }
    &.tooltip__trigger + p {
      float: left;
      display: inline-block;
      width: auto;
    }
    &.hidden {
      display: none !important;
    }
  }


  .question-type-block {
    position: relative;
    display: inline-block;
    float: left;
    clear: both;
  }

  [type=radio]+label {
    background-color: transparent;
    border-color: #fff;
    float: left;
    transition: border-color .5s;
  }
  [type=radio]+label:hover {
    background-color: transparent;
    border-color: #aeb0b5;
    transition: border-color .5s;
  }
  [type=radio]:checked+label {
    background-color: transparent;
    border: 1px solid #aeb0b5;
    transition: border-color .5s;
  }
  [type=number] {
    display: inline-block;
    float: left;
    margin: 0 0 .5rem .25rem;
    width: 10rem;
  }
  [type=number]+label {
    display:inline-block;
    padding: .4rem .8rem .4rem 1rem;
    position: relative;
  }
  [type=number].indented {
    margin-left: 3.5rem;

    &.search__example {
      clear: none;
    }
  }

  span.clear {
    clear: both;
    display: block;
    height: 0px;
    margin-bottom: 1rem;
    width: 100%;
  }

  h4 {
    float: left;
    margin-top: .5rem;
    padding-right: .5rem;

    &.indented {
      padding-left: 3.5rem;
    }
    &.subhead {
      text-transform: uppercase;
    }
  }
  input.label-headline {
    float: left;
    clear: both;
  }
  label {
    &.indented {
      float: left;

      &.search__example {
        clear: none;
        padding-top: 1rem;
      }
    }
    &.label-headline {
      float: left;
      font-size: 1.4rem;
      font-weight: bold;
      letter-spacing: -0.3px;
      margin-top: .2rem;
      text-transform: uppercase;
    }
  }
  p {
    font-size: 1.4rem;
    line-height: 1.25em;
    width: 100%;

    &.indented {
      clear: both;
      float: left;
      padding-left: 3.5rem;
    }
    &.summary {
      clear: both;
      display: block;
      font-family: $sans-serif;
      font-size: 1.4rem;
      font-weight: 700;
      letter-spacing: -0.3px;
      line-height: 1.8em;
      margin-top: .2rem;
      text-transform: uppercase;

     
      span {
        display: block;
        font-size: 2.4rem;
        letter-spacing: -0.51px;
      }
      &.total-fine span {
        color: $error;
      }
    }
  }
  .search__example {
    clear: both;
    float: left;
    margin-top: 0;
  }

  #help {
    border-left: thin solid #112e51;
    color: #112e51;
    height: 100%;
    line-height: 1.3em;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    transition: right .5s;
    width: 33%;
    z-index: 100;
    
    .help_content {
      font-family: $sans-serif;
      font-size: 1.25rem;
      max-height: 100%;
      overflow-y: scroll;

      p {
        font-size: 1.25rem;
      }
      ul {
        list-style-type: disc;
        margin-bottom: 2.4rem; // default bottom margin for <p>
        padding-left: 1.5rem;
      }
    }

    .pointer {
      position: absolute;
      left: -20px;
      top: 100px;
      transition: top .33s;
    }

    &.hidden {
      right: -40%;
      transition: right .5s;
    }
  } // end help
}
