// Submit a question to RAD form
//
// For /help-candidates-and-committees/question-rad/
//

.contact-form {
  padding: u(2rem);

  .contact-form__element {
    padding: u(1rem 0);

    &.is-erroring {
      textarea,
      select,
      input {
        border-color: $error;
      }
    }
  }

  textarea {
    height: u(15rem);
  }

  .tt-input {
    background-position: right 10px top 50%;
    @include u-icon-bg($magnifying-glass-arrow, $gray-dark);
  }

  .contact-form__reset {
    display: block;
    padding-top: u(2rem);
  }

  .errorlist {
    font-family: $sans-serif;
    margin-top: u(.5rem);

    li {
      color: $error;
    }
  }

  @include media($med) {

    input,
    select {
      @include span-columns(6 of 7);
    }

    .tt-input {
      width: 100%;
    }
  }


  input.invalid_border, select.invalid_border, textarea.invalid_border, checkbox.invalid_border, label.invalid_border {
    border-color: $error !important; 
  }


  input:focus:invalid, select:focus:invalid, textarea:focus:invalid, label:focus:invalid {
    outline: none;
  }

  span.error {
    display:inline-block;
    color: $error;
  }

  #checkbox_error {
    display: block;
  }
  
  .error_box {
    font-family: $serif;
    
    ul {
      text-indent: u(1.6rem);
      margin-bottom: u(1rem);
    }
  }
}
