// Data Container module
//
// Container for the content results for Datatable pages
// Datatable name, export buttons, result information and tags, datatable results
//

.data-container {
  position: relative;
  width: 100%;
  @include clearfix;
}

.is-showing-filters {
  padding-top: 0;
}

.data-container__widgets {
  border-bottom: 2px solid $primary;
  font-family: $sans-serif;
  @include clearfix;
}

.data-container__action {
  float: right;
  @include clearfix;
}

.data-container__share {
  display: inline-block;
  width: u(4rem);
  padding: 8px 0;
  background-position: 50%;
  text-indent: -9999px;
  margin-bottom: 0;
}

.data-container__export {
  display: none;
}

.data-container__widgets--secondary {
  background-color: $secondary;
}

.data-container__head {
  border-bottom: 1px solid $gray;
  padding: u(1rem);
  @include clearfix;
}

.data-container__title {
  border-bottom: none;
  line-height: u(3.4rem);
  margin: 0;
  font-size: u(3rem);
  float: left;
}

.data-container__body {
  padding: u(0 1rem);
}

.data-container__tags {
  padding: u(1rem);
  @include clearfix;
}

.data-container__message {
  display: none;
}

.export-widget {
  @include span-columns(6);
}

.panel__controls {
  clear: both;
  padding-top: u(.5rem);
  @include clearfix;
}

// BREAKPOINT: LARGE
// Data-container shrinks and floats
@include media($lg) {
  .data-container__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .data-container {
    width: calc(100% - 4rem);
    padding: 0;
  }

  .is-showing-filters {
    .data-container {
      width: calc(100% - 30rem);
    }
  }

  .data-container__head {
    padding: u(0 2rem 1rem 2rem);
  }

  .data-container__body {
    border-top: 0;
    padding: u(0 2rem);
  }

  .data-container__datatable {
    padding: 0;
  }

  .data-container__widgets {
    padding: u(1rem 0 0 0);
  }

  .data-container__action {
    float: right;
    text-align: right;
    @include span-columns(5);
  }

  .data-container__share {
    padding-left: u(2rem);
    text-indent: 0;
    width: auto;
    margin-right: u(1rem);
    @include u-icon-button($share, right);
  }

  .data-container__export {
    display: inline-block;
    position: relative;
  }

  .cycle-select + .data-container__export {
    margin-top: 30px;

    .button--export {
      height: 3.6rem;
    }
  }

  .data-container__message {
    display: inline-block;
    margin: 0 u(1rem) 0 0;
    vertical-align: middle;
  }

  .data-container__tags {
    padding: u(1rem 2rem);
  }

  .export-widget {
    float: left;
    margin-right: u(1rem);
    width: auto;

    &:last-of-type {
      margin: 0;
    }

    .dropdown,
    .button {
      float: right;
      width: 100%;
    }
  }
}


//Responsive behavior for datatables in tab pannels on profile pages (committee, candidate, election)
@media screen and (width <= 940px) {
  .data-container__wrapper .main__content--right-full {
    display: block
   }

  .data-container__wrapper .side-nav-alt {
    display: block;
    width:auto;
  }
}
