// Org Chart Styles
//
// Everything related to the org chart
//

$gutterSize: 10px;
$lineDashed: thin dotted grey;
$lineSolid: 2px solid grey;
$lineSolidDark: thin solid black;

#fec-orgchart {
  display: block;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;

  li {
    display: block;
    float: left;
    list-style-type: none;
    margin-left: 0;
    padding: $gutterSize 0 0 $gutterSize;
    position: relative;
    width: 100%;

    & + li { // all li after another li
      padding-top: $gutterSize;
    }
    &:before {
      // top half of left-side line, including the horizontal line in the middle
      border-left: $lineSolidDark;
      border-bottom: $lineSolidDark;
      content: "";
      height: 50%;
      left: 0;
      position: absolute;
      top: 0;
      width: 10px;
      
    }
    &:after {
      // bottom half of left-side line
      border-left: $lineSolidDark;  
      content: "";
      height: 50%;
      left: 0;
      position: absolute;
      top: 50%;
      width: 10px;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    
    div {
      border: $lineSolidDark;
      list-style-type: none;
      margin: 0;
      min-height: 80px;
      padding: 2rem;
      position: relative;
      text-align: center;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;

      span {
        display: block;
        line-height: 1em;
        
        &:first-child {
          font-size: 14px;
          font-weight: bold;
          line-height: 1em;
        }
        &:nth-child(2) {
          font-family: Karla, sans-serif;
          font-size: 12px;
          font-weight: normal;
        } 
      }
    }

    &.team {
      padding-left: $gutterSize;
      padding-bottom: $gutterSize * 2;

      &:before {
        content: "";
        border-bottom: none;
        border-left: $lineSolidDark;
        border-right: none;
        border-top: none;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: $gutterSize;
      }

      &:last-child {
        &:before {
          display: none;
        }
        &:after {
          display: none;
        }
      }
    }
    // for divs that are direct descendants of the li.team, these are the team leads
    &.team > div:before {
      content: "";
      position: absolute;
      left: calc(-#{$gutterSize} - 1px);
      border-left: $lineSolidDark;
      border-bottom: $lineSolidDark;
      top: -#{$gutterSize * 1.5};
      height: calc(50% + #{$gutterSize * 1.5});
      width: $gutterSize;
    }

    ul {
      display: block;
      float: left;
      margin: 0;
      padding: 0 0 0 $gutterSize;
      position: relative;
      width: 100%;

      &:before {
        border-left: $lineSolidDark;
        content: "";
        display: block;
        height: 50%;
        position: absolute;
        left: 0;
        bottom: 50%;
        width: $gutterSize;
        border-bottom: $lineSolidDark;
      }
      &:last-child {
        &:before {
          display: none;
        }
        &:after {
          display: none;
        }
      }
    }

    &.team-comms {
      padding: 0 $gutterSize #{$gutterSize * 2};
  
      &:before {
        content: "";
        border-bottom: none;
        border-left: $lineSolidDark;
        border-right: none;
        border-top: $lineSolidDark;
        height: calc(50% + #{$gutterSize});
        left: 0;
        position: absolute;
        top: calc(50% - #{$gutterSize});
        width: 10px;
      }
      &:after {
        border-bottom: none;
        border-left: none;
        border-right: $lineDashed;
        border-top: $lineDashed;
        content: "";
        display: block; 
        height: calc(50% + #{$gutterSize + 1});
        left: auto;
        position: absolute;
        right: 0;
        top: calc(50% - #{$gutterSize});
        width: $gutterSize;
      }
      & div:before {
        display: none;
      }
      & div:after {
        display: none;
      }
    }
    &.team-ig {
      float: right;
      padding: $gutterSize $gutterSize #{$gutterSize * 2} #{$gutterSize * 2};

      &:before {
        border-bottom: none;
        border-top: none;
        bottom: auto;
        height: 100%;
        top: 0;
      }
  
      & > div:before {
        border-bottom: $lineDashed;
        border-left: none;
        border-right: $lineDashed;
        border-top: none;
        bottom: 50%;
        content: "";
        height: calc(50% + #{$gutterSize});
        position: absolute;
        left: auto;
        right: calc(-#{$gutterSize} - 1px);
        top: auto;
        width: $gutterSize;
      }
      & > div:after {
        display: none;
      }

      ul {
        padding: 0 $gutterSize 0 0;

        li {
          padding: $gutterSize $gutterSize 0 0;
          
          &:before {
            border-left: none;
            border-right: $lineDashed;
            border-bottom: $lineDashed;
            left: auto;
            right: 0;
            width: $gutterSize;
          }
        }
      }
    }
  }
}


@media (min-width: 768px) {
  #fec-orgchart {
    display: grid;
    grid-template-areas:
      "comms comms comms comms ig"
      "team team team team ig";
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: auto;
    grid-row-gap: 0;
    grid-column-gap: 0;
    justify-items: center;

    li {
      padding-left: 0;

      ul {
        padding-left: 0;

        li:first-child {
          padding-top: #{$gutterSize * 2};
        }
      }
      div {
        min-height: 130px;
      }

      &:before {
        border-bottom: $lineSolid;
        border-left: $lineSolid;
        left: -#{$gutterSize};
      }
      &:after {
        border-left: $lineSolid;
        left: -#{$gutterSize};
      }
      &.team {
        padding: 0 $gutterSize;
        width: 100%;

        & > div {
          &:before {
            border-bottom: none;
            border-left: $lineSolid;
            border-top: $lineSolid;
            padding-bottom: $gutterSize;
            top: 50%;
          }
          // &:after {
          //   border-left: $lineSolid;
          // }
        }
        
        &:before {
          content: "";
          border-bottom: none;
          border-right: $lineSolid;
          border-left: none;
          border-top: $lineSolid;
          height: $gutterSize;
          left: 0;
          position: absolute;
          top: -#{$gutterSize};
          width: 50%;
        }
        &:after {
          border-left: none;
          border-top: $lineSolid;
          content: "";
          height: $gutterSize;
          left: 50%;
          position: absolute;
          top: -#{$gutterSize};
          width: 50%;
        }

        &.team-comms {
          grid-area: comms;
          max-width: 40%;
          padding-bottom: $gutterSize * 2;

          &:before {
            // From comms to the teams
            content: "";
            border-bottom: none;
            border-right: $lineSolid;
            border-left: none;
            border-top: none;
            display: block;
            height: 10px;
            left: 0;
            position: absolute;
            top: calc(100% - #{$gutterSize * 2});
            width: 50%;
          }
          &:after {
            // From comms to IG
            border-bottom: none;
            border-left: none;
            border-right: none;
            border-top: $lineDashed;
            content: "";
            display: block;
            height: calc(50% - #{$gutterSize});
            left: calc(100% - #{$gutterSize});
            position: absolute;
            right: auto;
            top: $gutterSize * 4;
            width: 80%;
          }
          div {
            min-height: 60px;
          }
        }
        &.team-ig {
          grid-area: ig;
          padding-top: $gutterSize * 5;

          &:before {
            border-right: $lineDashed;
            border-top: $lineDashed;
            top: $gutterSize * 4;
          }
          &:after {
            display: none;
          }
          ul {
            padding: 0;

            li {
              padding-right: 0;

              &:before {
                border-bottom: none;
                border-right: $lineSolid;
                border-top: none;
                height: $gutterSize * 2;
                left: 0;
                top: 0;
                width: 50%;
              }
            }
          }
          div:before {
            display: none;
          }
        }
      }
    }
    li.team.team-ig + li.team {
      // The first .team after a .team-ig
      &:before {
        display: none;
      }
      &:after {
        border-left: $lineSolid;
      }
    }
    li.team:last-child {
      // The last .team
      &:before {
        display: block;
      }
    }
  } // close @media 768
}
