// Feedback module
//
// Feedback trigger button on bottom of pages as well as popup feedback form module
//

.feedback {
  background-color: $gray-lightest;
  bottom: u(.5rem);
  color: $base;
  display: block;
  left: u(.5rem);
  overflow-y: scroll;
  padding: u(2rem .5rem 8rem .5rem);
  position: fixed;
  right: u(.5rem);
  top: u(.5rem);
  z-index: $z-feedback;

  legend {
    color: $base;
  }

  label {
    margin-bottom: u(-0.5rem);
  }

  hr {
    border-top: 1px dotted $gray-dark;
    margin: u(0 0 1rem 0);
  }

  .t-note {
    font-style: normal;
    line-height: u(2rem);
  }

  textarea {
    height: u(7rem);
    margin-bottom: u(2rem);
    border-color: $base;

    &:last-of-type {
      margin-bottom: u(1rem);
    }
  }

  a:not(.button--cta-primary) {
    border-color: $base;
  }

  h3 {
    &:first-of-type {
      margin-top: u(2rem);
    }
  }

  .feedback__close {
    position: absolute;
    right: u(1rem);
    top: u(1rem);
  }

  @include media($lg) {
    @include transition(top .5s);
    height: 95vh;
    left: auto;
    overflow: auto;
    padding: u(3rem 3rem 8rem 3rem);
    right: u(4rem);
    top: 5vh;
    width: u(52rem);

    &[aria-hidden='true'] {
      display: block !important;
      top: 2000px;
    }
  }
}

.signup__row {
  clear:both;
  display: table;

  .signup__button {
    float: left;
    display:block;
    margin-top: u(0.3rem);
  }

  .signup__note {
    float: left;
    display:block;
    width: u(30rem);
    margin-left: u(1rem);
  }
}

.feedback__title {
  @include heading(h2);
  margin-bottom: u(.5rem);
}

.feedback__toggle {
  bottom: 0;
  border-radius: 2px 2px 0 0;
  position: fixed;
  right: u(4rem);
  z-index: $z-feedback;
}

.feedback__button {
  margin-top:1rem;
}

.grecaptcha-badge {
  position: relative;
  bottom: u(-10rem);
}

.feedback__button {
  margin-top:1rem;
}

.feedback textarea:last-of-type + div{
display:block;
height:0px;
width:1px;
zoom:1;
}

@media print {
  .feedback__toggle {
    display: none;
  }
}
