// Feedback module
//
// Feedback trigger button on bottom of pages as well as popup feedback form module
//

.feedback {
  background-color: $base;
  bottom: u(.5rem);
  color: $inverse;
  display: block;
  left: u(.5rem);
  overflow-y: scroll;
  padding: u(2rem .5rem);
  position: fixed;
  right: u(.5rem);
  top: u(.5rem);
  z-index: $z-feedback;

  legend {
    color: $inverse;
  }

  textarea {
    height: u(7rem);
    margin-bottom: u(2rem);
    border-color: $inverse;

    &:last-of-type {
      margin-bottom: u(1rem);
    }
  }

  a:not(.button--cta-primary) {
    border-color: $inverse;
  }

  .label {
    &:first-of-type {
      margin-top: u(2rem);
    }
  }

  .feedback__close {
    position: absolute;
    right: u(1rem);
    top: u(1rem);
  }

  @include media($lg) {
    @include transition(top .5s);
    height: 95vh;
    left: auto;
    overflow: auto;
    padding: u(3rem 3rem 0 3rem);
    right: u(4rem);
    top: 5vh;
    width: u(52rem);

    &[aria-hidden='true'] {
      display: block !important;
      top: 2000px;
    }
  }
}

.feedback__title {
  @include heading(h2);
  margin-bottom: u(.5rem);
}

.feedback__toggle {
  bottom: 0;
  border-radius: 2px 2px 0 0;
  position: fixed;
  right: u(4rem);
  z-index: $z-feedback;
}

.feedback__button {
  margin-top: u(1rem);
}

@media print {
  .feedback__toggle {
    display: none;
  }
}
