// Glossary
//

.glossary {
  background-color: $base;
  bottom: 0;
  color: $inverse;
  max-width: u(30rem);
  overflow-y: scroll;
  padding: u(8rem 3rem);
  position: fixed;
  top: 0;
  width: 75%;
  z-index: $z-glossary;
  @include transition(right, .3s);

  &[aria-hidden='true'] {
    display: block !important;
    right: -100%;
  }

  &[aria-hidden='false'] {
    right: 0;
    @include transition(right, .3s);
  }

  .button--close--inverse {
    position: absolute;
    right: 0;
    top: 0;
  }

  h2 {
    color: $inverse;
  }

  .label {
    color: $inverse;
  }
}

.glossary__content {
  padding: u(4rem 0);
}

.glossary__definition {
  font-family: $sans-serif;
  letter-spacing: -.3px;

  ol {
    margin-left: 0;
    @extend .list--numbered;

    li {
      font-size: u(1.4rem);
    }
  }

  ul {
    margin-left: 0;
    @extend .list--bulleted;

    li {
      font-size: u(1.4rem);
    }
  }

  p {
    font-size: u(1.4rem);
  }

}

.glossary__toggle {
  background-position: 0% 50%;
  background-size: 1em;
  padding-left: u(2.5rem);
  @include u-icon-bg($book, $base);
}

// Term classes
//
// Wrap glossary terms with these classes

// standard class, adds the book icon
.term {
  background-size: .6em;
  background-position: 99% 50%;
  background-color: transparent;
  box-shadow: 0 0 0 4px transparent;
  border-bottom: none;
  cursor: pointer;
  margin-right: 2px;
  padding-right: .9em;
  @include u-icon-bg($book, $primary);
  @include transition(background-color, .2s, box-shadow, .2s, color, .2s);

  &:focus,
  &:hover {
    box-shadow: 0 0 0 4px rgba($gray, .7);
    background-color: rgba($gray, .7);
    color: $primary;
  }
}

// Used when the term is in a body paragaraph of text, reduces padding and adds margin
.term--p {
  margin-right: u(.5rem);
  box-shadow: none;
}

// Used when the term is in next to a heading tag or other block-level tag, makes icon inline
.term--inline {
  display: inline-block;
  margin-bottom: u(1rem) !important;
}

@media print {
  .term {
    background-image: none;
    margin-right: 0;
    padding-right: 0;
  }
}
