// Icons
//
// Simple classes to set the size and spacing of <img> icons
//
// .icon                  - Sets size of an icon img
// .icon--complex         - Sets size of complex icons
// .icon--inline--right   - Vertically centering and adding slight margin to inline icons
// .icon--inline--left    - Vertically centering and adding slight margin to inline icons
//

.icon {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  height: u(2rem);
  width: u(2rem);

  &.i-all-files {
    @include u-icon-bg($all-files, $base);
  }

  &.i-share {
    @include u-icon-bg($share, $base);
  }

  &.i-magnifying-glass {
    @include u-icon-bg($magnifying-glass, $base);
  }

  &.i-folder {
    @include u-icon-bg($folder, $base);
  }

  &.i-candidate {
    @include u-icon-bg($candidate, $base);
  }

  &.i-committee {
    @include u-icon-bg($committee, $base);
  }

  &.i-download {
    @include u-icon-bg($download, $base);
  }

  &.i-document {
    @include u-icon-bg($document, $base);
  }

  &.i-star {
    @include u-icon-bg($star, $base);
  }

  &.i-speaker {
    @include u-icon-bg($speaker, $base);
  }

  &.i-play {
    @include u-icon-bg($play-button, $base);
  }


}

.icon--small {
  display: inline-block;
  max-height: u(1rem);
  max-width: u(1rem);

  &.i-arrow-down {
    @include u-icon-bg($arrow-down, $base);
  }

  &.i-arrow-right {
    @include u-icon-bg($arrow-right, $base);
  }

  &.i-arrow-left {
    @include u-icon-bg($arrow-left, $base);
  }

  &.i-book {
    @include u-icon-bg($book, $base);
  }
}

.icon--complex {
  max-height: u(6rem);
  max-width: u(6rem);
}

.icon--inline--right {
  display: inline-block;
  margin-left: u(1rem);
  vertical-align: text-bottom;

  &.i-arrow-right {
    vertical-align: baseline;
  }
}

.icon--inline--left {
  display: inline-block;
  margin-right: u(1rem);
  vertical-align: text-bottom;

  &.i-share {
    background-size: 80%;
  }
}

.icon--absolute--left {
  position: absolute;
}

.icon-circle--calendar {
  display: block;

  &::before {
    content: '';
    @include u-icon-circle($calendar, $secondary, $inverse, 3.4rem);
  }
}

.icon-circle--updates {
  display: block;

  &::before {
    content: '';
    @include u-icon-circle($updates, $secondary, $inverse, 3.4rem);
  }
}

.icon-circle--calculator {
  display: block;

  &::before {
    background-size: 70%;
    background-position: 50% 45%;
    content: '';
    @include u-icon-circle($calculator, $primary, $inverse, 3.4rem);
  }
}

.icon-circle--updates--inline--left {
  display: inline-block;
  margin-right: u(1.5rem);

  &::before {
    content: '';
    @include u-icon-circle($updates, $secondary, $inverse, 3rem);
  }
}

.icon-circle--calendar--inline--left {
  display: inline-block;
  margin-right: u(1.5rem);

  &::before {
    content: '';
    @include u-icon-circle($calendar, $secondary, $inverse, 3rem);
  }
}

.icon-circle--check-outline--inline--left {
  margin-right: u(.5rem);
  display: inline-block;
  vertical-align: middle;

  &::before {
    content: '';
    background-size: 100%;
    @include u-icon-circle($check-circle-outline, $inverse, $aqua, 1.5rem);
  }
}

.icon-circle--clock-reverse--inline--left {
  margin-right: u(.5rem);
  display: inline-block;
  vertical-align: middle;

  &::before {
    content: '';
    background-size: 100%;
    @include u-icon-circle($clock-reverse, $inverse, $primary, 1.7rem);
  }
}

.icon-circle--search {
  display: block;

  &::before {
    content: '';
    @include u-icon-circle($magnifying-glass, $primary, $inverse, 3.4rem);
  }
}

.icon-circle--checklist {
  display: block;

  &::before {
    content: '';
    background-size: 80%;
    @include u-icon-circle($checklist, $secondary, $inverse, 3.4rem);
  }
}

.icon-circle--candidate {
  display: block;

  &::before {
    content: '';
    background-position: 60% 50%;
    background-size: 50%;
    @include u-icon-circle($candidate, $primary, $inverse, 3.4rem);
  }
}

.icon-circle--committee {
  display: block;

  &::before {
    content: '';
    @include u-icon-circle($committee, $primary, $inverse, 3.4rem);
  }
}

.icon-circle--raising {
  display: block;

  &::before {
    content: '';
    @include u-icon-circle($piggy-bank, $primary, $inverse, 3.4rem);
  }
}

.icon-circle--spending {
  display: block;

  &::before {
    content: '';
    @include u-icon-circle($disbursement, $primary, $inverse, 3.4rem);
  }
}

.icon-small--arrow-up-border {
  display: inline-block;
  margin-left: u(1rem);
  vertical-align: middle;

  &::before {
    content: '';
    background-size: 75%;
    display: block;
    width: u(1.5rem);
    height: u(1.5rem);
    @include u-icon-bg($arrow-up-border, $inverse);
  }
}

.icon-small--arrow-down-border {
  display: inline-block;
  margin-left: u(1rem);
  vertical-align: middle;

  &::before {
    content: '';
    background-size: 75%;
    display: block;
    width: u(1.5rem);
    height: u(1.5rem);
    @include u-icon-bg($arrow-down-border, $inverse);
  }
}

.icon-document--inline--left {
  display: inline-block;
  vertical-align: middle;

  &::before {
    content: '';
    background-size: 75%;
    display: block;
    width: u(1.5rem);
    height: u(1.5rem);
    @include u-icon-bg($document, $primary);
  }
}

.icon-download--inline--left {
  display: inline-block;
  vertical-align: middle;

  &::before {
    content: '';
    float: left;
    padding: u(1.5rem);
    @include u-icon-bg($download, $primary);
  }
}

.icon-star {
  width: u(1.5rem);
  height: u(1.5rem);
  margin-bottom: 2px;
  display: inline-block;
  vertical-align: middle;
  @include u-icon-bg($star, $orange);
}

.icon-x {
  @include u-icon-bg($x, $primary);
}

// Used to create a spacer in the version column the same width as the
// version icons
.icon-blank {
  display: inline-block;
  content: '';
  width: 20px;
}
