/*** For images ***/

//  <li class="grid__item grid__item--infoblock">
//    <div class="infoblock__image infoblock__image--compare" role="img" aria-label="Description of the image"></div>
//    <h3 class="t-sans">Explore financial data for current and past elections and the candidates in those races</h3>
//    <a class="button infoblock__button button--cta button--go" href="/data/#compare-candidates-in-an-election">Compare candidates</a>
//  </li>

/*** For icons ***/

//  <li class="grid__item grid__item--infoblock">
//    <div class="infoblock__icon infoblock__icon--calendar" role="img" aria-label="Description of the image"></div>
//    <h3 class="u-no-margin"><a href="/help-candidates-and-committees/filing-reports/electronic-filing/">Dates and deadlines</a></h3>
//    <p>All FEC reporting deadlines, reporting periods and compliance periods</p>
//  </li>



//infoblock__image

.infoblock__image {
  background-image: url('../img/infoblock--get-started-1x.jpg');
  background-repeat: no-repeat;
  height: u(15rem);
  margin-bottom: u(1rem);
  background-size:cover;

//commented out temporarily to avoid error- see _variables.scss line 89
/*  @media
    $high-res-ratio,
    $high-res-dpi {
    background-image: url('../img/infoblock--get-started-2x.jpg');
    }
*/

}


.infoblock__image--support {
  background-position: 50% 0;
}

.infoblock__image--compare {
  background-position: 50% 50%;
}

.infoblock__image--contribute {
  background-position: 50% 100%;
}

.infoblock__image--education {
  background-position: u(0 -7rem);
  background-image:url("/static/img/peeps.png");

  @include media($med) {
    background-position: 0 0;
  }

  @include media($lg) {
    background-position: 0 0;
  }
}

.infoblock__image--forms {
  background-position: 0 0;
  background-image:url("/static/img/form.png");
  background-size:100%;
}

.infoblock__subtext {
  font-size: 1.4rem;
  margin: u(0 0 1rem 0);
}

a.infoblock__button {
  color: $inverse;
  bottom: 0;
  position: absolute;
}

.infoblock__image--support,
.infoblock__image--compare,
.infoblock__image--contribute,
.infoblock__image--education,
.infoblock__image--forms {

  @include media($med) {
    height: u(15rem);
  }
  @include media($lg) {
    height: u(15rem);
  }
}

.infoblock__image--support,
.infoblock__image--compare,
.infoblock__image--contribute,
.infoblock__image--education,
.infoblock__image--forms {
  @include media($xl) {
    height: u(20rem);
  }
}

//infoblock__icon

.infoblock__icon {
  height: u(15rem);
  background-color: $secondary;
  background-repeat: no-repeat;
  margin-bottom: u(1rem);
  background-position:50% 50%;
  background-size:u(11rem);

  @include media($med) {
    height: u(15rem);
  }
  @include media($lg) {
    height: u(15rem);
  }
  @include media($xl){
    height: u(20rem);
  }
}


.infoblock__icon--calendar {
  background-image:url("/static/img/i-complex--calendar.png")

}

.infoblock__icon--regreport {
  background-image:url("/static/img/i-complex--regreport.png")

}