// Legal search
//
// Styles for legal search results.
//
// <div class="simple-table simple-table--display simple-table--responsive">
//   <div class="simple-table__header">
//     <div class="simple-table__header-cell">Section</div>
//     <div class="simple-table__header-cell">Description <span class="simple-table__header-subtext">| Hit</span></div>
//   </div>
//   <div class="simple-table__row-group">
//     <div class="simple-table__row legal-search-result">
//       <div class="simple-table__cell"><a title="" href="/regulations/5-6/2016-annual-5#5-6">§ 5.6</a></div>
//       <div class="simple-table__cell">
//         <div class="legal-search-result__name">Fees.</div>
//         <div class="t-serif legal-search-result__hit">
//           … per copy, including reproduction and binding).  Cost ($.0006 per
//           <em>Computer</em> Resource Unit Utilized—CRU … ) to process the
//           request plus the cost of the <em>computer</em> tape ($25) and
//           professional staff time (see … Research Time). The cost varies based
//           upon request.  No charge for 20 or fewer requests for
//           <em>computer</em> … ID numbers will cost $2.00 for each ID number
//           requested. Other <em>computer</em> index requests for more … than 20
//           ID numbers will cost $.0006 per CRU (<em>Computer</em> Resource Unit)
//           utilized. Name Search—A <em>computer</em> …
//         </div>
//       </div>
//     </div>
//   </div>
// </div>
//

.legal-search-result__name {
  font-family: $sans-serif;
  font-weight: 600;
}

.legal-search-result__hit {
  font-style: italic;

  em {
    @include t-highlight;
  }
}

.legal-mur {
  .legal-mur__archive {
    font-family: $sans-serif;
    font-size: u(1.3rem);
    margin: u(0.8rem 0 1.5rem);

    .legal-search-result & {
      margin-bottom: 0;
    }

    .legal-mur__archive-icon {
      @include u-icon($file-box, $base, 1.5rem, 1.5rem, 100%);
      display: inline-block;
      margin-right: u(0.7rem);
      vertical-align: top;
    }
  }

  .legal-mur__document-button {
    margin-right: u(1.5rem);
  }

  .legal-mur__property {
    margin-bottom: u(1rem);
  }

  .legal-mur__subject-list {
    list-style: disc;
    margin-left: u(2rem);
  }

  .legal-mur__subject-list-item {
    margin-left: u(1rem);
  }
}

.legal-top {
  font-family: $sans-serif;
  border-bottom: none;

  &::before {
    @include u-icon-bg($arrow-up-circle, $gray);
    content: '';
    display: inline-block;
    height: 2rem;
    margin-right: 0.5rem;
    vertical-align: top;
    width: 2rem;
  }

  @include media($med) {
    display: none;
  }
}

.pending-ao__title {
  @include u-icon-bg($timer, $base);
  display: inline-block;
  padding-right: u(2.5rem);
  background-position: 100% 50%;
}

.pending-ao__icon {
  @include u-icon-bg($timer, $primary-contrast);
}

.ao-result__title {
  background-color: $gray-light;
  border-left: .5rem solid $primary;
  font-family: $sans-serif;
  letter-spacing: 0;
  margin: u(2rem 0 0 0);
  padding: u(1rem);
}
