// Overlay
//
// An absolutely positioned overlay over any relatively positioned area
//
// <div class="overlay__container">
//   <div class="overlay is-loading">
//   </div>
// </div>
//

.overlay__container {
  position: relative;
  min-height: u(50rem);
}

.overlay {
  background-color: rgba($primary, .7);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  z-index: $z-overlay;

  &.is-loading {
    background-image: url('../img/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 20%;
  }
}

