// Pagination
//
// Based on the datatables.js markup and classes
//
// <div class="dataTables_paginate paging_simple_numbers" id="results_paginate">
//    <div class="results-info">
//      <a class="paginate_button previous">Previous</a>
//      <span>
//        <a class="paginate_button">1</a>
//        <a class="paginate_button">2</a>
//        <a class="paginate_button current">3</a>
//        <a class="paginate_button">4</a>
//        <a class="paginate_button">5</a>
//        <span class="ellipsis">…</span>
//        <a class="paginate_button">24</a>
//      </span>
//      <a class="paginate_button next">Next</a>
//      <div class="u-float-right t-sans">Showing
//        <span class="js-page-info">1-10 of 240</span> entries
//      </div>
//    </div>
//  </div>
//

// .paging_simple for datatables.net-dt: ^2.3.7 and datatables.net-responsive-dt: ^3.0.8:

//<div class="dt-paging paging_simple">
//  <nav aria-label="pagination">
//   <button class="dt-paging-button disabled previous" role="link" type="button" aria-controls="results" aria-disabled="true" aria-label="Previous" data-dt-idx="previous" tabindex="-1"></button>
//   <button class="dt-paging-button next" role="link" type="button" aria-controls="results" aria-label="Next" data-dt-idx="next"></button>
//  </nav>
//</div>

.paginate_button, button.dt-paging-button {
  @extend .button--standard;
  @extend .button--sm;

  display: inline-block;
  height: auto;
  margin-left: u(0.5rem);

  &.previous,
  &.next {
    text-indent: -99999px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &.previous {
    @extend .button--previous;
  }

  &.next {
    @extend .button--next;

    text-indent: -99999px;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.current {
    font-weight: 700;
    color: $inverse;
    background-color: $gray-dark;
  }
}

.paginate_button + span.ellipsis, button.dt-paging-button + span.ellipsis {
  display: inline-block;
  height: 24px;
  line-height: 36px;
  margin-left: 0.5rem;
  padding: 0;
  vertical-align: bottom;
}
