//Responsive video embeds for RTE with intrinsic sizing technnique

.responsive-object { 
	position: relative; 
	width: 100% !important; 
	height: auto !important; 

	iframe, object, embed { 
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
	} 
}

//TV Ad example:

// <div class="video-frame">
//   <div class="iframe-container">
//     <iframe src="YOUTUBE-EMBED-URL?rel=0" frameborder="0" allowfullscreen></iframe>
//   </div>
// </div>


.video-frame {
  width: 85%;
  background: url(/static/img/TV-Gray-Wall-Only-850.png) no-repeat;
  background-size: cover;
  margin-bottom: u(2rem);

  .iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
	position: relative;

    iframe {
	  height: 62%;
	  left: 7.5%;
	  position: absolute;
      top: 14%;
	  width: 62%;
	  border: 10px solid #333;
	  border-radius: 10px;
	  box-shadow: 5px 11px 16px 4px #444;
	  border-bottom: 27px solid #333;
	}
  }
}


//New TV Ad example:
// <div id="new-tv-ad-example">
//   <div>
//     <iframe src="YOUTUBE-EMBED-URL?rel=0" frameborder="0" allowfullscreen></iframe>
//   </div>
// </div>

#new-tv-ad-example {
  width: 100%;
  height: 100%;
  max-width: 1034px;
  max-height: 639px;
  margin: 0 auto 40px auto;

  div {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
  }

  iframe {
    box-sizing: border-box;
    background: url(/static/img/new-tv-bkgd-wide.png) center center no-repeat;
    background-size: contain;
    padding: 10.05% 16.5% 21.2% 16%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}
