// Rich Text styles
//
// These are styles specifically for content output by the CMS
//

.rich-text,
.body-blocks,
.block-html {
  ul {
    @extend .list--bulleted;
   }

  ol {
    @extend .list--numbered;
  }
}


.rich-text,
.block-table,
.block-html {
  img {
    display: block;
    clear: both;
    float: none;
    margin-bottom: u(2rem);
    height: initial;
  }
}

@include media($lg) {
  .richtext-image {
    &.right {
      float: right;
      margin-left: u(5rem);
      margin-bottom: u(4rem);
    }

    &.left {
      float: left;
      margin-right: u(5rem);
      margin-bottom: u(4rem);
    }
  }
}

.block-html {
  table {
    @extend .simple-table-cms
  }
}

@media print {
  .rich-text table,
  .block-table table {
    page-break-inside: avoid;
  }
}
