// Search results
//

.results__title {
  margin: u(2rem 0 1rem 0);
}

// <div class="results__count message message--alert">
//   Showing first 20 results.
//   <a href="#">View all »</a>
// </div>
//
.results__count {
  padding: u(2rem 0 0 0);
}

// To show/hide special PA district message on /data/elections (in election-search.js)
.pa-message {
  display:none;
  padding: 0 0 2rem 0;
}

// Search results: Name search result
//
// <div class="main__content">
// <div class="result">
//   <div class="result__header">
//     <h3 class="result__title">
//       <a title="LASTNAME, FIRSTNAME" href="#">LASTNAME, FIRSTNAME</a>
//     </h3>
//     <span class="result__years t-data">
//         Election years: 2012
//     </span>
//   </div>
//   <div class="row">
//     <ul class="result__column">
//       <li>Office sought: Senate</li>
//       <li><span class="term" data-term="party" title="Click to define" tabindex="0">Party:</span> Some Party</li>
//     </ul>
//     <ul class="result__column">
//       <li>State: PA</li>
//       <li>District: 00</li>
//     </ul>
//     <div class="result__column">
//       <span class="t-block t-bold">Principal campaign committee:</span>
//         <a title="LASTNAME COMMITTEE" href="#">LASTNAME COMMITTEE</a>
//     </div>
//   </div>
// </div>
// </div>
//

.result__title {
  margin-bottom: 0;
}

.result__years {
  display: block;
  font-weight: bold;
  margin-bottom: u(1.5rem);
}

.result {
  border-top: 2px solid $gray;
  padding: u(2rem 0);

  &:first-of-type {
    border-top: none;
    padding-top: 0;
  }
}

.result__header {
  @include clearfix();
}

.result__left {
  @include span-columns(5 of 9);
  border-right: 1px solid $gray;
}

.result__right {
  @include span-columns(4 of 9);
}

.result__related {
  padding: u(1rem 0);
}

// Search results: Election result
//
// <div class="grid grid--2-wide">
//   <div class="grid__item">
//     <div class="result">
//       <h3>
//         <span></span>
//         <a href="#">US President</a>
//       </h3>
//       <div class="row">
//         <span class="result__term">Next general election:</span>
//         <span class="result__definition">November 4, 2016</span>
//       </div>
//       <div class="row">
//         <span class="result__term">Current officeholder:</span>
//         <a class="result__definition" href="#">OBAMA, BARACK</a>
//         </div>
//       <div class="row">
//         <span class="result__term">Current candidates:</span>
//         <a class="result__definition" href="#">View all &raquo;</a>
//       </div>
//     </div>
//     <div class="result">
//       <h3>
//         <span></span>
//         <a href="#">US President</a>
//       </h3>
//       <div class="row">
//         <span class="result__term">Next general election:</span>
//         <span class="result__definition">November 4, 2016</span>
//       </div>
//       <div class="row">
//         <span class="result__term">Current officeholder:</span>
//         <a class="result__definition" href="#">OBAMA, BARACK</a>
//         </div>
//       <div class="row">
//         <span class="result__term">Current candidates:</span>
//         <a class="result__definition" href="#">View all &raquo;</a>
//       </div>
//     </div>
//   </div>
// </div>
//

.result__term {
  display: inline-block;
  font-family: $sans-serif;
  margin-right: 2%;
  width: 50%;
}

.result__definition {
  display: inline-block;
  font-family: $sans-serif;
}

@include media($lg) {
  .result {
    padding: u(3rem 0);
  }

  .result__title {
    @include span-columns(6 of 9);
  }

  .result__years {
    @include span-columns(3 of 9);
    margin-bottom: 0;
  }

  .result__term {
    width: 30%;
  }

  .result__column {
    @include span-columns(3 of 9);
    border-right: 1px solid $gray;
    border-bottom: none;

    &:last-child {
      border-right: none;
    }
  }
}
