// Search Controls
//
// Used on:
// election lookup page
// embedded searches (MUR, AUDIT)
// keyword modals
//
@use 'sass:math';

.search-controls__row {
  border-bottom: 1px solid $gray;
  padding: u(1rem 0);
  @include clearfix;

  &:first-of-type {
    padding-top: 0;
  }

  .cycle-select {
    margin-bottom: 0;
  }
}

// Either / Or
//
// Component with two halves, separated by an "or"

.search-controls__or {
  margin: u(1rem 0);
  position: relative;
  text-align: center;
  width: 100%;

  &::before,
  &::after {
    background-color: $gray;
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 45%;
    top: u(1rem);
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.search-controls__submit {
  @include span-columns(6);
}

// Aligns the elements that don't have a label with those that do
.search-controls__no-label {
  margin-top: u(3rem);
}

.search-controls__zip {
  @include span-columns(6);

  input {
    width: 100%;
  }
}

.search-controls__state {
  margin-bottom: u(1rem);
  @include span-columns(6);

  select {
    width: 100%;
  }
}

.search-controls__district {
  @include span-columns(6);

  select {
    width: 100%;
  }
}

.search--container {
  padding: u(1rem 0 1rem 0);
  background: $gray-lightest;
}

//For data/election search boxes
.election-search {
  .search--container {
    position: relative;
    overflow: hidden;

    &:first-child {
      height: auto;
      margin-bottom: u(2rem);
    }
  }
  .search-controls__cycle {
    margin: u(0.5rem 2rem);
    @include span-columns(4.5 of 5.5);

    .cycle-select {
      width: 95%;
    }
  }
  .search-controls__zip {
    margin-left: u(2rem);
    @include span-columns(4.5 of 5.5);
  }

  .search-controls__either:first-child {
    margin: u(0.5rem 0) !important;
  }

  .search-controls__either:last-child {
    fieldset {
      margin-left: u(2rem);
    }
  }
}

//For home-page embedded election map form fields
.election-search-home {
  .search-controls__zip {
    margin-bottom: u(1rem);
    @include span-columns(6);

    input {
      width: 100%;
    }
  }
}

.raising-spending-controls {
  .office-select {
    @include span-columns(10);
    select {
      width: 100%;
    }
  }
  .cycle-select {
    @include span-columns(6);
  }
}

//for keyword-options modals on AO, MUR, Statues searches
.keyword-modal {
  .modal__tips,
  .modal__form {
    display: table-row;
    width: 100%;
  }
  .modal__tips {
    margin-left: 0;
  }

  .search-controls__or--vertical {
    width: 100%;
    display: inline-grid;
  }
}

@include media($med) {
  .search-controls__row {
    padding: u(2rem 0);
  }

  // side by side
  .search-controls__either {
    @include span-columns(5.5);
  }

  .search-controls__submit {
    @include span-columns(1.5 of 5.5);
  }

  .search-controls__zip {
    @include span-columns(3.5 of 5.5);

    .button--search {
      background-size: u(1.5rem);
      background-position: 45%;
    }
  }

  .search-controls__or--vertical {
    margin: u(5.5rem 0);
    text-align: center;
    @include span-columns(1);

    &::before,
    &::after {
      height: u(6.5rem);
      left: 50%;
      width: 1px;
    }

    &::before {
      top: u(-6.5rem);
    }

    &::after {
      top: auto;
      bottom: u(-6.5rem);
    }
  }

  .election-search {
    .search-controls__either:first-child {
      @include span-columns(4);
    }

    .search-controls__either:last-child {
      @include span-columns(7.3);

      .search-controls__submit {
        margin-top: u(0);
        @include span-columns(7.3 of 7.3);

        button {
          width: 94%;
        }
      }
    }

    .search--container:first-child {
      height: u(13.1rem);
      margin-bottom: 0;
    }

    .search-controls__cycle {
      margin: u(0.5rem 2rem);
      @include span-columns(4.5 of 5.5);
    }

    .search-controls__zip {
      .button--search {
        background-size: u(1.5rem);
        background-position: 45%;
      }
    }

    .search-controls__state,
    .search-controls__district {
      @include span-columns(2.6 of 5.5);
    }

    .search-controls__or--vertical {
      margin: u(4rem 0);

      &::before,
      &::after {
        height: u(3rem);
      }

      &::before {
        top: u(-3rem);
      }

      &::after {
        bottom: u(-3rem);
      }
    }
  }
  #election-lookup.search--election-mini {
    display: flex;
    flex-wrap: wrap;

    .usa-width-one-half:first-child {
      margin-left: math.div($gutter, 2);
      margin-right: $gutter;
      width: 100%;
    }
    .usa-width-one-half:last-child {
      width: 100%;
    }

    .search-controls__state,
    .search-controls__district {
      width: 100%;
    }
  }

  .callout-holder {
    border: none;
    padding: 0;

    a h3 {
      border-bottom: 1px dotted $gray-lightest;
      clear: both;
      display: inline-block;
    }
    a:hover h3 {
      border-bottom-color: $aqua;
    }
  }

  //for keyword-options modals on AO, MUR, Statues searches
  .keyword-modal {
    .modal__tips,
    .modal__form {
      display: table-cell;
      width: 44%;
    }
    .modal__tips {
      margin-left: u(1rem);
      padding-top: 0;
    }
    .search-controls__or--vertical {
      margin: u(22.5rem 0);
      width: u(3.5rem);
      display: table-cell;

      &::before,
      &::after {
        height: u(22.5rem);
      }
      &::before {
        top: u(-22.5rem);
      }

      &::after {
        top: auto;
        bottom: u(-22.5rem);
      }
    }
  }
} /* end MED breakpoint */

// All form elements go in rows
@include media($lg) {
  .search-controls__state,
  .search-controls__district {
    @include span-columns(2 of 5.5);
  }

  .election-search {
    .search--container:first-child {
      height: u(12.6rem);
      margin-bottom: 0;
    }

    .search-controls__state,
    .search-controls__district {
      @include span-columns(1.9 of 5.5);
    }
    .search-controls__zip {
      margin-left: u(3rem);
      position: relative;
      top: u(0);
      @include span-columns(4.5 of 5.5);
    }

    .search-controls__cycle {
      margin: u(0.5rem 2.5rem);
    }

    .search-controls__either:first-child {
      margin: u(0.5rem 0) !important;
      @include span-columns(3.5);
    }

    .search-controls__either:last-child {
      margin: u(0.5rem 0) !important;
      @include span-columns(8);

      fieldset {
        margin-left: u(1rem);
      }
      .search-controls__submit {
        margin-top: u(0);
        @include span-columns(1.5 of 5.5);
      }
    }

    .heading--section {
      display: none;
    }
  }

  .search--container {
    .search-controls__either {
      @include span-columns(5.5);
    }

    .search-controls__or--vertical {
      margin: u(4rem 0 4rem 0);
    }
  }

  #election-lookup.search--election-mini {
    flex-wrap: initial;

    .usa-width-one-half:first-child {
      order: 2;
      width: 33.33%;
    }
    .usa-width-one-half:last-child {
      order: 1;
      width: 66.66%;
    }
  }
}
