// Site Header
//

// Banner for dev
.banner-dev {
  background-color: $navy;
  color: $inverse;
  font-family: $sans-serif;
  padding: u(.5rem 0);
  position: relative;
  text-align: center;
  width: 100%;

  p {
    color: $inverse;
    line-height: u(2rem);
    margin: u(.3rem 0);
    max-width: 100%;

  }

  a {
    border-bottom-color: $inverse;
    color: $inverse;
  }
}

// Skip nav
.skip-nav {
  @include transition(top, .2s);
  background-color: $primary;
  border: 2px solid $primary-contrast;
  color: $inverse;
  font-family: $sans-serif;
  left: u(2rem);
  padding: u(1rem 2rem);
  position: absolute;
  top: u(-10rem);
  z-index: $z4;

  &:focus {
    border-bottom-color: $primary-contrast;
    top: 0;
  }
}

// US Bar
//
// <div class="disclaimer">
//   <span class="disclaimer__right">
//     An official website of the United States government.
//     <img alt="US flag signifying that this is a United States federal government website" src="img/us_flag_small.png">
//   </span>
// </div>
//

.disclaimer {
  @include clearfix();
  border-bottom: 1px solid $neutral;
  color: $gray-dark;
  font-family: $sans-serif;
  font-size: u(1.2rem);
  line-height: 1;
  padding: 5px u(2rem);
  text-align: center;
}

.disclaimer__right {
  text-align: center;

  img {
    vertical-align: bottom;
  }
}

.site-header--homepage .disclaimer {
  padding: u(.75rem 2rem);

  .flag {
    margin-left: u(1rem);
  }
}

// US Bar 2.0 //
.usa-banner {
 background-color: $gray-light;
}

.usa-banner-content {
  padding-right: u(1.5rem);
  padding-bottom: 3px;
  padding-left: u(1.5rem);
  background-color: transparent;
  font-size: u(1.5rem);
  padding-top: u(2rem);
  width: 100%;
}

@media screen and (min-width: 600px) {
  .usa-banner-content {
    padding-bottom: u(2.3rem);
    padding-top: u(4rem);
  }
}

@media screen and (min-width: 951px) {
  .usa-banner-content {
    padding-right: u(3rem);
    padding-left: u(3rem);
  }
}

.usa-banner-content p:first-child {
  margin-top: u(1rem);
}

@media screen and (min-width: 600px) {
  .usa-banner-content p:first-child {
    margin-top: 0;
  }
}

.usa-banner-header {
  padding-top: 0;
  padding-bottom: 0;
  font-size: u(1.2rem);
  font-weight: 400;
}

.usa-banner-header {

  &.accordion__button {
  background-image: none;
  border:none !important;
  padding: u(.75rem 1rem);

   &[aria-expanded=true] {
    background-image: none;
   }
  }
}

.usa-banner-header p {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  height: auto;
  overflow: hidden;
  vertical-align: middle;

  &.t-inline-block {
    width: auto;
    font-size: u(1.4rem);
    font-family: karla,sans-serif;
    letter-spacing: -.3px;
  }
}

@media screen and (min-width: 481px) {
  .usa-banner-header {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.usa-banner-header p {
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  vertical-align: middle;

  &.t-inline-block {
    width: auto;
    font-size: u(1.4rem);
    font-family: karla,sans-serif;
    letter-spacing: -.3px;
  }
}

.usa-banner-header[aria-expanded=false] {

    .usa-banner-button::after {
    background-image: url(../img/angle-arrow-down-primary.png);
    background-image: url(../img/angle-arrow-down-primary.svg);
    background-size: 100%;
    content: '';
    display: inline-block;
    height: u(1rem);
    width: u(1rem);
    /* stylelint-disable block-closing-brace-newline-after, at-rule-empty-line-before */
    margin-left: u(.3rem);
    /* stylelint-enable */
  }

}

    .usa-banner-header[aria-expanded=true] {

    .usa-banner-button::after {
    background-image: url(../img/angle-arrow-up-primary.png);
    background-image: url(../img/angle-arrow-up-primary.svg);
    background-size: 100%;
    content: '';
    display: inline-block;
    height: u(1rem);
    width: u(1rem);
    /* stylelint-disable block-closing-brace-newline-after, at-rule-empty-line-before */
    margin-left: u(.3rem);
    /* stylelint-enable */
  }
}

@media screen and (min-width: 481px) {
  .usa-banner-header p {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
  }
}

.usa-banner-header img {
  float: left;
  margin: u(.2rem .7rem 0 1rem);
  width: 16px;
  height: 11px;
}


.usa-banner-button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-weight: 400;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: left;
  -webkit-font-smoothing: auto;
  padding-left: u(3.8rem);
  background-position-x: right;
  color: #0071bc;
  display: block;
  font-size: u(1.2rem);
  height: u(4.3rem);
  left: u(3.5rem);
  text-decoration: underline;
  top: 0;
  width: 100%;
}

.usa-banner-button:hover {
  background-color: transparent;
}

@media screen and (min-width: 515px) {
  .usa-banner-button {
    padding-top: 0;
    padding-left: 0;
    // stylelint-disable declaration-block-no-ignored-properties 
    display: inline;
    height: initial;
    margin-left: 3px;
    position: relative;
    vertical-align: middle;
    width: initial;
    left: 0;
    // stylelint-enable 
  }
}

.usa-banner-button:hover {
  color: #205493;
  text-decoration: underline;
}

.usa-banner-icon {
  width: u(3.8rem);
}

.usa-accordion-content {
  background-color: transparent;
  overflow: auto;
  padding: u(3rem);
}

.usa-accordion-content > *:first-child {
  margin-top: 0;
}

.usa-accordion-content > *:last-child {
  margin-bottom: 0;
}

.usa-accordion-content:not([aria-hidden]) {
  position: absolute;
  left: u(-999em);
}

.usa-accordion-content[aria-hidden=true] {
  display: none;
}


.usa-grid,
.usa-grid-full {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
}

.usa-grid::after,
.usa-grid-full::after {
  clear: both;
  content: "";
  display: block;
}

.usa-grid {
  padding-right: u(1.5rem);
  padding-left: u(1.5rem);
}

@media screen and (min-width: 600px) {
  .usa-grid {
    padding-right: u(3rem);
    padding-left: u(3rem);
  }
}

.usa-grid-full {
  padding: 0;
}

.usa-media_block-img {
  float: left;
  margin-right: u(1rem);
}

.usa-media_block-body {
  overflow: hidden;
}


// End US Bar 2.0

// Masthead
//
// The combination of the logo, site title and utility nav
//
// <div class="masthead">
//   <a href="/" title="Home" class="site-title"><span class="u-visually-hidden">Federal Election Commission | United States of America</span></a>
//   <ul class="utility-nav list--flat">
//     <li class="utility-nav__item">About</li>
//     <li class="utility-nav__item">Contact</li>
//     <li class="utility-nav__item">Contact</li>
//     <li class="utility-nav__item">Glossary</li>
//   </ul>
// </div>
//

.masthead {
  display: none;
  padding-top: u(2.5rem);
  @include clearfix();
}

.site-header {
  border-bottom: 1px solid $neutral;
  position: relative;
}

.homepage-seal {
  display: none;
}

.site-title {
  margin-bottom: 0;
  border-bottom: 0;
  display: none;
  float: left;
  width: 100%;
}

.site-title--print {
  display: none;
}

.utility-nav {
  font-family: $sans-serif;
  display: none;
  float: right;
  padding: u(1rem 0);
}

.site-nav {
  .site-title {
    @include u-background-image('wordmark', 0% 50%);
    background-size: contain;
    display: block;
    height: u(3rem);
    // margin: u(.5rem 1rem);
    margin: u(.75rem 1rem .25rem);
    width: calc(100% - 15rem);
    max-width: u(40rem);
  }
}

@media (min-width: $medium-screen), print {

  .disclaimer {
    float: right;
    width: calc(100% - 9rem);
  }

  .disclaimer__left {
    display: block;
    padding-left: u(1rem);
  }

  .disclaimer__right {
    float: right;
  }

  .masthead {
    @include u-background-image('seal--cropped', 0% 100%);
    border-bottom: 2px solid $neutral;
    display: block;
    background-size: u(11rem);
  }

  .site-title {
    @include u-background-image('wordmark', u(12rem) 50%);
    background-size: contain;
    display: block;
    margin: u(1rem 0 .7rem 0);
    padding-left: u(12rem);
    height: u(3.4rem);
    width: 100%;
  }

  // Mobile site title is included in the .site-nav nav element
  .site-nav .site-title {
    display: none;
  }
}

@media (min-width: $large-screen) {
  .homepage-seal {
    width: 160px;
    height: auto;
    top: u(1rem);
    left: u(3rem);
    display: block;
    position: absolute;
    z-index: $z6;

    img {
      width: 100%;
    }
  }

  .site-header {
    border-bottom: none;
    position: relative;
    z-index: $z-header;
  }

  .site-header--homepage {
    .masthead {
      background: none;
      margin-left: u(4rem);
    }

    .site-title {
      @include u-background-image('wordmark', u(16.5rem) 50%);
    }

    .site-nav__panel {
      padding-left: u(20rem);
    }
  }

  .site-title {
    width: 50%;
  }

  .utility-nav {
    display: block;
  }

  li.utility-nav__item {
    border-left: 1px solid $gray;
    margin-right: 0;
    padding: u(0 1.5rem);
    line-height: u(3.6rem);
    font-size: u(1.4rem);

    &:first-child {
      border-left: none;
    }

    button {
      color: inherit;
      font-size: inherit;
    }

    a {
      border: none;

      &:hover {
        border-bottom: 1px dotted $base;
      }
    }
  }
}

.utility-nav__search {
  padding-right: u(2rem);
  width: u(30rem);

  .tt-menu { // TODO: remove this when the typeahead filters are removed
    z-index: $z-max;
  }
}

#ie_warning {
  display:none;
  background-color: #000;
  padding: 15px;
}

#ie_warning p {
  color:#fff;
  font-size: 16px;
}

#ie_warning h2 {
  color:#fff;
}

@media screen and (-ms-high-contrast: none) {
  #ie_warning {
    display:block !important;
  }
}

@media print {
  .disclaimer {
    display: none;
  }

  .site-header {
    border-bottom: none;
  }

  .masthead {
    background: none;
  }

  .site-title {
    display: none;
  }

  .utility-nav {
    display: none;
  }

  .site-title--print {
    background-image: url('../img/print-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    height: 114px;
    width: 100%;
  }

  .homepage-seal {
    display: none;
  }
}
