// Site orientation tour
// Includes .introjs-* overrides for intro.js module

// banner
.site-orientation .banner {
  display: none;

  button {
    font-size: u(1.4rem);
    font-family: $sans-serif;
    color: $inverse;
    padding: 0;
  }

  // side second line on mobile
  .toggle span:nth-child(2) {
    display: none;
  }

  .tour__start__button {
    background-color: $primary;
    font-weight: bold;
    text-transform: uppercase;
    color: $inverse;
    margin: u(1rem 0);
    padding: u(1.2rem);
    border-radius: 3px;
    border: 1px solid transparent;

    &::after {
      background-color: $orange;
      width: 7px;
      height: 7px;
      margin: u(-.25rem 0 0 .75rem);
      border-radius: 7px;
      box-shadow: 0 0 5px $orange;
      animation: pulse 2s infinite;
      content: '\00a0';
      vertical-align: middle;
      display: inline-block;
    }

    &:hover {
      border: 1px solid $inverse;
    }
  }

  .icon--small {
    color: $inverse;
    display: inline-block;
    max-height: u(1.5rem);
    max-width: u(1.5rem);
  }

  .less,
  .more {
    font-size: u(1.3rem);
    color: $inverse;
  }

  .more {
    display: none;
  }

  @include media($med) {
    .toggle span:nth-child(2) {
      display: block;
    }

    .less,
    .more {
      font-size: u(1.4rem);
      bottom: u(1rem);
      right: u(1.5rem);
      cursor: pointer;
      position: absolute;
    }

    h2,
    .start-tour {
      font-size: u(2rem);
    }
  }
}

// tour header page links
.tour__header {
  background-color: $gray-light;
  border-bottom: 2px solid $navy;
  font-family: $sans-serif;
  padding: u(1rem);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-max;
  display: none;
  @include clearfix();

  li {
    background-color: $inverse;
    border-radius: 3px;
    border: 1px solid $gray-medium;
    padding: u(.15rem 0);
    margin-right: u(.75rem);
    min-width: 30px;
    text-align: center;
    position: relative;
    float: left;

    &:hover {
      background-color: $bright-blue;

      &::after {
        border-color: transparent transparent transparent $bright-blue;
      }
    }

    a {
      width: inherit;
      height: inherit;
      border: none;
      display: block;
    }

    &.is-active {
      background-color: $navy;
      color: $inverse;
      cursor: default;

      a {
        cursor: default;
      }

      &::after {
        border-color: transparent transparent transparent $navy;
      }
    }

    .tour__header__page--number {
      padding-right: u(.25rem);
    }

    .tour__header__page {
      display: none;
    }
  }

  .exit-tour {
    background-color: $bright-blue;
    border: none;
    border-radius: 3px;
    color: $primary;
    padding: u(.5rem 1.25rem);
    text-align: left;
    float: right;

    &:hover {
      background-color: lighten($bright-blue, 5%);
    }
  }

  .icon--inline--right {
    margin-left: u(.5rem);
    vertical-align: middle;
  }
}

@include media($med) {
  .tour__header {
    border: none;
    padding: u(1rem 2rem 1rem 4rem);

    li {
      padding: u(.5rem 1rem .5rem 2.25rem);
      margin-right: u(1rem);
      border: none;
      height: 38px;

      &:first-child {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        padding-left: u(1.75rem);

        &::before {
          border: none;
        }
      }

      &::before,
      &::after {
        width: 0;
        height: 0;
        content: '';
        border-style: solid;
        top: 0;
        position: absolute;
      }

      &::before {
        border-width: 19px 0 19px 10px;
        border-color: transparent transparent transparent $gray-light;
        left: 0;
      }

      &::after {
        border-width: 19px 0 19px 10px;
        border-color: transparent transparent transparent $inverse;
        right: -9px;
      }

      .tour__header__page {
        display: inline-block;
      }
    }

    .exit-tour {
      padding: u(.25rem 1.5rem);
      line-height: u(3.5rem);
    }
  }
}

.tour__point {
  background-color: $orange;
  width: 7px;
  height: 7px;
  margin: u(0 .25rem .15rem .25rem);
  border-radius: 7px;
  box-shadow: 0 0 5px $orange;
  animation: pulse 2s infinite;
  display: none;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.tour__point--middle {
  margin: auto;
  margin-top: u(.5rem);
}

.tour__point--left {
  top: 13px;
  left: -20px;
  position: absolute;
}

.tour__point--top-padding-med {
  top: 47px;
}

.tour__point--top-padding-lg {
  top: 62px;
}

.tour__tooltip {
  font-family: $sans-serif;
  padding: u(1.5rem);
  margin-top: u(5rem);
  border: 4px solid $gray;
  box-shadow: none;

  @include media($med) {
    margin-top: u(.5rem);
  }

  &::after,
  &::before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &::after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: $inverse;
    border-width: 8px;
    margin-left: -4px;
  }

  &::before {
    border-color: rgba(174, 176, 181, 0);
    border-bottom-color: $gray;
    border-width: 14px;
    margin-left: -10px;
  }

  &.tour__tooltip--right::before {
    margin-left: 88px;
  }

  &.tour__tooltip--right::after {
    margin-left: 94px;
  }

  .introjs-arrow {
    display: none !important;
  }

  h5 {
    font-family: $sans-serif;
    font-size: u(1.5rem);
    margin: u(0 0 .5rem 0);
  }

  .introjs-tooltiptext {
    font-size: u(1.4rem);
    line-height: u(1.6rem);
    border-bottom: 2px solid $gray-medium;
    padding-bottom: u(1.5rem);
  }

  .introjs-bullets ul {
    margin: u(.5rem 0 0 .25rem);
    display: block;

    li {
      margin-top: u(1.25rem);
    }

    a {
      border: none;
    }

    .active {
      background-color: $orange;
      box-shadow: 0 0 5px $gray;
    }
  }

  .introjs-button {
    margin-top: 0;
  }

  .introjs-prevbutton,
  .introjs-nextbutton,
  .introjs-donebutton {
    background-color: $gray;
    background-image: none;
    border: none;
    border-radius: 3px;
    margin: u(.25rem 0 0 .5rem);
    font-size: u(1.3rem);
    text-shadow: none;
    color: $base;
    padding: u(.75rem 1rem);
    display: inline-block;

    &:hover {
      background-color: $gray-medium;
    }

    .i-arrow-left {
      margin-bottom: u(-.1rem);
      margin-right: u(.7rem);
    }

    .i-arrow-right {
      margin-bottom: u(-.1rem);
      margin-left: u(.75rem);
    }
  }

  .introjs-donebutton {
    float: right;
    display: inline-block !important;
  }

  .introjs-skipbutton,
  .introjs-disabled {
    display: none;
  }
}

// end tour modal
.tour__end__curtain {
  background-color: $base;
  opacity: .75;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: $z7;
}

.tour__end__modal {
  background-color: $inverse;
  font-family: $sans-serif;
  max-width: 375px;
  padding: u(1.5rem);
  top: 30%;
  border: 4px solid $gray;
  border-radius: 3px;
  position: fixed;
  z-index: $z8;

  @include media($med) {
    left: 50%;
    margin-left: -187px;
  }

  h5 {
    font-family: $sans-serif;
    font-size: u(1.5rem);
    margin: u(0 0 .5rem 0);
  }

  p {
    font-size: u(1.4rem);
    line-height: u(1.6rem);
    margin: 0;
    padding: u(1.5rem 0);
    border-bottom: 2px solid $gray-medium;
    clear: both;
  }

  .tour__end__button {
    background-color: $gray;
    background-image: none;
    border: none;
    border-radius: 3px;
    margin: u(.5rem 0 0 0);
    font-size: u(1.3rem);
    color: $base;
    padding: u(.25rem 1rem);
    display: inline-block;
  }

  .tour__end__button--home {
    background-color: $federal-blue;
    color: $inverse;

    &:hover {
      background-color: $navy;
    }
  }

  .tour__end__button--close {
    padding: u(.75rem 1rem);
    float: right;

    &:hover {
      background-color: $gray-medium;
    }
  }
}
