// Simple table
//
// <table class="simple-table simple-table--display">
//   <thead class="simple-table__header">
//     <tr>
//       <th class="simple-table__header-cell">Dates covered</th>
//       <th class="simple-table__header-cell">Due <span class="simple-table__header-subtext">| Notes</span></th>
//     </tr>
//   </thead>
//   <tbody>
//     <tr class="simple-table__row">
//       <td class="simple-table__cell">January 1–March 31</td>
//       <td class="simple-table__cell">April 15</td>
//     </tr>
//     <tr class="simple-table__row">
//       <td class="simple-table__cell">April 1–June 30</td>
//       <td class="simple-table__cell">July 15</td>
//     </tr>
//   </tbody>
// </table>
//

.simple-table {
  border-color: $primary;
  border-style: solid;
  border-width: 2px 0;
  font-family: $sans-serif;
  margin: u(2rem 0);
}

.simple-table__header {
  border-bottom: 1px solid $primary;
  font-weight: 600;
  text-align: left;

  .simple-table__header-cell,
  th {
    padding: u(.5rem 0);
  }

  .simple-table__header-subtext {
    font-weight: normal;
  }
}

.simple-table__cell {
  padding: u(1rem);
  vertical-align: top;
}

.simple-table__row {
  border-bottom: 1px solid $neutral;

  &:last-of-type {
    border-bottom: none;
  }
}

// Table titles in content are h3, but those have bottom margins.
// This closes that gap

h3 + .simple-table {
  margin-top: u(-1rem);
}

// More padding with vertical rules and alternating background color similar to `.datatables`
.simple-table--display {
  &.simple-table {
    color: $base;
    border: none;
    margin: 0;
  }

  .simple-table__header-cell {
    padding: u(0.5rem 1rem);
  }

  .simple-table__cell {
    border-left: 1px solid $neutral;
    padding: u(1rem);

    &:first-child {
      border-left: none;
    }
  }

  .simple-table__row {
    padding: u(1rem);

    &:nth-child(even) {
      background-color: rgba($gray-lightest, .5);
    }
  }

  @include media($med) {
    // We need to restore the padding on larger screens when combined with .simple-table--responsive
    &.simple-table--responsive {
      .simple-table__cell {
        padding: u(1rem);
      }
    }
  }
}

// Table-style display
.simple-table--responsive {
  .simple-table__header-cell {
    display: none; // Hide all but the first header cell

    &:first-child {
      display: table-cell;
    }
  }

  .simple-table__cell {
    padding: 0;
  }

  .simple-table__cell,
  .simple-table__header-cell {
    border-left: none;
  }

  @include media($med) {
    & {
      border-collapse: collapse;
      display: table;
      table-layout: fixed;
      width: 100%;
    }

    .simple-table__header {
      display: table-header-group;
    }

    .simple-table__header-cell {
      display: table-cell;
    }

    .simple-table__row-group {
      display: table-row-group;
    }

    .simple-table__row {
      display: table-row;
    }

    .simple-table__cell {
      display: table-cell;
    }
  }
}

// Simple table cms
// Any table added to an html block in thr CMS will automatically have this class extended
//
// <table>
//   <thead>
//     <tr>
//       <th>Dates covered</th>
//       <th>Due <span class="simple-table-cms__header-subtext">| Notes</span></th>
//     </tr>
//   </thead>
//   <tbody>
//     <tr>
//       <td>January 1–March 31</td>
//       <td>April 15</td>
//     </tr>
//     <tr>
//       <td>April 1–June 30</td>
//       <td>July 15</td>
//     </tr>
//   </tbody>
// </table>
//

.simple-table-cms {
  border-color: $primary;
  border-style: solid;
  border-width: 2px 0;
  font-family: $sans-serif;
  margin: u(2rem 0);


  thead tr {
    border-bottom: 1px solid $primary;
    font-weight: 600;
    text-align: left;

    th {
      padding: u(.5rem 0);

      .simple-table-cms__header-subtext {
        font-weight: normal;
      }
    }
  }

  td {
    padding: u(1rem);
    vertical-align: top;
    border: 1px solid $gray-light;

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }
  }

  tr {
    border-bottom: 1px solid $neutral;

    &:nth-child(even) {
      background-color: rgba($gray-lightest, .5);
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.election-dates-table {
  tr {
    &.row_display {
      display: table-row;
    }
  }

  td {
   .th_append {
     display: none !important;
   }
  }


  tr:first-child {
  border-top: 2.3px solid $primary;
  border-bottom: 2.3px solid $primary;
  font-weight: 600;
  text-align: left;
  }

  th {
    padding: u(1rem);

  }

  a sup{
    border-bottom: 1px dotted #5b616b;
    display: inline-block;
    height: u(1.7rem);
    margin-left: u(.2rem);
  }

  td a[href^='#'], th a[href^='#'] {
    border-bottom: none;
  }

  tr.footnote_row {

    td {
      border:none !important;
      padding-bottom: u(1rem);
      &:first-child {
        border-right: 1px solid $gray-light !important;
      }
      a {
      border-bottom: 1px dotted $gray-dark;
      }
      span {
       line-height: u(1.5rem);
       font-weight: bold;
      }
    }
  }
  .ftnt_append {
    display: none !important;
  }

  /* as a necessity, we depart from mobile-first(min-width only MQs) here for these tables only*/
  @media only screen and (max-width: 650px),
  (min-device-width: 650px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
     table,  thead,  tbody,  th,  td,  tr {
      display: block;

    }

    /* Hide table headers (but not display: none;, for accessibility) */
     thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1px solid $gray;
       padding-top:2px;

      &.row_display {
      display: block !important;
      }
      &.footnote_row {
        display: none !important;
      }
      /* Hide table headers (but not display: none;, for accessibility) */
      &:first-child{
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
    }

     td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid $gray-light !important;
      position: relative;
      display: inline-block;
      width: 100%;


      .th_append {
        display: table-cell !important;
        font-weight: bold;
        min-width: u(16rem);
        float: left;
      }

    }


     tr:nth-child(even) td {
      border-bottom: 1px solid #aaa
      }

    .ftnt_append {
    display: block !important;
    padding: u(0 3rem);
    font-weight: normal;
      b {
        margin-left: u(-1.5rem);
        padding-right: u(.1rem);
      }

      .ftnt-close {
        position: absolute;
        background-size: u(1.5rem);
        top: u(3.1rem);
        right: u(0.5rem);
      }
    }
  }

}



#header_notes_modal li {
  margin-bottom: u(2rem);
  padding-left: u(2rem);
}

#header_notes_modal li b:first-of-type {
  margin-left: u(-2rem);
}

#static_notes {
  margin-top: u(2rem);

  ul {
  list-style: none;
  padding-left: u(2rem);
  }
  li {
  text-indent: u(-2rem);
  }
}

// Chart Table
// Table style used on breakdown charts
// Very similar to simple-table, but with slight differences
.chart-table {
  border-top: 2px solid $primary;
  font-family: $sans-serif;

  // For homepage barcharts
  &.chart-table-home {
    border-top: none;

    .bar-container {
      margin-left: 0;
      background: $gray-light;
    }

    .simple-table__row {
      border-bottom: 0;

      &:after {
        content: '';
        display: block;
        height: 1rem;
        border-bottom: 1px solid $gray-medium;
      }
      .simple-table__cell {
        font-weight:bold;
      }

      .simple-table__cell:nth-child(2) {
      /* $amount cell $ */
      font-weight:normal;
      }

      .t-right-aligned {
        text-align: left;
      }
    }

    .simple-table__header-cell:nth-child(2) {
      text-align: left;
    }
  }

  .simple-table__cell {
    padding: u(.5rem 0 0 0);
  }

  .value-bar {
    background-color: $gray-dark;
    height: u(2rem);

    &[data-party="DEM"], &[data-party="DFL"] {
      background-color: $blue-data;
    }

    &[data-party="REP"] {
      background-color: $red-data;
    }
  }

  & + .results-info {
    border-top-width: 1px;
  }

  @include media($med) {
    .simple-table__cell {
      padding: u(1rem 0);
      vertical-align: middle;

      // Left padding for bar cells
      &:last-of-type {
        padding-left: u(1rem);
      }
    }

    // For homepage barcharts
    &.chart-table-home {

      .bar-container {
        margin-left: u(2rem);
      }

      .simple-table__row {

        &:after {
          display: none;
        }
        .simple-table__cell {
          border-bottom: 1px solid $gray-medium;
        }
      }
    }
  }

  @include media($lg) {
    &.chart-table-home {

      .bar-container {
        margin-left: 0;
      }
    }
  }
}

// "Balance sheet" table styles
// These provide the visual sense of nested / hierarchical rows in a balance sheet
.level--1,
.level--2,
.level--3,
.level--4 {
  border-collapse: separate;

  td {
    padding: u(.5rem);
  }

  td:last-child {
    text-align: right;
  }

  @include media($lg) {
    td:first-child {
      width: 80%;
    }
  }
}

.level--1 {
  background-color: $gray;
  border-bottom: 2px solid $inverse;
  text-transform: uppercase;
  font-weight: bold;
}

.level--2 {
  background-color: $gray-light;
  border: 1px solid $gray-medium;
  font-weight: bold;
  text-transform: uppercase;

  td:first-child {
    border-right: 1px solid $gray-medium;
  }
}

.level--3 {
  border-bottom: 1px solid $gray-medium;

  td:first-child {
    border-right: 1px solid $gray-medium;
    padding-left: u(2rem);
  }
}

.level--4 {
  font-style: italic;

  td:first-child {
    border-right: 1px solid $gray-medium;
    padding-left: u(4rem);
  }
}

// For custom_table_block

.custom-table {
  box-shadow: -10px 0 20px -10px $gray-medium inset;
  overflow-x: auto;
  display: block;
  margin-bottom: u(1rem);

  table {
    @extend .simple-table;
    width: auto;
    table-layout: auto;
    line-height: 1;
  }

  th {
    @extend .simple-table__header;
    padding: u(1rem);
    text-align: left;
    border-right: 1px solid $gray-medium;
  }

  tbody th {
    border-bottom: 1px solid $neutral;
  }

  tr {
    @extend .simple-table__row;
  }

  // scss-lint:disable ImportantRule
  td {
    @extend .simple-table__cell;
    border-right: 1px solid $gray-medium;
    text-align: right;
    padding: u(1rem) !important;
  }

  td:last-child,
  th:last-child {
    border-right: none;
  }


  @include media($lg) {
    box-shadow: none;
  }
}

.block-custom_table {
  h2,
  h3,
  h4,
  h5,
  p {
    margin: u(2rem 0 0.5rem);
  }

  .custom_footnote {
    margin-bottom: u(1rem);
  }
}

// Dense table
// For tables with a lot of data that need to be condensed
.dense-table-container {
  box-shadow: -10px 0 20px -10px $gray-medium inset;
  overflow-x: scroll;

  @include media($lg) {
    box-shadow: none;
  }

}

.option__content .dense-table-container, .main__content .dense-table-container {
  box-shadow: -10px 0 20px -10px $gray-medium inset;
  overflow-x: scroll;
}

// scss-lint:disable ImportantRule
.dense-table {
  border-bottom-width: 0;
  border-top: none !important;
  table-layout: auto;

  td,
  th {
    border-bottom: 1px solid $gray-light;
    border-right: 1px solid $gray-light;
    font-size: u(1.2rem);
    line-height: 1.2;
    padding: u(.5rem);
    vertical-align: middle;
    word-wrap: break-word;
  }

  thead th {
    border-bottom: 1px solid $primary;
    padding: u(.5rem);
  }

  tbody th {
    border-right: 1px solid $primary;
  }

  th[scope="colgroup"],
  th[scope="rowgroup"] {
    text-align: center;
    background-color: $primary;
    color: $inverse;
    border-bottom: none;
    border-right: none;
  }
}

//for home barchart-full width on mobile
.breakdowns-home {
   width: 100%;
  }