{% macro checkbox(name, value, label, prefix='') %}
<li class="dropdown__item">
  <input id="{{ name }}-{{ clean_id(value) }}" data-prefix="{{ prefix }}" name="{{ name }}" type="checkbox" value="{{ value }}">
  <label class="dropdown__value" for="{{ name }}-{{ value }}">{{ label }}</label>
</li>
{% endmacro %}

{% macro checkbox_list(name, options, prefix='', css_class='dropdown__list') %}
<ul class="{{ css_class }}">
{% for value, label in options.items() %}
  {{ checkbox(name, value, label, prefix) }}
{% endfor %}
</ul>
{% endmacro %}

{% macro checkbox_options(name, options, prefix='') %}
<div class="dropdown">
  <button type="button" class="dropdown__button button--alt" data-name="{{ name }}">More</button>
  <div class="dropdown__panel{% if options.items()|length > 11%} dropdown-scrolling{% endif %}" aria-hidden="true">
    <div class="dropdown__content">
      {{ checkbox_list(name, options, prefix) }}
    </div>
  </div>
</div>
{% endmacro %}

{% macro checkbox_dropdown(id_suffix, name, label, selected={}, options={}) %}
<div class="filter">
  <fieldset class="js-dropdown js-filter" data-filter="checkbox">
    <legend class="label">{{ label }}</legend>
    {{ checkbox_list(name, selected, css_class='dropdown__selected') }}
    {% if options %}
    {{ checkbox_options(name, options,) }}
    {% endif %}
  </fieldset>
</div>
{% endmacro %}

<!-- Used when there are multiple dropdowns within a single filter -->
{% macro checkbox_dropdown_multiple(name, label, selected={}, options={}, legend=True, prefix='', show_tooltip_text='') %}
<div class="filter" data-filter="checkbox">
  <div class="js-dropdown">
    {% if legend and show_tooltip_text == '' %}
    <span for="{{ name }}" class="label">{{ label }}</span>
    {% elif show_tooltip_text != '' %}
    <label for="{{ name }}" class="label t-inline-block">{{ label }}</label>
    <div class="tooltip__container">
      <button class="tooltip__trigger"><span class="u-visually-hidden">Learn more</span></button>
      <div class="tooltip tooltip--left tooltip--above">
        <p class="tooltip__content tooltip__content">{{ show_tooltip_text }}</p>
      </div>
    </div>
    {% else %}
    <label for="{{ name }}">{{ label }}</label>
    {% endif %}
    {{ checkbox_list(name, selected, prefix, css_class='dropdown__selected') }}
    {% if options %}
    {{ checkbox_options(name, options, prefix) }}
    {% endif %}
  </div>
</div>
{% endmacro %}
