{% macro field(name='name', id_suffix='', minor_label_text=False, helper_text=False, restricted_field=False) %}
<div class="filter{% if helper_text %} restricted-fields{% endif %}">
  <fieldset class="js-dropdown js-filter" data-filter="checkbox">
    {% if minor_label_text %}
      <label for="state">State or Territory</label>
    {% else %}
      <legend class="label" for="state">State or Territory</legend>
    {% endif %}
    {% if helper_text %}
      <label class="label--help u-margin--top">{{ helper_text }}</label>
    {% endif %}
    <ul class="dropdown__selected"></ul>
    <div class="dropdown">
      <button type="button" class="dropdown__button button--alt" data-name="{{ name }}">More</button>
      <div id="state-dropdown{{id_suffix}}" class="dropdown__panel dropdown-scrolling" aria-hidden="true">
        <div class="dropdown__content">
          <ul class="dropdown__list">
            {% for state in constants.contributor_states.items() %}
              <li class="dropdown__item">
                <input name="{{ name }}" id="state-checkbox-{{state[0]}}{{id_suffix}}" type="checkbox" value="{{ state[0] }}">
                <label class="dropdown__value" for="state-checkbox-{{ state[0] }}{{id_suffix}}">{{ state[1] }}</label>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </fieldset>
</div>
{% endmacro %}
