{% macro dropdown(name='district') %}

<div class="filter">
  <fieldset class="js-dropdown js-filter" data-filter="checkbox">
    <legend class="label" for={{ name }}><span class="term" data-term="District">District</span></legend>
    <ul class="dropdown__selected"></ul>
    <div class="dropdown">
      <button type="button" class="dropdown__button button--alt" data-name="{{ name }}">More</button>
      <div id="district-dropdown" class="dropdown__panel" aria-hidden="true">
        <ul class="dropdown__list">
            {% for district in range(100) %}
            {% with formatted = '{0:02d}'.format(district) %}
              <li class="dropdown__item">
                <input id="district-checkbox-{{ formatted }}" name={{ name }} type="checkbox" value="{{ formatted }}">
                <label class="dropdown__value" for="district-checkbox-{{ formatted }}">{{ formatted }}</label>
              </li>
            {% endwith %}
            {% endfor %}
        </ul>
      </div>
    </div>
  </fieldset>
</div>

{% endmacro %}
