{% macro select_json(name, label, keys, options={}, default=none) %}
<div class="filter js-filter js-filter-control" data-filter="select"
data-validate="false" data-modifies-filter="{{ name }}" data-required-default="{{ default }}">
  <label for="{{ name }}" class="label">{{ label }}</label>
  <select id={{ name }} name="{{ name }}">
    {% for option in options %}
      <option value={{option[keys[0]]}}>{{ option[keys[1]] }}</option>
    {% endfor %}
  </select>
</div>
{% endmacro %}


{% macro select_json_indentation(name, label, keys, options={}, default=none) %}
<div class="filter js-filter js-filter-control sub--filter--indent" data-filter="select" 
data-validate="false" data-modifies-filter="{{ name }}" data-required-default="{{ default }}">
  <label for="{{ name }}" class="label">{{ label }}</label>
  <select id={{ name }} name="{{ name }}">
    {% for option in options %}
      <option value={{option[keys[0]]}}>{{ option[keys[1]] }}</option>
    {% endfor %}
  </select>
</div>
{% endmacro %}

{#
  @param {string} name - Used in <label for="{name}"><input id="{name}" name="{name}"
  @param {string} label - Used in <label>{label}</label> and <label>Limit 1 {label}</label>
  @param {list} options[] - The data used for <optgroup label="{}">
  @param {list} options[][] - The data used for <optgroup><option value="{}" data-line-type="{}">{}</option>
  @param {*} [default=none] - unused
  @param {*} [selected={}] - unused
  @param {string} [title_prefix=''] - Used in <optgroup label="{title_prefix} …">
  @param {list} [forms=[]] - Used in <optgroup label="… {forms[loop.index-1]}"></optgroup>
#}
{% macro select_single(name, label, options={}, default=none, selected={}, title_prefix='', forms=[]) %}
<div class="filter js-filter js-filter-control"  data-filter="select" data-name="{{ name }}" data-validate="false" data-modifies-filter="{{ name }}">
  <label for="{{ name }}" class="label">{{ label }}</label>
  <label class="label--help u-margin--top">Limit 1 {{ label | lower }}</label>
  <select id={{ name }} name="{{ name }}" data-filter-change="true" data-removeable-filter="true">
    <option value=''>More</option>
    {% for title, val in options.items() %}
    <optgroup label="{{ title_prefix }} {{ title }} {%if forms %}({{ forms[loop.index-1] }}){% endif %}">
       {% for value, label in val.items() %}
          <option value={{value}} data-line-type="{{ title }}">{{ label }}</option>
      {% endfor %}
    {% endfor %}
    </optgroup>
  </select>
</div>
{% endmacro %}

{#
  @param {string} name - Used in <label for="{name}"><input id="{name}" name="{name}"
  @param {string} label - Used in <label>{label}</label> and <label>Limit 1 {label}</label>
  @param {list} options[] - The data used for <option value="{}">{}</option>
#}
{% macro select_single_flat_list(name, label, options={}) %}
<div class="filter js-filter js-filter-control"  data-filter="select" data-name="{{ name }}" data-validate="false" data-modifies-filter="{{ name }}">
  <label for="{{ name }}" class="label">{{ label }}</label>
  <label class="label--help u-margin--top">Limit 1 {{ label | lower }}</label>
  <select id={{ name }} name="{{ name }}" data-filter-change="true" data-removeable-filter="true" class="dropdown">
    <option value=''>More</option>
    {% for itemValue, itemLabel in options.items() %}
      <option value={{itemValue}} data-line-type="">{{ itemLabel }}</option>
    {% endfor %}
    </optgroup>
  </select>
</div>
{% endmacro %}
