{% macro checkbox(id_suffix='', name='office') %}

<div class="filter">
    <fieldset class="js-filter" data-filter="checkbox">
      <legend class="label" for="{{ name }}">Office Sought</legend>
      <ul>
        <li>
          <input id="cycle-checkbox-p{{id_suffix}}" name="{{ name }}" type="checkbox" value="P">
          <label for="cycle-checkbox-p{{id_suffix}}">President</label>
        </li>
        <li>
          <input id="cycle-checkbox-s{{id_suffix}}" name="{{ name }}" type="checkbox" value="S">
          <label for="cycle-checkbox-s{{id_suffix}}">Senate</label>
        </li>
        <li>
          <input id="cycle-checkbox-h{{id_suffix}}" name="{{ name }}" type="checkbox" value="H">
          <label for="cycle-checkbox-h{{id_suffix}}">House</label>
        </li>
      </ul>
    </fieldset>
</div>

{% endmacro %}
