{% macro version(id_suffix, methodology, helper_text=False) %}
<div class="filter">
  <fieldset class="js-filter" id="version{{ id_suffix }}" data-filter="checkbox">
    <legend class="label">Version</legend>
    {% if helper_text %}
      <label class="label--help u-margin--top">{{ helper_text }}</label>
    {% endif %}
    <ul>
      <li>
        <input id="most_recent_true{{ id_suffix }}" name="most_recent" type="checkbox" value="true">
        <label for="most_recent_true{{ id_suffix }}">Current version</label>
      </li>
      {% if methodology %}
        <button class="button--keywords js-methodology" data-a11y-dialog-show="version-methodology-modal{{ id_suffix }}">Version methodology</button>
        <div class="js-modal modal" id="version-methodology-modal{{ id_suffix }}" aria-hidden="true">
          <div tabindex="-1" class="modal__overlay" data-a11y-dialog-hide=""></div>
          <div role="dialog" class="modal__content" aria-labelledby="version-methodology-modal-title{{ id_suffix }}">
            <div role="document">
                <button type="button" class="modal__close button--close--primary" data-a11y-dialog-hide="" title="Close this dialog window"></button>
                <h2 id="version-methodology-modal-title">Version methodology</h2>
                <p>The following version indicators and transaction codes are assigned to each 24- and 48-Hour Independent Expenditure Report and to the transactions contained in that report.</p>
                <p><strong>Current version:</strong> Represents the most recent version of a filer's independent expenditure report. Transactions contained in the current version of the report are indicated with "t" in Column BS in the processed data export file and Column AX in the raw data export file.</p>
                <p><strong>Past version:</strong> Represents a previous version of a filer's independent expenditure report after a subsequent amended report has been filed. Transactions contained in the past version of the report are indicated with "f" in Column BS in the processed data export file and Column AX in the raw data export file.</p>
                <p><strong>Unknown version:</strong> Represents a filing that did not identify whether it was a new or amended version. For example, this may occur when filers attempt to amend their original report but inadvertently submit the amendment as a new filing or submit a new filing as an amendment. Transactions contained in the unknown version of the report are indicated with a null value in Column BS in the processed data export file and Column AX in the raw data export file.</p>
                <h3>Using the version filter</h3> 
                <p><strong>For processed 24- and 48-hour reports, raw 24- and 48-hour reports, raw regularly scheduled reports:</strong> 
                <p>When you filter by current and unknown versions, the website will display "current" and "unknown" versions of independent expenditure transactions. This can include original and amended filings. Users must make judgments on any transactions with the version category "unknown" that are presented in the data set.</p>
                <p>When you don't filter by current and unknown versions, the website will display all versions, current, past and unknown, of independent expenditure transactions. Transactions reported on all original and all amended filings will be displayed. Users must make judgments on any transactions with the version category "unknown" that are presented in the data set.</p>
                <p><strong>For processed regularly scheduled reports:</strong></p>
                <p>This data does not have versioning information associated with it. All transactions are shown as the current version and are indicated with "t" in Column BS in the processed data export file.</p>
            </div>
          </div>
        </div>
      {% endif %}
    </ul>
  </fieldset>
</div>
{% endmacro %}

{% macro status(id_suffix) %}
<div class="filter">
  <fieldset class="js-filter" data-filter="checkbox">
    <legend class="label">Document status</legend>
    <ul>
      <li>
        <input id="amendment_indicator_original{{ id_suffix }}" name="amendment_indicator" type="checkbox" value="N">
        <label for="amendment_indicator_original{{ id_suffix }}">Original</label>
      </li>
      <li>
        <input id="amendment_indicator_amendment{{ id_suffix }}" name="amendment_indicator" type="checkbox" value="A">
        <label for="amendment_indicator_amendment{{ id_suffix }}">Amendment</label>
      </li>
    </ul>
  </fieldset>
</div>
{% endmacro %}
