{% import 'macros/cycle-select.jinja' as select %}

<section id="section-3" role="tabpanel" aria-hidden="true" aria-labelledby="section-3-heading">
  <h2 id="section-3-heading">Raising</h2>

  <div class="slab slab--inline slab--neutral u-padding--left u-padding--right">

    {{ select.two_year_select(cycles, cycle, id="cycle-5", election_full="false") }}

    {% if committee_groups['P'] or committee_groups['A']%}
      <span class="t-sans t-bold">Data is included from these committees:</span>

      <ul class="list--bulleted">
        {% for committee in committee_groups['P'] | reverse %}
        <li>
          <a class="t-sans" href="/data/committee/{{ committee.committee_id }}/?cycle={{ cycle }}">{{ committee.name }}</a>
        </li>
        {% endfor %}
        {% for committee in committee_groups['A'] | reverse %}
        <li>
          <a class="t-sans" href="/data/committee/{{ committee.committee_id }}/?cycle={{ cycle }}">{{ committee.name }}</a>
        </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if two_year_totals %}
      {% if two_year_totals.transaction_coverage_date is not none %}
        {% set transaction_end = two_year_totals.transaction_coverage_date %}
      {% else %}
        {% set transaction_end = two_year_totals.coverage_end_date %}
      {% endif %}
    <div id="total-receipts" class="entity__figure row">
      <div class="content__section">
        <div class="heading--section heading--with-action">
          <h3 class="heading__left">Total receipts</h3>
          <a class="heading__right button--alt button--browse"
              href="/data/receipts/?two_year_transaction_period={{ cycle }}{% for id in committee_ids %}&committee_id={{ id }}{% endfor %}">Filter all receipts</a>
        </div>
        <div class="content__section--narrow">
          <div class="row u-margin-bottom">
            <div class="usa-width-one-half">
              <span class="t-big-data">{{ two_year_totals['receipts']|currency }}</span>
            </div>
          </div>
          <div class="row">
            <span class="usa-width-one-half t-block t-sans">raised in total receipts by this candidate's authorized committees from <strong>{{two_year_totals.coverage_start_date|date_full}} to {{two_year_totals.coverage_end_date|date_full}}.</strong></span>
            <div class="usa-width-one-half">
              <span class="t-block t-sans">See the <a href="?tab=summary">financial summary</a> for a breakdown of each type of receipt.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <div id="individual-contribution-transactions" class="entity__figure row">
      <div class="content__section">
        <div class="heading--section heading--with-action">
          <h3 class="heading__left">Individual contributions</h3>
          <a class="heading__right button--alt button--browse"
              href="/data/receipts/individual-contributions/?two_year_transaction_period={{ cycle }}&{% for id in committee_ids %}&committee_id={{ id }}{% endfor %}">Filter this data</a>
          </div>
        <div class="row">
          <fieldset class="toggles js-toggles">
            <legend class="label">Group by:</legend>
            <label for="toggle-all">
              <input id="toggle-all" type="radio" class="js-panel-toggle-control" name="individual-contributions" value="all-transactions" checked>
              <span class="button--alt">All transactions</span>
            </label>
            <label for="toggle-state">
              <input id="toggle-state" type="radio" class="js-panel-toggle-control" name="individual-contributions" value="contributor-state">
              <span class="button--alt">State</span>
            </label>
            <label for="toggle-size">
              <input id="toggle-size" type="radio" class="js-panel-toggle-control" name="individual-contributions" value="contribution-size">
              <span class="button--alt">Size</span>
            </label>
          </fieldset>
        </div>

        <div id="contributor-state" class="panel-toggle-element" aria-hidden="true">
          <div class="results-info results-info--simple">
            <div class="tag__category">
              <div class="tag__item">Coverage dates: {{two_year_totals.coverage_start_date|date}} to {{transaction_end|date}}</div>
            </div>
          </div>
          <div class="map-table">
            <table
                class="data-table data-table--heading-borders"
                data-type="contributor-state"
                data-cycle="{{ cycle }}"
              >
              <thead>
                <th scope="col">State</th>
                <th scope="col">Total contributed</th>
              </thead>
            </table>
          </div>

          <div class="map-panel">
            <div class="state-map" data-candidate-id="{{ candidate_id }}" data-cycle="{{ cycle }}">
              <div class="legend-container">
                <span class="t-sans t-block">By state: total amount received</span>
                <svg></svg>
              </div>
            </div>
          </div>

        </div>

        <div id="contribution-size" class="panel-toggle-element" aria-hidden="true">
          <div class="results-info results-info--simple">
            <div class="tag__category">
              <div class="tag__item">Coverage dates: {{two_year_totals.coverage_start_date|date}} to {{transaction_end|date}}</div>
            </div>
          </div>
          <table
             class="data-table data-table--heading-borders"
             data-type="contribution-size"
             data-cycle="{{ cycle }}">
            <thead>
              <th scope="col">Contribution size</th>
              <th scope="col">Total contributed</th>
            </thead>
          </table>
        </div>

        <div id="all-transactions" class="panel-toggle-element">
          <div class="results-info results-info--simple">
            <div class="u-float-left tag__category">
              <div class="tag__item">Coverage dates: {{two_year_totals.coverage_start_date|date}} to {{transaction_end|date}}</div>
            </div>
            <div class="u-float-right">
              <div class="message message--info message--mini t-left-aligned data-container__message" data-export-message-for="individual-contributions" aria-hidden="true">
              </div>
              <button type="button" class="js-export button button--cta button--export" data-export-for="individual-contributions">Export</button>
            </div>
          </div>

          <table
              class="data-table data-table--heading-borders"
              data-type="individual-contributions"
              data-candidate-id="{{ candidate_id }}"
              data-committee-id="{% for c in committee_groups['P'] | reverse %}{{ c.committee_id }},{% endfor %}{% for c in committee_groups['A'] | reverse %}{{ c.committee_id }},{% endfor %}"
              data-name="{{ name }}"
              data-cycle="{{ cycle }}"
              data-duration="2"
            >
            <thead>
              <tr>
                <th scope="col">Contributor name</th>
                <th scope="col">Recipient</th>
                <th scope="col">Receipt date</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
