{
  /**
  // There's another .eslintrc file that extends this one specifically for tests.
  // It's at /fec/fec/tests/.eslintrc
  */
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "globals": {
    "document": true,
    "window": true,
    "context": true,
    "require": true,
    "module": true,
    "setTimeout": true,
    "clearTimeout": true,
    "ga": true,
    "grecaptcha": true,
    "navigator": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-useless-escape": [0],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/prop-types": "off",
    "semi": [ "error", "always" ]
  },
  "parser": "babel-eslint",
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "version": "16"
    }
  }
}
