{
  /**
  // There's another .eslintrc file that extends this one specifically for tests.
  // It's at /fec/fec/tests/.eslintrc
  */
  "env": {
    "browser": true,
    "es6": true,
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/recommended"
  ],
  "globals": {
    "document": true,
    "window": true,
    "context": true,
    "require": true,
    "module": true,
    "setTimeout": true,
    "clearTimeout": true,
    "ga": true,
    "grecaptcha": true,
    "navigator": true
  },
  "rules": {
    "array-bracket-spacing": ["error", "never", { "objectsInArrays": false }],
    "comma-dangle": ["error", "never"],
    "eol-last": ["error", "always"],
    // "eqeqeq": ["warn", "smart"],
    "jsx-quotes": ["error", "prefer-double"],
    "key-spacing": [2, {
      "singleLine": { "beforeColon": false },
      "multiLine": { "beforeColon": false }
    }],
    "max-len": ["error", {
      "code": 200,
      "comments": 250,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "no-console": "error",
    "no-empty-function": "error",
    "no-lone-blocks": "error",
    "no-useless-escape": [0],
    "no-multi-spaces": "error",
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }],
    "no-tabs": "error",
    "no-trailing-spaces": "error",
    // "no-unreachable-loop": "error",
    "no-whitespace-before-property": "error",
    "object-curly-spacing": ["error", "always", { "arraysInObjects": true, "objectsInObjects": true } ],
    "quote-props": ["error", "as-needed", { "numbers": true }],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/prop-types": "off",
    "semi": [ "error", "always" ],
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", ["parent", "sibling"]],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  },
  "overrides": [{
    "files": ["/fec/fec/static/tests/js/*.js"],
    "rules": {
      "sort-imports": "off",
      "import/order": ["off"]
    }
  }],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "plugins": [
    "react",
    "import"
  ],
  "settings": {
    "react": {
      "version": "16"
    }
  }
}
