{
  "globals": {
    "document": true,
    "window": true,
    "context": true,
    "require": true,
    "module": true,
    "setTimeout": true,
    "clearTimeout": true,
    "ga": true,
    "grecaptcha": true,
    "navigator": true
  },
  "extends": [
    "plugin:prettier/recommended",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-useless-escape": [0],
    "prettier/prettier": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  },
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "plugins": [
    "prettier",
    "react"
  ],
  "settings": {
    "react": {
      "version": "16"
    }
  }
}
