coverage

*.sqlite3
node_modules
bower_components
/fec/static
/fec/dist
local.py

*.py[cod]
.cache
.env

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
bower_components

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
coverage.xml
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
README.html

_sandbox

.cfmeta
npm-debug.log

.DS_Store

# Image uploads
fec/media/

# Data import files
fec/data_loader/data/**/*.json

fec/media

# PyCharm
.idea

# Parsing output
fec/data_loader/management/commands/meetings--*.json
fec/data_loader/management/commands/out/*.html
