language: python

sudo: false

cache: false

python:
  - "3.5"

addons:
  postgresql: "9.4"

env:
  global:
    - secure: "V9KId87Z9Rwj4vojTlEjrsnItu95Qwrh3EqA5puQEIrxF6U5LdzGRX4Q5M6OD84s9e9sM5PW1k5maFaQIIP4NmyBiP4K5LYOruYoTIxYO+ZR5PfCB2Q2i8WQUJH3UF50ZPfjOJBrFnaB6RYyY1sKmimCISNfmA/7gMuSUZWppQwIb5xtOoZe7PPSfqkblFfcAwBcurHDEQtJJN3vb0e7NK2MfA/7HALkEoiIgeo52vMYpSkCdgumN+baSK47H3eLXLcUjMlDpUO1HF4fMZYFbG4etYp0pTZ4d/sd9JqxLoEsIzq2hFEXGSL9Y8Ooy+s3gu4NoU9DPVRRD/e3lJmtu3FImg22pRUAZk2yOQcZsWKrk2fgNHXwCuNPzSYpSzwEXck//uWd/nF0I/rzolqP9xsw+eSw47NHOL4cRgqY+lUNXxPfpxrMgXahrBeWYzrbr3GGI8v2f9rlc4ActckwpTEifzGjYLYOcFuJON23kNRkALQ16ZR/91knL3C2En4yM+Iphb4iB6vwFeyqrlt5MBipMxD9diGw34dkIwcdD5LihAy++ovpT96MP/LpWZLJ15ccFJ5/VMeI0FT0kkhAEnS1r0bG6HhWSyD02/nuA8Xg2TmBcI4HH+c+6EGfRIJwoA4G9sMKVwyVUeIz6uBSXlv3/utR9Wk/HsDLP/e0nlw=" # FEC_CF_USERNAME
    - secure: "mnxGMega91FDiwqpzcHaMmh6V31NKn3a58ba7zM5eB7XYVF/Z0vQKRi5C6r33pYi/NCgFO8buOvP0aQsLaQf4YulNWD/kRBljWVcVcqUUWkV+uM21RL9nNXquYhZ9TBXsIFe9gbWelSzdGEdx/5e7LkLadfmBEXe9caoEMinKLn1rhDiRODQnJXohcVt3y6oNYBd9+/MWeJoj2W8pygrQ4oRyFNZA2nAz6xpSmdLRWejMAnl249fR4tI2bI39sAK5wf9pyDspYBYLuWjRBGeqpaGLm0mQsaTfrp3ddXKNrIwHbnsMuWEhYJ49iqd4x5arC0SvmuH0GyJnzLhuwHiBH0xS18uWnWoT2l67pwP01uJMJF6fe2BFxVp6W6gGJQYu8X/54J8786KDdtEN7nygN3lqMBdxRZ7grbsUUZ9RB4ptAHcR8+WDRI4+lYZ1NRUJanu0SpS8dJ+5EESPS2jgqNDXyv+3qRSWhbRRGArJbJ2L45xn+ti2ds0bFVLrLB0i/G7N4ZWSxTfL3dTNFXgZtfm5erRMv2wbeFwNjthIqY9Nd8KvF21GimLouU7jHhB1yAJw58rN8zAqCNWHI2aY2ae6prMOcJLFmOUFdVePd3+ZfdYoZWPMIkzmcf9RMzT+hYZ9Q+BElC73tYATKpp8z7Y17U1zO4pXVZ4ItARd6A=" # FEC_CF_PASSWORD
    - secure: "rLuzE+/3WVxra5ssD9MdVqTsuVcRc0PpOrc4FayueQ9y/CcjXuxFtU9NpS88DDwAyGc/7wCPLmRKAzsNTMgDjfHkKXa8VfhI9zZ7HOEI1suVJakkJFXTwajH1X+ACDICoQocrmuOesIMrlAm1qhrSnxHLZuIZ5y3qEGPaSvCMa9JPX9U8huJuhwukxiunpeoApeJclRK7HjLhrAIZVuBNZnyNjiqmNFXPFdGbpcdUGsqNrZQGZa9vlED2dXmqqsIhL7/ghR1sSvIzjVBEi2Ig9wu1QWO5LuAzgO6wIfuOh1gbQ1Z24bYLTeugApwI2eNRe5Rn7F+RXVCYbjetj/0twIXKr6NkSgaLt1c+2b7yIOLRpRl0kpahZc+TsQ3ja03UelpXhH8c0De+6sUvmofs39RgdMSjYBcaY5hDl1b5oZOcZDhQYYAiFUJ3CKIM82WgvTD/phcarf9e0lbrVFIK17P/QixUPAKUS+IfS53r10QO1DTN+0vpLcUh659u8gLxHlbTVkGPfuWRXVhPCmSlHZXqM22gVois5ch97FEm7sgLlJP5hHg1q+utvXV4YDM0m+5SicjGeTyh7ZNszBiMuCu9Na5NaUyhb3XS8niLPwXUzNKcUs0NXckakpqBxstAE4Zyqf3HmmzFQCNvdrFnk6fuRXo1nxtRi1K3N/zf4k=" # DJANGO_SECRET_KEY this is a random key unrelated to prod but needed for django to run build commands with production settings

before_install:
  - travis_retry pip install -U pip setuptools wheel

before_script:
  - psql -c 'create database "cfdm_cms_unit_test";' -U postgres
  - travis_retry pip install -r requirements.txt
  - travis_retry pip install coverage django_coverage_plugin

  - . $HOME/.nvm/nvm.sh
  - nvm install v5.5.0
  - nvm use v5.5.0

  - travis_retry npm install
  - npm run build

script:
  - DATABASE_URL='postgresql://:@/cfdm_cms_unit_test' (cd fec && coverage run ./manage.py test)
  - npm run test-single

after_success:
  - travis_retry pip install codecov
  # Collect the Python coverage as XML in advance since it needs to run inside
  # the fec dir.
  - (cd fec && coverage xml)
  # Run codecov outside fec dir to include coverage/coverage.json from JS
  # testing, and disable it from running `coverage xml` since that's already
  # done.
  - codecov -X pycov

before_deploy:
  - export PATH=$HOME:$PATH
  - travis_retry curl -L -o $HOME/cf.tgz "https://cli.run.pivotal.io/stable?release=linux64-binary&version=6.22.2"
  - tar xzvf $HOME/cf.tgz -C $HOME
  - travis_retry cf install-plugin autopilot -f -r CF-Community
  - npm run build
  - DJANGO_SETTINGS_MODULE='fec.settings.production' python fec/manage.py collectstatic --noinput -v 0
  - DJANGO_SETTINGS_MODULE='fec.settings.production' python fec/manage.py compress -v 0

deploy:
  provider: script
  skip_cleanup: true
  script: invoke deploy --branch $TRAVIS_BRANCH --yes
  on:
    all_branches: true
