language: node_js
node_js: "0.12"

sudo: false

before_script:
  - travis_retry npm install codecov.io

script:
  - (cd fec && gulp build-js)
  - npm run test-single

after_success:
  - cat ./coverage/coverage.json | ./node_modules/codecov.io/bin/codecov.io.js
