Django>=1.8,<1.9
dj-database-url==0.3.0
django-libsass==0.3
gunicorn==19.3.0
psycopg2==2.6.1
wagtail==1.0
whitenoise==2.0.3

git+https://github.com/jmcarp/hmac_authentication_py.git@respect-script-name
