{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load filters %}
{% load staticfiles %}
{% load updates %}
{% load home_page %}


{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block extra_js %}
  <script>
    TOUR_PAGE = 'candidate-committee-services';
  </script>
{% endblock extra_js %}

{% block content %}
<section class="hero hero--secondary hero--services" aria-labelledby="hero-heading">
  <div class="hero__image"></div>
  <div class="container">
    <h1 id="hero-heading">{{ self.title }}
      <div class="tour__point tour__point--left tour__point--top-padding-med" data-intro="<h5>Everything in one place</h5>From first steps in starting a committee all the way to shutting down operations, learn how groups can be active in federal elections while staying in compliance with legal requirements."></div>
    </h1>
    <div class="hero__content">{{ self.hero }}</div>
  </div>
</section>

<div class="container main">
  <div class="container">
    <h2>Guides</h2>
    <div class="grid grid--4-wide">
      <div class="grid__item">
        <a href="/help-candidates-and-committees/candidates-and-their-authorized-committees-guide">
          <aside class="card card--horizontal card--secondary">
            <div class="card__image__container">
                <span class="card__icon i-notebook"><span class="u-visually-hidden">Icon representing a question</span></span>
            </div>
            <div class="card__content">
              Candidates and their authorized committees
            </div>
          </aside>
        </a>
      </div>
      <div class="grid__item">
        <a href="/help-candidates-and-committees/political-party-committees-guide">
          <aside class="card card--horizontal card--secondary">
            <div class="card__image__container">
              <span class="card__icon i-notebook"><span class="u-visually-hidden">Icon of a training screen</span></span>
            </div>
            <div class="card__content">
                Political party committees
            </div>
          </aside>
        </a>
      </div>
      <div class="grid__item">
        <a href="/help-candidates-and-committees/corporations-and-labor-organizations-guide">
          <aside class="card card--horizontal card--secondary">
            <div class="card__image__container">
              <span class="card__icon i-notebook"><span class="u-visually-hidden">Icon of a candidate</span></span>
            </div>
            <div class="card__content">
                Corporations and labor organizations
            </div>
          </aside>
        </a>
      </div>
      <div class="grid__item">
        <a href="/help-candidates-and-committees/political-action-committees-guide">
          <aside class="card card--horizontal card--secondary">
            <div class="card__image__container">
              <span class="card__icon i-notebook"><span class="u-visually-hidden">Icon of a candidate</span></span>
            </div>
            <div class="card__content">
                Political action committees (PACs)
            </div>
          </aside>
        </a>
      </div>
    </div>
  </div>
  <div class="option u-margin—top">
    <h2>Popular topics</h2>
    <div class="grid grid--2-wide">
      <div class="grid__item">
      <img src="/static//img/tips.gif" alt="" />
      <div class="t-lead">
      <a href="/help-candidates-and-committees/candidate-taking-receipts/contribution-limits-candidates/">Contribution limits</a>
      </div>
      <p>Under the Federal Election Campaign Finance Act, contributions are subject to limits. Those limits differ depending on the type of donor and recipient.</p>
      </div>
      <div class="grid__item">
        <div class="heading--section heading--with-action">
          <h3 class="heading__left">Tips for treasurers</h3>
          <a class="button button--updates heading__right" href="/updates/?update_type=tips-for-treasurers">All tips</a>
         </div>
            {% tips_for_treasurers_feed %}
      </div>
    </div>
  </div>
  <ul class="grid grid--4-wide">
    <li class="grid__item">
      <img src=/static/img/list.png />
      <div class="t-lead t-sans">
        <a href="/help-candidates-and-committees/filing-reports/electronic-filing/">Electronic filing information</a>
      </div>
    </li>
    <li class="grid__item">
      <img src=/static/img/form.png />
      <div class="t-lead t-sans">
        <a href="/help-candidates-and-committees/forms">Forms</a>
      </div>
      <p>All FEC registration reporting and forms</p>
    </li>
    <li class="grid__item" >
      <img src=/static/img/cal.png />
      <div class="t-lead t-sans">
        <a href="/help-candidates-and-committees/dates-and-deadlines">Dates and deadlines</a>
      </div>
      <p>All FEC reporting deadlines, reporting periods and compliance periods</p>
    </li>
    <li class="grid__item">
      <img src=/static/img/peeps.png />
      <div class="t-lead t-sans">
        <a href="/info/outreach.shtml">Education and learning</a>
      </div>
      <p>Videos, trainings, webinars and conferences</p>
    </li>
   </ul>
</div>
 <section class="slab slab--neutral">
  <div class="container">
    <h2>You might also like</h2>
    <div class="grid grid--{{ self.you_might_also_like| length }}-wide">
    {% for block in self.you_might_also_like %}
      <div class="grid__item">
        <div class="example--primary">
          <h4 class="example__title">{{ block.value.section_title }}</h4>
          <ul class="t-sans">
           {% for subblock in block.value.links %}
            <li><a href="{{ subblock.bound_blocks.link_url }}">{{ subblock.bound_blocks.link_text }}</a></li>
           {% endfor %}
          </ul>
         </div>
        </div>
       {% endfor %}
      </div>
    </div>
  </div>
 </section>

 {% include 'partials/disclaimer.html' %}

{% endblock %}
