{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load filters %}
{% load staticfiles %}
{% load updates %}
{% load tips_for_treasurers %}

{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}
<section class="hero hero--secondary hero--services" aria-labelledby="hero-heading">
  <div class="hero__image"></div>
  <div class="container">
    <h1 id="hero-heading">{{ self.title }}</h1>
    <div class="hero__content">{{ self.hero }}</div>
  </div>
</section>
<div class="container main">
  <div class="container">
    <h2>Guides</h2>
    <div class="grid grid--4-wide">
      <div class="grid__item">
        <a href="/help-candidates-and-committees/guides/?tab=candidates-and-their-authorized-committees">
          <aside class="card card--horizontal card--secondary">
            <div class="card__image__container">
              <span class="card__icon i-notebook"><span class="u-visually-hidden">Icon representing a notebook</span></span>
            </div>
            <div class="card__content">
              Candidates and their authorized committees
            </div>
          </aside>
        </a>
      </div>
      <div class="grid__item">
        <a href="/help-candidates-and-committees/guides/?tab=political-party-committees">
          <aside class="card card--horizontal card--secondary">
            <div class="card__image__container">
              <span class="card__icon i-notebook"><span class="u-visually-hidden">Icon of a training screen</span></span>
            </div>
            <div class="card__content">
              Political party committees
            </div>
          </aside>
        </a>
      </div>
      <div class="grid__item">
        <a href="/help-candidates-and-committees/guides/?tab=corporations-and-labor-organizations">
          <aside class="card card--horizontal card--secondary">
            <div class="card__image__container">
              <span class="card__icon i-notebook"><span class="u-visually-hidden">Icon of a candidate</span></span>
            </div>
            <div class="card__content">
              Corporations and labor organizations
            </div>
          </aside>
        </a>
      </div>
      <div class="grid__item">
        <a href="/help-candidates-and-committees/guides/?tab=political-action-committees">
          <aside class="card card--horizontal card--secondary">
            <div class="card__image__container">
              <span class="card__icon i-notebook"><span class="u-visually-hidden">Icon of a candidate</span></span>
            </div>
            <div class="card__content">
              Political action committees (PACs)
            </div>
          </aside>
        </a>
      </div>
    </div>
  </div>
  <div class="option u-margin—top">
    <h2>Popular topics</h2>
    <div class="grid grid--2-wide">
      <div class="grid__item">
        <img src="{% static 'img/feature--contributions-narrow.jpg' %}" alt="">
        <h3><a href="/help-candidates-and-committees/candidate-taking-receipts/contribution-limits-candidates/">Contribution limits</a></h3>
        <p>Under the Federal Election Campaign Act, contributions are subject to limits. Those limits differ depending on the type of donor and recipient.</p>
      </div>
      <div class="grid__item">
        <div class="heading--section heading--with-action">
          <h3 class="heading__left">Tips for treasurers</h3>
          <a class="button--alt button--updates heading__right" href="/updates/?update_type=tips-for-treasurers">All tips</a>
         </div>
            {% tips_for_treasurers_feed %}
      </div>
    </div>
  </div>
  <div class="container">
     <ul class="grid grid--4-wide grid--flex">
      <li class="grid__item grid__item--with-icon grid__icon--deep-red">
        <img src="{% static 'img/i-complex--regreport.svg' %}" alt="">
        <h3 class="u-margin--top"><a href="/help-candidates-and-committees/filing-reports/electronic-filing/">Electronic filing information</a></h3>
      </li>
      <li class="grid__item grid__item--with-img">
        <img src="{% static 'img/feature--forms.jpg' %}" alt="">
        <h3 class="u-margin--top"><a href="/help-candidates-and-committees/forms">Forms</a></h3>
        <p>All FEC registration reporting and forms</p>
      </li>
      <li class="grid__item grid__item--with-icon grid__icon--deep-red">
        <img src="{% static 'img/i-complex--calendar.svg' %}" alt="">
        <h3 class="u-margin--top"><a href="/help-candidates-and-committees/dates-and-deadlines/">Dates and deadlines</a></h3>
        <p>All FEC reporting deadlines, reporting periods and compliance periods</p>
      </li>
      <li class="grid__item grid__item--with-img">
        <img src="{% static 'img/feature--training.jpg' %}" alt="">
        <h3 class="u-margin--top"><a href="/help-candidates-and-committees/trainings/">Education and learning</a></h3>
        <p>Videos, trainings, webinars and conferences</p>
      </li>
    </ul>
  </div>
</div>
<section class="slab slab--neutral">
  <div class="container">
    <h2>You might also like</h2>
    <div class="grid grid--3-wide">
      <div class="grid__item">
        <h4>Look up information reported and filed with the FEC</h4>
        <div class="example--primary">
          <ul class="t-sans list--spacious u-no-margin-top">
            <li><a href="/data/browse-data/?tab=filings">Search for your committee's information and filings</a></li>
            <li><a href="/data/filings/?data_type=processed&amp;form_type=F2">Statements of candidacy filed by office</a></li>
            <li><a href="/data/filings/?data_type=processed&amp;form_type=F1">Statements of organization filed by committees</a></li>
          </ul>
        </div>
      </div>
      <div class="grid__item">
        <h4>Learn about enforcement of federal campaign finance law</h4>
        <div class="example--primary">
          <ul class="t-sans list--spacious u-no-margin-top">
            <li><a href="/legal-resources/enforcement/">Enforcement overview</a></li>
            <li><a href="/data/legal/search/enforcement/">Search matters under review </a><span class="term" data-term="matter under review (MUR)" title="Click to define" tabindex="0"> (MURs)</span></li>
            <li><a href="/data/legal/search/advisory-opinions/">Search advisory opinions </a><span class="term" data-term="advisory opinion (AO)" title="Click to define" tabindex="0"> (AOs)</span></li>
          </ul>
        </div>
      </div>
      <div class="grid__item">
        <h4>Get help from an FEC analyst</h4>
        <p class="t-sans">If you represent a committee or another entitiy registered with the FEC, our staff can help answer your reporting questions.</p>
        <div class="example--primary">
          <ul class="t-sans list--spacious u-no-margin-top">
            <li><a href="/help-candidates-and-committees/question-rad/">Find and contact your analyst</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
 </section>

{% include 'partials/disclaimer.html' %}

{% endblock %}
