{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="row">
{% if self.label %}
  <h2>{{ self.label }}</h2>
{% endif %}
    {% for item in self.contact_items %}
    <div class="grid__item">
      <div class="contact-item contact-item--{{ item.item_icon }}">
        <div class="contact-item__content">
          {% if item.item_label %}
          <h5 class="contact-item__title">{{ item.item_label }}</h5>
          {% endif %}
          {{ item.item_info }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
