{% load wagtailcore_tags %}
{% load filters %}

<div class="post-feed">
{% for block in self %}
  <div class="post">
    <h3>{{ block.title }}</h3>
    {% if block.document %}
    <p class="t-sans post__doc"><a href="{{ block.document.url }}">{{ block.document.title }}</a> | {{ block.document.url | get_file_type }}</p>
    {% elif block.external_document %}
      <p class="t-sans post__doc"><a href="{{ block.external_document }}">{{ block.external_document| get_last_path }} </a> | {{ block.external_document | get_file_type }} </p>
    {% endif %}
  </div>
{% endfor %}
</div>
