{% load wagtailcore_tags %}
{% load states_dropdown %}
<style>
.colspan {

  border:none;
}
</style>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script>

$(function(){
//   var states = settings.constants.states
//   $.each( states, function( key, value ) {
//     opt = "<option value="+key+">"+value+"</option>"
//   $('#states').append(opt)
// })

 $('#states').change(function(){

  var state= $('#states').val()
  console.log(state)
  if (state != "States") {
   var ones= $('table').find("tr."+state+", tr.table-head")
   //var headers = $('table').find('tr.table-head', )
   $('tr').not(ones).hide()
   $(ones).show()
   //$(headers).show()
  } else
  { $('tr').show()}


 })
})


</script>

{% states_dropdown request %}

<table class="generated">

 <thead>
{% for block in self.table %}
  {% if block.block_type == 'table_header' %}
    <tr class="table-head">
    {% for subblock in block.value %}

    <th>
      {{ subblock.bound_blocks.table_cell.render }}
    </th>

    {% endfor %}
     </tr>
     </thead>


   {% elif block.block_type == 'table_row' %}
     <tr {% if block.value.state %}class="{{block.value.state}}"{% endif %}>
     {% for subblock in block.value.table_cells %}

      <td {% if subblock.bound_blocks.colspan.value %}class="colspan" colspan="{{ subblock.bound_blocks.colspan }}"{% endif %}>

       {{ subblock.bound_blocks.table_cell }}
       {% if subblock.bound_blocks.date.value %}
        {{ subblock.bound_blocks.date.value|date:"SHORT_DATE_FORMAT" }}
       {% endif %}

       {% if subblock.bound_blocks.date2.value %}
        - {{ subblock.bound_blocks.date2.value|date:"SHORT_DATE_FORMAT" }}
       {% endif %}
      </td>

     {% endfor %}
     </tr>
    {% endif %}
{% endfor %}


</table>



