{% load wagtailcore_tags %}
<table class="generated">
  XXX
 <thead>
{% for block in self.table %}
  {% if block.block_type == 'table_header' %}
    <tr>
    {% for subblock in block.value %}

    <th>
      {{ subblock.bound_blocks.table_cell.render }}
    </th>

    {% endfor %}
     </tr>
     </thead>





   {% elif block.block_type == 'table_row' %}
     <tr>
     {% for subblock in block.value %}

      <td>
       {{ subblock.bound_blocks.table_cell.render }}
      </td>

     {% endfor %}
     </tr>
    {% endif %}
{% endfor %}


</table>



