{% load wagtailcore_tags %}
{% load filters  %}


{% for block in self.typed_table %}
  

   {% for subblock in block.value.columns %}
  
  {{ subblock.block }}


 {% endfor %}
<p>-------------END COLUMNS-----------------</p>



 {% for subblock in block.value.row_data %}
 
<p>-------------NEW ROWS----------------</p>

  {{ subblock.value}}
  {{ subblock.values.0}}
<p>------------------------------</p>

  


 {% endfor %}



{% endfor %}
 




<br>
<style>

  .block-typed_table table td{
    border: 1px solid #777;
    padding: 1rem;

  }
  .ten-percent-width {
    width: 10%;
  }
 .twenty-percent-width {
    width: 20%;
  }
 .thirty-percent-width {
    width: 30%;
  }
  .forty-percent-width {
    width: 40%;
  }



</style>
<br>

{% for block in self.typed_table %} 

   {% if block.block_type == "table_layout" %}
   <div class="">
    
       <table class="simple-table-cms" style="table-layout:  {{ block }}">

   
   {% elif block.block_type == "table" %} 
  
    
    <thead>
        <tr>
            {% for col in block.value.columns %}
                <th scope="col" class="{{ col.block.meta.cssClass }}">{{ col.heading }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>

       {% for row in block.value.rows %}
          
        
        <tr>
            {% for block in row %}
              
             
           <td>{{ block.value | striptags  }}</td> <!--{% include_block block %} or just {{ block }} or {{ block.value }}  -->



            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
   </table>

    </div>
     
  {% endif %}
 
{% endfor %}  
