@import '../vendor/bourbon/bourbon';
@import '../vendor/neat/neat';

@import '../grid';
@import '../functions'; // Handles the u()
@import '../variables'; // $neutral, $sans-serif, etc

@font-face {
  font-family: FECKarlaMonoReg;
  src: url('/static/fonts/FEC-Karla-Mono-Regular.otf'); // TODO - make this more universal
}

.aggregate-totals-block {
  background-color: $neutral;
  color: $base;
  margin: 2rem 0;
  padding: 2rem;

  h1 {
    font-family: 'FECKarlaMonoReg', $sans-serif;
    line-height: 1em;
    margin: 0 0 .75rem;
    text-align: center;
  }
  h2 {
    font-family: $sans-serif;
    font-size: u(1.4rem);
    line-height: 1.2em;
    margin: 0;
    text-align: center;
  }
  
  @include media($lg) {
    align-items: center;
    display: flex;
    margin: 2rem 0;
    padding: 2rem;

    h1 {
      margin: 0 0 0 1rem;
      order: 1;
      text-align: right;
      width: 60%
    }
    h2 {
      font-size: u(1.4rem);
      margin-left: 1rem;
      order: 2;
      text-align: left;
      width: 40%;
    }
  }
}
