<div class="dropdown">
  <button class="button button--primary dropdown__button button--download">Download</button>
  <ul class="dropdown__panel dropdown__panel--right" aria-hidden="true">
    <li class="dropdown__item"><a class="dropdown__value" href="{{ics}}">.ics</a></li>
    <li class="dropdown__item"><a class="dropdown__value" href="{{csv}}">.csv</a></li>
  </ul>
</div>
