<div class="dropdown">
  <button class="button button--primary dropdown__button button--subscribe">Subscribe</button>
  <ul class="dropdown__panel" aria-hidden="true">
    <li class="dropdown__item"><a class="dropdown__value" href="{{calendar}}">Apple calendar</a></li>
    <li class="dropdown__item"><a class="dropdown__value" href="{{google}}">Google calendar</a></li>
    <li class="dropdown__item"><a class="dropdown__value" href="{{calendar}}">Microsoft Outlook calendar</a></li>
  </ul>
</div>
