# Python CircleCI 2.0 configuration file
# Check https://circleci.com/docs/2.0/language-python/ for more details
version: 2
jobs:
  build:
    docker:
      # CircleCI maintains a library of pre-built images documented at
      # https://circleci.com/docs/2.0/circleci-images/
      # use `-browsers` prefix for selenium tests, e.g. `<image_name>-browsers`

      # Python
      - image: circleci/python:3.5.3
        environment:
          TZ: America/New_York
          DATABASE_URL: postgres://postgres@0.0.0.0/cfdm_cms_test

      # PostgreSQL
      - image: circleci/postgres:9.6.2
        environment:
          POSTGRES_USER: postgres
          POSTGRES_DB: cfdm_cms_test

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Install system dependencies
          # Commands listed here are from the CircleCI PostgreSQL config docs:
          # https://circleci.com/docs/2.0/postgres-config/#postgresql-circleci-configuration-example
          command: |
            sudo apt-get update -qq && sudo apt-get install -y build-essential postgresql-client
            echo '/usr/lib/postgresql/9.6/bin/:$PATH' >> $BASH_ENV
            echo "en_US.UTF-8 UTF-8" | sudo tee /etc/locale.gen
            sudo locale-gen en_US.UTF-8

      - restore_cache:
          keys:
          - fec-cms-dependencies-{{ checksum "requirements.txt" }}-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - fec-cms-dependencies-

      - run:
          name: Install python dependencies
          command: |
            python3 -m venv .env
            . .env/bin/activate
            pip install -U pip setuptools wheel codecov
            pip install -r requirements.txt

      - run:
          name: Install node dependencies
          command: |
            curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.4/install.sh | bash
            echo ". ~/.nvm/nvm.sh" >> $BASH_ENV
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
            [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
            nvm install 8.6.0
            nvm use 8.6.0
            nvm alias default 8.6.0
            npm i -g npm webpack
            npm install
            npm run build
            
      - save_cache:
          paths:
            - ./.env
            - ./node_modules
          key: fec-cms-dependencies-{{ checksum "requirements.txt" }}-{{ checksum "package.json" }}

      - run:
          name: Ensure database is available
          command: dockerize -wait tcp://localhost:5432 -timeout 1m

      - run:
          name: Run tests
          command: |
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
            [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
            . .env/bin/activate
            nvm use default
            npm run build-js
            npm run build-sass
            cd fec
            DJANGO_SETTINGS_MODULE=fec.settings.production python manage.py collectstatic --noinput
            ./manage.py test
            npm run test-single

      - run:
          name: Perform post-test checks
          command: |
            . .env/bin/activate
            codecov

      - store_artifacts:
          path: test-reports
          destination: test-reports

      - run:
          name: Installs for deploy
          command: |
            mkdir -p $HOME/bin
            export PATH=$HOME/bin:$PATH
            curl -L "https://cli.run.pivotal.io/stable?release=linux64-binary&version=6.32.0" | tar xzv -C $HOME/bin
            cf install-plugin autopilot -f -r CF-Community


      - deploy:
          name: Deploy CMS
          command: |
            export PATH=$HOME/bin:$PATH
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
            [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
            . .env/bin/activate
            nvm use default
            invoke deploy --branch $CIRCLE_BRANCH --login True --yes
