<div class='container'>
  <h2 id="section-1-heading">(2)Check API information</h2>
  <div class="slab slab--inline slab--neutral u-padding--left u-padding--right">
    <div id="api-info" class="entity__figure row">
      <div class="heading--section heading--with-action u-no-margin">
        <h3 class="heading__left">Your API is:&nbsp;&nbsp;{{ api_name }}</h3>
      </div>
    </div>
  </div>
</div>
