<nav class="sidebar side-nav-alt">
  <ul class="tablist" role="tablist" data-name="tab">
    <li class="side-nav__item" role="presentation">
      <a
        class="side-nav__link"
        role="tab"
        data-name="election-data"
        tabindex="0"
        aria-controls="panel1"
        href="#section-1"
      >
        Check FEC website
      </a>
      <ul>
        <li><a href="#candidate-financial-totals">(1)Check export function</a></li>
        <li><a href="#api-info">(2)Check API info</a></li>
      </ul>
    </li>
  </ul>
</nav>