{% extends "layouts/main.html" %}
{% import 'macros/search.html' as search %}
{% block title %}Not found{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ asset_for('dist/styles/common.css') }}" />
{% endblock %}
{% block body %}
<section class="content--blank">
  <div class="container">
    <div class="message message--alert message--big">
      <h1 class="message__title">Page not found</h1>
      <p>Sorry, we couldn't find the page you're looking for.</p>
      <p>FEC.gov is in the middle of a redesign. We've worked hard to keep our URLs up to date, but please let us know if you think something is missing or broken. We're available by <a href="mailto:{{ webmanager_email }}">email</a> or <a href="https://github.com/18f/fec">GitHub</a>.</p>
        <p><a class="button button--cta" href="/">Return home</a></p>
        <p>Or try searching an archive of the <a href="{{ classic_url }}">old FEC.gov design.</a></p>
    </div>
  </div>
</section>
{% endblock %}
