{% extends "layouts/main.jinja" %}
{% import 'macros/page-header.jinja' as header %}

{% block title %}
  {{ title }}
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ asset_for_css('common.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ asset_for_css('data-landing.css') }}" />
{% endblock %}

{% block body %}
  {{ header.header(title, '') }}
  <div class="tab-interface">
    <div class="main container">
      <header class="heading--main">
        <h1>{{ title }}</h1>
      </header>
      <div class="data-container__wrapper">
        <nav class="sidebar side-nav-alt">
          <ul class="tablist" role="tablist" data-name="tab">
            <li class="side-nav__item" role="presentation">
              <a
                class="side-nav__link"
                role="tab"
                data-name="raising"
                tabindex="0"
                aria-controls="raising"
                href="#raising"
                aria-selected="true">Raising</a>
            </li>
            <li class="side-nav__item" role="presentation">
              <a
                class="side-nav__link"
                role="tab"
                data-name="spending"
                tabindex="0"
                aria-controls="spending"
                href="#spending"
                aria-selected="false">Spending</a>
            </li>
            <li class="side-nav__item" role="presentation">
              <a
                class="side-nav__link"
                role="tab"
                data-name="loans-debts"
                tabindex="0"
                aria-controls="loans-debts"
                href="#loans-debts"
                aria-selected="false">Loans and debts</a>
            </li>
            <li class="side-nav__item" role="presentation">
              <a
                class="side-nav__link"
                role="tab"
                data-name="candidates"
                tabindex="0"
                aria-controls="candidates"
                href="#candidates"
                aria-selected="false">Candidates</a>
            </li>
            <li class="side-nav__item" role="presentation">
              <a
                class="side-nav__link"
                role="tab"
                data-name="committees"
                tabindex="0"
                aria-controls="committees"
                href="#committees"
                aria-selected="false">Committees</a>
            </li>
            <li class="side-nav__item" role="presentation">
              <a
                class="side-nav__link"
                role="tab"
                data-name="filings"
                tabindex="0"
                aria-controls="filings"
                href="#filings"
                aria-selected="false">Filings and reports</a>
            </li>
            <li class="side-nav__item" role="presentation">
              <a
                class="side-nav__link"
                role="tab"
                data-name="historical"
                tabindex="0"
                aria-controls="historical"
                href="#historical"
                aria-selected="false">Historical statistics</a>
            </li>
            <li class="side-nav__item" role="presentation">
              <a
                class="side-nav__link"
                role="tab"
                data-name="external"
                tabindex="0"
                aria-controls="external"
                href="#external"
                aria-selected="false">External sources</a>
            </li>
            <li class="side-nav__item" role="presentation">
              <a
                class="side-nav__link"
                role="tab"
                data-name="bulk-data"
                tabindex="0"
                aria-controls="bulk-data"
                href="#bulk-data"
                aria-selected="false">Download bulk data</a>
            </li>
          </ul>
        </nav>
        <div class="main__content--right-full">
          {% include 'partials/advanced/raising.jinja' %}
          {% include 'partials/advanced/spending.jinja' %}
          {% include 'partials/advanced/loans-debts.jinja' %}
          {% include 'partials/advanced/candidates.jinja' %}
          {% include 'partials/advanced/committees.jinja' %}
          {% include 'partials/advanced/filings-reports.jinja' %}
          {% include 'partials/advanced/historical.jinja' %}
          {% include 'partials/advanced/external.jinja' %}
          {% include 'partials/advanced/bulk-data.jinja' %}
        </div>
      </div>
    </div>
    <div class="slab slab--neutral">
      <div class="container">
        <h2>More ways to explore data</h2>
        <div class="grid grid--4-wide">
          <div class="grid__item">
            <a href="/data/elections">
              <aside class="card card--horizontal card--primary">
                <div class="card__image__container">
                  <span class="card__icon i-elections"><span class="u-visually-hidden">Icon representing elections</span></span>
                </div>
                <div class="card__content">
                  Find elections by location
                </div>
              </aside>
            </a>
          </div>
          <div class="grid__item">
            <a href="/data">
              <aside class="card card--horizontal card--primary">
                <div class="card__image__container">
                  <span class="card__icon i-profile"><span class="u-visually-hidden">Icon representing profiles</span></span>
                </div>
                <div class="card__content">
                    Search candidate or committee profiles
                </div>
              </aside>
            </a>
          </div>
          <div class="grid__item">
            <a href="{{ FEC_API_URL }}">
              <aside class="card card--horizontal card--primary">
                <div class="card__image__container">
                  <span class="card__icon i-data-flag"><span class="u-visually-hidden">Icon of an American flag</span></span>
                </div>
                <div class="card__content">
                    Use the OpenFEC API
                </div>
              </aside>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slab slab--neutral footer-disclaimer">
    <div class="container">
      <div class="usa-width-one-half">
        <p class="t-sans">Anyone can inspect and copy reports and statements filed by political committees. But the names and addresses of individual contributors may not be sold or used for commercial purposes or to solicit contributions or donations.</p>
        <p class="t-sans u-no-margin"><a href="{{ TRANSITION_URL }}/pages/brochures/saleuse.shtml">Read more about the sale and use of FEC data</a>.</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ asset_for_js('dataviz-common.js') }}"></script>
  <script src="{{ asset_for_js('data-advanced.js') }}"></script>
{% endblock %}
