{% extends 'layouts/main.html' %}
{% import 'macros/null.html' as null %}
{% import 'macros/cycle-select.html' as select %}
{% import 'macros/page-header.html' as header %}

{% block title %}
    {{ name }} - committee overview
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ asset_for('dist/styles/entity.css') }}" />
{% endblock %}

{% set breadcrumbs=[('', 'Committee profiles')] %}

{% block body %}

{{ header.header(name, breadcrumbs) }}
<div class="u-padding--left u-padding--right tab-interface">
  <header class="main">
    <h1 class="entity__name content__section--narrow">{{ name }}</h1>
    <div class="heading--section">
      <span class="t-data t-bold entity__type">
        {{ committee_type_full }}
         - {{ designation_full }}
         {% if organization %} - {{ organization }}{% endif %}
      </span>
      <span class="t-data t-bold entity__type">ID: {{ committee_id }}</span>
    </div>
  </header>

  <div class="data-container__wrapper">
    <nav class="sidebar side-nav-alt">
      <ul class="tablist" role="tablist" data-name="tab">
        {% if committee_type not in ['C', 'E'] %}
        <li class="side-nav__item" role="presentation">
          <a
            class="side-nav__link"
            role="tab"
            data-name="summary"
            tabindex="0"
            aria-controls="panel1"
            href="#section-1"
            aria-selected="true">Financial Summary</a>
            {% if committee_type != 'I' %}
            <ul>
              <li><a href="#total-raised">Total raised</a></li>
              <li><a href="#total-spent">Total spent</a></li>
              <li><a href="#cash-summary">Cash summary</a></li>
            </ul>
            {% endif %}
        </li>
        <li class="side-nav__item" role="presentation">
          <a
            class="side-nav__link"
            role="tab"
            data-name="about-committee"
            tabindex="0"
            aria-controls="panel2"
            href="#section-2">About this committee</a>
        </li>
        {% else %}
        <li class="side-nav__item" role="presentation">
          <a
            class="side-nav__link"
            role="tab"
            data-name="about-committee"
            tabindex="0"
            aria-controls="panel1"
            href="#section-2">About this committee</a>
        </li>
        {% endif %}
        {% if committee_type not in ['C'] %}
          <li class="side-nav__item" role="presentation">
            <a
              class="side-nav__link"
              role="tab"
              data-name="raising"
              tabindex="0"
              aria-controls="panel3"
              href="#section-3">Raising</a>
              {% if committee_type not in ['C', 'E', 'I'] %}
              <ul>
                <li><a href="#total-receipts">Total receipts</a></li>
                <li><a href="#individual-contribution-transactions">Individual contribution transactions</a></li>
              </ul>
              {% endif %}
          </li>
        {% endif %}
        <li class="side-nav__item" role="presentation">
          <a
            class="side-nav__link"
            role="tab"
            data-name="spending"
            tabindex="0"
            aria-controls="panel4"
            href="#section-4">Spending</a>
            {% if committee_type == 'C' %}
            <ul>
              <li><a href="#communication-costs">Communication costs</a></li>
              <li><a href="#disbursement-transactions">Disbursement transactions</a></li>
            </ul>
            {% elif committee_type == 'E' %}
            <ul>
              <li><a href="#electioneering-communication">Electioneering communication</a></li>
              <li><a href="#disbursement-transactions">Disbursement transactions</a></li>
            </ul>
            {% else %}
            <ul>
              {% if committee_type != 'I' %}
              <li><a href="#total-disbursements">Total disbursements</a></li>
              {% endif %}
              {% if committee_type not in ['P', 'H', 'S', 'Z', 'C', 'E', 'D'] %}
              <li><a href="#independent-expenditures">Independent expenditures</a></li>
              {% endif %}
              <li><a href="#disbursement-transactions">Disbursement transactions</a></li>
            </ul>
            {% endif %}
        </li>
        <li class="side-nav__item" role="presentation">
          <a
            class="side-nav__link"
            role="tab"
            data-name="filings"
            tabindex="0"
            aria-controls="panel5"
            href="#section-5">Filings</a>
            <ul>
              {% if has_raw_filings %}
              <li><a href="#raw-filings">Raw electronic filings</a></li>
              {% endif %}
              <li><a href="#reports">Regularly filed reports</a></li>
              <li><a href="#notices">24- and 48-hour reports</a></li>
              <li><a href="#statements">Statements of organization</a></li>
              <li><a href="#other">Other documents</a></li>
            </ul>
        </li>
      </ul>
    </nav>

    {% with committee=context() %}
       {% include 'partials/loading-tab.html' %}
       {% include 'partials/committee/about-committee.html' %}
      {% if committee_type not in ['C', 'E'] %}
        {% include 'partials/committee/financial-summary.html' %}
      {% endif %}
      {% if committee_type not in ['C'] %}
        {% include 'partials/committee/raising.html' %}
      {% endif %}
      {% include 'partials/committee/spending.html' %}
      {% include 'partials/committee/filings.html' %}
    {% endwith %}
  </div>

{% endblock %}

{% block scripts %}
<script>
var context = {{ context_vars | json | safe }};
{% if committee_type not in ['P', 'H', 'S', 'Z', 'C', 'E', 'D'] %}
  context.showIndependentExpenditures = true;
{% endif %}
</script>
<script src="{{ asset_for('dist/js/pages/committee-single.js') }}"></script>
{% endblock %}
