{% extends 'layouts/main.html' %}
{% import 'macros/page-header.html' as header %}

{{ cycle }} Election - US {{ office|title }} {% if state %} - {{ state|fmt_state_full }} {% if district %} - District {{ district }} {% endif %} {% endif %}

{% block title %}
  {{ title }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ asset_for('dist/styles/elections.css') }}" />
{% endblock %}

{% block body %}
{{ header.header(title) }}
<div class="u-padding--left u-padding--right tab-interface">
  <header class="main">
    {% if office == 'president' %}
      <h1 class="entity__name">US President</h1>
      <div class="heading--section">
        <span class="t-data t-bold">
          Compare candidates for president
        </span>
      </div>
    {% else %}
      <h1 class="entity__name">{{ state|fmt_state_full }} -
      {% if district %}
        House District {{ district | strip_zero_pad }}
      {% else %}
        Senate
      {% endif %}
      </h1>
      <div class="heading--section">
        <span class="t-data t-bold">
          Compare candidates for this office
        </span>
      </div>
    {% endif %}
  </header>

  <div class="data-container__wrapper">
    <nav class="sidebar side-nav-alt">
      <ul class="tablist" role="tablist" data-name="tab">
        <li class="side-nav__item" role="presentation">
          <a
            class="side-nav__link"
            role="tab"
            data-name="totals"
            tabindex="0"
            aria-controls="panel1"
            href="#section-1"
            >Candidate financial totals</a>
        </li>
        <li class="side-nav__item" role="presentation">
          <a
            class="side-nav__link"
            role="tab"
            data-name="contributions"
            tabindex="0"
            aria-controls="panel2"
            href="#section-2"
            >Individual contributions</a>
        </li>
        <li class="side-nav__item" role="presentation">
          <a
            class="side-nav__link"
            role="tab"
            data-name="spending-by-others"
            tabindex="0"
            aria-controls="panel3"
            href="#section-3"
            >Spending by others to support/oppose</a>
        </li>
        <li class="side-nav__item">
          <div class="accordion--neutral js-accordion" data-accordion-prefix="election-lookup">
            <button class="js-accordion-trigger accordion__button">Find another election</button>
            <div class="accordion__content" aria-hidden="true">
              <form action="{{ url_for('election_lookup')}}">
                <div class="filter">
                  <label for="state" class="label">State</label>
                  <select id="state" name="state" class="u-full-width">
                    <option value="">Select state</option>
                    {% for value, label in constants.states.items() %}
                    <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="filter">
                  <label for="district" class="label">District <span class="label__optional">(optional)</span></label>
                  <select id="district" name="district" aria-label="Select a district" class="select--alt u-full-width">
                    <option value="">Select district</option>
                    {% for value in range(1, 100) %}
                    {% with formatted = '{0:02d}'.format(value) %}
                    <option value="{{ formatted }}">{{ formatted }}</option>
                    {% endwith %}
                    {% endfor %}
                  </select>
                </div>
                <div class="filter">
                  <button class="button button--cta">View results</button>
                </div>
              </form>
            </div>
          </div>
        </li>
      </ul>
    </nav>

    <div class="main__content--right-full">
      {% include 'partials/loading-tab.html' %}
      {% include 'partials/elections/candidate-comparison-tab.html' %}
      {% include 'partials/elections/detailed-comparison-tab.html' %}
      {% include 'partials/elections/other-spending-tab.html' %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
var context = {
  election: {
    cycle: {{ cycle }},
    office: '{{ office }}',
    state: '{{ state or '' }}',
    stateFull: '{{ state_full or '' }}',
    district: '{{ district or '' }}'
  }
};
</script>
<script src="{{ asset_for('dist/js/pages/elections.js') }}"></script>
{% endblock %}
