{% extends 'layouts/main.jinja' %}
{% import 'macros/page-header.jinja' as header %}
{% if office == 'house' %}
  {% set crumb = state_full + ' - ' + office|title + ' ' + district|string + ' | ' + cycle|string %}
{% elif office == 'senate' %}
  {% set crumb = state_full + ' - ' + office|title + ' | ' + cycle|string %}
{% else %}
  {% set crumb = office|title + ' | ' + cycle|string %}
{% endif %}

{{ cycle }} Election - US {{ office|title }} {% if state %} - {{ state|fmt_state_full }} {% if district %} - District {{ district }} {% endif %} {% endif %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ asset_for_css('elections.css') }}" />
{% endblock %}
{% block body %}
  {{ header.header(crumb) }}
  <div class="u-padding--left u-padding--right tab-interface">
    <header class="main">
      {% if office == 'president' %}
        <h1 class="entity__name">US President</h1>
        <div class="heading--section">
          <span class="t-data t-bold">
            Compare candidates for president
          </span>
        </div>
      {% else %}
        <h1 class="entity__name">
          {% if state %}{{ state | fmt_state_full }} - {% endif %}{{ office | title }} {% if district %}District {{ district }}{% endif %}
        </h1>
        <div class="heading--section">
          <span class="t-data t-bold">
            {{ cycle }} | {{ office }}
          </span>
        </div>
      {% endif %}
    </header>
    <div>
      {% include 'partials/elections/sidebar-nav.jinja' %}
      <div class="main__content--right-full">
        {% include 'partials/loading-tab.jinja' %}
        {% include 'partials/elections/election-data-and-compliance-tab.jinja' %}
        {% include 'partials/elections/about-this-election-tab.jinja' %}
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
<script>
var context = {
  election: {
    cycle: '{{ cycle }}',
    office: '{{ office }}',
    state: '{{ state or '' }}',
    stateFull: '{{ state_full or '' }}',
    district: '{{ district or '' }}'
  }
};

</script>
<script src="{{ asset_for_js('dataviz-common.js') }}"></script>
<script src="{{ asset_for_js('elections.js') }}"></script>
{% endblock %}

