{% extends 'layouts/main.jinja' %}
{% import 'macros/page-header.jinja' as header %}

{{ cycle }} Election - US {{ office|title }} {% if state %} - {{ state|fmt_state_full }} {% if district %} - District {{ district }} {% endif %} {% endif %}

{% block title %}U.S. {{ office|title }} elections {% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ asset_for_css('elections.css') }}" />
  <link rel="stylesheet" type="text/css" href="/static/css/widgets/party-money-bars.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/widgets/house-senate-overview.css" />
{% endblock %}

{% block body %}
  {{ header.header(title, crumb) }}
  <div class="u-padding--left u-padding--right">
    <header class="container main">
      <div class="heading--section">
        <h1>U.S. {{ office|title }} elections</h1>
      </div>
    </header>

    <div id="options" class="container main">
      <div class="sidebar-container sidebar-container--left">
        <div class="js-sticky-side" data-sticky-container="options">
          <nav class="sidebar sidebar--neutral side-nav">
            <ul class="sidebar__content js-toc">
              {% if FEATURES.house_senate_overview_summary %} 
              <li class="side-nav__item">
                <a class="side-nav__link" href="#summary">Election summary</a>
              </li>
              {% endif %}
              <li class="side-nav__item">
                <a class="side-nav__link" href="#contributions-over-time">{{ office|title }} candidate contributions over time</a>
              </li>
              {% if FEATURES.house_senate_overview_totals %}  
              <li class="side-nav__item">
                <a class="side-nav__link" href="#election-totals">Totals for all {{ office | title }} elections</a></li>
              </li>
              {% endif %}
            </ul>
            {% if office == "house" %}
              {% set other_office = "senate"%}
            {% elif office == "senate" %}
              {% set other_office = "house"%}
            {% endif %}
          <a class="button button--cta u-margin--top t-left-aligned button--disbursements u-full-width" href="/data/elections/{{ other_office }}">Explore U.S. {{ other_office|title }} election data</a>
          </nav>
        </div>
      </div>
      <div class="main__content--right">
        {% if FEATURES.house_senate_overview_summary %}{% include 'partials/house-senate-overview/section-summary.jinja' %}{% endif %}
        {% include 'partials/house-senate-overview/section-contributions-across-time.jinja' %}
        {% if FEATURES.house_senate_overview_totals %}{% include 'partials/house-senate-overview/section-totals-for-all-elections.jinja' %}{% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
var context = {{ context_vars | to_json | safe }};
</script>
<script src="{{ asset_for_js('dataviz-common.js') }}"></script>
<script src="{{ asset_for_js('house-senate-overview-across-time.js') }}"></script>
{%- if FEATURES.house_senate_overview_summary -%}
<script src="{{ asset_for_js('house-senate-overview-summary.js') }}"></script>
{%- endif -%}
{%- if FEATURES.house_senate_overview_totals -%}
<script src="{{ asset_for_js('house-senate-overview-totals.js') }}"></script>
{%- endif -%}
{% endblock %}
