{% extends 'layouts/main.jinja' %}
{% import 'macros/page-header.jinja' as header %}


{{ cycle }} Election - US {{ office|title }} {% if state %} - {{ state|fmt_state_full }} {% if district %} - District {{ district }} {% endif %} {% endif %}

{% block title %}U.S. {{ office|title }} elections {% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ asset_for_css('elections.css') }}" />
  <link rel="stylesheet" type="text/css" href="/static/css/widgets/party-money-bars.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/widgets/house-senate-overview.css" />
{% endblock %}

{% block body %}
  {{ header.header(title, crumb) }}
  <div class="u-padding--left u-padding--right tab-interface">
    <header class="main">
      <div class="heading--section">
        <h1>U.S. {{ office|title }} elections</h1>
      </div>
    </header>
    <div class="data-container__wrapper">
      <nav class="sidebar side-nav-alt">
        <ul class="tablist" role="tablist" data-name="tab">
          <li role="presentation">
            <a class="side-nav__link" role="tab" tabindex="0"
            data-name="election-summary" href="#section-election-summary" aria-controls="panel1"
            >Election summary</a>
          </li>
          <li role="presentation">
            <a class="side-nav__link" role="tab" tabindex="0"
            data-name="election-data" href="#section-contribs-over-time" aria-controls="panel2"
            >{{ office|title }} candidate contributions over time</a>
          </li>
          {% if FEATURES.house_senate_overview_totals %}  
          <li role="presentation">
            <a class="side-nav__link" role="tab" tabindex="0"
            data-name="" href="#totals-for-all-elections" aria-controls=""
            >Totals for all {{ office | title }} elections</a></li>
          {% endif %}
          </li>
        </ul>
      </nav>
      <div class="main__content--right-full">
        {% include 'partials/house-senate-overview/tabpanel-summary.jinja' %}
        {% include 'partials/house-senate-overview/tabpanel-contributions-across-time.jinja' %}
        {% include 'partials/house-senate-overview/tabpanel-totals-for-all-elections.jinja' %}
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
var context = {{ context_vars | to_json | safe }};
</script>
<script src="{{ asset_for_js('dataviz-common.js') }}"></script>
<script src="{{ asset_for_js('house-senate-overview-across-time.js') }}"></script>
<script src="{{ asset_for_js('house-senate-overview-summary.js') }}"></script>
{% endblock %}
