{% extends 'layouts/main.jinja' %}
{% import 'macros/page-header.jinja' as header %}


{{ cycle }} Election - US {{ office|title }} {% if state %} - {{ state|fmt_state_full }} {% if district %} - District {{ district }} {% endif %} {% endif %}

{% block title %}{{ cycle }} Election - US {{ office|title }} {% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ asset_for_css('elections.css') }}" />
  <link rel="stylesheet" type="text/css" href="/static/css/widgets/house-senate-overview.css" />
{% endblock %}
{% block body %}
  {{ header.header(title, crumb) }}
  <div class="u-padding--left u-padding--right tab-interface">
    <header class="main">
      <div class="heading--section">
        <h1 class="entity__name">
          {{ office|title }} elections
        </h1>
      </div>
    </header>
    <div class="data-container__wrapper">
      {% include 'partials/house-senate-overview/sidebar-nav.jinja' %}
      {% include 'partials/house-senate-overview/election-data.jinja' %}
      <div class="main__content--right-full">

      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
<script>
var context = {{ context_vars | to_json | safe }};
</script>
<script src="{{ asset_for_js('dataviz-common.js') }}"></script>
<script src="{{ asset_for_js('contributions_across_time.js') }}"></script>
{% endblock %}
