{% extends 'layouts/main.jinja' %}
{% import 'macros/cycle-select.jinja' as select %}
{% import 'macros/overviews.jinja' as overviews %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ asset_for_css('data-landing.css') }}" />
{% endblock %}

{% block body %}
<section class="hero hero--primary hero--data" aria-labelledby="hero-heading">
  <div class="hero__image"></div>
  <div class="container">
    <h1 id="hero-heading">Campaign finance data</h1>
    <p class="hero__content">See how candidates and committees raise and spend money in federal elections. This financial data helps voters make informed decisions.</p>
  </div>
</section>

<div class="main container js-accordion accordion--neutral" data-content-prefix="about">
  <section class="content__section">
    <div class="grid--2-wide grid--flex">
      <div class="grid__item card t-left-aligned">
        <h2>Look up candidate and <br> committee profiles</h2>
        <div class="content__section">
          {{ search.search('hero', button_color="button--standard") }}
          <span class="t-note t-sans search__example">Examples: Obama for America; C00431445; Bush, George W.; P00003335; or enter an image number for a filing.</span>
        </div>
        <div class="example--primary">
          <h4 class="example__title">Top raising candidates in {{ constants.DEFAULT_TIME_PERIOD | fmt_year_range }}:</h4>
          <ul class="t-sans">
            {% for candidate in top_candidates_raising %}
              <li><a href="/data/candidate/{{ candidate.candidate_id }}">{{ candidate.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="grid__item card t-left-aligned">
        <h2>Find contributions from <br> specific individuals</h2>
        <form action="/data/receipts/individual-contributions/" autocomplete="off" class="search__container content__section">
          <div class="combo combo--search combo--search--medium">
            <label for="contributor-search" class="label">Individual contributor name</label>
            <input id="contributor-search" class="combo__input" type="text" name="contributor_name"
            autocorrect="off" autocapitalize="off" spellcheck="false">
            <button type="submit" class="combo__button button--search button--standard">
              <span class="u-visually-hidden">Search</span>
            </button>
          </div>
          <span class="t-note t-sans search__example">Examples: your name, a celebrity, someone running for office.</span>
        </form>
        <div class="example--primary">
          <h4 class="example__title">Possible uses of this data:</h4>
          <ul class="t-sans">
            <li><a href="/data/receipts/individual-contributions/?min_amount=2000">All contributions over $2,000</a></li>
            <li><a href="/data/receipts/individual-contributions/?min_date={{ first_of_year }}&max_date={{ last_of_year }}">All contributions in this year</a></li>
            <li><a href="/data/receipts/individual-contributions/">Browse all and apply custom filters</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="content__section">
    <h2>Compare candidates in an election</h2>
    <div class="grid grid--2-wide" id="election-lookup">
      <div class="grid__item">
        <div class="election-map election-map--small"></div>
      </div>
      <div class="grid__item">
        <form action="/data/elections" class="content__section">
          <div class="search-controls__state">
            <label for="state" class="label">State</label>
            <select id="state" name="state" aria-label="Select a state">
              <option value="">Select state</option>
              {% for value, label in constants.states.items() %}
              <option value="{{ value }}">{{ label }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="search-controls__district">
            <label for="District" class="label">District <span class="label__optional">(optional)</span></label>
            <select id="district" name="district" aria-label="Select a district" class="select--alt">
              <option value="">Select district</option>
              <option value="S">Senate</option>
              <optgroup label="House">
                {% for value in range(1, 100) %}
                {% with formatted = '{0:02d}'.format(value) %}
                <option value="{{ formatted }}">{{ formatted }}</option>
                {% endwith %}
                {% endfor %}
              </optgroup>
            </select>
          </div>
          <div class="search-controls__submit search-controls__no-label">
            <button type="submit" class="button--search--text button--standard">Search</button>
          </div>
        </form>
        <div class="example--primary">
          <h4 class="example__title">Trending elections</h4>
          <ul class="t-sans">
            <li><a href="/data/elections/house/GA/6/2018">Georgia, congressional district 6 special election</a></li>
            <li><a href="/data/elections/senate/AL/2018">Alabama senate special election</a></li>
            <li><a href="/data/elections/president/2016">2016 US presidential election</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  </section>

  <section class="content__section content__section--ruled">
    <h2>Browse full advanced data sets</h2>
    <ul class="grid grid--4-wide">
      <li class="grid__item card card--horizontal card--primary">
        <div class="card__image__container">
          <span class="card__icon i-receipt"><span class="u-visually-hidden">Icon of a piggy bank</span></span>
        </div>
        <div class="card__content">
          <a href="/data/advanced?tab=raising">Raising</a>
        </div>
      </li>
      <li class="grid__item card card--horizontal card--primary">
        <div class="card__image__container">
          <span class="card__icon i-disbursement"><span class="u-visually-hidden">Icon of representing spending</span></span>
        </div>
        <div class="card__content">
          <a href="/data/advanced?tab=spending">Spending</a>
        </div>
      </li>
      <li class="grid__item card card--horizontal card--primary">
        <div class="card__image__container">
          <span class="card__icon i-candidate"><span class="u-visually-hidden">Icon of a candidate</span></span>
        </div>
        <div class="card__content">
          <a href="/data/advanced?tab=candidates">Candidates</a>
        </div>
      </li>
      <li class="grid__item card card--horizontal card--primary">
        <div class="card__image__container">
          <span class="card__icon i-committee"><span class="u-visually-hidden">Icon representing a committeek</span></span>
        </div>
        <div class="card__content">
          <a href="/data/advanced?tab=committees">Committees</a>
        </div>
      </li>
    </ul>
    <ul class="grid grid--4-wide">
      <li class="grid__item card card--horizontal card--primary">
        <div class="card__image__container">
          <span class="card__icon i-filings"><span class="u-visually-hidden">Icon representing filings</span></span>
        </div>
        <div class="card__content">
          <a href="/data/advanced?tab=filings">Filings and reports</a>
        </div>
      </li>
      <li class="grid__item card card--horizontal card--primary">
        <div class="card__image__container">
          <span class="card__icon i-loans"><span class="u-visually-hidden">Icon representing loans and debts</span></span>
        </div>
        <div class="card__content">
          <a href="/data/advanced?tab=loans-debts">Loans and debts</a>
        </div>
      </li>
      <li class="grid__item card card--horizontal card--primary">
        <div class="card__image__container">
          <span class="card__icon i-bulk"><span class="u-visually-hidden">Icon representing bulk data</span></span>
        </div>
        <div class="card__content">
          <a href="/data/advanced?tab=other">Bulk data and other sources</a>
        </div>
      </li>
      <li class="grid__item card card--horizontal card--primary">
        <div class="card__image__container">
          <span class="card__icon i-external"><span class="u-visually-hidden">Icon representing external pages</span></span>
        </div>
        <div class="card__content">
          <a href="/data/advanced?tab=external">External data sources</a>
        </div>
      </li>
    </ul>
  </section>

  <div class="content__section--extra">
    <h2 class="t-ruled--bottom">Get started with campaign finance data</h2>
    <section class="content__section" id="raising">
      <h3 class="u-no-margin">Raising</h3>
      <p>This graph shows how much <span class="term" data-term="candidate">candidates</span>, <span class="term" data-term="party committee">party committees</span> and <span class="term" data-term="political action committee (PAC)">political action committees</span> (PACs) have reported raising, up to specific points in time. Although the graph displays these numbers month-by-month, different committee types have different reporting schedules.</p>
      <div class="content__section">
        <div class="heading--section heading--with-action">
          <h4 class="heading__left t-upper">Cumulative amount raised by committees</h4>
          <div class="heading__right">
            <ul class="list--buttons">
              <li><a class="button button--standard button--table" href="/data/receipts">Explore data</a></li>
              <li><button class="button button--standard js-ga-event"  data-a11y-dialog-show="raised-modal" data-ga-event="Raised methodology modal clicked" aria-controls="raised-modal">
              Methodology</button></li>
            </ul>
          </div>
        </div>
        {{ overviews.overview('raised', 'landing')}}
         <a class="breakdown-link" href="/data/raising">Raising breakdown &raquo;</a>
         <ul class="grid grid--4-wide t-sans">
           <li class="grid__item">
             <a href="/data/raising#top-raisers" class="icon-heading--graph-circle">
               <div class="icon-heading__text"><span>Who's raising the most</span></div>
             </a>
           </li>
           <li class="grid__item is-disabled">
             <div class="icon-heading--map-circle" title="Coming soon">
               <div class="icon-heading__text"><span>Where contributions come from</span></div>
             </div>
           </li>
           <li class="grid__item is-disabled">
             <div class="icon-heading--graph-unordered-circle" title="Coming soon">
               <div class="icon-heading__text"><span>The size of contributions</span></div>
             </div>
           </li>
         </ul>
      </div>
    </section>
    <section class="content__section content__section--ruled" id="spending">
      <h3 class="u-no-margin">Spending</h3>
      <p>This graph shows how much <span class="term" data-term="candidate">candidates</span>, <span class="term" data-term="party committee">party committees</span> and <span class="term" data-term="political action committee (PAC)">political action committees</span> (PACs) have reported spending, up to specific points in time. Although the graph displays these numbers month-by-month, different committee types have different reporting schedules.</p>
      <div class="content__section">
        <div class="heading--section heading--with-action">
          <h4 class="heading__left t-upper">Cumulative amount spent by committees</h4>
          <div class="heading__right">
            <ul class="list--buttons">
              <li><a class="button button--standard button--table" href="/data/disbursements">Explore data</a></li>
              <li><button class="button button--standard js-ga-event"  data-a11y-dialog-show="spending-modal" data-ga-event="Spending methodology modal clicked" aria-controls="spending-modal">Methodology</button></li>
            </ul>
          </div>
        </div>
        {{ overviews.overview('spent', 'landing') }}
        <a class="breakdown-link" href="spending">Spending breakdown &raquo;</a>
        <ul class="grid grid--4-wide t-sans">
          <li class="grid__item">
            <a href="/data/spending#top-spenders" class="icon-heading--graph-circle">
              <div class="icon-heading__text"><span>Who's spending the most</span></div>
            </a>
          </li>
          <li class="grid__item is-disabled">
            <div class="icon-heading--graph-unordered-circle" title="Coming soon">
              <div class="icon-heading__text"><span>What's spent on day-to-day activities</span></div>
            </div>
          </li>
          <li class="grid__item is-disabled">
            <div class="icon-heading--map-circle" title="Coming soon">
              <div class="icon-heading__text"><span>Where money is spent to support and oppose candidates</span></div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
{% endblock %}

{% block modals %}
<div class="js-modal modal" id="raised-modal" aria-hidden="true">
  <div tabindex="-1" class="modal__overlay" data-a11y-dialog-hide></div>
  <div role="dialog" class="modal__content" aria-labelledby="raised-modal-title">
    <div role="document">
      <button type="button" class="modal__close button--close--primary" data-a11y-dialog-hide title="Close this dialog window"></button>
      <h2 id="raised-modal-title" tabindex="0">Methodology</h2>
      <p>This data includes Forms 3, 3P, and 3X.</p>
      <h3>Methodology overview</h3>
      <p><strong>Money raised</strong> includes each of the following:</p>
      <ul class="list--bulleted">
        <li><em>Adjusted receipts</em> for PACs, parties, congressional filers and presidential filers</li>
      </ul>
      <p><em>Adjusted receipts</em> are the total receipts minus the following:</p>
      <ul class="list--bulleted">
        <li>Contribution refunds</li>
        <li>Contributions from political party committees and other political committees</li>
        <li>Loan repayments</li>
        <li>Offsets to operating expenditures</li>
        <li>Transfers from nonfederal accounts for allocated activities</li>
      </ul>
      <p><span>The form-by-form breakdown for adjusted receipts is:</span></p>
      <ul class="list--bulleted">
        <li><strong>Form 3:</strong> <em>line 16</em> - (<em>line 11(b)</em> + <em>line 11(c)</em> + <em>line 14</em> + <em>line 19(c)</em> + <em>line 20(d))</em></li>
        <li><strong>Form 3P:</strong> <em>line 22</em> - (<em>line 17(b)</em> + <em>line 17(c)</em> + <em>line 20(d)</em> + <em>line 27(c)</em> + <em>line 28(d)</em>)</li>
        <li><strong>Form 3X:</strong> <em>line 19</em> - (<em>line 11(b)</em> + <em>line 11(c)</em> + <em>line 15</em> + <em>line 16</em> + <em>line 18(a)</em> + <em>line 26</em> + <em>line 28(d)</em>)</li>
      </ul>
    </div>
  </div>
</div>
<div class="js-modal modal" id="spending-modal" aria-hidden="true">
  <div tabindex="-1" class="modal__overlay" data-a11y-dialog-hide></div>
  <div role="dialog" class="modal__content" aria-labelledby="spending-modal-title">
    <div role="document">
      <button type="button" class="modal__close button--close--primary" data-a11y-dialog-hide title="Close this dialog window"></button>
      <h2 id="spending-modal-title">Methodology</h2>
      <p>This data includes Forms 3, 3P, and 3X.</p>
      <h5>Methodology overview</h5>
      <p><strong>Money spent</strong> includes each of the following:</p>
      <ul class="list--bulleted">
        <li><em>Adjusted disbursements</em> for PACs, parties, congressional filers and presidential filers</li>
      </ul>
      <p><em>Adjusted disbursements</em> are total disbursements minus the following:</p>
      <ul class="list--bulleted">
        <li>Contribution refunds</li>
        <li>Contributions to candidates and other political committees</li>
        <li>Loan repayments</li>
        <li>Nonfederal share of allocated disbursements</li>
        <li>Offsets to expenditures</li>
        <li>Other disbursements</li>
        <li>Transfers to other authorized committees and affiliated committees</li>
      </ul>
      <p>The form-by-form breakdown for adjusted disbursements is:</p>
      <ul class="list--bulleted">
        <li><strong>Form 3:</strong> <em>line 22</em> - (<em>line 18</em> + <em>line 19(c)</em> + <em>line 20(d)</em> + <em>line 21</em>)</li>
        <li><strong>Form 3P:</strong> <em>line 30</em> - (<em>line 20(d)</em> + <em>line 24</em> + <em>line 27(c)</em> + <em>line 28(d)</em> + <em>line 29</em>)</li>
        <li><strong>Form 3X:</strong> <em>line 31</em> - (<em>line 21(a)(ii)</em> + <em>line 22</em> + <em>line 23</em> + <em>line 26</em> + <em>line 28(d)</em> + <em>line 29</em>)</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ asset_for_js('dataviz-common.js') }}"></script>
<script src="{{ asset_for_js('data-landing.js') }}"></script>
{% endblock %}
