{% extends 'layouts/main.jinja' %}
{% import 'macros/cycle-select.jinja' as select %}
{% import 'macros/overviews.jinja' as overviews %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ asset_for_css('data-landing.css') }}" />
{% endblock %}

{% block body %}
<section class="hero hero--primary hero--data" aria-labelledby="hero-heading">
  <div class="hero__image"></div>
  <div class="container">
    <h1 id="hero-heading">Campaign finance data</h1>
    <p class="hero__content">See how candidates and committees raise and spend money in federal elections. This financial data helps voters make informed decisions.</p>
  </div>
</section>

<div class="main container js-accordion accordion--neutral" data-content-prefix="about">
  <section class="content__section">
    <div class="grid--2-wide grid--flex">
      <div class="grid__item card t-left-aligned">
        <h2>Look up candidate and <br> committee profiles</h2>
        <div class="content__section">
          {{ search.search('hero', button_color="button--standard") }}
          <span class="t-note t-sans search__example">Examples: Obama for America; C00431445; Bush, George W.; P00003335; or enter an image number for a filing.</span>
        </div>
      </div>
      <div class="grid__item card t-left-aligned">
        <h2>Find contributions from <br> specific individuals</h2>
        <form action="/data/receipts/individual-contributions/" autocomplete="off" class="search__container content__section">
          <div class="combo combo--search combo--search--medium">
            <label for="contributor-search" class="label">Individual contributor name</label>
            <input id="contributor-search" class="combo__input" type="text" name="contributor_name"
            autocorrect="off" autocapitalize="off" spellcheck="false">
            <button type="submit" class="combo__button button--search button--standard">
              <span class="u-visually-hidden">Search</span>
            </button>
          </div>
          <span class="t-note t-sans search__example">Examples: your name, a celebrity, someone running for office.</span>
        </form>
      </div>
    </div>
  </section>

  <section class="content__section">
    <h2 class="t-ruled--bottom">Compare candidates in an election</h2>
    <div class="grid" id="election-lookup">
      <div class="grid__item">
        <form action="/data/elections" class="content__section">
          <div class="search-controls__state">
            <label for="state" class="label">State</label>
            <select id="state" name="state" aria-label="Select a state">
              <option value="">Select state</option>
              {% for value, label in constants.states.items() %}
              <option value="{{ value }}">{{ label }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="search-controls__district">
            <label for="District" class="label">District <span class="label__optional">(optional)</span></label>
            <select id="district" name="district" aria-label="Select a district" class="select--alt">
              <option value="">Select district</option>
              <option value="S">Senate</option>
              <optgroup label="House">
                {% for value in range(1, 100) %}
                {% with formatted = '{0:02d}'.format(value) %}
                <option value="{{ formatted }}">{{ formatted }}</option>
                {% endwith %}
                {% endfor %}
              </optgroup>
            </select>
          </div>
          <div class="search-controls__submit search-controls__no-label">
            <button type="submit" class="button--search--text button--standard">Search</button>
          </div>
        </form>
        <div class="election-map election-map--small"></div>

    </div>
  </section>

  </section>

  <section class="content__section content__section--ruled">
    <h2>Browse full advanced data sets</h2>
    <div class="grid grid--4-wide">
      <div class="grid__item">
        <a href="/data/advanced?tab=raising">
          <aside class="card card--horizontal card--primary">
            <div class="card__image__container">
              <span class="card__icon i-receipt"><span class="u-visually-hidden">Icon of a piggy bank</span></span>
            </div>
            <div class="card__content">
              Raising
            </div>
          </aside>
        </a>
      </div>
      <div class="grid__item">
        <a href="/data/advanced?tab=spending">
          <aside class="card card--horizontal card--primary">
            <div class="card__image__container">
              <span class="card__icon i-disbursement"><span class="u-visually-hidden">Icon of representing spending</span></span>
            </div>
            <div class="card__content">
              Spending
            </div>
          </aside>
        </a>
      </div>
      <div class="grid__item">
        <a href="/data/advanced?tab=candidates">
          <aside class="card card--horizontal card--primary">
            <div class="card__image__container">
              <span class="card__icon i-candidate"><span class="u-visually-hidden">Icon of a candidate</span></span>
            </div>
            <div class="card__content">
              Candidates
            </div>
          </aside>
        </a>
      </div>
      <div class="grid__item">
        <a href="/data/advanced?tab=committees">
          <aside class="card card--horizontal card--primary">
            <div class="card__image__container">
              <span class="card__icon i-committee"><span class="u-visually-hidden">Icon of a committee</span></span>
            </div>
            <div class="card__content">
              Committees
            </div>
          </aside>
        </a>
      </div>
    </div>
    <div class="grid grid--4-wide">
      <div class="grid__item">
        <a href="/data/advanced?tab=filings">
          <aside class="card card--horizontal card--primary">
            <div class="card__image__container">
              <span class="card__icon i-filings"><span class="u-visually-hidden">Icon of filed papers</span></span>
            </div>
            <div class="card__content">
              Filings and reports
            </div>
          </aside>
        </a>
      </div>
      <div class="grid__item">
        <a href="/data/advanced?tab=loans-debts">
          <aside class="card card--horizontal card--primary">
            <div class="card__image__container">
              <span class="card__icon i-loans"><span class="u-visually-hidden">Icon of an open hand with a dollar symbol</span></span>
            </div>
            <div class="card__content">
              Loans and debts
            </div>
          </aside>
        </a>
      </div>
      <div class="grid__item">
        <a href="/data/advanced?tab=bulk-data">
          <aside class="card card--horizontal card--primary">
            <div class="card__image__container">
              <span class="card__icon i-bulk"><span class="u-visually-hidden">Icon of bulk data</span></span>
            </div>
            <div class="card__content">
              Bulk data and other sources
            </div>
          </aside>
        </a>
      </div>
      <div class="grid__item">
        <a href="/data/advanced?tab=external">
          <aside class="card card--horizontal card--primary">
            <div class="card__image__container">
              <span class="card__icon i-external"><span class="u-visually-hidden">Icon representing external pages</span></span>
            </div>
            <div class="card__content">
              External data sources
            </div>
          </aside>
        </a>
      </div>
    </div>
  </section>
{% endblock %}
{% block scripts %}
<script src="{{ asset_for_js('dataviz-common.js') }}"></script>
<script src="{{ asset_for_js('data-landing.js') }}"></script>
{% endblock %}
