{% extends "layouts/legal-doc-landing.html" %}

{% block content %}
<header class="heading--main">
  <h1>Advisory opinions</h1>
</header>
<section class="content__section content__section--narrow">
  <div class="content__section">
    <p class="t-lead">
      Advisory opinions are official Commission responses to questions about how federal campaign finance law applies to specific, factual situations.
    </p>
    <a class="button button--cta button--go" href="{{ cms_url }}/legal-resources/advisory-opinions-process">The advisory opinion process</a>
  </div>
  <div class="u-no-print">
    <div class="slab slab--neutral slab--inline u-padding--left u-padding--right">
      <div class="heading--section heading--with-action">
        <h2 class="heading__left">Search advisory opinions</h2>
        <a class="button button--alt button--go heading__right" href="{{url_for('advisory_opinions')}}">Advanced search</a>
      </div>
      <div class="row">
        <form action="{{ url_for('advisory_opinions') }}" autocomplete="off" class="search__container u-padding--top">
          <div class="search-controls__row">
            <div class="search-controls__either">
              <label for="ao_no" class="label">Find by AO number</label>
              <div class="combo combo--search--medium combo--search--inline">
                <input type="text" id="ao_no" name="ao_no" class="combo__input">
                <button class="combo__button button--search button--standard" type="submit">
                  <span class="u-visually-hidden">Search</span>
                </button>
              </div>
              <span class="t-note t-sans search__example">Example: 2003-38</span>
            </div>
            <div class="search-controls__or search-controls__or--vertical">or</div>
            <div class="search-controls__either">
              <label for="search-input" class="label">Search by keyword</label>
              <div class="combo combo--search--medium combo--search--inline">
                <input id="search-input" type="text" name="search" class="combo__input">
                <button class="combo__button button--search button--standard" type="submit">
                  <span class="u-visually-hidden">Search</span>
                </button>
              </div>
              <div class="row search__example">
                <span class="t-note t-sans">Examples: charity, "spending prohibitions"</span>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="message message--info">
          <h3>This feature is still in progress</h3>
          <p>We&#39;re actively building the <strong>advisory opinion search</strong>, and it doesn&#39;t yet include some
          advanced search functions. If you can&#39;t find what you&#39;re looking for, you can still <a href="http://saos.fec.gov/saos/searchao">search
          opinions on the old FEC.gov</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content__section content__section--narrow">
  <div class="heading--section">
    <h2>Pending advisory opinion requests</h2>
  </div>
  <div class="content__section">
    <p>Once the Office of the General Counsel has determined that an advisory opinion request meets all of the requirements to move forward for consideration by the Commission, the request is made public and is available for public comment for ten days.</p>
    <a class="button button--standard button--go" href="{{ cms_url }}/legal-resources/advisory-opinions-process/#commenting">Learn how to comment</a>
  </div>
  {% if pending_aos %}
  <div class="post-feed">
    {% for ao in pending_aos %}
      <article class="post">
        <h3 class="pending-ao__title"><a href="{{ url_for('advisory_opinion_page', ao_no=ao.no) }}">AO {{ ao.no }} {{ ao.name }}</a></h3>
        <p class="t-sans">{{ ao.summary }}</p>
        <!-- <p>Deadline for comments: {{ ao.deadline }}</p> -->
      </article>
    {% endfor %}
  </div>
  {% else %}
  <div class="message message--info">
    <h3>No pending Advisory Opinions</h3>
  </div>
  {% endif %}
</section>
<section class="content__section content__section--narrow">
  <div class="heading--section">
    <h2>Recent advisory opinions issued</h2>
  </div>
  <div class="content__section">
    <p>The Commission issues an advisory opinion when four or more Commissioners vote to approve it. These votes almost always occur during an <a href="{{ cms_url }}/calendar/?category=Open+Meetings">open meeting</a>.</p>
    <a class="button button--standard button--browse" href="{{url_for('advisory_opinions')}}">Explore all advisory opinions</a>
  </div>
  <div class="post-feed">
    {% for ao in recent_aos %}
    <article class="post">
      <h3><a href="{{ url_for('advisory_opinion_page', ao_no=ao.no) }}">AO {{ ao.no }} {{ ao.name }}</a></h3>
      <p class="t-sans">{{ ao.summary }}</p>
      {% for doc in ao.documents %}
        {% if doc.category in ['Final Opinion', 'Withdrawal of Request'] %}
          <p class="t-sans post__doc"><a href="{{ doc.url }}">{{ doc.category }} | PDF</a></p>
        {% endif %}
      {% endfor %}
    </article>
    {% endfor %}
  </div>
</section>
{% endblock %}
