{% extends "layouts/main.html" %}
{% import 'macros/breadcrumbs.html' as breadcrumb %}

{% set breadcrumb_links=[(cms_url + '/legal-resources', 'Legal resources'), (url_for('advisory_opinions_landing'), 'Advisory opinions')] %}

{% block title %}AO {{ advisory_opinion.no }}{% endblock %}

{% block body %}
<header class="page-header slab slab--primary">
  {{ breadcrumb.breadcrumbs('AO %s' % (advisory_opinion.no,), breadcrumb_links) }}
</header>

{% block css %}
<link rel="stylesheet" href="{{ asset_for('dist/styles/legal-common.css') }}" />
{% endblock %}

<div class="main">
<div class="container">
  <div class="row">
    <header class="heading--main">
      <h1>AO {{ advisory_opinion.no }}</h1>
      <span class="heading__subtitle">{{ advisory_opinion.name }}</span>
    </header>
    <div class="row" id="sections">
      <div class="sidebar-container sidebar-container--left">
        <div class="js-sticky-side" data-sticky-container="sections">
          <nav class="sidebar sidebar--neutral sidebar--left side-nav js-toc">
            <ul class="sidebar__content">
              <li class="side-nav__item"><a class="side-nav__link" href="#summary">Summary</a></li>
              <li class="side-nav__item"><a class="side-nav__link" href="#documents">Documents</a></li>
              <li class="side-nav__item"><a class="side-nav__link" href="#entities">Entities</a></li>
              <li class="side-nav__item"><a class="side-nav__link" href="#legal-citations">Legal citations</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="main__content--right">
        <section id="summary" class="content__section">
          <h2>Summary</h2>
          <p>{{ advisory_opinion.summary }}</p>
        </section>
        <section id="documents" class="content__section">
          <h2>Documents</h2>
          {% if final_opinion %}
            <div class="content__section">
              <a class="button button--cta button--document button--lg" href="{{ final_opinion.url }}">Final opinion</a> <span class="t-sans u-padding--left">{{ final_opinion.date | date(fmt='%B %d, %Y') }}</span>
            </div>
          {% endif %}
          <table class="data-table simple-table" style="table-layout: auto;">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Name</th>
                <th scope="col">Document type</th>
              </tr>
            </thead>
            <tbody>
              {% for document in advisory_opinion.sorted_documents %}
                <tr>
                  <td>{{ document.date | ao_document_date }}</td>
                  <td><a href="{{ document.url }}">{{ document.description }}</a></td>
                  <td>{{ document.category }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>
        <section id="entities" class="content__section">
          <h2>Entities</h2>
          <table class="data-table simple-table" style="table-layout: auto;">
            <thead>
              <tr>
                <th scope="col">Role</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
              </tr>
            </thead>
            <tbody>
              {% for entity in advisory_opinion.entities %}
                <tr>
                  <td>{{ entity.role }}</td>
                  <td>{{ entity.name }}</td>
                  <td>{{ entity.type }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>
        <section id="legal-citations" class="content__section">
          <div class="sidebar--primary t-sans">
            <h4 class="sidebar__title">Legal citations</h4>
            <div class="sidebar__content">
              <div class="grid grid--2-wide">
                <div class="grid__item">
                  <div class="t-bold">Statutes</div>
                  <div class="rich-text">
                    {% if advisory_opinion.statutory_citations %}
                    {% for citation in advisory_opinion.statutory_citations %}
                      <div>
                        <a href="{{ 'http://api.fdsys.gov/link?collection=uscode&title=%s&year=mostrecent&section=%s' % (citation.title, citation.section) }}">{{ citation.title }} U.S.C. &sect;{{ citation.section }}</a></div><br>
                    {% endfor %}
                    {% else %}
                      <div><em>Doesn't cite statutes</em></div>
                    {% endif %}
                  </div>
                </div>
                  <div class="grid__item">
                    <div class="t-bold">Regulations</div>
                    {% if advisory_opinion.regulatory_citations %}
                    <ul>
                    {% for citation in advisory_opinion.regulatory_citations %}
                      <div><a href="{{ '/regulations/{0}-{1}/CURRENT#{0}-{1}'.format(citation.part, citation.section) }}">{{ citation.title }} CFR &sect;{{ citation.part }}.{{ citation.section }}</a></div><br>
                    {% endfor %}
                    {% else %}
                      <div><em>Doesn't cite regulations</em></div>
                    {% endif %}
                  </ul>
                  </div>
                  <div class="grid__item">
                    <div class="t-bold">This opinion cites these earlier opinions</div>
                    <div class="rich-text">
                      {% if advisory_opinion.ao_citations %}
                      {% for citation in advisory_opinion.ao_citations %}
                        <div><a href="{{ url_for('advisory_opinion_page', ao_no=citation.no) }}">AO {{ citation.no }}</a></div>
                        <div><i>{{ citation.name }}</i></div><br>
                      {% endfor %}
                      {% else %}
                        <div><em>Doesn't cite earlier opinions</em></div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="grid__item">
                    <div class="t-bold">This opinion is cited by these later opinions</div>
                    {% if advisory_opinion.aos_cited_by %}
                    {% for citation in advisory_opinion.aos_cited_by %}
                      <div><a href="{{ url_for('advisory_opinion_page', ao_no=citation.no) }}">AO {{ citation.no }}</a></div>
                      <div><i>{{ citation.name }}</i></div><br>
                    {% endfor %}
                    {% else %}
                      <div><em>Isn't cited by later opinions</em></div>
                    {% endif %}
                  </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
