{% extends "layouts/legal-doc-landing.html" %}
{% import 'macros/document.html' as document %}

{% block content %}
<header class="heading--main">
  <h1>Statutes</h1>
</header>
<div class="content__section content__section--narrow">
  <p>
    The FEC administers and enforces the Federal Election Campaign Act, the
    Presidential Election Campaign Fund Act and the Presidential Primary
    Matching Payment Account Act. Those acts and amendments, which are passed
    by Congress and signed by the President, are collected and restated as law
    in Title 52 and Title 26 of the U.S. Code.
  </p>
  <div class="u-no-print">
    <div class="slab slab--neutral slab--inline">
      <div class="container">
        <div class="row">
          <div class="usa-width-one-whole">
            <form action="{{ url_for('statutes') }}" autocomplete="off" class="search__container  js-search">
              <label for="search-input" class="label">Search statutes</label>
              <div class="combo combo--search--medium combo--search--inline">
                <input id="search-input" type="text" name="search" class="combo__input">
                <button class="combo__button button--search button--standard" type="submit">
                  <span class="u-visually-hidden">Search</span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="usa-width-one-whole">
            <span class="t-note t-sans search__example">Examples: spending; 52 U.S.C. §30123</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content__section">
  <div class="heading--section">
    <h2>Full text of statutes</h2>
  </div>
  <div class="content__section content__section--narrow">
    <p>
      Specifically, the FEC interprets and enforces the statutes found in Title 52, Subtitle III and Title 26, Subtitle H. There are two options for accessing these statutes:
    </p>
    <ol class="list--numbered">
      <li>
        <p>Access the FEC’s compilation of statutes. That PDF contains Title 52, Subtitle III, Title 26, Subtitle H and additional provisions of the U.S. Code that aren’t enforced by FEC but are relevant to people involved in federal elections.</p>
        <div class="grid grid--2-wide">
          {{ document.thumbnail("Federal Election Campaign Laws by the FEC", "https://transition.fec.gov/law/feca/feca.pdf", img="img/thumbnail--feca.jpg", size="1.6MB") }}
        </div>
      </li>
      <li>
        <p>Access the Government Printing Office (GPO) version of Title 52, Subtitle III and Title 26, Subtitle H.</p>
        <div class="grid grid--2-wide">
          {{ document.thumbnail("Title 52, Voting and Elections, GPO", "https://www.gpo.gov/fdsys/pkg/USCODE-2014-title52/pdf/USCODE-2014-title52-subtitleIII.pdf", img="img/thumbnail--title52.jpg", size="377KB") }}
          {{ document.thumbnail("Title 26, Internal Revenue Code, GPO", "https://www.gpo.gov/fdsys/pkg/USCODE-2014-title26/pdf/USCODE-2014-title26-subtitleH.pdf", img="img/thumbnail--title26.jpg", size="201KB") }}
        </div>
      </li>
  </div>
</div>
{% endblock %}
