{% extends 'layouts/main.jinja' %}
{# {% import 'macros/cycle-select.jinja' as select %} #}
{% import 'macros/page-header.jinja' as header %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ asset_for_css('base.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset_for_css(page_specific_css) }}" />
{% endblock %}

{% block body %}
  {{ header.header(title) }}
<section class="main">
  <div class="container">
    <header class="heading--main">
      <h1>Section title?</h1>
    </header>
  </div>

  <div class="container">
    <div class="content__section--extra">
      <div class="usa-width-one-whole">
        {% include './widgets/pres-finance-map.jinja' %}
      </div>
    </div>
  </div>
</section>
  <div class="slab slab--neutral">
    <div class="container">
      <h2>You might also like</h2>
      <div class="grid grid--4-wide">
        <div class="grid__item">
        <a href="/data/raising-bythenumbers/">
          <aside class="card card--horizontal card--primary">
            <div class="card__image__container">
              <span class="card__icon i-receipt"><span class="u-visually-hidden">Icon of a piggy bank</span></span>
            </div>
            <div class="card__content">
              Raising: by the numbers
            </div>
          </aside>
        </a>
      </div>
      <div class="grid__item">
        <a href="/data/spending-bythenumbers/">
          <aside class="card card--horizontal card--primary">
            <div class="card__image__container">
              <span class="card__icon i-disbursement"><span class="u-visually-hidden">Icon of representing spending</span></span>
            </div>
            <div class="card__content">
              Spending: by the numbers
            </div>
          </aside>
        </a>
      </div>
        <div class="grid__item">
          <a href="/data/elections">
            <aside class="card card--horizontal card--primary">
              <div class="card__image__container">
                <span class="card__icon i-elections"><span class="u-visually-hidden">Icon representing elections</span></span>
              </div>
              <div class="card__content">
                Find elections
              </div>
            </aside>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{# Load jQuery from the CDN #}
{# <script src="https://code.jquery.com/jquery-3.4.1.js" crossorigin="anonymous"></script> #}
{# <script>
var context = {
  election: {
    cycle: '{{ cycle }}',
    state: '{{ state or '' }}'
  }
}; 
</script> #}
{% endblock %}
