{% extends 'layouts/main.jinja' %}
{# {% import 'macros/cycle-select.jinja' as select %} #}
{% import 'macros/page-header.jinja' as header %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ asset_for_css('base.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset_for_css(page_specific_css) }}" />
{% endblock %}

{% block body %}
  {{ header.header(title) }}
<section class="main">
  <div class="container">
    <header class="heading--main">
      <h1>Presidential candidate map</h1>
    </header>
    <p style="margin-bottom:0">Presidential candidates are included in this presentation if they have reported receipts
    of more than $100,000 from sources outside the candidate&apos;s own funds. The candidate list displays
    each candidate&apos;s overall receipts, including contributions from the candidate, individuals and other
    political committees as well as transfers from the candidate&apos;s prior federal campaigns.</p>
  </div>

  <div class="container">
    <div class="content__section--extra">
      <div class="usa-width-one-whole">
        {% include './widgets/pres-finance-map.jinja' %}
      </div>
    </div>
  </div>
</section>
  <div class="slab slab--neutral">
    <div class="container">
      <h2>You might also like</h2>
      <div class="grid grid--4-wide">
        <div class="grid__item">
        <a href="/data/raising-bythenumbers/">
          <aside class="card card--horizontal card--primary">
            <div class="card__image__container">
              <span class="card__icon i-receipt"><span class="u-visually-hidden">Icon of a piggy bank</span></span>
            </div>
            <div class="card__content">
              Raising: by the numbers
            </div>
          </aside>
        </a>
      </div>
      <div class="grid__item">
        <a href="/data/spending-bythenumbers/">
          <aside class="card card--horizontal card--primary">
            <div class="card__image__container">
              <span class="card__icon i-disbursement"><span class="u-visually-hidden">Icon of representing spending</span></span>
            </div>
            <div class="card__content">
              Spending: by the numbers
            </div>
          </aside>
        </a>
      </div>
        <div class="grid__item">
          <a href="/data/elections">
            <aside class="card card--horizontal card--primary">
              <div class="card__image__container">
                <span class="card__icon i-elections"><span class="u-visually-hidden">Icon representing elections</span></span>
              </div>
              <div class="card__content">
                Find elections
              </div>
            </aside>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
