{% extends "layouts/sidebar-page.jinja" %}
{% import "macros/bythenumbers.jinja" as breakdowns %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ asset_for_css('data-landing.css') }}" />
{% endblock %}

{% block page_title %}
  <h1 class="icon-heading--raising-circle">{{ title }}</h1>
{% endblock %}

{% block sidebar %}
<nav class="sidebar sidebar--breakdown sidebar--left side-nav js-sticky-side" data-sticky-container="options">
  <a class="sidebar__title" href="/data/browse-data/?tab=raising#raising-overview">&lsaquo; All raising data</a>
  <ul class="sidebar__content js-toc">
    {% if FEATURES.aggregatetotals %}
    <li class="side-nav__item"><a class="side-nav__link" href="#raising-summary">Raising summary</a></li>
    {% else %}
    <li class="side-nav__item"><span class="side-nav__link is-disabled">Raising summary</span></li>
    {% endif %}
    <li class="side-nav__item"><a class="side-nav__link" href="#top-raisers">Who&apos;s raising the most</a></li>
    {% if FEATURES.contributionsbystate %}
    <li class="side-nav__item"><a class="side-nav__link" href="#contributions-by-state">Where individual contributions come from</a></li>
    {% else %}
    <li class="side-nav__item"><span class="side-nav__link is-disabled">Where individual contributions come from</span></li>
    {% endif %}
    <li class="side-nav__item"><span class="side-nav__link is-disabled">The size of contributions</span></li>
  </ul>
  <a class="button button--cta u-margin--top t-left-aligned button--disbursements u-full-width" href="/data/spending-bythenumbers/">Explore spending charts</a>
</nav>
{% endblock %}

{% block sections %}
{% if FEATURES.aggregatetotals %}
<section id="raising-summary" class="aggregate-totals-section">
  <h2>Raising summary</h2>
  <script defer id="gov_fec_agg_tots_script" data-theme="dark" data-office="{{ office }}" data-year="{{ election_year }}" data-action="raised" src="{{ asset_for_js('widgets/aggregate-totals-box.js') }}"></script>
</section>
{% endif %}
<section id="raising-breakdowns">
  <section id="top-raisers" class="content__section">
    <h2>Who&apos;s raising the most</h2>
    {{ breakdowns.top_entities(election_years, election_year, 'raised', office ) }}
  </section>
</section>
{% if FEATURES.contributionsbystate %}
<section id="contributions-by-state">
  <h2 class="heading--section u-padding--top">Where individual contributions come from</h2>
{# example of iframe implementation: #}
{# <script defer id="gov_fec_contribs_by_state_script" src="{{ asset_for_js('widgets/contributions-by-state.js') }}"></script> #}
{# <iframe src="/widgets/contributions-by-state" id="fec-gov-contribs-by-state"></iframe> #}
{% include 'partials/widgets/contributions-by-state.jinja' %}
</section>
{% endif %}
{% endblock %}

{% block modals %}
<div class="js-modal modal" id="raised-modal" aria-hidden="true">
  <div tabindex="-1" class="modal__overlay" data-a11y-dialog-hide></div>
  <div role="dialog" class="modal__content" aria-labelledby="raised-modal-title">
    <div role="document">
      <button type="button" class="modal__close button--close--primary" data-a11y-dialog-hide title="Close this dialog window"></button>
      <h2 id="raised-modal-title">Methodology</h2>
      <p>This chart includes data up to and including the most recent report filed by each campaign. It displays an overall total for the selected office and also displays totals for individual candidate's campaigns.</p>
      <p>The overall total is the sum of the total <span class="term" data-term="receipt">receipts</span> of the campaign committees of all candidates for the selected office.</p>
      <p>Candidates are displayed in descending order of total receipts. Total receipts are the sum of all contributions and other receipts received by the candidate’s authorized committees: two-year cycles for House candidates, four-year cycles for presidential candidates and six-year cycles for Senate candidates.</p>
      <p>The form and line used to calculate candidate campaign total receipt sums are:</p>
      <ul class="list--bulleted">
        <li>Presidential campaigns: Form 3P, Line 22, Column A</li>
        <li>Senate and House campaigns: Form 3, Line 16, Column A</li>
      </ul>
       <p><a href="/campaign-finance-data/party-code-descriptions/">See a list of political party abbreviations.</a></p>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
  var context = {
    type: 'receipts'
  }
  </script>
  <script src="{{ asset_for_js('bythenumbers.js') }}"></script>
{% endblock %}
