{% extends "layouts/sidebar-page.jinja" %}
{% import "macros/bythenumbers.jinja" as breakdowns %}
{% import 'macros/cycle-select.jinja' as select %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ asset_for_css('data-landing.css') }}" />
{% endblock %}

{% block page_title %}
  <h1 class="icon-heading--raising-circle">{{ title }}</h1>
{% endblock %}

{% block sidebar %}
<form action="" method="get" class="breakdown-cycle">
  <div class="row content__section">
    <div class="cycle-select">
      <label for="election-year" class="label cycle-select__label">Election</label>
      <select id="election-year" class="js-election-year" name="cycle">
        {% for each in election_years | sort(reverse=True) %}
          <option
              value="{{ each }}"
              {% if election_year == each %}selected{% endif %}
            >{{ each }}</option>
        {% endfor %}
      </select>
    </div>
  </div>  
</form>
<nav class="sidebar sidebar--breakdown sidebar--left side-nav js-sticky-side" data-sticky-container="options">
  <a class="sidebar__title" href="/data/#raising">&lsaquo; Raising overview</a>
  <ul class="sidebar__content js-toc">
    <li class="side-nav__item"><a class="side-nav__link" href="#top-raisers">Top raising candidates</a></li>
    <li class="side-nav__item"><span class="side-nav__link is-disabled">Where contributions come from</span></li>
    <li class="side-nav__item"><span class="side-nav__link is-disabled">The size of contributions</span></li>
  </ul>
</nav>
<a class="button button--cta u-margin--top t-left-aligned button--disbursements u-full-width" href="/data/spending-bythenumbers/">Explore spending charts</a>
{% endblock %}

{% block sections %}
<section id="raising-breakdowns">
  <section id="top-raisers" class="content__section">
    <h2>Top raising candidates</h2>
    {{ breakdowns.top_entities(election_year, 'raised', office ) }}
  </section>
</section>
{% endblock %}

{% block modals %}
<div class="js-modal modal" id="raised-modal" aria-hidden="true">
  <div tabindex="-1" class="modal__overlay" data-a11y-dialog-hide></div>
  <div role="dialog" class="modal__content" aria-labelledby="raised-modal-title">
    <div role="document">
      <button type="button" class="modal__close button--close--primary" data-a11y-dialog-hide title="Close this dialog window"></button>
      <h2 id="raised-modal-title">Methodology</h2>
      <p>This chart includes data up to and including the most recent report filed by each campaign. It displays an overall total for the selected office and also displays totals for individual candidate's campaigns.</p>
      <p>The overall total is the sum of the total <span class="term" data-term="receipt">receipts</span> of the campaign committees of all candidates for the selected office.</p>
      <p>Candidates are displayed in descending order of total receipts. Total receipts are the sum of all contributions and other receipts received by the candidate’s authorized committees: two-year cycles for House candidates, four-year cycles for presidential candidates and six-year cycles for Senate candidates.</p>
      <p>The form and line used to calculate candidate campaign total receipt sums are:</p>
      <ul class="list--bulleted">
        <li>Presidential campaigns: Form 3P, Line 22, Column A</li>
        <li>Senate and House campaigns: Form 3, Line 16, Column A</li>
      </ul>
       <p><a href="/campaign-finance-data/party-code-descriptions/">See a list of political party abbreviations.</a></p>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
  var context = {
    type: 'receipts'
  }
  </script>
  <script src="{{ asset_for_js('bythenumbers.js') }}"></script>
{% endblock %}
