{% extends "layouts/sidebar-page.jinja" %}
{% import "macros/bythenumbers.jinja" as breakdowns %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ asset_for_css('data-landing.css') }}" />
{% endblock %}

{% block page_title %}
  <h1 class="icon-heading--spending-circle">{{ title }}</h1>
{% endblock %}

{% block sidebar %}
<nav class="sidebar sidebar--breakdown sidebar--left side-nav js-sticky-side" data-sticky-container="options">
  <a class="sidebar__title" href="/data/browse-data/?tab=spending#spending-overview">&lsaquo; Browse all spending data</a>
  <ul class="sidebar__content js-toc">
    <li class="side-nav__item"><a class="side-nav__link" href="#spending-summary">Spending summary</a></li>
    <li class="side-nav__item"><a class="side-nav__link" href="#top-spenders">Who&apos;s spending the most</a></li>
    <li class="side-nav__item"><span class="side-nav__link is-disabled">Where contributions come from</span></li>
    <li class="side-nav__item"><span class="side-nav__link is-disabled">The size of contributions</span></li>
  </ul>
  <a class="button button--cta u-margin--top t-left-aligned button--raising u-full-width" href="/data/raising-bythenumbers/">Explore raising charts</a>
</nav>
{% endblock %}

{% block sections %}
{% if FEATURES.aggregatetotals %}
<section id="spending-summary" class="aggregate-totals-section">
  <h2>Spending summary</h2>
  <script defer data-theme="dark" data-office="{{ office }}" data-year="{{ election_year }}" data-action="spending" src="{{ asset_for_js('widgets/aggregate-totals-box.js') }}"></script>
</section>
{% endif %}
<section id="spending-breakdown">
  <section id="top-spenders" class="content__section">
    <h2>Who&apos;s spending the most</h2>
    {{ breakdowns.top_entities(election_years, election_year, 'spent', office ) }}
  </section>
</section>
{% endblock %}

{% block modals %}
<div class="js-modal modal" id="spent-modal" aria-hidden="true">
  <div tabindex="-1" class="modal__overlay" data-a11y-dialog-hide></div>
  <div role="dialog" class="modal__content" aria-labelledby="spent-modal-title">
    <div role="document">
      <button type="button" class="modal__close button--close--primary" data-a11y-dialog-hide title="Close this dialog window"></button>
      <h2 id="spent-modal-title">Methodology</h2>
      <p>This chart includes data up to and including the most recent report filed by each campaign. It displays an overall total for the selected office and also displays totals for individual candidate's campaigns.</p>
      <p>The overall total is the sum of the total <span class="term" data-term="disbursement">disbursements</span> of the campaign committees of all candidates for the selected office.</p>
      <p>Candidates are displayed in descending order of total disbursements, Total disbursements are the sum of all expenditures and other disbursements made by the candidate’s authorized committees: two-year cycles for House candidates, four-year cycles for presidential candidates and six-year cycles for Senate candidates.</p>
      <p>The form and line used to calculate candidate campaign total disbursement sums are:</p>
      <ul class="list--bulleted">
        <li>Presidential campaigns: Form 3P, Line 30, Column A</li>
        <li>Senate and House campaigns: Form 3, Line 22, Column A</li>
      </ul>
      <p><a href="/campaign-finance-data/party-code-descriptions/">See a list of political party abbreviations.</a></p>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
  var context = {
    type: 'disbursements'
  }
  </script>
  <script src="{{ asset_for_js('bythenumbers.js') }}"></script>
{% endblock %}
