{% extends "layouts/sidebar-page.html" %}
{% import "macros/breakdowns.html" as breakdowns %}

{% block css %}
<link rel="stylesheet" href="{{ asset_for('dist/styles/data-landing.css') }}" />
{% endblock %}

{% block page_title %}
  <h1 class="icon-heading--spending-circle">{{ title }}</h1>
{% endblock %}

{% block sidebar %}
<form action="" method="get" class="breakdown-cycle">
  <label for="cycle" class="label">Time period</label>
  <select id="cycle" name="cycle" class="js-cycle" aria-controls="spending-breakdown">
    <option value="2016" {% if cycle == '2016' %}selected{% endif %}>2015&ndash;2016</option>
    <option value="2012" {% if cycle == '2012' %}selected{% endif %}>2011&ndash;2012</option>
  </select>
  <noscript>
    <button type="submit" class="button button--cta">Submit</button>
  </noscript>
</form>
<nav class="sidebar sidebar--breakdown sidebar--left side-nav js-sticky-side" data-sticky-container="options">
  <a class="sidebar__title" href="{{ url_for('search', _anchor='spending') }}">&lsaquo; Spending overview</a>
  <ul class="sidebar__content js-toc">
    <li class="side-nav__item"><a class="side-nav__link" href="#top-spenders">Who's spending the most</a></li>
    <li class="side-nav__item"><span class="side-nav__link is-disabled">Where contributions come from</span></li>
    <li class="side-nav__item"><span class="side-nav__link is-disabled">The size of contributions</span></li>
  </ul>
</nav>
{% endblock %}

{% block sections %}
<section id="spending-breakdown">
  <section id="top-spenders" class="content__section">
    <h2>Who's spending the most</h2>
    {{ breakdowns.top_entities(top_spenders, coverage_start_date, coverage_end_date, cycle, 'spent', top_category, page_info ) }}
  </section>
</section>
{% endblock %}

{% block modals %}
<div class="js-modal modal" id="spent-modal" aria-hidden="true">
  <div tabindex="-1" class="modal__overlay" data-a11y-dialog-hide></div>
  <div role="dialog" class="modal__content" aria-labelledby="spent-modal-title">
    <div role="document">
      <button type="button" class="modal__close button--close--primary" data-a11y-dialog-hide title="Close this dialog window"></button>
      <h2 id="spent-modal-title">Methodology</h2>
      <p>Committees are displayed in descending order of total <span class="term" data-term="disbursement">disbursements</span>. Total disbursements are the sum of all purchases and payments made by a committee.</p>
      <p>This chart includes data up to and including the most recent report filed by each committee. It's displayed in two-year cycles.</p>
      <p>The form and line used to calculate total disbursement sums are:</p>
      <ul class="list--bulleted">
        <li>Presidential committees: Form 3P, Line 30, Column A</li>
        <li>Senate and House committees: Form 3, Line 22, Column A</li>
        <li>PACs and party committees: Form 3X, Line 31, Column A</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
  var context = {
    type: 'disbursements'
  }
  </script>
  <script src="{{ asset_for('dist/js/pages/breakdowns.js') }}"></script>
{% endblock %}
