{% extends "base.html" %}
{% block title %}404 Error | beta.FEC.gov{% endblock %}

{% block content %}
<section class="content--blank">
  <div class="container">
    <div class="message message--alert message--big">
      <h1 class="message__title">Oops!</h1>
      <p>We couldn't find what you're looking for. Please double-check the URL and try again.</p>
      <div class="message--alert__bottom">
        <p>Still can't find what you're looking for?</p>
        <ul class="list--buttons">
          <li><a class="button button--cta" href="/">Return home</a></li>
          <li><a class="button button--alt" href="https://github.com/18f/fec/issues">File an issue</a></li>
          <li><a class="button button--alt" href="mailto:{{ settings.CONTACT_EMAIL }}">Email our team</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}

