{% extends "base-status.html" %}

{% block title %}MAINTENANCE! error | FEC {% endblock %}

{% block content %}
<div class="container" style="padding-top: 15rem;">
  <ul class="grid grid--flex">
      <li class="grid__item text-centered">
          <p>We are experiencing technical difficulties. We know this may interrupt your work and are working hard to restore FEC.gov to normal. Please check the <a href="https://secure-stats.pingdom.com/x0blqgj29ogg">FEC.gov status page</a> for current system status availability.</p>
          <p>If you have any questions or feedback about the website, please contact us at <a href="mailto:webmanager@fec.gov">webmanager@fec.gov</a>. For assistance with questions about the FEC or the federal campaign finance law, please email <a href="mailto:info@fec.gov">info@fec.gov</a> or call 800-424-9530.</p>
      </li>
  </ul>
</div>
{% endblock %}
