{% load static compress wagtailuserbar %}
{% load filters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include './partials/meta-tags.html' %}

    <title>Website status error | FEC</title>

    {% include 'partials/google-tag-manager-script.html' %}

    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% asset_for_css 'base.css' %}">
    {% endblock %}
    <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?flags=gated&features=Object.assign"></script>
  </head>

  <body class="status-mode {% block body_class %}{% endblock %}">
    <div id="ie_warning" style="display:none; background-color: #212121; padding: 10px">
      <h2 style="color: #ffffff">Your web browser is not supported</h2>
      <p style="color: #ffffff; font-size: 16px;">You&apos;re using Internet Explorer, some features might not work. Please switch to another browser like Chrome, Firefox, or Edge for a better experience.</p>
    </div>

    {% include 'partials/google-tag-manager-noscript.html' %}

    {% wagtailuserbar %}
    {# env-specific banner #} 
    {% include 'partials/env-banner.html' %}
    {# .gov banner #}
    {% include 'partials/usa-banner.html' %}
    <header class="site-header site-header--homepage">
      <div class="masthead">
        <div class="homepage-seal">
          <img src="{% static 'img/seal.svg' %}" alt="FEC logo" width="160" height="160">
        </div>
        <div class="site-title--print"></div>
        <a title="Home" href="/" class="site-title" rel="home"><span class="u-visually-hidden">Federal Election Commission | United States of America</span></a>
      </div>
    </header>

    <main id="main">
      {% block content %}
      <div class="container" style="padding-top: 15rem;">
        <ul class="grid grid--flex">
            <li class="grid__item text-centered">
                <p>We are experiencing technical difficulties. We know this may interrupt your work and are working hard to restore FEC.gov to normal. Please check the <a href="https://secure-stats.pingdom.com/x0blqgj29ogg">FEC.gov status page</a> for current system status availability.</p>
                <p>If you have any questions or feedback about the website, please contact us at <a href="mailto:webmanager@fec.gov">webmanager@fec.gov</a>. For assistance with questions about the FEC or the federal campaign finance law, please email <a href="mailto:info@fec.gov">info@fec.gov</a> or call 800-424-9530.</p>
            </li>
        </ul>
      </div>
      {% endblock %}
    </main>

    {% include './partials/glossary.html' %}

    {% csrf_token %}

    <script>
      window.BASE_PATH = '/';
      window.FEC_APP_URL = '{{ settings.FEC_APP_URL }}';
      window.API_LOCATION = '{{ settings.FEC_API_URL }}';
    </script>

    {# Global javascript #}
    <script type="text/javascript" src="{% asset_for_js 'vendor.js' %}"></script>
    <script type="text/javascript" src="{% asset_for_js 'init.js' %}"></script>
    <script>
      var canSkipPolyfills = ('fetch' in window && 'assign' in Object);
      if (!canSkipPolyfills) {
        var pfScriptElem = document.createElement('script');
        pfScriptElem.async = false;
        pfScriptElem.src = "{% asset_for_js 'polyfills.js' %}";
        document.head.appendChild(pfScriptElem);
      }

      // Internet explorer not supported warning
      function isIE () {
        var myNav = navigator.userAgent.toLowerCase();
        return (myNav.indexOf('msie') != -1 || myNav.indexOf('trident') != -1) ? true : false;
      }
      
      if(isIE()){
        document.getElementById('ie_warning').style.display='block'
      }
    </script>

    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}

    {# GSA DAP for Production #}
    {% if settings.FEC_CMS_ENVIRONMENT == 'PRODUCTION' %}
    <script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=FEC"></script>
    {% endif %}
  </body>
</html>
