{% extends "base.html" %}

{% block body_class %}template-404{% endblock %}

{% block content %}
<section class="content--blank">
  <div class="container">
    <div class="message message--alert message--big">
      <div class="content__section">
        <h1 class="message__title">Oops: We messed up</h1>
        <p>We just experienced a server issue. Please try reloading the page.</p>
      </div>
      <div class="message--alert__bottom">
        <h2>Still can't find what you're looking for?</h2>
        <p>Get support by <a href="mailto:{{ settings.CONTACT_EMAIL }}">emailing us</a> or <a href="https://github.com/18F/openFEC/issues">opening a GitHub issue</a>.</p>
        <a href="/">Return home</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}