{% extends "base.html" %}

{% block title %}Server error | FEC {% endblock %}

{% block content %}
<section class="content--blank">
  <div class="container">
    <div class="message message--alert message--big">
      <h1 class="message__title">Server error</h1>
      <p>Sorry, this page failed to load. This happened because of an internal error, and our web team has been notified. Please try again, and thanks for your patience.</p>
      <p>If you'd like to contact our team, we're available by <a href="mailto:{{ settings.WEBMANAGER_EMAIL }}">email</a> or <a href="https://github.com/18f/fec">GitHub</a>.</p>
      
        <p><a class="button button--cta" href="/">Return home</a></p>
        <p>or try searching an archive of the <a href="{{settings.FEC_CLASSIC_URL}}">old FEC.gov design.</a></p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
