{% extends "base.html" %}

{% block title %}Server Error | beta.FEC.gov{% endblock %}

{% block content %}
<section class="content--blank">
  <div class="container">
    <div class="message message--alert message--big">
      <h1 class="message__title">Oops: We messed up</h1>
      <p>We had trouble processing your request. Please try reloading the page.</p>
      <div class="message--alert__bottom">
        <p>Still not working?</p>
        <ul class="list--buttons">
          <li><a class="button button--cta" href="/">Return home</a></li>
          <li><a class="button button--alt" href="https://github.com/18f/fec/issues">File an issue</a></li>
          <li><a class="button button--alt" href="mailto:{{ settings.CONTACT_EMAIL }}">Email our team</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
