{% load static compress wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en"> <![endif]-->
<!--[if IE 7]>         <html lang="en"> <![endif]-->
<!--[if IE 8]>         <html lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    {% include './partials/meta-tags.html' %}

    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }} | FEC {% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>

    {# Global stylesheets #}
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/fec.scss' %}">
    {% endcompress %}

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}
    <a href="#main" class="skip-nav">skip navigation</a>

    {% if self.title == "Homepage" or self.title == "Home" %}
    <header class="site-header site-header--homepage">
      <div class="masthead">
        <div class="homepage-seal">
          <img src="{% static 'img/seal.svg' %}" alt="FEC logo">
        </div>
        <div class="disclaimer">
          <span class="disclaimer__right">An official website of the U.S. government <img src="{% static 'img/us_flag_small.png' %}" class="flag" alt="US flag signifying that this is a United States Federal Government website"></span>
        </div>
        <img src="{% static 'img/print-logo.png' %}" class="u-print-only" alt="FEC logo">
        <a title="Home" href="/" class="site-title"><span class="u-visually-hidden">Federal Election Commission | United States of America</span></a>
        <ul class="utility-nav list--flat">
          <li class="utility-nav__item"><a href="/calendar/">Calendar</a></li>
          <li class="utility-nav__item"><button class="js-glossary-toggle glossary__toggle">Glossary</button></li>
        </ul>
      </div>
      {% include 'partials/mobile-nav.html' %}
    </header>
    {% else %}
    <header class="site-header">
      <div class="masthead">
        <div class="disclaimer">
          <span class="disclaimer__left">This site is in beta, visit <a href="http://www.fec.gov">FEC.gov</a></span>
          <span class="disclaimer__right">An official website of the United States Government <img src="{% static 'img/us_flag_small.png' %}"  alt="US flag signifying that this is a United States Federal Government website"></span>
        </div>
        <img src="{% static 'img/print-logo.png' %}" class="u-print-only" alt="FEC logo">
        <a title="Home" href="/" class="site-title"><span class="u-visually-hidden">Federal Election Commission | United States of America</span></a>
        <ul class="utility-nav list--flat">
          <li class="utility-nav__item{% if self.content_section == 'calendar' %} is-active{% endif %}"><a href="/calendar/">Calendar</a></li>
          <li class="utility-nav__item"><button class="js-glossary-toggle glossary__toggle">Glossary</button></li>
        </ul>
      </div>
      {% include 'partials/mobile-nav.html' %}
    </header>
    {% endif %}

    <main id="main">
      {% block content %}{% endblock %}
    </main>

    <nav class="footer-links">
      <div class="container">

        <div class="grid grid--6-wide">

          <div class="grid__item"></div>

          <div class="grid__item">
            <ul>
              <li>
                <a href="{{ cms_url }}/about/">About the FEC</a>
              </li>
              <li>
                <a href="{{ cms_url }}/about/careers/">Careers</a>
              </li>
              <li>
                <a href="{{ cms_url }}/contact-us/">Contact</a>
              </li>
              <li>
                <a href="{{ cms_url }}/press/">Press</a>
              </li>
            </ul>
          </div>

          <div class="grid__item">
            <ul>
{#               <li>
                <a href="">Privacy policy</a>
              </li> #}
              <li>
                <a href="{{ cms_url }}/about/plain-language/">Plain language</a>
              </li>
              <li>
                <a href="{{ cms_url }}/about/no-fear-act/">No FEAR Act</a>
              </li>
            </ul>
          </div>

          <div class="grid__item">
            <ul>
              <li>
                <a href="https://api.open.fec.gov/">OpenFEC API</a>
              </li>
              <li>
                <a href="https://github.com/18F/fec">GitHub repository</a>
              </li>
              <li>
                <a href="https://github.com/18F/FEC/blob/master/release_notes/release_notes.md">Release notes</a>
              </li>
            </ul>
          </div>

          <div class="grid__item">
            <ul>
              <li>
                <a href="https://www.data.gov/open-gov/">Open government</a>
              </li>
              <li>
                <a href="https://www.foia.gov/">FOIA</a>
              </li>
              <li>
                <a href="https://www.usa.gov/">USA.gov</a>
              </li>
            </ul>
          </div>

          <div class="grid__item">
            <ul>
              <li>
                <a href="{{ cms_url }}/updates/">Latest updates</a>
              </li>
            </ul>
          </div>

        </div>

      </div>
    </nav>

    <footer class="footer">
      <div class="container">
        <div class="seal">
          <img class="seal__img" width="140" height="140" src="{% static "img/seal--inverse.svg" %}" alt="Seal of the Federal Election Commission | United States of America">
          <p class="address__title">Federal Election Commission</p>
        </div>

        <div class="address">
          <ul class="social-media">
            <li>
              <div class="i icon--twitter">
                <a href="https://twitter.com/fec"><span class="u-visually-hidden">The FEC's Twitter page</span></a>
              </div>
            </li>
            <li>
              <div class="i icon--youtube">
                <a href="https://www.youtube.com/user/FECTube"><span class="u-visually-hidden">The FEC's YouTube page</span></a>
              </div>
            </li>
          </ul>

          <p>999 E Street, NW<br>
          Washington, DC 20463</p>
        </div>
      </div>
    </footer>

    {% include './partials/glossary.html' %}

    <script>
      window.FEC_APP_URL = '{{ settings.FEC_APP_URL }}';
      window.API_LOCATION = '{{ settings.FEC_API_URL }}';
      window.API_VERSION = '{{ settings.FEC_API_VERSION }}';
      window.API_KEY = '{{ settings.FEC_API_KEY_PUBLIC }}';
    </script>

    {# Global javascript #}
    {% compress js %}
    <script type="text/javascript" src="{% static 'js/fec.js' %}"></script>
    {% endcompress %}

    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}

    {% if not settings.DEBUG %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('set', 'anonymizeIp', true);
      ga('set', 'forceSSL', true);
      ga('create', 'UA-48605964-22', 'auto');
      ga('send', 'pageview');
    </script>
    <script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=FEC"></script>
      {% if features.ethnio %}
      <script type="text/javascript" language="javascript" src="//ethn.io/90208.js" async="true" charset="utf-8"></script>
      {% endif %}
    {% endif %}
  </body>
</html>
