{% load static compress wagtailuserbar %}
{% load filters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/meta-tags.html' %}
    {% include 'partials/meta-tags-preloads.html' %}
    <link rel="preload" as="style" href="{% path_for_css 'home.css' %}">
    {% if settings.FEC_CMS_ENVIRONMENT == 'PRODUCTION' %}
    {% include 'partials/meta-tags-preconnects.html' %}
    {% endif %}

    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }} | FEC {% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>

    {% include 'partials/google-tag-manager-script.html' %}
    {% block css %}
    <link defer rel="stylesheet" type="text/css" href="{% path_for_css 'home.css' %}">
    {% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    <div id="ie_warning" style="display: none;">
      <h2>Your web browser is not supported</h2>
      <p>You&apos;re using Internet Explorer, some features might not work. Please switch to another browser like Chrome, Firefox, or Edge for a better experience.</p>
    </div>

    {% include 'partials/google-tag-manager-noscript.html' %}

    {% wagtailuserbar %}
    <a href="#main" class="skip-nav">skip navigation</a>
    {# env-specific banner #} 
    {% include 'partials/env-banner.html' %}
    {# .gov banner #}
    {% include 'partials/usa-banner.html' %}
    {% if self.title == "Homepage" or self.title == "Home" %}
    <header class="site-header site-header--homepage" role="banner">
      <div class="masthead">
        <div class="homepage-seal">
          <img src="{% static 'img/seal.svg' %}" alt="FEC logo" width="160" height="160">
        </div>
        <div class="site-title--print"></div>
        <a title="Home" href="/" class="site-title" rel="home"><span class="u-visually-hidden">Federal Election Commission | United States of America</span></a>
        <ul class="utility-nav list--flat">
          <li class="utility-nav__item"><a href="/calendar/">Calendar</a></li>
          <li class="utility-nav__item">
            <a class="js-glossary-toggle glossary__toggle">Glossary</a>
          </li>
          <li class="utility-nav__search">
            <form accept-charset="UTF-8" action="/search" class="combo" method="get" role="search">
              <input type="hidden" name="type" value="candidates">
              <input type="hidden" name="type" value="committees">
              <input type="hidden" name="type" value="site">
              <label class="u-visually-hidden" for="query">Search</label>
              <div class="combo combo--search">
                <input
                  class="js-site-search combo__input"
                  autocomplete="off"
                  aria-controls="query_listbox"
                  id="query"
                  name="query"
                  type="text"
                  aria-label="Search FEC.gov">
                <button type="submit" class="button--standard combo__button button--search">
                  <span class="u-visually-hidden">Search</span>
                </button>
              </div>
            </form>
          </li>
        </ul>
      </div>
      {% include 'partials/navigation/navigation.html' %}
    </header>
    {% else %}
    <header class="site-header">
      <div class="masthead">
        <div class="site-title--print"></div>
        <a title="Home" href="/" class="site-title" rel="home"><span class="u-visually-hidden">Federal Election Commission | United States of America</span></a>
        <ul class="utility-nav list--flat">
          <li class="utility-nav__item{% if self.content_section == 'calendar' %} is-active{% endif %}"><a href="/calendar/">Calendar</a></li>
          <li class="utility-nav__item"><a class="js-glossary-toggle glossary__toggle">Glossary</a></li>
          <li class="utility-nav__search">
            <form accept-charset="UTF-8" action="/search" id="search_form" class="combo" method="get" role="search">
              <input type="hidden" name="type" value="candidates">
              <input type="hidden" name="type" value="committees">
              <input type="hidden" name="type" value="site">
              <label class="u-visually-hidden" for="query">Search</label>
              <div class="combo combo--search">
              <input
                class="js-site-search combo__input"
                autocomplete="off"
                id="query"
                name="query"
                type="text"
                aria-label="Search FEC.gov">
              <button type="submit" class="button--standard combo__button button--search">
                <span class="u-visually-hidden">Search</span>
              </button>
            </div>
           </form>
          </li>
        </ul>
      </div>
      {% include 'partials/navigation/navigation.html' %}
    </header>
    {% endif %}

    <main id="main">
      {% block content %}{% endblock %}
    </main>

    {% include 'partials/footer-navigation.html' %}
    <footer class="footer">
      <div class="container">
        <div class="seal">
          <img class="seal__img" width="140" height="140" src="{% static "img/seal--inverse.svg" %}" alt="Seal of the Federal Election Commission | United States of America">
          <p class="address__title">Federal Election Commission</p>
        </div>
        <div class="address">
          <ul class="social-media">
            <li>
              <div class="i icon--x-twitter">
                <a href="https://x.com/fec"><span class="u-visually-hidden">The FEC's Twitter page</span></a>
              </div>
            </li>
            <li>
              <div class="i icon--youtube">
                <a href="https://www.youtube.com/user/FECTube"><span class="u-visually-hidden">The FEC's YouTube page</span></a>
              </div>
            </li>
          </ul>
          <a href="https://public.govdelivery.com/accounts/USFEC/subscriber/topics?qsp=CODE_RED" target="_blank" rel="noopener">
            <button class="button--standard button--envelope" type="button">Sign up for FECMail</button>
          </a>
        </div>
        <div class="taxpayer-statement">
          <p>This information is produced and disseminated at U.S. taxpayer expense.</p>
        </div>
      </div>
    </footer>

    {% include 'partials/glossary.html' %}

    {% csrf_token %}

    <script>
      window.BASE_PATH = '/data';
      window.FEC_APP_URL = '{{ settings.FEC_APP_URL }}';
      window.API_LOCATION = '{{ settings.FEC_API_URL }}';
      window.API_VERSION = '{{ settings.FEC_API_VERSION }}';
      window.API_KEY_PUBLIC = '{{ API_KEY_PUBLIC }}';
      window.API_KEY_PUBLIC_CALENDAR = '{{ settings.FEC_API_KEY_PUBLIC_CALENDAR }}';
      window.CALENDAR_DOWNLOAD_PUBLIC_API_KEY = '{{ settings.FEC_CAL_DOWNLOAD_API_KEY }}';
      window.CANONICAL_BASE = '{{ settings.CANONICAL_BASE }}'
    </script>
    {% tags_for_js_chunks 'global.js' '' %}

    {% block extra_js %}
    {% endblock %}

    {# GSA DAP for Production #}
    {% if settings.FEC_CMS_ENVIRONMENT == 'PRODUCTION' %}
    <script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=FEC"></script>
    {% endif %}
  </body>
</html>
