{% load static compress wagtailuserbar %}
{% load filters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/meta-tags.html' %}
    {% include 'partials/meta-tags-preloads.html' %}
    <link rel="preload" as="style" href="{% asset_for_css 'home.css' %}">
    {% if settings.FEC_CMS_ENVIRONMENT == 'PRODUCTION' %}
    {% include 'partials/meta-tags-preconnects.html' %}
    {% endif %}

    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }} | FEC {% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>

    {% include 'partials/google-tag-manager-script.html' %}
    {% block css %}
    <link defer rel="stylesheet" type="text/css" href="{% asset_for_css 'home.css' %}">
    {% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    <div id="ie_warning" style="display: none;">
      <h2>Your web browser is not supported</h2>
      <p>You&apos;re using Internet Explorer, some features might not work. Please switch to another browser like Chrome, Firefox, or Edge for a better experience.</p>
    </div>

    {% include 'partials/google-tag-manager-noscript.html' %}

    {% wagtailuserbar %}
    <a href="#main" class="skip-nav">skip navigation</a>
    {# env-specific banner #} 
    {% include 'partials/env-banner.html' %}
    {# .gov banner #}
    {% include 'partials/usa-banner.html' %}
    {% if self.title == "Homepage" or self.title == "Home" %}
    <header class="site-header site-header--homepage" role="banner">
      <div class="masthead">
        <div class="homepage-seal">
          <img src="{% static 'img/seal.svg' %}" alt="FEC logo" width="160" height="160">
        </div>
        <div class="site-title--print"></div>
        <a title="Home" href="/" class="site-title" rel="home"><span class="u-visually-hidden">Federal Election Commission | United States of America</span></a>
        <ul class="utility-nav list--flat">
          <li class="utility-nav__item"><a href="/calendar/">Calendar</a></li>
          <li class="utility-nav__item">
            <a class="js-glossary-toggle glossary__toggle">Glossary</a>
          </li>
          <li class="utility-nav__search">
            <form accept-charset="UTF-8" action="/search" class="combo" method="get" role="search">
              <input type="hidden" name="type" value="candidates">
              <input type="hidden" name="type" value="committees">
              <input type="hidden" name="type" value="site">
              <label class="u-visually-hidden" for="query">Search</label>
              <div class="combo combo--search">
                <!-- <input
                  class="js-site-search combo__input"
                  autocomplete="off"
                  aria-controls="query_listbox"
                  id="query"
                  name="query"
                  type="text"
                  aria-label="Search FEC.gov"> -->
                <input
                  class="js-site-search combo__input"
                  data-autocomplete="off"
                  aria-controls="query_listbox"
                  id="query"
                  name="query"
                  type="text"
                  aria-label="Search FEC.gov - NEW!">
                <button type="submit" class="button--standard combo__button button--search">
                  <span class="u-visually-hidden">Search</span>
                </button>
              </div>
            </form>
          </li>
        </ul>
      </div>
      {% include 'partials/navigation/navigation.html' %}
    </header>
    {% else %}
    <header class="site-header">
      <div class="masthead">
        <div class="site-title--print"></div>
        <a title="Home" href="/" class="site-title" rel="home"><span class="u-visually-hidden">Federal Election Commission | United States of America</span></a>
        <ul class="utility-nav list--flat">
          <li class="utility-nav__item{% if self.content_section == 'calendar' %} is-active{% endif %}"><a href="/calendar/">Calendar</a></li>
          <li class="utility-nav__item"><a class="js-glossary-toggle glossary__toggle">Glossary</a></li>
          <li class="utility-nav__search">
            <form accept-charset="UTF-8" action="/search" id="search_form" class="combo" method="get" role="search">
              <input type="hidden" name="type" value="candidates">
              <input type="hidden" name="type" value="committees">
              <input type="hidden" name="type" value="site">
              <label class="u-visually-hidden" for="query">Search</label>
              <div class="combo combo--search">
              <input
                class="js-site-search combo__input"
                autocomplete="off"
                id="query"
                name="query"
                type="text"
                aria-label="Search FEC.gov">
              <button type="submit" class="button--standard combo__button button--search">
                <span class="u-visually-hidden">Search</span>
              </button>
            </div>
           </form>
          </li>
        </ul>
      </div>
      {% include 'partials/navigation/navigation.html' %}
    </header>
    {% endif %}

    <main id="main">
      {% block content %}{% endblock %}
    </main>

    {% include 'partials/footer-navigation.html' %}
    <footer class="footer">
      <div class="container">
        <div class="seal">
          <img class="seal__img" width="140" height="140" src="{% static "img/seal--inverse.svg" %}" alt="Seal of the Federal Election Commission | United States of America">
          <p class="address__title">Federal Election Commission</p>
        </div>

        <div class="address">
          <ul class="social-media">
            <li>
              <div class="i icon--twitter">
                <a href="https://twitter.com/fec"><span class="u-visually-hidden">The FEC's Twitter page</span></a>
              </div>
            </li>
            <li>
              <div class="i icon--youtube">
                <a href="https://www.youtube.com/user/FECTube"><span class="u-visually-hidden">The FEC's YouTube page</span></a>
              </div>
            </li>
          </ul>

          <p>1050 First Street, NE<br>
          Washington, DC 20463</p>

          <a href="https://public.govdelivery.com/accounts/USFEC/subscriber/topics?qsp=CODE_RED" target="_blank" rel="noopener">
            <button class="button--standard button--envelope">Sign up for FECMail</button>
          </a>
        </div>
      </div>
    </footer>

    {% include 'partials/glossary.html' %}

    {% csrf_token %}

    <script>
      window.BASE_PATH = '/data';
      window.FEC_APP_URL = '{{ settings.FEC_APP_URL }}';
      window.API_LOCATION = '{{ settings.FEC_API_URL }}';
      window.API_VERSION = '{{ settings.FEC_API_VERSION }}';
      window.API_KEY_PUBLIC = '{{ settings.FEC_API_KEY_PUBLIC }}';
      window.API_KEY_PUBLIC_CALENDAR = '{{ settings.FEC_API_KEY_PUBLIC_CALENDAR }}';
      window.CANONICAL_BASE = '{{ settings.CANONICAL_BASE }}';

      if (window.FEC_APP_URL == 'None') window.FEC_APP_URL = 'http://127.0.0.1:8000/';

      const officeMap = {
        H: 'House',
        S: 'Senate',
        P: 'President'
      };
      let queryText;
      let fetchInit = {
        "headers": {
          "accept": "application/json, text/javascript, */*; q=0.01",
          "accept-language": "en-US,en;q=0.9",
          "cache-control": "no-cache",
          "pragma": "no-cache"
        },
        "referrerPolicy": "same-origin",
        "body": null,
        "method": "GET",
        "mode": "cors"
      };
      function searchedAttribs() {
        return ['name', 'id'];
      }

      window.tempOpts = {
        selector: '.js-site-search',
        // placeHolder: 'The opts worked!',
        data: {
          src: async q => {
            let fetchedResults = [];
            window.queryText = q;
            await fetch(
              `https://fec-dev-api.app.cloud.gov/v1/names/candidates/?q=${q}&api_key=${window.API_KEY_PUBLIC}`, 
              fetchInit
            )
            .then(response => response.json())
            .then(data => {
              let results = data.results;

              if (results.length > 0) fetchedResults.push({is_header: true, id: window.queryText, name: 'Select a candidate:', type: 'none'});
              // console.log('data.results.length: ', data.results.length);
              // if (data.results.length > 0) console.log('  first data.results: ', data.results[0]);
              results.forEach(element => {
                element.type = 'candidate';
              });
              fetchedResults.push(...results.slice(0, 5));
              // if (response.status !== 200) throw new Error('The network rejected the grand total request.');
              // else if (response.type == 'cors') throw new Error('CORS error');
              // response.json().then(data => {
                // instance.displayUpdatedData_grandTotal(data);
              // });
              return fetch(
                `https://fec-dev-api.app.cloud.gov/v1/names/committees/?q=${q}&api_key=${window.API_KEY_PUBLIC}`, 
                fetchInit
              )
            })
            .then(response => response.json())
            .then(data => {
              let results = data.results;

              if (!fetchedResults) fetchedResults = [];
              if (results.length > 0) fetchedResults.push({is_header: true, id: window.queryText, name: 'Select a committee:', type: 'none'});

              results.forEach(element => {
                element.type = 'committee';
              });
              fetchedResults.push(...results.slice(0, 10));
            })
            .then((data) => {
              fetchedResults.push({is_suggestion: true, id: window.queryText, name: 'Search individual contributions from:', type: 'individual'});
              fetchedResults.push({is_suggestion: true, id: window.queryText, name: 'Search other pages:', type: 'site'});
              // suggestion for individual contribs
            });
            return fetchedResults;
          },
          keys: searchedAttribs()
        },
        resultsList: {
          // tag: 'div',
          class: 'tt-dataset tt-dataset-candidate',
          maxResults: 20,
          tabSelect: true,
          destination: '.tt-menu span',/*() => {
            console.log('desination function(): ');
            let toReturn = document.querySelector('.tt-menu');
            console.log('  toReturn: ', toReturn);
            console.log('  this: ', this);
            return toReturn;
          },*/
          element: (item, data) => {
            item.setAttribute('role', 'presentation');
          }
          // <div role="presentation" class="tt-dataset tt-dataset-candidate">[header], [resultItems]</div>
          // Need header: <span class="tt-suggestion__header">Select a candidate:</span>
        },
        resultItem: {
          // tag: 'span',
          class: 'tt-suggestion tt-selectable',
          selected: 'tt-cursor',
          element: (item, data) => {
            // console.log('resultItem.element() data: ', item, data);

            if (data.value.is_header) {
              item.setAttribute('class', 'tt-suggestion__header');
              item.setAttribute('tabindex', '-1');
              item.innerHTML = data.value.name;
            } else if (data.value.is_suggestion) {
              item.setAttribute('class', 'tt-suggestion tt-select');
              item.setAttribute('tabindex', '-1');
              item.innerHTML = `<strong>${data.value.name}</strong> "<strong class="tt-highlight">${data.value.id}</strong>"`;
              // <span class="tt-suggestion tt-selectable"><strong>Search individual contributions from:</strong> "window.queryText"</span>
              // <span class="tt-suggestion tt-selectable"><strong>Search other pages:</strong> "<strong class="tt-highlight">john</strong>"</span>

            } else {
              // console.log('q: ', q);
              let dName = data.value.name;
              let dID = data.value.id;
              let dActive= data.value.active;
              let dOffice = officeMap[data.value.office_sought] || null;
              let match = item.match;

              if (dName.toLowerCase().indexOf(window.queryText.toLowerCase()) >= 0) {
                let baseStr = data.value.name;
                let startPos = baseStr.toLowerCase().indexOf(window.queryText.toLowerCase());
                let endPos = startPos + window.queryText.length;
                dName = `${baseStr.slice(0, startPos)}<strong class="tt-highlight">${baseStr.slice(startPos, endPos)}</strong>${baseStr.slice(endPos)}`;
              }
              if (dID.indexOf(window.queryText) >= 0) {
                let baseStr = dID.toString();
                let startPos = baseStr.indexOf(window.queryText);
                let endPos = startPos + window.queryText.length;
                dID = `${baseStr.slice(0, startPos)}<strong class="tt-highlight">${baseStr.slice(startPos, endPos)}</strong>${baseStr.slice(endPos)}`;
              }

              item.innerHTML = `<span class="tt-suggestion__name" tabindex="-1">${dName} (${dID})</span>`;

              if (dOffice) item.innerHTML += `<span class="tt-suggestion__office" tabindex="-1">${dOffice}</span>`;

              if (data.value.is_active === true) item.innerHTML += '<span class="is-active-status"></span>';
              else if (data.value.is_active === false) item.innerHTML += '<span class="is-terminated-status"></span>';
            }

            //
          }
          //  <span class="tt-suggestion tt-selectable">
          //    <span class="tt-suggestion__name"><strong class="tt-highlight">TEST</strong>ER, R. JON (S6MT00162)</span>
          //    <span class="tt-suggestion__office">OFFICE</span>
          //  </span>
        }
      }
    </script>

    {# Global javascript #}
    <script type="text/javascript" src="{% asset_for_js 'vendor.js' %}"></script>
    <script type="text/javascript" src="{% asset_for_js 'init.js' %}"></script>


    {% block extra_js %}
    {% endblock %}

    {# GSA DAP for Production #}
    {% if settings.FEC_CMS_ENVIRONMENT == 'PRODUCTION' %}
    <script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=FEC"></script>
    {% endif %}
  </body>
</html>
