{% load static compress wagtailuserbar %}
{% load filters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/meta-tags.html' %}
    {% include 'partials/meta-tags-preloads.html' %}
    {% if settings.FEC_CMS_ENVIRONMENT == 'PRODUCTION' %}
    {% include 'partials/meta-tags-preconnects.html' %}
    {% endif %}

    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }} | FEC {% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>

    {% include 'partials/google-tag-manager-script.html' %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% asset_for_css 'elections.css' %}">
    {% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    <!--[if lte IE 10]>
    <div style="background-color: #212121; padding: 10px">
      <h2 style="color: #ffffff">Your browser is outdated</h2>
      <p style="color: #ffffff; font-size: 16px;">You&apos;re using an older version of Internet Explorer. Please update or switch to another browser like Chrome, Firefox, or Edge for a better experience. <a style="color: #ffffff; text-decoration: underline" target="_blank" href="http://browsehappy.com/">Learn how to update your browser</a>.</p>
    </div>
    <![endif]-->

    {% include 'partials/google-tag-manager-noscript.html' %}

    {% wagtailuserbar %}
    <a href="#main" class="skip-nav">skip navigation</a>
    {# env-specific banner #} 
    {% include 'partials/env-banner.html' %}
    {# .gov banner #}
    {% include 'partials/usa-banner.html' %}
    {% if self.title == "Homepage" or self.title == "Home" %}
    <header class="site-header site-header--homepage" role="banner">
      <div class="masthead">
        <div class="homepage-seal">
          <img src="{% static 'img/seal.svg' %}" alt="FEC logo">
        </div>
        <div class="site-title--print"></div>
        <a title="Home" href="/" class="site-title" rel="home"><span class="u-visually-hidden">Federal Election Commission | United States of America</span></a>
        <ul class="utility-nav list--flat">
          <li class="utility-nav__item"><a href="/calendar/">Calendar</a></li>
          <li class="utility-nav__item">
            <a class="js-glossary-toggle glossary__toggle">Glossary</a>
          </li>
          <li class="utility-nav__search">
            <form accept-charset="UTF-8" action="/search" class="combo" method="get" role="search">
              <input type="hidden" name="type" value="candidates">
              <input type="hidden" name="type" value="committees">
              <input type="hidden" name="type" value="site">
              <label class="u-visually-hidden" for="query">Search</label>
              <input
                class="js-site-search combo__input"
                autocomplete="off"
                id="query"
                name="query"
                type="text"
                aria-label="Search FEC.gov">
              <button type="submit" class="button--standard combo__button button--search">
                <span class="u-visually-hidden">Search</span>
              </button>
            </form>
          </li>
        </ul>
      </div>
      {% include 'partials/navigation/navigation.html' %}
    </header>
    {% else %}
    <header class="site-header">
      <div class="masthead">
        <div class="site-title--print"></div>
        <a title="Home" href="/" class="site-title" rel="home"><span class="u-visually-hidden">Federal Election Commission | United States of America</span></a>
        <ul class="utility-nav list--flat">
          <li class="utility-nav__item{% if self.content_section == 'calendar' %} is-active{% endif %}"><a href="/calendar/">Calendar</a></li>
          <li class="utility-nav__item"><a class="js-glossary-toggle glossary__toggle">Glossary</a></li>
          <li class="utility-nav__search">
            <form accept-charset="UTF-8" action="/search" id="search_form" class="combo" method="get" role="search">
              <input type="hidden" name="type" value="candidates">
              <input type="hidden" name="type" value="committees">
              <input type="hidden" name="type" value="site">
              <label class="u-visually-hidden" for="query">Search</label>
              <input
                class="js-site-search combo__input"
                autocomplete="off"
                id="query"
                name="query"
                type="text"
                aria-label="Search FEC.gov">
              <button type="submit" class="button--standard combo__button button--search">
                <span class="u-visually-hidden">Search</span>
              </button>
            </form>
          </li>
        </ul>
      </div>
      {% include 'partials/navigation/navigation.html' %}
    </header>
    {% endif %}

    <main id="main">
      {% block content %}{% endblock %}
    </main>

    {% include 'partials/footer-navigation.html' %}
    <footer class="footer">
      <div class="container">
        <div class="seal">
          <img class="seal__img" width="140" height="140" src="{% static "img/seal--inverse.svg" %}" alt="Seal of the Federal Election Commission | United States of America">
          <p class="address__title">Federal Election Commission</p>
        </div>

        <div class="address">
          <ul class="social-media">
            <li>
              <div class="i icon--twitter">
                <a href="https://twitter.com/fec"><span class="u-visually-hidden">The FEC's Twitter page</span></a>
              </div>
            </li>
            <li>
              <div class="i icon--youtube">
                <a href="https://www.youtube.com/user/FECTube"><span class="u-visually-hidden">The FEC's YouTube page</span></a>
              </div>
            </li>
          </ul>

          <p>1050 First Street, NE<br>
          Washington, DC 20463</p>

          <a href="https://public.govdelivery.com/accounts/USFEC/subscriber/topics?qsp=CODE_RED" target="_blank">
            <button class="button--standard button--envelope">Sign up for FECMail</button>
          </a>
        </div>
      </div>
    </footer>

    {% include 'partials/glossary.html' %}

    {% csrf_token %}

    <script>
      window.BASE_PATH = '/data';
      window.FEC_APP_URL = '{{ settings.FEC_APP_URL }}';
      window.API_LOCATION = '{{ settings.FEC_API_URL }}';
      window.API_VERSION = '{{ settings.FEC_API_VERSION }}';
      window.API_KEY_PUBLIC = '{{ settings.FEC_API_KEY_PUBLIC }}';
      window.API_KEY_PUBLIC_CALENDAR = '{{ settings.FEC_API_KEY_PUBLIC_CALENDAR }}';
      window.TRANSITION_URL = '{{ settings.FEC_TRANSITION_URL }}';
      window.CANONICAL_BASE = '{{ settings.CANONICAL_BASE }}'
    </script>


    {# Global javascript #}
    <script type="text/javascript" src="{% asset_for_js 'vendor.js' %}"></script>
    <script type="text/javascript" src="{% asset_for_js 'init.js' %}"></script>
    <script defer type="text/javascript" src='https://www.google.com/recaptcha/api.js'></script>


    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}

    {# GSA DAP for Production #}
    {% if settings.FEC_CMS_ENVIRONMENT == 'PRODUCTION' %}
    <script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=FEC"></script>
    {% endif %}
  </body>
</html>
