{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}
{% block breadcrumbs %}
{% endblock %}

<article class="main">
  <div class="container" id="sections">
    <h1 class="heading--main">{{ self.title }}</h1>
    <div class="content__section">
        {% block intro %}
        {% endblock %}
    </div>
    <div class="row" id="section-container">
      {% include 'partials/section-nav.html' with sections=self.sections citations=self.citations container='section-container' %}
      <div class="main__content--right">
        {% block sections %}
        {% endblock %}
        {% if self.citations %}
        <aside id="legal-citations" class="sidebar sidebar--primary">
          <h4 class="sidebar__title">Legal citations</h4>
          <div class="sidebar__content">
            {% block citations %}
            {% endblock %}
          </div>
        </aside>
        {% endif %}
      </div>
    </div>
  </div>
</article>

{% if self.related_topics %}
<div class="slab slab--neutral">
  <div class="container">
    <h2>Related topics</h2>
    <div class="grid grid--4-wide">
    {% block related_topics %}
    {% endblock %}
    </div>
  </div>
</div>
{% endif %}

{% include 'partials/disclaimer.html' %}

{% endblock %}
