{% extends "layouts/main.html" %}
{% import 'macros/legal.html' as legal %}
{% import 'macros/breadcrumbs.html' as breadcrumb %}

{% set breadcrumb_links=[(cms_url + '/legal-resources', 'Legal resources')] %}

{% block title %}{{ display_name | capitalize }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ asset_for('dist/styles/legal.css') }}" />
{% endblock %}

{% block body %}
<header class="page-header slab slab--primary">
  {{ breadcrumb.breadcrumbs(display_name.capitalize(), breadcrumb_links) }}
</header>

<div class="main container">
  {% block content %}{% endblock %}
</div>

{% include 'partials/legal-disclaimer.html' %}
{% endblock %}

{% block scripts %}
<script src="{{ asset_for_page('legal') }}"></script>
{% endblock %}
