<!DOCTYPE html>
<html lang="en">
<head>

  <title>{% block title %}{% endblock %} | FEC </title>
  {% set title = self.title() %}

  {% include 'partials/meta-tags.jinja' %}

  {% block css %}
  <link rel="stylesheet" type="text/css" href="{{ asset_for_css('base.css') }}" />
  {% endblock css %}

  <script>
    BASE_PATH = '/data';
    API_LOCATION = '{{ FEC_API_URL }}';
    API_VERSION = 'v1';
    API_KEY = '{{ FEC_API_KEY }}';
    DEFAULT_TIME_PERIOD = '2018';
    START_YEAR = '1979';
    END_YEAR = '2018';
    DISTRICT_MAP_CUTOFF = '2018';
    WEBMANAGER_EMAIL = '{{ WEBMANAGER_EMAIL }}';
    CANONICAL_BASE = '{{ CANONICAL_BASE }}';
    TRANSITION_URL = '{{ TRANSITION_URL }}';

    function trackMetric(name, imagesSelector) {
      if (imagesSelector) {
        var images = document.querySelectorAll(imagesSelector);
        if (images && images.length) {
          for (var i = 0, ilen = images.length; i < ilen; i++) {
            images[i].addEventListener('load', function() {
              window.performance.mark(name);
            });
          }
        }
      }
      window.performance.mark(name);
    }
  </script>
</head>
<body>
{% import 'macros/search.jinja' as search %}
{% include 'partials/warnings.jinja' %}

<a href="#main" class="skip-nav" tabindex="0">skip navigation</a>

  <header class="site-header">
    <div class="masthead">
      <div class="disclaimer">
        <span class="disclaimer__right">
          An official website of the United States Government
          <img src="{{ static('img/us_flag_small.png') }}" alt="US flag signifying that this is a United States Federal Government website">
        </span>
      </div>
      <div class="site-title--print"></div>
      <a title="Home" href="/" rel="home" class="site-title"><span class="u-visually-hidden">Federal Election Commission | United States of America</span></a>
      <ul class="utility-nav list--flat">
        <li class="utility-nav__item"><a href="/calendar/">Calendar</a></li>
        <li class="utility-nav__item"><a class="js-glossary-toggle glossary__toggle">Glossary</a></li>
        <li class="utility-nav__search">
          <form accept-charset="UTF-8" action="/search" class="combo" method="get" role="search">
            <input type="hidden" name="type" value="candidates">
            <input type="hidden" name="type" value="committees">
            <input type="hidden" name="type" value="site">
            <label class="u-visually-hidden" for="query">Search</label>
            <input
              class="js-site-search combo__input"
              autocomplete="off"
              id="query"
              name="query"
              type="text"
              aria-label="Search FEC.gov">
            <button type="submit" class="button--standard combo__button button--search">
              <span class="u-visually-hidden">Search</span>
            </button>
          </form>
        </li>
      </ul>
    </div>

    {% include 'partials/navigation/navigation.html' %}

  </header>

  {% block header %}{% endblock %}
  <main id="main" {% if section %} data-section="{{section}}"{% endif %}>
    {% block body %}{% endblock %}
  </main>
  {% include 'partials/footer-navigation.html' %}
  <footer class="footer">
    <div class="container">
      <div class="seal">
        <img class="seal__img" width="140" height="140" src="{{ static('img/seal--inverse.svg') }}" alt="Seal of the Federal Election Commission | United States of America">
        <p class="address__title">Federal Election Commission</p>
      </div>

      <div class="address">
        <ul class="social-media">
          <li>
            <div class="i icon--twitter">
              <a href="https://twitter.com/fec"><span class="u-visually-hidden">The FEC's Twitter page</span></a>
            </div>
          </li>
          <li>
            <div class="i icon--youtube">
              <a href="https://www.youtube.com/user/FECTube"><span class="u-visually-hidden">The FEC's YouTube page</span></a>
            </div>
          </li>
        </ul>

        <p>1050 First Street, NE<br>
        Washington, DC 20463</p>

        <a href="https://public.govdelivery.com/accounts/USFEC/subscriber/topics?qsp=CODE_RED" target="_blank">
          <button class="button--standard button--envelope">Sign up for FECMail</button>
        </a>
      </div>
    </div>
  </footer>

{% include './partials/glossary.html' %}

{% csrf_token %}

{% block modals %}{% endblock %}
  <script src="{{ asset_for_js('vendor.js') }}"></script>
  <script src="{{ asset_for_js('data-init.js') }}"></script>
{% block scripts %}{% endblock %}

{% if FEC_CMS_ENVIRONMENT == 'PRODUCTION' %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('set', 'anonymizeIp', true);
    ga('set', 'forceSSL', true);
    ga('create', 'UA-48605964-22', 'auto');
    ga('send', 'pageview');
  </script>
  <script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=FEC"></script>
{% endif %}

</body>
</html>
