<!DOCTYPE html>
<html lang="en">
<head>

  <title>{% block title %}{% endblock %} | FEC</title>
  {% set title = self.title() %}

  {% include 'partials/meta-tags.jinja' %}

  {% block css %}{% endblock css %}

  {% block head_js %}
    <script>
      var canSkipPolyfills = ('fetch' in window && 'assign' in Object);
      if (!canSkipPolyfills) {
        var pfScriptElem = document.createElement('script');
        pfScriptElem.async = false;
        pfScriptElem.src = '{{ asset_for_js('polyfills.js') }}';
        document.head.appendChild(pfScriptElem);
      }
    </script>
  {% endblock %}

{% include 'partials/google-tag-manager-script.jinja' %}
  
  <script>
    BASE_PATH = '/data';
    API_LOCATION = '{{ FEC_API_URL }}';
    API_VERSION = 'v1';
    API_KEY_PUBLIC = '{{ FEC_API_KEY_PUBLIC }}';
    DEFAULT_TIME_PERIOD = '{{ DEFAULT_TIME_PERIOD }}';{# see note #}
    DEFAULT_PRESIDENTIAL_YEAR = '{{ DEFAULT_PRESIDENTIAL_YEAR }}';{# see note #}
    DEFAULT_ELECTION_YEAR = '{{ DEFAULT_ELECTION_YEAR }}';{# see note #}
    START_YEAR = '{{ START_YEAR }}';{# see note #}
    END_YEAR = '{{ END_YEAR }}';{# see note #}
    {# note: these are set through fec/data/views.py and come from /data/constants.py #}

    function trackMetric(name, imagesSelector) {
      if (imagesSelector) {
        var images = document.querySelectorAll(imagesSelector);
        if (images && images.length) {
          for (var i = 0, ilen = images.length; i < ilen; i++) {
            images[i].addEventListener('load', function() {
              window.performance.mark(name);
            });
          }
        }
      }
      window.performance.mark(name);
    }
  </script>
</head>
<body>

  {% include 'partials/google-tag-manager-noscript.jinja' %}

  <main id="main" {% if section %} data-section="{{section}}"{% endif %}>
    {% block body %}{% endblock %}
  </main>

{# {% csrf_token %} #}

{# {% block modals %}{% endblock %} #}
{% block scripts %}{% endblock %}

{# DAP for Production #}
{% if (FEC_CMS_ENVIRONMENT == 'PRODUCTION') %}
  <script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=FEC"></script>
{% endif %}

</body>
</html>
