{% import "macros/widgets.jinja" as widgets %}
{% import "macros/filters/typeahead-filter.jinja" as typeahead %}

 <aside id="gov-fec-contribs-by-state" class="contribs-by-state is-loading w-s" data-election_year="{{ election_year }}">
    <div class="controls-wrapper">
        {{ typeahead.field('contribs-by-state-cand', 'Contributions received by: ', 'Examples: ', dataset='candidates', allow_text=True) }}
    <fieldset class="select">
        {{ widgets.select__election_year(election_years, election_year, 'state-conwidtribs-years', 'P') }}
    </fieldset>
    </div>
    <div class="message message--info js-error-message" role="alert" aria-hidden="true">
        <h2>No results</h2>
        <p>This is the error message</p>
    </div>
    <div class="container overlay__container">
        <div class="overlay overlay--neutral is-loading"></div>
    </div>
    <div class="state-list-wrapper">
        <div class="states-table-timestamp"><time class="js-cycle-start-time" datetime="">&nbsp;</time>-<time class="js-cycle-end-time" datetime="">&nbsp;</time></div>
        <div class="table-scroller">
            <table class="data-table data-table--heading-borders data-table--entity u-margin--top" data-type="filings-{{ dataType }}" data-cycle="{{ election_year }}">
                <thead>
                    <tr>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">State</th>
                        <th scope="col" class="t-right-aligned">Total raised</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="3" style="text-align:center">loading&hellip;</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="states-total">
            <div>All states</div>
            <div class="t-right-aligned t-mono js-states-total">Unknown Dollars</div>
        </div>
        {# {{ widgets.list_states() }} #}
    </div>
    <div class="map-wrapper">
        <div class="map-details">
            <hgroup class="candidate-details">
                <h1>&nbsp;</h1>
                <h2>&nbsp;</h2>
                <h3>&nbsp;</h3>
            </hgroup>
            <div class="legend-container">
                <span class="t-sans t-block">By state, total amount received</span>
                <svg></svg>
            </div>
        </div>
        <div class="election-map"></div>
    </div>
    <div class="more-info-wrapper">
        <a class="button--standard button--table js-browse-indiv-contribs-by-state" href="/data/receipts/individual-contributions/">Browse individual contributions</a>
        <a class="button--alt js-methodology">Methodology</a>
    </div>
</aside>
<script defer src="{{ path_for_js('widgets/contributions-by-state-box.js') }}" data-standalone="true" type="module"></script>
