{% import 'macros/null.jinja' as null %}
{% import 'macros/disclaimer.jinja' as disclaimer %}
{% import 'macros/cycle-select.jinja' as select %}
<!--  TODO: remove this reaction box macro and <hr>, for testing only --> 
{% import 'macros/reaction-box.jinja' as reaction %}


<section id="section-1" role="tabpanel" aria-hidden="true" aria-labelledby="section-1-heading">
   <h2 id="section-1-heading">{{ office | title }} election data</h2>
   <div class="slab slab--inline slab--neutral u-padding--left u-padding--right">
      {# 
      <div id="election-summary" class="entity__figure row">
         <h2 class="heading__left">{{ office | title }} election summary</h2>
         <p class="t-sans t-bold t-low-height">Comparing total money spent by party. Also comparing total money spent in <span class="term" data-term="independent expenditure" title="Click to define" tabindex="0">independent expenditures</span> by support and opposition.</p>
         {{ select.two_year_select(cycles, cycle, id="cycle-4") }}
         <div class="content__section--ruled-responsive t-serif">
            <div class="heading--with-action t-small u-negative--top--margin t-serif">
               <i class="data-disclaimer">Some kind of disclaimer text that clarifies something high-level that users need to know right away to put the data in context.</i>
               <div class="heading__right">
                  <a class="button button--alt js-ga-event" data-a11y-dialog-show="election-summary-modal" data-ga-event="Election summary methodology modal clicked" aria-controls="election-summary-modal">Methodology</a>
               </div>
            </div>
            <div class="js-modal modal" id="election-summary-modal" aria-hidden="true">
               <div tabindex="-1" class="modal__overlay" data-a11y-dialog-hide=""></div>
               <div role="dialog" class="modal__content" aria-labelledby="election-summary-modal-title">
                  <div role="document">
                     <button type="button" class="modal__close button--close--primary" data-a11y-dialog-hide="" title="Close this dialog window"></button>
                     <h2>Methodology Overview</h2>
                     <p></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      #}
      <div id="contributions-over-time" class="entity__figure row">
         <h2 class="heading__left">{{ office | title }} candidate contributions over time</h2>
         <p class="t-sans t-low-height">Comparing individual contributions, other committee contributions and transfers from other authorized committees across multiple two-year periods.</p>
         <label class="label t-inline-block">Two-year period date range</label>
         <fieldset id="two-year-period-date-range" name="two-year-period-date-range">
            <div class="range range--date js-date-range">
               <div class="range__select range__select--min" data-filter="range">
                  <div class="cycle-select">
                     <select class="js-min-period-select" name="cycle" data-cycle-location="query" data-period="min">     
                     </select>
                  </div>
               </div>
               <div class="range__hyphen">-</div>
               <div class="range__select range__select--max" data-filter="range">
                  <div class="cycle-select">
                     <select class="js-max-period-select" name="cycle" data-cycle-location="query" data-period="max">
                     </select>
                  </div>
               </div>
            </div>
         </fieldset>
         <section>
            <aside>
               <div class="main-content-wrapper">
                  <div class="visual-divider" role="presentation"></div>
                  <h3 class="label">Individual contributions</h3>
                  <div class="tooltip__container">
                     <button class="tooltip__trigger" type="button"><span class="u-visually-hidden">Learn more</span></button>
                     <div id="" role="tooltip" class="tooltip tooltip--under tooltip--left">
                        <p class="tooltip__content">Itemized contributions received from individuals that exceed or aggregate over $200 when added to other contributions from the same source during that same election cycle.</p>
                     </div>
                  </div>
                  <div class="js-across-time" data-total-type="total_individual_itemized_contributions">
                  </div>
                  <h3 class="label u-padding--top">PACs and other committee contributions</h3>
                  <div class="tooltip__container">
                     <button class="tooltip__trigger" type="button"><span class="u-visually-hidden">Learn more</span></button>
                     <div id="" role="tooltip" class="tooltip tooltip--under tooltip--left">
                        <p class="tooltip__content">All itemized contributions from PACs and other political committees except party committees and Super PACs.</p>
                     </div>
                  </div>
                  <div class="js-across-time" data-total-type="total_other_political_committee_contributions">
                  </div>
                  <h3 class="label u-padding--top">Transfers from other authorized committees</h3>
                  <div class="tooltip__container">
                     <button class="tooltip__trigger" type="button"><span class="u-visually-hidden">Learn more</span></button>
                     <div id="" role="tooltip" class="tooltip tooltip--under tooltip--left">
                        <p class="tooltip__content">All funds transferred between authorized committees of the same candidate during that same election cycle.</p>
                     </div>
                  </div>
                  <div class="js-across-time" data-total-type="total_transfers_from_other_authorized_committee">   
                  </div>
               </div>
            </aside>
         </section>

         <div class="content__section--ruled-responsive u-margin--top t-serif">
            <div class="row">
               <ul class="list--buttons u-float-right">
                  <li><a class="button button--alt js-ga-event" data-a11y-dialog-show="contributions-over-time-modal" data-ga-event="Totals for all elections methodology modal clicked" aria-controls="totals-for-all-elections-modal">Methodology</a></li>
               </ul>
               <p class="u-no-margin"><i class="data-disclaimer">Each two-year period includes financial activity from January 1 of the nonelection year through December 31 of the election year. Newly filed summary data may not appear for up to 48 hours.</i></p>
               </div>
               <div class="js-modal modal" id="contributions-over-time-modal" aria-hidden="true">
                  <div tabindex="-1" class="modal__overlay" data-a11y-dialog-hide=""></div>
                  <div role="dialog" class="modal__content" aria-labelledby="contributions-over-time-modal-title">
                     <div role="document">
                        <button type="button" class="modal__close button--close--primary" data-a11y-dialog-hide="" title="Close this dialog window"></button>
                        <h2>Methodology Overview</h2>
                        <p>The totals presented in the chart are calculated using data submitted by principal campaign and authorized committees on <a href="https://www.fec.gov/resources/cms-content/documents/fecfrm3.pdf">Form 3</a> (Report of Receipts and Disbursements) for the selected office by two-year periods. Financial summary data for this chart are available from 2005 to present.</p>
                        <p>These totals do not include data from Form 6 (48-Hour Notice of Contributions/Loans Received) or Form 3L (Report of Contributions Bundled by Lobbyists/Registrants and Lobbyist/Registrant PACs).</p>
                        <p>For contributions across time, data are calculated as:</p>
                        <ul class="list--bulleted">
                          <li>Individual contributions: the sum of Form 3, Line 11(a)(i) by two-year period.</li>
                          <li>PAC and other committee contributions: the sum of Form 3, Line 11(c) by two-year period. Party committee and Super PAC contributions are not included in this total.</li>
                          <li>Transfers from other authorized committees: the sum of Form 3, Line 12 by two-year period.</li>
                        </ul>
                        <h3>Contribution limits</h3>
                        <p><a href="/help-candidates-and-committees/candidate-taking-receipts/contribution-limits/">Contribution limits</a> have changed over time. Historical contribution limits are available on our Archive of contribution limits <a href="/help-candidates-and-committees/candidate-taking-receipts/archived-contribution-limits/">page</a>.</p>
                     </div>
                  </div>
               </div>
            </div>
            <!--  TODO: remove this reaction box macro and <hr>, for testing only --> 
            <hr>
            {{ reaction.reaction_box('h_s_overview', 'house_senate_overview') }}
            <!-- /END TODO --> 
         </div>
      {# 
      <div id="money-raised-accross-elections" class="entity__figure row">
         <h2 class="heading__left">Money raised accross {{ office | title }} elections</h2>
         <p class="t-sans t-low-height">Comparing the money raised in all {{ office | title }} elections by state </p>
         {{ select.two_year_select(cycles, cycle, id="cycle-4") }}
         <div class="content__section--ruled-responsive t-serif">
            <div class="heading--with-action t-small u-negative--top--margin t-serif">
               <i class="data-disclaimer">Some kind of disclaimer text that clarifies something high-level that users need to know right away to put the data in context.</i>
               <div class="heading__right">
                  <a class="button button--alt js-ga-event" data-a11y-dialog-show="money-raised-accross-elections-modal" data-ga-event="Money raised accross elections methodology modal clicked" aria-controls="money-raised-accross-elections-modal">Methodology</a>
               </div>
            </div>
            <div class="js-modal modal" id="money-raised-accross-elections-modal" aria-hidden="true">
               <div tabindex="-1" class="modal__overlay" data-a11y-dialog-hide=""></div>
               <div role="dialog" class="modal__content" aria-labelledby="money-raised-accross-elections-modal-title">
                  <div role="document">
                     <button type="button" class="modal__close button--close--primary" data-a11y-dialog-hide="" title="Close this dialog window"></button>
                     <h2>Methodology Overview</h2>
                     <p class="t-note"></p>
                     <p></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      #}
  {% if FEATURES.house_senate_overview_totals %}     
      <div id="totals-for-all-elections" class="entity__figure row">
         <h2 class="heading__left">Totals for all {{ office | title }} elections</h2>
         <p class="t-sans t-low-height">Comparing the money raised, spent, cash on hand and debts by {{ office | title }} election</p>
         {{ select.two_year_select(cycles, cycle, id="all-elections-totals") }}
         <table id="election-totals-results"
           class="data-table data-table--heading-borders scrollX simple-table u-no-border"
           data-type="totals-for-all-elections"
         >
           <thead>
             <th role="col">State</th>
             <th role="col">Receipts</th>
             <th role="col">Disbursements</th>
             <th role="col">Cash on hand</th>
             <th role="col">Debts</th>
           </thead>
         </table>
         <div class="content__section u-margin--top t-serif">
            <div class="row">
               <ul class="list--buttons u-float-right">
                  <li><a class="button button--alt js-ga-event" data-a11y-dialog-show="totals-for-all-elections-modal" data-ga-event="Totals for all elections methodology modal clicked" aria-controls="totals-for-all-elections-modal">Methodology</a></li>
               </ul
               <p class="u-no-margin"><i class="data-disclaimer">Each two-year period includes financial activity from January 1 of the nonelection year through December 31 of the election year. Newly filed summary data may not appear for up to 48 hours.</i></p>
               </div>
               <div class="js-modal modal" id="totals-for-all-elections-modal" aria-hidden="true">
                  <div tabindex="-1" class="modal__overlay" data-a11y-dialog-hide=""></div>
                  <div role="dialog" class="modal__content" aria-labelledby="totals-for-all-elections-modal-title">
                     <div role="document">
                        <button type="button" class="modal__close button--close--primary" data-a11y-dialog-hide="" title="Close this dialog window"></button>
                        <h2>Methodology Overview</h2>
                        <p>The totals presented in the table are calculated using a two-step process. In step one, financial data reported within a two-year period are aggregated by candidate campaign committees creating totals by candidate by two-year period. In step two, 
                        candidates are grouped by state and two-year period creating totals by state and two-year period. Financial summary data are available from 1979 to present.</p>
                        <h3>Candidate campaign committee aggregation</h3>
                        <p>Candidate campaign committee totals are calculated from data submitted by principal campaign and authorized committees on <a href="https://www.fec.gov/resources/cms-content/documents/fecfrm3.pdf">Form 3</a> (Report of Receipts and Disbursements). These totals do not include data from Form 6 (48-Hour Notice of Contributions/Loans Received) or Form 3L (Report of Contributions Bundled by Lobbyists/Registrants and Lobbyist/Registrant PACs).</p>
                        <p>For each candidate during a two-year period, the candidate's totals are calculated as:</p>
                        <ul class="list--bulleted">
                           <li>Receipts: Sum of total receipts (Form 3, Line 16) of all reports filed by the committee of that two-year period.</li>
                           <li>Disbursements: Sum of total disbursements (Form 3, Line 22) of all reports filed by the committee of that two-year period.</li>
                           <li>Cash on hand: Ending cash on hand (Form 3, Line 8) reported on last filing decided by coverage end date for each two-year period.</li>
                           <li>Debt: Debt owed by committee (Form 3, Line 10) on last filing decided by coverage end date for each two-year period.</li>
                        </ul>
                        <h3>State aggregation</h3>
                        <p>State totals are calculated from the candidate campaign committee aggregations previously described. Candidates are grouped by two-year period and state, then the financial data are summed producing totals for receipts, disbursements, cash on hand and debt.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
   {% endif %}
      </div>
</section>
