  <nav class="sidebar side-nav-alt">
    <ul class="tablist" role="tablist" data-name="tab">
      <li class="side-nav__item" role="presentation">
        <a
          class="side-nav__link"
          role="tab"
          data-name="election-data"
          tabindex="0"
          aria-controls="panel1"
          href="#section-1"
        >
          {{ office|title }} election data
        </a>
        <ul>
            {# 
            <li><a href="#election-summary">{{ office | title }} election summary</a></li>
            #} 
            <li><a href="#contributions-over-time">{{ office | title }} candidate contributions over time</a></li>
            {#  
            <li><a href="#money-raised-accross-elections">Money raised accross {{ office | title }} elections</a></li>
            #}
          {% if FEATURES.house_senate_overview_totals %}  
            <li><a href="#totals-for-all-elections">Totals for all {{ office | title }} elections</a></li>
          {% endif %}
        </ul>
      </li>
    </ul>
  </nav>