{# used inside fec/data/templates/house-senate-overview.jinja #}
{% import 'macros/null.jinja' as null %}
{% import 'macros/disclaimer.jinja' as disclaimer %}
{% import 'macros/cycle-select.jinja' as select %}

        <section id="section-election-summary" role="tabpanel" aria-hidden="true" aria-labelledby="election-summary-heading">
            <h2 id="election-summary-heading">{{ office | title }} election summary</h2>
            <div id="election-summary" class="entity__figure row">
              {# <h2 class="heading__left">{{ office | title }} election summary</h2> #}
              <p class="t-sans t-low-height">Comparing total money raised, spent and remaining cash on hand, by party.</p>
              {{ select.two_year_select(cycles, cycle, id="cycle-summary") }}
              <div class="grid--flex grid--3-wide">
                <div class="grid__item">
                  <figure class="js-party-money-bars" id="summary-total-raised" data-event-field-id="total_contributions">
                    <div class="total-wrapper">
                      <h1 class="value js-value-large">$1,234,567,890</h1>
                      <h2 class="description js-value-large-desc">raised by {{ office | title }} candidates</h2>
                    </div>
                    <div class="visual-divider" role="presentation"></div>
                    <div class="parties-wrapper"></div>
                  </figure>
                </div>
                <div class="grid__item">
                  <figure class="js-party-money-bars" id="summary-total-spent" data-event-field-id="total_disbursements">
                    <div class="total-wrapper">
                      <h1 class="value js-value-large">$1,234,567,890</h1>
                      <h2 class="description js-value-large-desc">spent by {{ office | title }} candidates</h2>
                    </div>
                    <div class="visual-divider" role="presentation"></div>
                    <div class="parties-wrapper"></div>
                  </figure>
                </div>
                <div class="grid__item">
                  <figure class="js-party-money-bars" id="summary-remaining-coh" data-event-field-id="total_cash_on_hand_end_period">
                    <div class="total-wrapper">
                      <h1 class="value js-value-large">$1,234,567,890</h1>
                      <h2 class="description js-value-large-desc">remaining in cash on hand</h2>
                    </div>
                    <div class="visual-divider" role="presentation"></div>
                    <div class="parties-wrapper"></div>
                  </figure>
                </div>
              </div>




              <div class="content__section--ruled-responsive t-serif">
                <div class="heading--with-action t-small u-negative--top--margin t-serif">
                  <i class="data-disclaimer">Newly filed summary data may not appear for up to 48 hours.</i>
                  <div class="heading__right">
                    <a class="button button--alt js-ga-event" data-a11y-dialog-show="election-summary-modal" data-ga-event="Election summary methodology modal clicked" aria-controls="election-summary-modal">Methodology</a>
                  </div>
                </div>
                <div class="js-modal modal" id="election-summary-modal" aria-hidden="true">
                  <div tabindex="-1" class="modal__overlay" data-a11y-dialog-hide=""></div>
                  <div role="dialog" class="modal__content" aria-labelledby="election-summary-modal-title">
                    <div role="document">
                      <button type="button" class="modal__close button--close--primary" data-a11y-dialog-hide="" title="Close this dialog window"></button>
                      <h2>Methodology Overview</h2>
                      <p>All of the methodology information will go here.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
