<div class="mega-container">
  <div class="mega">
    <div class="mega__inner">
      <div class="mega-heading">
        <h2 class="mega-heading__title"><a href="/data">Campaign finance home</a></h2>
      </div>
      <div class="row">
        <div class="usa-width-one-third mega__intro">
          <p>Look up candidates and committees in federal elections and learn about the money raised and spent in elections.</p>
          <p><a class="button button--alt-primary" href="/data">Get started &raquo;</a></p>
        </div>
        <div class="usa-width-one-third">
          <ul class="usa-width-one-half">
            <li class="mega__item"><a href="/data/advanced?tab=raising">Raising</a></li>
            <li class="mega__item"><a href="/data/advanced?tab=spending">Spending</a></li>
            <li class="mega__item"><a href="/data/advanced?tab=loans-debts">Loans and debts</a></li>
            <li class="mega__item"><a href="/data/advanced?tab=filings">Filings and reports</a></li>
          </ul>
          <ul class="usa-width-one-half">
            <li class="mega__item"><a href="/data/advanced?tab=candidates">Candidates</a></li>
            <li class="mega__item"><a href="/data/advanced?tab=committees">Committees</a></li>
            <li class="mega__item"><a href="/data/advanced?tab=bulk-data">Bulk data and other sources</a></li>
            <li class="mega__item"><a href="/data/advanced?tab=external">External sources</a></li>
          </ul>
        </div>
        <div class="usa-width-one-fourth u-margin--top u-padding--left">
          <a href="/data/elections">
            <aside class="card card--primary card--horizontal mega__card">
              <div class="card__image">
                <span class="card__icon i-elections"><span class="u-visually-hidden">Icon representing elections</span></span>
              </div>
              <div class="card__content">
                Find elections. Search by state or ZIP code.
              </div>
            </aside>
          </a>
          <a href="/data/receipts/individual-contributions">
            <aside class="card card--primary card--horizontal mega__card">
              <div class="card__image">
                <span class="card__icon i-individual-contributions"><span class="u-visually-hidden">Icon representing individual contributions</span></span>
              </div>
              <div class="card__content">
                Look up contributions from specific individuals
              </div>
            </aside>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
