<div class="mega-container">
  <div class="mega mega--secondary">
    <div class="mega__inner">
      <div class="row">
        <div class="usa-width-one-fourth">
          <h2 class="mega-heading__title icon-heading--data-flag-circle--secondary"><a href="/about/">Learn more about the FEC</a></h2>
        </div>
        <div class="usa-width-one-half mega__intro">
         <ul class="t-sans list--2-columns u-padding--top">
           <li class="mega__item"><a href="/updates">News and announcements</a></li>
           <li class="mega__item"><a href="/meetings">Commission meetings</a></li>
           <li class="mega__item"><a href="/about/mission-and-history/">Mission and history</a></li>
            <li class="mega__item"><a href="/about/leadership-and-structure/">Leadership and structure</a></li>
            <li class="mega__item"><a href="/about/reports-about-fec/">Reports about the FEC</a></li>
            <li class="mega__item"><a href="/about/careers/">Careers</a></li>
           </ul>
           <ul class="usa-width-one-third">
            <li class="mega__item"><a href="/about/#working-with-the-fec">Working with the FEC</a></li>
            <li class="mega__item"><a href="/contact-us">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
