<div class="mega-container">
  <div class="mega mega--secondary">
    <div class="mega__inner">
      <div class="row">
        <div class="usa-width-one-fourth">
          <h2 class="mega-heading__title icon-heading--data-flag-circle--secondary"><a href="/help-candidates-and-committees/">Explore all compliance resources</a></h2>
      </div>
        <div class="usa-width-one-third mega__intro">
          <ul class="t-sans list--2-columns u-padding--top">
            <li class="mega__item"><a href="/help-candidates-and-committees/guides">Guides</a></li>
            <li class="mega__item"><a href="/help-candidates-and-committees/forms">Forms</a></li>
            <li class="mega__item"><a  href="/help-candidates-and-committees/dates-and-deadlines">Dates and deadlines</a></li>
            <li class="mega__item"><a  href="/help-candidates-and-committees/trainings/">Trainings</a></li>
          </ul>
        </div>
        <div class="usa-width-one-third u-padding--left">
          <div class="icon-heading icon-heading--checklist-circle">
            <p class="t-sans t-small icon-heading__text"><a href="/help-candidates-and-committees/filing-reports/electronic-filing/">Learn about electronic filing</a></p>
          </div>
          <div class="icon-heading icon-heading--question-bubble-circle">
            <p class="t-sans t-small icon-heading__text"> <a href="/help-candidates-and-committees/question-rad/">Find and contact your committee's analyst</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
