<div class="mega-container">
  <div class="mega">
    <div class="mega__inner">
      <div class="row">
        <div class="d-sm-none d-md-none col-lg-1">&nbsp;</div>
        <div class="u-padding--left col-md-4 col-lg-6">
          <ul class="t-sans list--1-2-2-2-columns u-padding--top">
            <li class="mega__item"><a href="/legal-resources">All legal resources</a></li>
            <li class="mega__item"><a href="/data/legal/advisory-opinions">Advisory opinions</a></li>
            <li class="mega__item"><a href="/legal-resources/enforcement">Enforcement</a></li>
            <li class="mega__item"><a href="/data/legal/statutes">Statutes</a></li>
            <li class="mega__item"><a href="/legal-resources/legislation">Legislation</a></li>
            <li class="mega__item"><a href="/legal-resources/regulations">Regulations</a></li>
            <li class="mega__item"><a href="/legal-resources/court-cases">Court cases</a></li>
            <li class="mega__item"><a href="/legal-resources/policy-other-guidance/">Policy and other guidance</a></li>
          </ul>
        </div>
        <div class="u-padding--left col-md-3 col-lg-4">
          <div class="icon-heading icon-heading--magnifying-glass-circle">
            <p class="t-sans t-small icon-heading__text"><a href="/legal-resources/">Search across all legal resources</a></p>
          </div>
          <div class="icon-heading icon-heading--magnifying-glass-circle">
            <p class="t-sans t-small icon-heading__text"><a href="/legal-resources/policy-and-other-guidance/guidance-documents/">Search guidance documents</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
