<div class="mega-container">
  <div class="mega mega--secondary">
    <div class="mega__inner">
      <div class="mega-heading">
        <h2 class="mega-heading__title"><a href="/about">About home</a></h2>
      </div>
      <div class="row">
        <div class="usa-width-one-third mega__intro">
          <p>Learn more about the FEC's mission, history, and current events.</p>
          <p><a href="/about" class="button button--alt-primary">Get started &raquo;</a></p>
        </div>
        <ul class="usa-width-one-third mega__list">
          <li><a class="mega__page-link" href="/updates">News and announcements</a></li>
          <li><a class="mega__page-link" href="/updates/?update_type=meetings">Commission meetings</a></li>
          <li><a class="mega__page-link" href="/about/mission-and-history/">Mission and history</a></li>
          <li><a class="mega__page-link" href="/about/leadership-and-structure/">Leadership and structure</a></li>
        </ul>
        <ul class="usa-width-one-third mega__list">
          <li><a class="mega__page-link" href="/about/reports-about-fec/">Reports about the FEC</a></li>
          <li><a class="mega__page-link" href="/about/careers/">Careers</a></li>
          <li><a class="mega__page-link" href="/about/#working-with-the-fec">Working with the FEC</a></li>
        </ul>
        </ul>
      </div>
    </div>
  </div>
</div>
