<div class="mega-container">
  <div class="mega mega--secondary">
    <div class="mega__inner">
      <div class="row">
        <div class="d-sm-none d-md-none col-lg-1">&nbsp;</div>
        <div class="u-padding--left col-lg-6">
          <ul class="t-sans list--2-columns u-padding--top">
            <li class="mega__item"><a href="/help-candidates-and-committees/">All compliance resources</a></li>
            <li class="mega__item"><a href="/help-candidates-and-committees/guides">Guides</a></li>
            <li class="mega__item"><a href="/help-candidates-and-committees/forms">Forms</a></li>
            <li class="mega__item"><a href="/help-candidates-and-committees/dates-and-deadlines">Dates and deadlines</a></li>
            <li class="mega__item"><a href="/help-candidates-and-committees/trainings/">Trainings</a></li>
          </ul>
        </div>
        <div class="u-padding--left col-lg-5">
          <div class="icon-heading icon-heading--checklist-circle">
            <p class="t-sans t-small icon-heading__text"><a href="/help-candidates-and-committees/filing-reports/electronic-filing/">Learn about electronic filing</a></p>
          </div>
          <div class="icon-heading icon-heading--question-bubble-circle">
            <p class="t-sans t-small icon-heading__text"> <a href="/help-candidates-and-committees/question-rad/">Find and contact your committee's analyst</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
