<div class="mega-container">
  <div class="mega mega--secondary">
    <div class="mega__inner">
      <div class="row">
        <div class="u-padding--left d-sm-none d-md-none col-lg-1">&nbsp;</div>
        <div class="u-padding--left col-lg-6">
          <ul class="t-sans list--1-2-2-3-columns u-padding--top">
            <li class="mega__item"><a href="/about/">All about the FEC</a></li>
            <li class="mega__item"><a href="/updates/">News and announcements</a></li>
            <li class="mega__item"><a href="/meetings/">Commission meetings</a></li>
            <li class="mega__item"><a href="/about/mission-and-history/">Mission and history</a></li>
            <li class="mega__item"><a href="/about/leadership-and-structure/">Leadership and structure</a></li>
            <li class="mega__item"><a href="/about/reports-about-fec/">Reports about the FEC</a></li>
            <li class="mega__item"><a href="/about/careers/">Careers</a></li>
            <li class="mega__item"><a href="/about/#working-with-the-fec">Working with the FEC</a></li>
            <li class="mega__item"><a href="/contact/">Contact</a></li>
          </ul>
        </div>
        <div class="u-padding--left col-lg-4">
          <div class="icon-heading icon-heading--election-circle">
            <p class="t-sans t-small icon-heading__text"><a href="/introduction-campaign-finance/">Introduction to campaign finance and elections</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
