<nav class="site-nav js-site-nav">
  <div id="site-menu" class="site-nav__container">
    <ul class="site-nav__panel site-nav__panel--main">
      <li><h2 class="site-nav__title u-under-lg-only">Menu</h2></li>
      <li class="site-nav__item u-under-lg-only">
        <a class="site-nav__link" href="/" rel="home">
          <span class="site-nav__link__title">Home</span>
        </a>
      </li>
      <li class="site-nav__item" data-submenu="data">
        <a class="site-nav__link" href="/data" tabindex="0">
          <span class="site-nav__link__title">
          {% if self.get_verbose_name == "Home page" %}
          <div class="tour__point" data-intro="<h5>A new way to navigate</h5>Less looking, more finding. The main sections of our website have been reorganized and simplified to help you find what you need faster."></div>
          {% endif %}
          Campaign finance data</span>
        </a>
        {% include 'partials/navigation/nav-data.html' %}
      </li>
      <li class="site-nav__item site-nav__item--secondary" data-submenu="help">
        <a href="/help-candidates-and-committees/" tabindex="0" class="site-nav__link {% if self.content_section == 'help' %}is-parent{% endif %}">
          <span class="site-nav__link__title">Help for candidates and committees</span>
        </a>
        {% include 'partials/navigation/nav-help.html' %}
      </li>
      <li class="site-nav__item" data-submenu="legal">
        <a href="/legal-resources" tabindex="0" class="site-nav__link {% if self.content_section == 'legal' %}is-parent{% endif %}">
          <span class="site-nav__link__title">Legal resources</span>
        </a>
        {% include 'partials/navigation/nav-legal.html' %}
      </li>
      <li class="site-nav__item site-nav__item--secondary" data-submenu="about">
        <a href="/about" tabindex="0" class="site-nav__link {% if self.content_section == 'about' %}is-parent{% endif %}">
          <span class="site-nav__link__title">About</span>
        </a>
        {% include 'partials/navigation/nav-about.html' %}
      </li>

    </ul>
  </div>
  <button class="js-nav-toggle site-nav__button" aria-controls="site-menu">Menu</button>
  <a title="Home" href="/" class="site-title"><span class="u-visually-hidden">Federal Election Commission | United States of America</span></a>
</nav>
