{% macro build_block(dataObj={}) %}
  {% do dataObj.update({"target": "#aggregate-totals-block"}) %}
    <aside id="aggregate-totals-block" class="aggregate-totals-block" style="display: none">
      <h1 class="value"></h1>
      <h2 class="description"></h2>
    </aside>
    <script defer data-obj="{{ dataObj }}" src="{{ asset_for_js('modules/aggregate-totals.js') }}"></script>
{% endmacro %}
