{% macro breadcrumbs(title, links) %}
<ul class="breadcrumbs">
  <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link" rel="Home">Home</a></li>
  {% for link in links %}
  <li class="breadcrumbs__item">
    {% if link[0] != '' %}
      <span class="breadcrumbs__separator">&rsaquo;</span>
      <a class="breadcrumbs__link" href="{{ link[0] }}">{{ link[1] }}</a>
    {% else %}
      <span>{{ link[1] }}</span>
    {% endif %}
  </li>
  {% endfor %}
  <li class="breadcrumbs__item breadcrumbs__item--current">
    <span class="breadcrumbs__separator">&rsaquo;</span>
    <span>{{ title }}</span>
  </li>
</ul>
{% endmacro %}
