{% macro top_entities(
  election_years,
  election_year,
  action,
  office
) %}

{% set name_field='name' %}
{% set id_field='candidate_id' %}
{% set route='candidate' %}

{% if action == 'raised' %}
  {% set value_field='receipts' %}
{% else %}
  {% set value_field='disbursements' %}
{% endif %}
<div class="js-top-entities content__section" data-office="{{ office }}" data-election-year="{{ election_year }}">
  <form action="" method="GET">
      <label for="top-category" class="breakdown__title label t-inline-block">How much has been {{ action }} by: </label>
      <select id="top-category" name="top_category" class="js-office form-element--inline" aria-controls="top-table">
        <option value="P" {% if office == 'P' %}selected{% endif %}>Presidential candidates</option>
        <option value="S" {% if office == 'S' %}selected{% endif %}>Senate candidates</option>
        <option value="H" {% if office == 'H' %}selected{% endif %}>House candidates</option>
      </select>

      <label for="election-year" class="breakdown__title label t-inline-block">Running in</label>
      <select id="election-year" name="cycle" class="js-election-year form-element--inline" aria-controls="top-table">
        {% for each in election_years | sort(reverse=True) %}
          <option
              value="{{ each }}"
              {% if election_year == each %}selected{% endif %}
            >{{ each }}</option>
        {% endfor %}
      </select>
  </form>
  {% if FEATURES.aggregatetotals %}
  <style>
    ul.agg-tots-attr-list {
      background: lightgray;
      color: #112e51;
      display: flex;
      font-family: sans-serif;
      justify-content: space-evenly;
      margin-bottom: 2px;
    }
    ul.agg-tots-attr-list li {
      display: inline-block;
      min-width: 12rem
    }
    ul.agg-tots-attr-list li:before {
      display: inline-block;
      content: "∙ ";
    }
    ul.agg-tots-attr-list li:first-child:before {
      display: none;
    }
  </style>
  <ul class="agg-tots-attr-list">
    <li>&lt;aside&gt;</li>
    <li>year: external</li>
    <li>office: external</li>
    <li>controls: both</li>
    <li>theme: light</li>
  </ul>
  <div class="gov-fec-agg-tots">This div will be replaced by the first Aggregate Totals &lt;aside&gt;</div>
  <script defer data-theme="light" data-office-control="#top-category" data-year-control="#election-year" data-action="{{ action }}" src="{{ asset_for_js('widgets/aggregate-totals-box.js') }}"></script>
  <!--
  -->
  <ul class="agg-tots-attr-list">
    <li>&lt;aside&gt;</li>
    <li>office: all</li>
    <li>year: 2008+</li> 
    <li>controls: internal</li>
    <li>theme: light</li>
  </ul>
  <script defer data-theme="light" data-election-year="2008" data-action="{{ action }}" src="{{ asset_for_js('widgets/aggregate-totals-box.js') }}"></script>
  <!--
  -->
  <ul class="agg-tots-attr-list">
    <li>&lt;aside&gt;</li>
    <li>year: 2020</li>
    <li>office: all</li>
    <li>controls: internal</li>
    <li>theme: light</li>
  </ul>
  <script defer data-theme="light" data-election-year="2020" data-year-control="none" data-action="{{ action }}" src="{{ asset_for_js('widgets/aggregate-totals-box.js') }}"></script>
  <!--
  -->
  <ul class="agg-tots-attr-list">
    <li>&lt;aside&gt;</li>
    <li>year: 2020</li>
    <li>office: S</li>
    <li>controls: none</li>
    <li>theme: light</li>
  </ul>
  <script defer data-theme="light" data-election-year="2020" data-office="S" data-office-control="none" data-year-control="none" data-action="{{ action }}" src="{{ asset_for_js('widgets/aggregate-totals-box.js') }}"></script>
  <!--
  -->
  <ul class="agg-tots-attr-list">
    <li>&lt;aside&gt;</li>
    <li>office: all</li>
    <li>year: any</li>
    <li>controls: internal</li>
    <li>theme: dark</li>
  </ul>
  <script defer data-theme="dark" data-action="{{ action }}" src="{{ asset_for_js('widgets/aggregate-totals-box.js') }}"></script>
  <!--
  -->
  <ul class="agg-tots-attr-list">
    <li>&lt;aside&gt;</li>
    <li>year: 2020</li>
    <li>office: all</li>
    <li>controls: internal</li>
    <li>theme: dark</li>
  </ul>
  <script defer data-theme="dark" data-election-year="2020" data-action="{{ action }}" src="{{ asset_for_js('widgets/aggregate-totals-box.js') }}"></script>
  <!--
  -->
  <ul class="agg-tots-attr-list">
    <li>&lt;aside&gt;</li>
    <li>year: 2018</li>
    <li>office: H</li>
    <li>controls: none</li>
    <li>theme: dark</li>
  </ul>
  <script defer data-theme="dark" data-election-year="2018" data-office="H" data-office-control="none" data-year-control="none" data-action="{{ action }}" src="{{ asset_for_js('widgets/aggregate-totals-box.js') }}"></script>
  <!--
  -->
  <ul class="agg-tots-attr-list">
    <li>&lt;aside&gt;</li>
    <li>year: external</li>
    <li>office: external</li>
    <li>controls: both</li>
    <li>theme: dark</li>
  </ul>
  <script defer data-theme="dark" data-office-control="#top-category" data-year-control="#election-year" data-action="{{ action }}" src="{{ asset_for_js('widgets/aggregate-totals-box.js') }}"></script>
  <!--
  -->
  <ul class="agg-tots-attr-list">
    <li>&lt;iframe&gt;</li>
    <li>office: all</li>
    <li>year: all</li>
    <li>controls: internal</li>
    <li>theme: light</li>
  </ul>
  <script defer data-theme="light" data-action="{{ action }}" src="http://127.0.0.1:8000/widgets/aggregate-totals.js"></script>
  <!--
  -->
  <ul class="agg-tots-attr-list">
    <li>&lt;iframe&gt;</li>
    <li>year: 2008</li>
    <li>office: all</li>
    <li>controls: internal</li>
    <li>theme: dark</li>
  </ul>
  <script defer data-theme="dark" data-election-year="2008" data-action="{{ action }}" src="http://127.0.0.1:8000/widgets/aggregate-totals.js"></script>
  <!--
  -->
  <ul class="agg-tots-attr-list">
    <li>&lt;iframe&gt;</li>
    <li>year: 2012</li>
    <li>office: P</li>
    <li>controls: none</li>
    <li>theme: light</li>
  </ul>
  <script defer data-theme="light" data-election-year="2012" data-office="P" data-office-control="none" data-year-control="none"data-action="{{ action }}" src="http://127.0.0.1:8000/widgets/aggregate-totals.js"></script>
  <!--
  -->
  <ul class="agg-tots-attr-list">
    <li>&lt;iframe&gt;</li>
    <li>year: 2010</li>
    <li>office: S</li>
    <li>controls: office</li>
    <li>theme: dark</li>
  </ul>
  <script defer data-theme="dark" data-election-year="2012" data-office="S" data-year-control="none" data-action="{{ action }}" src="http://127.0.0.1:8000/static/js/widgets/aggregate-totals.js"></script>
  {# <a class="twitter-timeline" href="https://twitter.com/FEC?ref_src=twsrc%5Etfw">Tweets by the Federal Election Commission</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> #}
  {% endif %}
  
  <span class="t-sans js-dates"></span>
  <div class="chart-table simple-table--responsive js-top-table" id="top-table" aria-live="polite" role="grid">
    <div role="row" class="simple-table__header">
      <div role="columnheader" class="simple-table__header-cell cell--40">Name</div>
      <div role="columnheader" class="simple-table__header-cell cell--20 t-right-aligned">Total {{ action }}</div>
      <div role="columnheader" class="simple-table__header-cell cell--40"></div>
    </div>
  
  </div>
  <div class="results-info">
    <button class="js-previous is-disabled button button--standard button--previous"><span class="u-visually-hidden">Previous page</span></button>
    <button class="js-next button button--standard button--next"><span class="u-visually-hidden">Next page</span></button>
    <div class="u-float-right t-sans">
      Showing <span class="js-page-info"></span> entries
    </div>
  </div>
</div>
<div class="content__section row">
  <ul class="list--buttons u-float-right">
    <li><a class="button button--standard button--table" href="/data/{{ value_field }}">Browse {{value_field}}</a></li>
    <li><button class="button button--alt js-ga-event"  data-a11y-dialog-show="{{ action }}-modal" data-ga-event="{{ action }} methodology modal clicked" aria-controls="{{ action }}-modal">Methodology</button></li>
  </ul>
</div>
{% endmacro %}
