{% macro categories(categories,category='none', action='none',location='query') %}
{% set category = category %}
{% set action = action %}

<div class="js-top-entities">
      <label for="top-category" class="breakdown__title label">How much has been {{ action }} by </label>
      <select id="top-category" name="top_category" class="js-category form-element--inline" aria-controls="top-table">
        <optgroup label="Candidates">
          <option value="P" {% if category == 'P' %}selected{% endif %}>Presidential candidates</option>
          <option value="S" {% if category == 'S' %}selected{% endif %}>Senate candidates</option>
          <option value="H" {% if category == 'H' %}selected{% endif %}>House candidates</option>
        </optgroup>
        <option value="pac" {% if category == 'pac' %}selected{% endif %}>PACs</option>
        <option value="party" {% if category == 'party' %}selected{% endif %}>Political party committees</option>
      </select>
 </div>
  {% endmacro %}