{% macro cycle_select(cycles, cycle=none, duration=2, location='query', id='cycle-select', class='', range=False) %}
{% if cycles %}
  <div class="cycle-select js-cycle-select">
    <label for="{{ id }}" class="label cycle-select__label">Election</label>
    <select
        id="{{ id }}"
        class="{{ class }} js-cycle"
        name="cycle"
        data-cycle-location="{{ location }}"
        data-duration="{{ duration }}"
      >
    {% for each in cycles | sort(reverse=True) %}
      <option
          value="{{ each }}"
          {% if cycle and cycle <= each and cycle > (each - duration) %}selected{% endif %}
        >
        {% if range %}
          {{ each|fmt_year_range }}
        {% else %}
          {{ each }}
        {% endif %}
      </option>
    {% endfor %}
    </select>
  </div>
{% endif %}
{% endmacro %}

{% macro candidate_cycle_select(cycles, cycle=none, id='') %}
  <div class="content__section">
    <label for="{{id}}-cycle" class="label cycle-select__label">Election cycle</label>
    <select id="{{id}}-cycle" class="js-cycle" name="cycle" data-cycle-location="query" data-election-full="False">
      {% for each in cycles | sort(reverse=True) %}
        <option
            value="{{ each }}"
            {% if cycle and cycle <= each and cycle > (each - 2) %}selected{% endif %}
          >{{ each }}</option>
      {% endfor %}
    </select>
  </div>
{% endmacro %}

{% macro committee_cycle_select(cycles, cycle=none, id='') %}
  <div class="row content__section">
    <div class="cycle-select">
      <label for="{{id}}-cycle" class="label cycle-select__label">Election cycle</label>
      <select id="{{id}}-cycle" class="js-cycle" name="cycle" data-cycle-location="query">
        {% for each in cycles | sort(reverse=True) %}
          <option
              value="{{ each }}"
              {% if cycle and cycle <= each and cycle > (each - 2) %}selected{% endif %}
            >{{ each|fmt_year_range }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endmacro %}

{% macro election_cycle_select(cycles, cycle=none, id='') %}
  <div class="row content__section">
    <div class="cycle-select">
      <label for="{{id}}-cycle" class="label cycle-select__label">Election cycle</label>
      <select id="{{id}}-cycle" class="js-cycle" name="cycle" data-cycle-location="path">
        {% for each in cycles | sort(reverse=True) %}
          <option
              value="{{ each }}"
              {% if cycle and cycle <= each and cycle > (each - 2) %}selected{% endif %}
            >{{ each|fmt_year_range }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endmacro %}
