{% macro cycle_select(cycles, cycle=none, duration=2, location='query', id='cycle-select', class='', range=False, label='Election') %}
{% set cycle = cycle | int %}
{% if cycles %}
  <div class="cycle-select js-cycle-select">
    <label for="{{ id }}" class="label cycle-select__label">{{ label }}</label>
    <select
        id="{{ id }}"
        class="{{ class }} js-cycle"
        name="cycle"
        data-cycle-location="{{ location }}"
        data-duration="{{ duration }}"
    >
    {% for each in cycles | sort(reverse=True) %}
        <option
          value="{{ each }}"
          {% if cycle and cycle <= each and cycle > (each - duration) %}selected{% endif %}
        >
        {% if range %}
          {{ each|fmt_year_range }}
        {% else %}
          {{ each }}
        {% endif %}
      </option>
    {% endfor %}
    </select>
  </div>
{% endif %}
{% endmacro %}

{% macro candidate_cycle_select(cycles, cycle=none, id='') %}
{% set cycle = cycle | int %}
  <div class="content__section">
    <div class="cycle-select">
      <label for="{{id}}-cycle" class="label cycle-select__label">Two-year period</label>
      <select id="{{id}}-cycle" class="js-cycle" name="cycle" data-cycle-location="query" data-election-full="False">
        {% for each in cycles | sort(reverse=True) %}
          <option
              value="{{ each }}"
              {% if cycle and cycle <= each and cycle > (each - 2) %}selected{% endif %}
            >{{ each|fmt_year_range }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endmacro %}

{% macro committee_cycle_select(cycles, cycle=none, id='') %}
{% set cycle = cycle | int %}
  <div class="row content__section">
    <div class="cycle-select">
      <label for="{{id}}-cycle" class="label cycle-select__label">Two-year period</label>
      <select id="{{id}}-cycle" class="js-cycle" name="cycle" data-cycle-location="query">
        {% for each in cycles | sort(reverse=True) %}
          <option
              value="{{ each }}"
              {% if cycle and cycle <= each and cycle > (each - 2) %}selected{% endif %}
            >{{ each|fmt_year_range }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endmacro %}


{% macro election_cycle_select(cycles, cycle=none, id='') %}
{% set cycle = cycle | int %}
  <div class="row content__section">
    <div class="cycle-select">
      <label for="{{id}}-cycle" class="label cycle-select__label">Election</label>
      <select id="{{id}}-cycle" class="js-cycle" name="cycle" data-cycle-location="path">
        {% for each in cycles | sort(reverse=True) %}
          <option
              value="{{ each }}"
              {% if cycle and cycle <= each and cycle > (each - 2) %}selected{% endif %}
            >{{ each }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endmacro %}


{% macro candidate_cycle_select(cycles, cycle=none, id='') %}
{% set cycle = cycle | int %}
  <div class="content__section">
    <div class="cycle-select">
      <label for="{{id}}-cycle" class="label cycle-select__label">Two-year period</label>
      <select id="{{id}}-cycle" class="js-cycle" name="cycle" data-cycle-location="query" data-election-full="False">
        {% for each in cycles | sort(reverse=True) %}
          <option
              value="{{ each }}"
              {% if cycle and cycle <= each and cycle > (each - 2) %}selected{% endif %}
            >{{ each|fmt_year_range }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endmacro %}


{# range of two year periods.Select's class is "js-period-select". Unlike class="js-cycle-select", these do not auto-reload page upon change to a new window.locatio with query params. #}
 {% macro cycle_range_select(cycles, cycle=none, id='') %}
 {% set cycle = cycle | int %}
  <div class="row content__section">
  <label class="label t-inline-block">Two-year period date range</label>
  <fieldset id="two-year-period-date-range" name="two-year-period-date-range">
    <div class="range range--date js-date-range">
      <div class="range__select range__select--min" data-filter="range">
        <div class="cycle-select">
          <label for="{{id}}-cycle">Beginning</label>
          <select id="{{id}}-cycle" class="js-period-select" name="cycle" data-cycle-location="query">
            {% for each in cycles | sort(reverse=True) %}
              <option
                  value="{{ each }}"
                  {% if cycle and cycle <= each and cycle > (each - 2) %}selected{% endif %}
                >{{ each|fmt_year_range }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="range__hyphen">-</div>
      <div class="range__select range__select--max" data-filter="range">
        <div class="cycle-select">
          <label for="{{id}}-cycle">Ending</label>
          <select id="{{id}}-cycle" class="js-period-select" name="cycle" data-cycle-location="query">
            {% for each in cycles | sort(reverse=True) %}
              <option
                  value="{{ each }}"
                  {% if cycle and cycle <= each and cycle > (each - 2) %}selected{% endif %}
                >{{ each|fmt_year_range }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </fieldset>
  </div>
{% endmacro %}

{% macro two_year_select(cycles, cycle=none, id='') %}
{% set cycle = cycle | int %}
  <div class="content__section">
    <div class="cycle-select">
      <label for="{{id}}-cycle" class="label cycle-select__label">Two-year period</label>
      <select id="{{id}}-cycle" class="js-period-select" name="cycle" data-cycle-location="query" data-election-full="False">
        {% for each in cycles | sort(reverse=True) %}
          <option
              value="{{ each }}"
              {% if cycle and cycle <= each and cycle > (each - 2) %}selected{% endif %}
            >{{ each|fmt_year_range }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endmacro %}
