{% macro disclaimer(type, id, cycle) %}
  <div class="datatable__note">
    <p class="t-note">These totals are calculated, in part, using free-text input as reported by this committee. Variations in spelling or abbreviation can produce multiple totals for the same category. For the most complete information,
    <a href="/{{ type }}/?committee_id={{ id }}&two_year_transaction_period={{ cycle }}">access the list of itemized transactions.</a></p>
  </div>
{% endmacro %}
{% macro summary() %}
  <div class="accordion--neutral">
    <div class="accordion__content">
      <div class="message message--info message--small">
        <p class="t-sans">Newly filed summary data may not appear for up to 48 hours.</p>
       </div>
     </div>
   </div>
{% endmacro %}

