{% macro missing(entity, cycle, converted_committee_name, converted_committee_id, former_committee_name) %}
    <div class="message message--info">
        <p>
        We don't have
        <span class="t-bold">
            {{ entity }}
        </span>
        for <span class="t-bold">{{ cycle | fmt_year_range }}</span>.
        </p>
        <p>Financial data for this candidate now appears under the committee name <strong><a href="/data/committee/{{ converted_committee_id }}">{{ converted_committee_name }}</a></strong>, following the committee's conversion to a <span class="term" data-term="political action committee (pac)">PAC</span> from a <span class="term" data-term="principal campaign committee">principal campaign committee</span>. Before its conversion the candidate's committee was named <strong>{{ former_committee_name }}</strong>.</p>
        <div class="message--alert__bottom">
        <p>Think this result is a mistake or have questions?</p>
        <p>
            Send us more information in the feedback box or
            <a href="https://www.fec.gov/contact/" target="_blank" rel="noopener noreferrer">contact us</a>.
        </p>
        </div>
    </div>
{% endmacro %}
