{% macro missing_financials(entity, cycle) %}
<div class="message message--info">
  <p>
    We don't have
    <span class="t-bold">
      {{ entity }}
    </span>
    for <span class="t-bold">{{ cycle | fmt_year_range }}</span>.
  </p>
  <p>This can be because:</p>
  <ul class="list--bulleted">
    <li>
      We’re still processing the data. Try looking for
      <a href="https://www.fec.gov/data/filings/?data_type=efiling" target="_blank" rel="noopener noreferrer">raw versions of committee filings</a>.
      Raw files are only available for electronic filers.</li>
    <li>No one filed this type of activity during the time period.</li>
    <li>The filing deadline hasn’t passed yet.</li>
  </ul>
  <div class="message--alert__bottom">
    <p>Think this result is a mistake or have questions?</p>
    <p>
      Send us more information in the feedback box or
      <a href="https://www.fec.gov/contact/" target="_blank" rel="noopener noreferrer">contact us</a>.
    </p>
  </div>
</div>
{% endmacro %}
