{% macro missing_transferred_candidate_message(entity, cycle, converted_committee_name, converted_committee_id, former_committee_name) %}
    <div class="message message--info">
        <p><span class="t-bold">{{ cycle | fmt_year_range }}</span> financial data for <strong><span class="t-bold">{{ entity }}</span></strong> now appears under the committee name <strong><a href="/data/committee/{{ converted_committee_id }}">{{ converted_committee_name }}</a></strong>, following the committee's conversion to a <span class="term" data-term="political action committee (pac)">PAC</span> from a <span class="term" data-term="principal campaign committee">principal campaign committee</span>. Prior to its conversion to a PAC the candidate's principal campaign committee was named <strong>{{ former_committee_name }}</strong>.</p>
        <div class="message--alert__bottom">
        <p>Think this result is a mistake or have questions?</p>
        <p>
            Send us more information in the feedback box or
            <a href="https://www.fec.gov/contact/" target="_blank" rel="noopener noreferrer">contact us</a>.
        </p>
        </div>
    </div>
{% endmacro %}

{% macro missing_transferred_committee_message(former_committee_name, former_authorized_candidate_name, former_authorized_candidate_id) %}
    <div class="message message--info">
        <p>Financial data for this committee contains funds raised and spent under the former name  <strong>{{ former_committee_name }}</strong> which, before it was converted, was a <span class="term" data-term="principal campaign committee">principal campaign committee</span>. Before its conversion this committee was authorized by candidate <strong><a href="/data/candidate/{{ former_authorized_candidate_id }}">{{ former_authorized_candidate_name }}</a></strong>.</p>
        <div class="message--alert__bottom">
        <p>Think this result is a mistake or have questions?</p>
        <p>
            Send us more information in the feedback box or
            <a href="https://www.fec.gov/contact/" target="_blank" rel="noopener noreferrer">contact us</a>.
        </p>
        </div>
    </div>
{% endmacro %}
