{% macro search(location, result_type, query, button_color="button--standard") %}
{% if location == 'hero' %}
  {% set size = 'combo--search--medium' %}
{% endif %}
<form id="{{ location }}-search" action="/data" autocomplete="off" class="search__container">
  <div class="combo combo--search {{ size }}">
    <label for="search" class="label">
      {% if location == 'hero' %}
        <div class="tour__point tour__point--left" data-intro="<h5>Find candidates and committees</h5>Track raising, spending, debts and loans, filings and summary information for candidates and committees on redesigned profile pages."></div>
      {% endif %}
      Candidate or committee name or ID</label>
    <input id="search" class="js-search-input combo__input" type="text" name="search"
    autocorrect="off" autocapitalize="off" spellcheck="false"
    value="{{ query or '' }}">
    <button type="submit" class="combo__button button--search {{ button_color }}">
      <span class="u-visually-hidden">Search</span>
    </button>
  </div>
</form>
{% endmacro %}
