{% macro summary(data, committee_id, cycle, office_or_committee) %}

{% if office_or_committee not in ['P', 'H', 'S'] %}
  {#
  Form 3 line numbers are currently coded as type=O, but since more committees
  use this form, we need to force those all to look for the O value.
  #}
  {% set office_or_committee = 'O' %}
{% endif %}

<figure>
<table class="simple-table">
  {% for item in data %}
    <tr class="simple-table__row level--{{ item[1]['level']}}">
      <td class="simple-table__cell">
        {% if item[1]['term'] %}
          <span class="term" data-term="{{ item[1]['term'] }}">{{ item[1]['label'] }}</span>
        {% else %}
          {{ item[1]['label'] }}
        {% endif %}
      </td>
      <td class="simple-table__cell">
{# 
case 1: this page comes from data/candidate/<candidate_id>/ :
The committee_id is a tuple list(the count =1 or 2)
  a)one candidate has only one committee, committee_id=['C00580100'], count=1
  b)one candidate has two committees, committee_id = ['C00496075','C00462069']
    count=2

case 2: this page comes from data/committee/<committee_id>/:
The committee_id is a string, the count=9.

case 3: for committe profile page.
not 'type' object, so use 'link' to check for independent-expenditures and party-coordinated-expenditure
#}
 
        {% if item[1]['type'] and cycle|int > 2006 and committee_id|count < 9 %}
          <a href="/data/{{ item[1]['type']['link'] }}/?{% for id in committee_id -%}committee_id={{ id }}&{%- endfor %}two_year_transaction_period={{ cycle }}&cycle={{ cycle }}&line_number={{ item[1]['type'][office_or_committee] }}">
            {{ item[0]|currency }}
          </a>
        {% elif item[1]['type'] and cycle|int > 2006 and committee_id|count == 9 %}
          <a href="/data/{{ item[1]['type']['link'] }}/?committee_id={{ committee_id }}&two_year_transaction_period={{ cycle }}&cycle={{ cycle }}&line_number={{ item[1]['type'][office_or_committee] }}">
            {{ item[0]|currency }}
          </a>
        {% elif (item[1]['link']=="independent-expenditures" or item[1]['link'] == "party-coordinated-expenditures")and cycle|int > 2006 and committee_id|count == 9 %}
          <a href="/data/{{ item[1]['link'] }}/?committee_id={{ committee_id }}&two_year_transaction_period={{ cycle }}&cycle={{ cycle }}">
            {{ item[0]|currency }}
          </a>
        {% else %}
            {{ item[0]|currency }}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
</figure>
{% endmacro %}
