{% macro select__election_year(election_years, election_year, elementID, electionType = 'H') %}
<label for="election-year" class="breakdown__title label t-inline-block">Running in:</label>
<select id="{{ elementID }}" name="cycle" class="js-widget-election-year form-element--inline" aria-controls="">
{% for eachYear in election_years | sort(reverse=True) %}
  {% if electionType != 'P' or eachYear % 4 == 0 %}
  <option
        value="{{ eachYear }}"
        {% if election_year == eachYear %}selected{% endif %}
    >{{ eachYear }}</option>
  {% endif %}
{% endfor %}
</select>
{% endmacro %}
