<header class="page-header page-header--{{ style }}">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link" rel="Home">Home</a></li>
    {% for link in links %}
      {% if link.title != 'Home' and link.title != 'Root' %}
      <li class="breadcrumbs__item breadcrumbs__item--current">
        <span class="breadcrumbs__separator">›</span>
        <a href="{{ link.url }}">{{ link }}</a>
      </li>
      {% endif %}
    {% endfor %}
    <li class="breadcrumbs__item breadcrumbs__item--current">
      <span class="breadcrumbs__separator">›</span>
      <span>{{ page.title }}</span>
    </li>
  </ul>
</header>
