{# Template based on /fec/fec/templates/partials/update.html #}

<!-- {% load wagtailimages_tags %} -->
{% load filters %}

<article class="post">
  <div class="post__pre">
    {{ item.display_date }}
  </div>
  <div class="row">
    <div class="usa-width-three-fourths">
        <h3>
          {% if item.links_count == 1 %}
            {% if item.link_doc %}
          <a href="{{ item.link_doc }}">{{ item.title }}</a> <i class="icon icon--inline--right icon--inline--left i-document"></i> (PDF)
            {% elif item.link_html %}
          <a href="{{ item.link_html }}">{{ item.title }}</a> <i class="icon icon--inline--right icon--inline--left i-share"></i> (HTML)
            {% elif item.link_pdf %}
          <a href="{{ item.link_pdf }}">{{ item.title }}</a> <i class="icon icon--inline--right icon--inline--left i-document"></i> (PDF)
            {% elif item.link_video %}
          <a href="{{ item.link_video }}">{{ item.title }}</a> <i class="icon icon--inline--right icon--inline--left i-share"></i> (HTML)
            {% endif %}
          {% else %}
              {{ item.title }} {{ item.links_string|safe }}
          {% endif %}
        </h3>
      {% if item.category %}
        <div class="post__meta t-sans">
          <a class="tag tag--secondary" href="./?category={{item.slug_category}}">{{item.pretty_category}}</a>
          {% if item.pretty_subject %}
            in: <a href="./?category={{item.slug_category}}&subject={{item.slug_subject}}">{{ item.pretty_subject|capfirst }}</a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</article>
