<nav class="footer-links">
  <div class="container">

    <div class="grid grid--6-wide">

      <div class="grid__item">
        <ul>
          <li>
            <a href="/about/">About</a>
          </li>
          <li>
            <a href="/about/careers/">Careers</a>
          </li>
          <li>
            <a href="/press/">Press</a>
          </li>
          <li>
            <a href="/contact-us/">Contact</a>
          </li>
        </ul>
      </div>

      <div class="grid__item"></div>

      <div class="grid__item"></div>

      <div class="grid__item">
        <ul>
          <li>
            <a href="/about/privacy-and-security-policy">Privacy and security policy</a>
          </li>
          <li>
            <a href="/about/plain-language/">Plain language</a>
          </li>
          <li>
            <a href="/about/no-fear-act/">No FEAR Act</a>
          </li>
          <li>
            <a href="/about/reports-about-fec/strategy-budget-and-performance/">Strategy, budget and performance</a>
          </li>
        </ul>
      </div>

      <div class="grid__item">
        <ul>
          <li>
            <a href="https://www.data.gov/open-gov/">Open government</a>
          </li>
          <li>
            <a href="https://www.usa.gov/">USA.gov</a>
          </li>
          <li>
            <a href="{{ transition_url }}/fecig/fecig.shtml">Inspector General</a>
          </li>
          <li>
            <a href="/freedom-information-act/">FOIA</a>
          </li>
        </ul>
      </div>

      <div class="grid__item">
        <ul>
          <li>
            <a href="https://api.open.fec.gov">OpenFEC API</a>
          </li>
          <li>
            <a href="https://github.com/18F/fec">GitHub repository</a>
          </li>
          <li>
            <a href="https://github.com/18F/FEC/blob/master/release_notes/release_notes.md">Release notes</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>
