{% load filters %}
  <tr class="simple-table__row">
    <td class="simple-table__cell">
      <a href="{{ meeting.url }}" class="t-bold">
        {{ meeting.title | strip:'open meeting' }}
      </a>
    </td>
     <td class="simple-table__cell">
      {% if meeting.sunshine_act_links %}
        <ul>
          {% for link in meeting.sunshine_act_links|splitlines %}
          {% if forloop.counter >= 2 %}
            <br><a href="{{ link }}">Amended
          {% else %}
            <a href="{{ link }}">
          {% endif %}

            Sunshine Act Notice
            {% if meeting.sunshine_act_links|splitlines|length > 2 and forloop.counter >= 2 %}- {{ forloop.counter0 }}{% endif %}
          </a>
          </li>
         {% endfor %}
        </ul>
      {% endif %}
    </td>
  </tr>
