{% load filters %}
  <tr class="simple-table__row">
    <td class="simple-table__cell">
      <a href="{{ meeting.url }}" class="t-bold">
        {% if executive_session is meeting %}
        {{ meeting.title | remove_word:'executive session' }}
        {% else %}
        {{ meeting.title | remove_word:'open meeting' }}
        {% endif %}
      </a>
    </td>
     <td class="simple-table__cell">

       {% if meeting.sunshine_act_doc_upld %}
          {% for block in meeting.sunshine_act_doc_upld %}
            <a href="{{ block.value.file.url }}">{% if forloop.counter >= 2 %}Amended {% endif %}Sunshine Act Notice</a>
            {% if meeting.sunshine_act_doc_upld|length > 2 and forloop.counter >= 2%}- {{ forloop.counter0 }}{% endif %}
            <br>
          {% endfor %}
       {% elif meeting.sunshine_act_links  %}
        {% for link in meeting.sunshine_act_links|splitlines %}
          {% if forloop.counter >= 2 %}
            <br><a href="{{ link }}">Amended
           {% else %}
            <a href="{{ link }}">
          {% endif %}
            Sunshine Act Notice
            {% if meeting.sunshine_act_links|splitlines|length > 2 and forloop.counter >= 2 %}- {{ forloop.counter0 }}{% endif %}
          </a>
         {% endfor %}
      {% endif %}
    </td>
  </tr>
