{% with "Explore federal campaign finance data with betaFEC, a new site where users can see how much money is raised and spent in federal elections. An official U.S. Government site, betaFEC is a Federal Election Commission project, designed in partnership with 18F." as description %}
{% load static %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ description }}">

<!-- Mobile Specific Metas
================================================== -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<!-- Twitter
================================================== -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ self.title }} - betaFEC">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="{% static "img/beta-fec-tw.png" %}">

<!-- Facebook
================================================== -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://beta.fec.gov" />
<meta property="og:title" content="{{ self.title }} - betaFEC" />
<meta property="og:site_name" content="betaFEC" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static "img/beta-fec-fb.png" %}" />

<!-- Google
================================================== -->
<link rel="canonical" href="{{ settings.CANONICAL_BASE }}{{ request.path }}">

<!-- Search console verifications
================================================== -->
<meta name="google-site-verification" content="pjSv5gfijD0N9vvQ1aoP08gD3iorxrY8e-jTiwUiFzo" />
<meta name="msvalidate.01" content="A6E2BFF1CD488F37FC4A42640E760D02" />

<!-- Favicons
================================================== -->
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static "img/favicon/apple-touch-icon-57x57.png" %}" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "img/favicon/apple-touch-icon-114x114.png" %}" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "img/favicon/apple-touch-icon-72x72.png" %}" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "img/favicon/apple-touch-icon-144x144.png" %}" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static "img/favicon/apple-touch-icon-60x60.png" %}" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static "img/favicon/apple-touch-icon-120x120.png" %}" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static "img/favicon/apple-touch-icon-76x76.png" %}" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static "img/favicon/apple-touch-icon-152x152.png" %}" />
<link rel="icon" type="image/png" href="{% static "img/favicon/favicon-196x196.png" %}" sizes="196x196" />
<link rel="icon" type="image/png" href="{% static "img/favicon/favicon-96x96.png" %}" sizes="96x96" />
<link rel="icon" type="image/png" href="{% static "img/favicon/favicon-32x32.png" %}" sizes="32x32" />
<link rel="icon" type="image/png" href="{% static "img/favicon/favicon-16x16.png" %}" sizes="16x16" />
<link rel="icon" type="image/png" href="{% static "img/favicon/favicon-128.png" %}" sizes="128x128" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
{% endwith %}
