{% with "Explore federal campaign finance data with betaFEC, a new site where users can see how much money is raised and spent in federal elections. An official U.S. Government site, betaFEC is a Federal Election Commission project, designed in partnership with 18F." as generic_description %}
{% load static %}
{% load filters %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% else %}{{ generic_description }}{% endif %}">

<!-- Mobile Specific Metas
================================================== -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<!-- Twitter
================================================== -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ self.title }} - betaFEC">
<meta name="twitter:description" content="{% if self.search_description %}{{ self.search_description }}{% else %}{{ generic_description }}{% endif %}">
<meta name="twitter:image" content="{{ self.content_section | get_social_image }}">

<!-- Facebook
================================================== -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://beta.fec.gov" />
<meta property="og:title" content="{{ self.title }} - betaFEC" />
<meta property="og:site_name" content="betaFEC" />
<meta property="og:description" content="{% if self.search_description %}{{ self.search_description }}{% else %}{{ generic_description }}{% endif %}" />
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ self.content_section | get_social_image }}" />

<!-- Google
================================================== -->
<link rel="canonical" href="{{ settings.CANONICAL_BASE }}{{ request.path }}">

<!-- Search console verifications
================================================== -->
<meta name="google-site-verification" content="pjSv5gfijD0N9vvQ1aoP08gD3iorxrY8e-jTiwUiFzo" />
<meta name="msvalidate.01" content="A6E2BFF1CD488F37FC4A42640E760D02" />

<!-- Favicons
================================================== -->
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ self.content_section|get_touch_icon:'57x57' }}" />
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ self.content_section|get_touch_icon:'72x72' }}" />
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ self.content_section|get_touch_icon:'114x114' }}" />
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ self.content_section|get_touch_icon:'120x120' }}" />
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ self.content_section|get_touch_icon:'144x144' }}" />
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ self.content_section|get_touch_icon:'152x152' }}" />
<link rel="icon" type="image/png" href="{% static "img/favicon/favicon-32x32.png" %}" sizes="32x32" />
<link rel="icon" type="image/png" href="{% static "img/favicon/favicon-16x16.png" %}" sizes="16x16" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="{% static "img/favicon/general/mstile-144x144.png" %}" />
{% endwith %}
