<nav class="site-nav js-site-nav">
  <div id="site-menu" class="site-nav__container">
    <ul class="site-nav__panel site-nav__panel--main">
      <li><h3 class="site-nav__title u-under-lg-only">Menu</h3></li>
      <li class="site-nav__item" data-submenu="data">
        <a class="site-nav__link u-lg-only" href="{{ settings.FEC_APP_URL }}">Campaign finance data</a>
        <button class="site-nav__link button--nav-panel js-panel-trigger u-under-lg-only" aria-controls="nav-data">Campaign finance data</button>
      </li>
      <li class="site-nav__item site-nav__item--secondary" data-submenu="services">
        <a href="/registration-and-reporting/" class="site-nav__link{% if self.content_section == 'registration-and-reporting' %} is-parent{% endif %}">Registration and reporting</a>
      </li>
      <li class="site-nav__item" data-submenu="legal">
        <a href="/legal-resources" class="site-nav__link{% if self.content_section == 'legal-resources' %} is-parent{% endif %}">Legal resources</a>
      </li>
      <li class="site-nav__item utility-nav__item">
        <a href="/calendar" class="site-nav__link">Calendar</a>
      </li>
    </ul>
  </div>
  <button for="nav-toggle" class="js-nav-toggle site-nav__button" aria-controls="nav-main">Menu</button>
  <a title="Home" href="{{ cms_url }}" class="site-title"><span class="u-visually-hidden">Federal Election Commission | United States of America</span></a>
</nav>
