<nav class="site-nav js-site-nav">
  <div id="site-menu" class="site-nav__container">
    <ul class="site-nav__panel site-nav__panel--main">
      <li><h2 class="site-nav__title u-under-lg-only">Menu</h2></li>
      <li class="site-nav__item" data-submenu="data">
        <a class="site-nav__link" href="{{ settings.FEC_APP_URL }}">
          <span class="site-nav__link__title">Campaign finance data</span>
        </a>
      </li>
      <li class="site-nav__item site-nav__item--secondary" data-submenu="help">
        <a href="{{ cms_url }}/help-candidates-committees/" class="site-nav__link {% if parent == 'help' %}is-parent{% endif %}">
          <span class="site-nav__link__title">Help for candidates and committees</span>
        </a>
      </li>
      <li class="site-nav__item" data-submenu="legal">
        <a href="{{ cms_url }}/legal-resources" class="site-nav__link {% if parent == 'legal' %}is-parent{% endif %}">
          <span class="site-nav__link__title">Legal resources</span>
        </a>
      </li>
    </ul>
  </div>
  <button for="nav-toggle" class="js-nav-toggle site-nav__button" aria-controls="nav-main">Menu</button>
  <a title="Home" href="{{ cms_url }}" class="site-title"><span class="u-visually-hidden">Federal Election Commission | United States of America</span></a>
</nav>
