    <div class="js-new-site-orientation site-orientation">
      <div class="banner" role="banner">
        <div class="container">
            {% if settings.CANONICAL_BASE == 'https://www.fec.gov' %}
            <span class="t-bold">We’ve updated FEC.gov</span> | You can still access an archive of the old FEC.gov at <a href="http://classic.fec.gov">classic.fec.gov</a>
            <div class="toggle" aria-hidden="false">
              <div class="tour__start"><button class="tour__start__button">Start a tour</button> of the new features</div>
              <span class="t-block">Questions or comments? Use our <button class="js-feedback">anonymous feedback tool</button> or email <a href="mailto:webmanager@fec.gov">webmanager@fec.gov</a></span>
            </div>
            <div class="toggle-text" aria-expanded="true">
              <button class="less" aria-hidden="false" tabindex="0">Show less <i class="icon-small--arrow-up-border"></i></button>
              <button class="more" aria-hidden="true" tabindex="0">Show more <i class="icon-small--arrow-down-border"></i></button>
            </div>
          {% else %}
            <span class="t-bold">In May, this site will become the new FEC.gov</span>
            <div class="toggle" aria-hidden="false">
              <span class="t-block">After that, the <a href="http://www.fec.gov">current FEC.gov</a> will be archived and made available at classic.fec.gov</span>
              <span class="t-block">Questions or comments? Use our <button class="js-feedback">anonymous feedback tool</button> or email <a href="mailto:webmanager@fec.gov">webmanager@fec.gov</a></span>
              <div class="tour__start"><button class="tour__start__button">Start a tour</button> of the new features</div>
            </div>
            <div class="toggle-text" aria-expanded="true">
              <button class="less" aria-hidden="false" tabindex="0">Show less <i class="icon-small--arrow-up-border"></i></button>
              <button class="more" aria-hidden="true" tabindex="0">Show more <i class="icon-small--arrow-down-border"></i></button>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="tour__header" aria-hidden="true">
        <ol role="navigation">
          <li class="tour-introduction">
            <a href="/?tour=true">
              <span class="tour__header__page--number t-bold">1</span>
              <span class="tour__header__page">Introduction</span>
            </a>
          </li>
          <li class="tour-campaign-finance-data">
            <a href="{{ settings.FEC_APP_URL }}?tour=true">
              <span class="tour__header__page--number t-bold">2</span>
              <span class="tour__header__page">Campaign finance data</span>
            </a>
          </li>
          <li class="tour-candidate-committee-services">
            <a href="/help-candidates-and-committees?tour=true">
              <span class="tour__header__page--number t-bold">3</span>
              <span class="tour__header__page">Help for candidates and committees</span>
            </a>
          </li>
          <li class="tour-legal-resources">
            <a href="/legal-resources?tour=true">
             <span class="tour__header__page--number t-bold">4</span>
             <span class="tour__header__page">Legal resources</span>
            </a>
          </li>
        </ol>

        <button class="button exit-tour">Exit tour <i class="icon icon--inline--right i-x"></i></button>
      </div>
    </div>
