{% load wagtailimages_tags %}
{% load filters %}

<article class="post">
  <div class="post__pre">
    <div class="post__date">{{ update.date|date:'F j, Y' }}</div>
    <div class="post__byline">From: {% if update.get_update_type == 'FEC Record' %}Information Division{% else %}Press Office{% endif %}</div>
  </div>
  <h3><a href="{{ update.url }}">{% formatted_title update %}</a></h3>
  {% if update.get_update_type != 'Weekly Digest' %}
    <div class="t-sans row js-post-content">
      {{ update.body | truncatewords_html:30 }}
      <a class="js-read-more post__read-more" href="{{ update.url }}">Read more</a
    </div>
  {% endif %}
  {% if show_tag %}
    <div class="post__meta">
      <a class="tag tag--secondary" href="/updates?update_type={{update.get_update_type|slugify}}#feed">{{update.get_update_type}}</a>
      {% if update.category %}
        in: <a href="/updates?update_type={{update.get_update_type|slugify}}&category={{update.category|slugify}}">{{ update.category|capfirst }}</a>
     {% endif %}
    </div>
  {% endif %}
</article>
