<header class="usa-banner">
  <div class="js-accordion accordion--neutral" data-content-prefix="gov-banner">
    <div type="button" class="usa-banner-header js-accordion-trigger accordion__button" aria-controls="gov-banner"><span class="u-visually-hidden">Here's how you know</span>
      <img class="flag" src="/static/img/us_flag_small.png" alt="US flag signifying that this is a United States Federal Government website" width="16" height="11">
      <p class="t-inline-block">An official website of the United States government</p>
      <p class="t-inline-block usa-banner-button">Here's how you know</p>
    </div>
    <div class="usa-banner-content usa-grid usa-accordion-content accordion-content" id="gov-banner">
      <div class="usa-banner-guidance-gov usa-width-one-half">
        <img class="usa-banner-icon usa-media_block-img" src="/static/img/icon-dot-gov.svg" alt="Dot gov" width="38" height="38">
        <div class="usa-media_block-body">
          <p>
            <strong>Official websites use .gov</strong>
            <br>
            A <strong>.gov</strong> website belongs to an official government organization in the United States.
          </p>
        </div>
      </div>
      <div class="usa-banner-guidance-ssl usa-width-one-half">
        <img class="usa-banner-icon usa-media_block-img" src="/static/img/icon-https.svg" alt="SSL" width="38" height="38">
        <div class="usa-media_block-body">
          <p>
            <strong>Secure .gov websites use HTTPS</strong>
            <br>
            A <strong>lock</strong> ( <svg xmlns="http://www.w3.org/2000/svg" width="10" height="15" viewBox="0 0 52 64" class="usa-banner__lock-image" role="img" aria-labelledby="banner-lock-title-default banner-lock-description-default"><title id="banner-lock-title-default">Lock</title><desc id="banner-lock-description-default">A locked padlock</desc><path fill="#000000" fill-rule="evenodd" d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z"></path></svg> ) or <strong>https://</strong> means you've safely connected to the .gov website. Share sensitive information only on official, secure websites.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
