<div class="filter">
<fieldset class="js-filter" data-filter="checkbox">
  <legend class="label">Candidate status</legend>
  <ul>
    <li>
      <input id="cycle-checkbox-is-active-candidate" name="is_active_candidate" type="checkbox" value="true">
      <label for="cycle-checkbox-is-active-candidate">Exclude incumbents not seeking re-election</label>
    </li>
  </ul>
</fieldset>
</div>
