{% import 'macros/filters/dropdown-json.jinja' as dropdown %}

{{ dropdown.select_json_formate(
  'primary_category_id',
  'Primary Categories',
  keys=constants.primary_category_keys,
  options=constants.audit_primary_categories_options
)
}}

{{ dropdown.select_json_formate(
  'sub_category_id',
  'SubCategories',
  keys=constants.sub_category_keys,
  options=constants.audit_sub_categories_options 
)
}}
