<div class="filter">
  <fieldset class="js-dropdown js-filter"  data-name="committee_type" data-filter="checkbox">
    <legend class="label" for="committee_type">Authorized committees</legend>
    <ul class="dropdown__selected">
      <li class="dropdown__item">
        <input id="committee-type-checkbox-P" type="checkbox" name="committee_type" value="P">
        <label class="dropdown__value" for="committee-type-checkbox-P">Presidential</label>
      </li>
      <li class="dropdown__item">
        <input id="committee-type-checkbox-S" type="checkbox" name="committee_type" value="S">
        <label class="dropdown__value" for="committee-type-checkbox-S">Senate</label>
      </li>
      <li class="dropdown__item">
        <input id="committee-type-checkbox-H" type="checkbox" name="committee_type" value="H">
        <label class="dropdown__value" for="committee-type-checkbox-H">House</label>
      </li>
    </ul>
  </fieldset>
</div>

<div class="filter">
  <fieldset class="js-dropdown js-filter" data-name="committee_type1" data-filter="checkbox">
    <legend class="label" for="committee_type">Party committees</legend>
    <ul class="dropdown__selected"></ul>
    <div class="dropdown">
      <button type="button" class="dropdown__button button--alt" data-name="{{ name }}">More</button>
      <div id="pac-dropdown" class="dropdown__panel" aria-hidden="true">
        <ul class="dropdown__list">
          <li class="dropdown__item">
            <input id="committee-type-checkbox-X" type="checkbox" name="committee_type" value="X">
            <label class="dropdown__value" for="committee-type-checkbox-X">Party - nonqualified</label>
          </li>
          <li class="dropdown__item">
            <input id="committee-type-checkbox-Y" type="checkbox" name="committee_type" value="Y">
            <label class="dropdown__value" for="committee-type-checkbox-Y">Party - qualified</label>
          </li>
        </ul>
      </div>
    </div>
  </fieldset>
</div>

<div class="filter">
  <fieldset class="js-dropdown js-filter" data-name="committee_type2"data-filter="checkbox">
    <legend class="label" for="committee_type">Independent expenditure committees</legend>
    <ul class="dropdown__selected"></ul>
    <div class="dropdown">
      <button type="button" class="dropdown__button button--alt" data-name="{{ name }}">More</button>
      <div id="pac-dropdown" class="dropdown__panel" aria-hidden="true">
        <ul class="dropdown__list">
          <li class="dropdown__item">
            <input id="committee-type-checkbox-O" type="checkbox" name="committee_type" value="O">
            <label class="dropdown__value" for="committee-type-checkbox-O">Super PAC (independent expenditure only)</label>
          </li>
          <li class="dropdown__item">
            <input id="committee-type-checkbox-I" type="checkbox" name="committee_type" value="I">
            <label class="dropdown__value" for="committee-type-checkbox-I">Independent expenditure filer (not a committee)</label>
          </li>
          <li class="dropdown__item">
            <input id="committee-type-checkbox-U" type="checkbox" name="committee_type" value="U">
            <label class="dropdown__value" for="committee-type-checkbox-U">Single candidate independent expenditure committee</label>
          </li>
        </ul>
      </div>
    </div>
  </fieldset>
</div>

<div class="filter">
  <fieldset class="js-dropdown js-filter" data-name="committee_type3"data-filter="checkbox">
    <legend class="label" for="committee_type">PACs</legend>
    <ul class="dropdown__selected"></ul>
    <div class="dropdown">
      <button type="button" class="dropdown__button button--alt" data-name="{{ name }}">More</button>
      <div id="pac-dropdown" class="dropdown__panel" aria-hidden="true">
        <ul class="dropdown__list">
          <li class="dropdown__item">
            <input id="committee-type-checkbox-N" type="checkbox" name="committee_type" value="N">
            <label class="dropdown__value" for="committee-type-checkbox-N">PAC - nonqualified</label>
          </li>
          <li class="dropdown__item">
            <input id="committee-type-checkbox-Q" type="checkbox" name="committee_type" value="Q">
            <label class="dropdown__value" for="committee-type-checkbox-Q">PAC - qualified</label>
          </li>
          <li class="dropdown__item">
            <input id="committee-type-checkbox-V" type="checkbox" name="committee_type" value="V">
            <label class="dropdown__value" for="committee-type-checkbox-V">PAC with non-contribution account - nonqualified</label>
          </li>
          <li class="dropdown__item">
            <input id="committee-type-checkbox-W" type="checkbox" name="committee_type" value="W">
            <label class="dropdown__value" for="committee-type-checkbox-W">PAC with non-contribution account - qualified</label>
          </li>
        </ul>
      </div>
    </div>
  </fieldset>
</div>

<div class="filter">
  <fieldset class="js-dropdown js-filter" data-name="designation" data-filter="checkbox">
    <legend class="label" for="committee_type">Other committees</legend>
    <ul class="dropdown__selected">
      <li>
        <input id="designation-checkbox-J" type="checkbox" name="committee_designation" value="J">
        <label class="dropdown__value" for="designation-checkbox-J">Joint fundraising committee</label>
      </li>
    </ul>
  </fieldset>
</div>