<div class="filter js-filter" id="contributor_occupation-field" data-filter="text">
  <label class="label" for="contributor_occupation">Occupation</label>
  <label class="label--help u-margin--top">Use the employer field to search by occupation in reports filed before 2003</label>
  <div class="combo combo--filter--mini">
    <input id="contributor_occupation" type="text" name="contributor_occupation" class="combo__input" tabindex="0">
    <button class="combo__button button--go button--standard is-disabled" type="button" tabindex="0">
      <span class="u-visually-hidden">Search</span>
    </button>
  </div>
</div>