<div class="filter">
    <fieldset class="js-filter" data-filter="checkbox">
      <legend class="label" for="office">Office Sought</legend>
      <ul>
        <li>
          <input id="cycle-checkbox-p" name="office" type="checkbox" value="P">
          <label for="cycle-checkbox-p">President</label>
        </li>
        <li>
          <input id="cycle-checkbox-s" name="office" type="checkbox" value="S">
          <label for="cycle-checkbox-s">Senate</label>
        </li>
        <li>
          <input id="cycle-checkbox-h" name="office" type="checkbox" value="H">
          <label for="cycle-checkbox-h">House</label>
        </li>
      </ul>
    </fieldset>
</div>
