<div class="filter">
    <fieldset class="js-filter" data-filter="checkbox">
      <legend class="label">Election Type</legend>
      <ul>
        <li>
          <input id="cycle-checkbox-p" name="primary_general_indicator" type="checkbox" value="P">
          <label for="cycle-checkbox-p">Primary</label>
        </li>
        <li>
          <input id="cycle-checkbox-g" name="primary_general_indicator" type="checkbox" value="G">
          <label for="cycle-checkbox-g">General</label>
        </li>
        <li>
          <input id="cycle-checkbox-s" name="primary_general_indicator" type="checkbox" value="S">
          <label for="cycle-checkbox-s">Special</label>
        </li>
      </ul>
    </fieldset>
</div>
