<div class="filter">
  <fieldset class="js-filter" data-filter="checkbox">
    <legend class="label">Version</legend>
    <ul>
      <li>
        <input id="most_recent_true" name="most_recent" type="checkbox" value="true">
        <label for="most_recent_true">Most recent version</label>
      </li>
    </ul>
  </fieldset>
</div>

<div class="filter">
  <fieldset class="js-filter" data-filter="checkbox">
    <legend class="label">Document status</legend>
    <ul>
      <li>
        <input id="amendment_indicator_original" name="amendment_indicator" type="checkbox" value="N">
        <label for="amendment_indicator_original">Original</label>
      </li>
      <li>
        <input id="amendment_indicator_amendment" name="amendment_indicator" type="checkbox" value="A">
        <label for="amendment_indicator_amendment">Amendment</label>
      </li>
    </ul>
  </fieldset>
</div>
