{% extends "home/feed_base.html" %}
{% load filters %}

{% block intro %}
  <p>Search or browse guidance documents issued by the Federal Election Commission on this page. This search includes all Commission documents that set forth a policy on a statutory, regulatory or technical issue, or interpret a regulation. Such documents include <a href="https://transition.fec.gov/law/policy.shtml#policy">Statements of Policy</a>, <a href="https://transition.fec.gov/law/policy.shtml#interpretative">interpretive rules</a>, <a href="https://www.fec.gov/help-candidates-and-committees/forms/">FEC forms</a>, <a href="https://www.fec.gov/help-candidates-and-committees/guides/">Campaign Guides</a>, certain press releases and other various Commission publications.</p>
{% endblock %}

{% block filters %}
  <form class="container" action="{% url 'policy-guidance-search' %}" method="get">
    <div class="combo combo--search content__section">
      <label for="search" class="label t-inline-block">Search all documents</label>
      <div class="tooltip__container">
        <button class="tooltip__trigger" type="button"><span class="u-visually-hidden">Learn more</span></button>
        <div id="year-tooltip" role="tooltip" class="tooltip tooltip--under tooltip--left">
          <p class="tooltip__content">Refine a keyword search for phrases, statutes, or regulations by using “ ” to limit results.</p>
        </div>
      </div>
      <input id="search" type="text" class="combo__input" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
      <button type="submit" class="button--standard combo__button button--search">
        <span class="u-visually-hidden">Search</span>
      </button>
      <div class="container">
        <span class="t-note t-sans search__example">Examples: instructions, "interpretive rule", "52 U.S.C. 30104", "11 CFR 109.10"</span>
      </div>
    </div>
  </form>
{% endblock %}

{% block feed %}
  <div class="row" id="results-container">
    <div class="main">
      {% if results.results %}
        <section id="site">
          <div class="heading--section" class="row">
            <h2 class="u-float-left u-no-margin">Results</h2>
            <div class="u-float-right">
              <span class="t-sans">{{ total_count }} total results</span>
            </div>
          </div>
          <ul>
            {% for result in results.best_bets.results %}
              <li class="post post--icon">
                <h3><i class="icon icon--inline--left i-document"></i><a href="{{ result.url }}">{{ result.title | highlight_matches }}</a></h3>
                <div class="post__path t-small t-sans">{{ result.url }}</div>
                <div class="t-sans post__preview">{{ result.description | highlight_matches }}</div>
              </li>
            {% endfor %}
            {% for result in results.results %}
              <li class="post post--icon">
                <h3>
                  <i class="icon icon--inline--left {% if result.icon == 'page' %}i-document{% else %}i-table{% endif %}"></i><a href="{{ result.url }}">{{ result.title | highlight_matches }}</a>
                </h3>
                <div class="post__path t-small t-sans">{{ result.url }}</div>
                <p class="post__preview t-note">{{ result.snippet | highlight_matches }}</p>
              </li>
            {% endfor %}
          </ul>
          <div class="results-info">
            <span class="t-sans">Page {{ current_page }} of {{ num_pages }}</span>
            {% if results.meta.prev_offset is not None and current_page > 1 %}
              <a class="button button--standard button--previous" href="{% url 'policy-guidance-search' %}?query={{ search_query|urlencode }}&amp;offset={{ results.meta.prev_offset }}"><span class="u-visually-hidden">Previous</span></a>
            {% endif %}
            {% if current_page < num_pages %}
              <a class="button button--standard button--next" href="{% url 'policy-guidance-search' %}?query={{ search_query|urlencode }}&amp;offset={{ results.meta.next_offset }}"><span class="u-visually-hidden">Next</span></a>
            {% endif %}
          </div>
        </section>
      {% elif results.meta.count == 0 %}
        <div class="message message--info">
          <h2>No results</h2>
          <p>We didn’t find any results matching <strong>&ldquo;{{search_query}}&rdquo;</strong>.</p>
          <p>Try changing your search term.</p>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block disclaimer %}
<div class="slab slab--neutral footer-disclaimer">
  <div class="container">
    <div class="usa-width-one-half">
      <p class="t-sans u-no-margin">Note: This search does not include advisory opinions, regulations, statutes, or Matters Under Review. For those items, use the <a href="https://www.fec.gov/legal-resources/">legal resources search</a>.</p>
    </div>
  </div>
</div>
{% endblock %}