{% extends "home/feed_base.html" %}
{% load filters %}

{% block intro %}
  <p>Search or browse guidance documents issued by the Federal Election Commission on this page. The guidance documents search includes all Commission documents that set forth a policy on a statutory, regulatory or technical issue. Such documents include <a href="https://transition.fec.gov/law/policy.shtml#policy">Statements of Policy</a>, <a href="https://transition.fec.gov/law/policy.shtml#interpretative">interpretive rules</a>, <a href="https://www.fec.gov/help-candidates-and-committees/forms/">FEC forms</a>, <a href="https://www.fec.gov/help-candidates-and-committees/guides/">Campaign Guides</a>, certain press releases and other various Commission publications.</p>
  <p>Guidance documents lack the force and effect of law, unless expressly authorized by statute or incorporated into a contract. The agency may not cite, use, or rely on any guidance that is not posted on the website existing under <a href="https://www.federalregister.gov/documents/2019/10/15/2019-22624/promoting-the-rule-of-law-through-transparency-and-fairness-in-civil-administrative-enforcement-and">Executive Order 13892</a>, except to establish historical facts.</p>
  <p>To search for a guidance document, enter a keyword in the box. Note: This search does not include advisory opinions, regulations or statutes. Access the <a href="https://www.fec.gov/legal-resources/">legal resources search engine</a> to search those items.</p>
{% endblock %}

{% block filters %}
  <form class="container" action="{% url 'policy-guidance-search' %}" method="get">
    <div class="combo combo--search content__section">
      <label for="search" class="label">Search all documents</label>
      <input id="search" type="text" class="combo__input" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
      <button type="submit" class="button--cta combo__button button--search">
        <span class="u-visually-hidden">Search</span>
      </button>
    </div>
  </form>
{% endblock %}

{% block feed %}
  <div class="row" id="results-container">
    <div class="main">
      {% if results.results %}
        <section class="option" id="site">
          <div class="row">
            <h2 class="u-float-left u-no-margin">Results</h2>
            <div class="u-float-right">
              <span class="t-sans">{{ results.meta.count }} total results</span>
            </div>
          </div>
          <ul>
            {% for result in results.results %}
              <li class="post post--icon">
                <h3>
                  <i class="icon icon--inline--left {% if result.icon == 'page' %}i-document{% else %}i-table{% endif %}"></i><a href="{{ result.url }}">{{ result.title | highlight_matches }}</a>
                </h3>
                <div class="post__path t-small t-sans">{{ result.url }}</div>
                <p class="post__preview t-note">{{ result.snippet | highlight_matches }}</p>
              </li>
            {% endfor %}
          </ul>
          <div class="results-info">
            <span class="t-sans">{{ results.meta.count }} results</span>
            <div class="u-float-right">
              {% if results.meta.prev_offset %}
                <a class="button button--standard button--previous" href="{% url 'policy-guidance-search' %}?query={{ search_query|urlencode }}&amp;offset={{ results.meta.prev_offset }}"><span class="u-visually-hidden">Previous</span></a>
              {% endif %}
              {% if results.meta.next_offset %}
                <a class="button button--standard button--next" href="{% url 'policy-guidance-search' %}?query={{ search_query|urlencode }}&amp;offset={{ results.meta.next_offset }}"><span class="u-visually-hidden">Next</span></a>
              {% endif %}
            </div>
          </div>
        </section>
      {% elif results.meta.count == 0 %}
        <div class="message message--info">
          <h2>No results</h2>
          <p>We didn’t find any pages matching <strong>&ldquo;{{search_query}}&rdquo;</strong>.</p>
          <p>Try changing your search term.</p>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
