{% extends "base.html" %}
{% load static wagtailcore_tags %}
{% load filters %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
  {% include 'partials/breadcrumbs.html' with page=self style='primary' %}
  <main class="main container">
    <h1 class="heading--main">{{ self.title }}</h1>
    <div class="row">
      <form class="slab slab--inline slab--neutral" action="{% url 'search' %}" method="get">
        <div class="container">
          <div class="combo">
            <label for="search" class="label">Search</label>
            <input id="search" type="text" class="combo__input" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
            <button type="submit" value="Search" class="combo__button button button--cta">Search</button>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="main__content">
        {% if search_results %}
          <section id="other">
            <ul class="post-feed">
              {% if best_bets %}
                {% for result in best_bets %}
                  <li class="post">
                    <h3><i class="icon icon--inline--left i-star"></i><a href="{{ result.url }}">{{ result.title }}</a></h3>
                    <span class="t-small t-sans t-block">{{ result.url }}</span>
                    <p class="t-note">{{ result.description }}</p>
                  </li>
                {% endfor %}
              {% endif %}
              {% if candidate_results %}
                {% for result in candidate_results %}
                  <li class="post">
                    <h3><i class="icon icon--inline--left i-candidate"></i><a href="{{settings.FEC_APP_URL}}/candidate/{{result.candidate_id}}">{{ result.name }}</a></h3>
                    <span class="t-small t-sans t-block">{{settings.FEC_APP_URL}}/candidate/{{result.candidate_id}}</span>
                    <p>Candidate for {{ result.office_full }} in {% for y in result.election_years %}{{ y }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</p>
                  </li>
                {% endfor %}
              {% endif %}
              {% if committee_results %}
                {% for result in committee_results %}
                  <li class="post">
                    <h3><i class="icon icon--inline--left i-committee"></i><a href="{{settings.FEC_APP_URL}}/committee/{{result.committee_id}}">{{ result.name }}</a></h3>
                    <span class="t-small t-sans t-block">{{settings.FEC_APP_URL}}/committee/{{result.committee_id}}</span>
                    <p>Committee</p>
                  </li>
                {% endfor %}
              {% endif %}
              {% for result in search_results %}
                <li class="post">
                  <h3><i class="icon icon--inline--left i-document"></i><a href="{{ result.url }}">{{ result.title }}</a></h3>
                  <span class="t-small t-sans t-block">{{ result.url }}</span>
                  <p class="t-note">{{ result.snippet | highlight_matches }}</p>
                </li>
              {% endfor %}
            </ul>
            <div class="results-info">
              <span class="t-sans">{{ meta.count }} results</span>
              <div class="u-float-right">
                {% if meta.prev_offset %}
                  <a class="button button--standard button--previous" href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;offset={{ meta.prev_offset }}"><span class="u-visually-hidden">Previous</span></a>
                {% endif %}
                {% if meta.next_offset %}
                  <a class="button button--standard button--next" href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;offset={{ meta.next_offset }}"><span class="u-visually-hidden">Next</span></a>
                {% endif %}
              </div>
            </div>
          </section>
        {% endif %}

        {% if search_query and not search_results and not candidate_results %}
          No results found
        {% endif %}
        </div>
      <div class="sidebar-container">
        <aside class="sidebar sidebar--primary">
          <h4 class="sidebar__title">Other search options</h4>
            <div class="sidebar__content">
              <p class="t-sans">Search for "{{ search_query}}" in:</p>
              <ul class="sidebar__related-links">
                <li><a href="{{ settings.FEC_APP_URL }}/receipts/individual-contributions?contributor_name={{search_query}}">Individual contributions</a></li>
                <li><a href="{{ settings.FEC_APP_URL }}/legal/search?search_type=all&amp;search={{ search_query}}">Legal resources</a></li>
              </ul>
            </div>
        </aside>
      </div>
    </div>
  </main>
{% endblock %}
