{# Imported by committees-single.jinja #}

{% import 'macros/cycle-select.jinja' as select %}

<section id="section-2" role="tabpanel" aria-hidden="true" aria-labelledby="section-2-heading">
  <!-- For Electioneering Communication committee type -->
  {% if committee_type == 'E' %}
  <h2 id="section-2-heading">About this filer</h2>
   {% else %}
  <h2 id="section-2-heading">About this committee</h2>
   {% endif %}
  <div class="slab slab--inline slab--neutral u-padding--left u-padding--right">
    {{ select.committee_cycle_select(committee.cycles_has_activity, cycle, 'about')}}
    {% if committee_type == 'E' %}
    <div class="entity__figure row">
      <h3 class="heading--section">Filer information</h3>
      <table class="t-sans usa-width-three-fourths">
        <tr>
          <td class="figure__label">Filer name:</td>
          <td class="figure__value">{{committee.name}}</td>
        </tr>
        <tr>
          <td class="figure__label">Mailing address:</td>
          <td class="figure__value">
            <span class="t-block">{{ committee.street_1 }}</span>
            {% if committee.street_2 %}
              <span class="t-block">{{ committee.street_2 }}</span>
            {% endif %}
            <span class="t-block">{{ committee.city }}, {{ committee.state }} {{ committee.zip }}</span>
          </td>
        </tr>
        <tr>
          <td class="figure__label">Filer type:</td>
          <td class="figure__value">{{ committee.committee_type_full }}</td>
        </tr>
      </table>
    </div>
    <!-- For all other committee types -->
    {% else %}
    <div class="entity__figure row">
      <h3 class="heading--section">Committee information</h3>
      <table class="t-sans usa-width-three-fourths">
        <tr>
          <td class="figure__label">Committee name:</td>
          <td class="figure__value">{{committee.name}}</td>
        </tr>
        <tr>
          <td class="figure__label">Mailing address:</td>
          <td class="figure__value">
            <span class="t-block">{{ committee.street_1 }}</span>
            {% if committee.street_2 %}
              <span class="t-block">{{ committee.street_2 }}</span>
            {% endif %}
            <span class="t-block">{{ committee.city }}, {{ committee.state }} {{ committee.zip }}</span>
          </td>
        </tr>
        <tr>
          <td class="figure__label">Treasurer:</td>
          <td class="figure__value">{{ committee.treasurer_name }}</td>
        </tr>
        <tr>
          <td class="figure__label">Committee type:</td>
          <td class="figure__value">
            {# If organizaton_type exists it's a SSF #}
            {% if is_SSF %}
              {{ committee.organization_type_full }} {{ committee.committee_type_full }}
            {% else %}
              {{ committee.committee_type_full }}
            {% endif %}
          </td>
        </tr>
        <tr>
          {% if committee.designation %}
            <td class="figure__label">Committee designation:</td>
            <td class="figure__value">{{ committee.designation_full }}</td>
          {% endif %}
        </tr>
        {# For Statement of organization: #}
        {% if statement_of_organization %}
        <tr>
          <td class="figure__label">Statement of organization:</td>
          <td class="figure__value">
            <ul>
              <li>
                <div class="t-block">
                  <i class="icon-circle--check-outline--inline--left"></i>
                  <a href="{{ statement_of_organization.pdf_url }}">Current version (PDF)</a>
                </div>
                {% if statement_of_organization.fec_file_id %}
                  <div class="t-small u-small-icon-padding--left"> {{ statement_of_organization.fec_file_id }}</div>
                {% endif %}
                <div class="u-small-icon-padding--left"> Filed {{ statement_of_organization.receipt_date }}</div>
              </li>
            </ul>
          </td>
        </tr>
        {% endif %}
        {# For Authorizing candidates: #}
        {% if candidates %}
        <tr>
          <td class="figure__label">Authorizing candidate:</td>
          <td class="figure__value">
            <div class="callout callout--primary" style="width: 100%; max-width: 300px">
              <h5 class="callout__title t-sans">
                {% for c in candidates %}
                  {% if c.related_cycle is not none %}
                <a href="/data/candidate/{{ c.candidate_id }}/?cycle={{ c.related_cycle }}&election_full=false">{{ c.name }}</a>
                  {% else %}
                <a href="/data/candidate/{{ c.candidate_id }}/">{{ c.name }}</a>
                  {% endif %}
                {% endfor %}
              </h5>
              <span class="entity__type">{{ committee.committee_type_full }} candidate</span>

                {% if candidates[0].office == 'S' %}
              <span class="entity__type">{{ candidates[0].state|fmt_state_full }}</span>
                {% elif candidates[0].office == 'H' %}
              <span class="entity__type">{{ candidates[0].state|fmt_state_full }} - {{ candidates[0].district }}</span>
                {% endif %}

                {{ candidates[0].party_full|lower|title }}
            </div>
          </td>
        </tr>
        {% endif %}
        {# For Committee sponsor: #}
        {% if sponsor_candidates %}
        <tr>
            <td class="figure__label">Leadership PAC sponsor:</td>
            <td class="figure__value">
              {% for candidate in sponsor_candidates | reverse %}
              <div class='grid'>
                <div class="grid__item u-no-margin">
                  <div class="callout callout--primary{% if loop.last %} u-no-margin{% endif %}" style="width: 100%; max-width: 300px">
                    <h5 class="callout__title t-sans">
                      <a href="/data/candidate/{{ candidate.candidate_id }}/?cycle={{ candidate.related_cycle }}&election_full=false">{{ candidate.name }}</a>
                    </h5>
                {% if candidate.office == 'P' %}
                    <p class="callout__subtitle u-no-margin">Presidential candidate | {{ candidate.party_full |capitalize}}</p>
                {% elif candidate.office == 'S' or candidate.office == 'H' %}
                    <p class="callout__subtitle u-no-margin">Candidate for {{ constants.house_senate_types[candidate.office] }} |</p>
                    <p class="callout__subtitle u-no-margin">{{ constants.states[candidate.state] }} | {{ candidate.party_full |capitalize}}</p>
                {% endif %}
                  </div>
                </div>
              </div>
              {% endfor %}
          </td>
        </tr>
        {% endif %}
      </table>
    </div>
    {% endif %}
    {% if ((committee.designation == 'J') and (committee.jfc_committee)) %}
    <div class="entity__figure row">
      <h3 class="heading--section">Committees</h3>
      <table class="t-sans usa-width-three-fourths">
        <tr>
            <td class="figure__label">Current joint fundraising participants:</td>
        </tr>
        <tr>
            <td class="figure__value">
              <ul class="list--bulleted">
                {% for jfc in committee.jfc_committee %}
                  <li>
                    {% if jfc.joint_committee_id is not none %}
                      <a href="/data/committee/{{jfc.joint_committee_id}}/">
                        {% if jfc.joint_committee_name is not none %}
                          {{ jfc.joint_committee_name }}
                        {% else %}
                          {{ jfc.joint_committee_id }}
                        {% endif %}
                      </a>
                    {% else %}  
                       {{ jfc.joint_committee_name }}
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </td>
        </tr>
      </table>
    </div>
    {% endif %}
  </div>
</section>
