{% import 'macros/cycle-select.html' as select %}

<section id="section-2" role="tabpanel" aria-hidden="true" aria-labelledby="section-2-heading">
  <h2 id="section-2-heading">About this committee</h2>
  <div class="slab slab--inline slab--neutral u-padding--left u-padding--right">
    {{ select.committee_cycle_select(cycles, cycle, 'about')}}
    <div class="entity__figure row">
      <h3 class="heading--section">Committee information</h3>
      <table class="t-sans usa-width-three-fourths">
        <tr>
          <td class="figure__label">Committee name:</td>
          <td class="figure__value">{{name}}</td>
        </tr>
        <tr>
          <td class="figure__label">Political party:</td>
          <td class="figure__value">
            {% if party_full %}
              {{party_full}}
            {% else %}
              None
            {% endif %}
          </td>
        </tr>
        <tr>
          <td class="figure__label">Mailing address:</td>
          <td class="figure__value">
            <span class="t-block">{{ street_1 }}</span>
            {% if street_2 %}
              <span class="t-block">{{ street_2 }}</span>
            {% endif %}
            <span class="t-block">{{ city }}, {{ state }} {{ zip }}</span>
          </td>
        </tr>
        <tr>
          <td class="figure__label">Treasurer</td>
          <td class="figure__value">{{ treasurer_name }}</td>
        </tr>
        <tr>
          <td class="figure__label">Committee type:</td>
          <td class="figure__value">{{ committee_type_full }}</td>
        </tr>
        <tr>
          <td class="figure__label">Committee designation:</td>
          <td class="figure__value">{{ designation_full }}</td>
        </tr>
        {% if organization %}
          <tr>
            <td class="figure__label">Organization type:</td>
            <td class="figure__value">
                {{ organization }}
            </td>
          </tr>
        {% endif %}
        {% if candidates %}
          <tr>
            <td class="figure__label">Authorizing candidate:</td>
            <td class="figure__value">
              {% for c in candidates %}
                <a href="{{ url_for('candidate_page', c_id=c.candidate_id, cycle=c.related_cycle) }}">{{ c.name }}</a>
              {% endfor %}
            </td>
          </tr>
          <tr>
            <td class="figure__label">Candidates's political party:</td>
            <td class="figure__value">{{ candidates[0].party_full }}</td>
          </tr>
          {% if candidates[0].office == 'S' %}
            <tr>
              <td class="figure__label">Candidates's state:</td>
              <td class="figure__value">{{ candidates[0].state|fmt_state_full }}</td>
            </tr>
          {% elif candidates[0].office == 'H' %}
            <tr>
              <td class="figure__label">Candidates's state and district:</td>
              <td class="figure__value">{{ candidates[0].state|fmt_state_full }} district {{ candidates[0].district }}</td>
            </tr>
          {% endif %}
        {% endif %}
      </table>
    </div>
  </div>
</section>
