{% import 'macros/cycle-select.jinja' as select %}

<section id="section-2" role="tabpanel" aria-hidden="true" aria-labelledby="section-2-heading">
  <!-- For Electioneering Communication committee type -->
  {% if committee_type == 'E' %}
  <h2 id="section-2-heading">About this filer</h2>
   {% else %}
  <h2 id="section-2-heading">About this committee</h2>
   {% endif %}
  <div class="slab slab--inline slab--neutral u-padding--left u-padding--right">
    {{ select.committee_cycle_select(cycles, cycle, 'about')}}
    {% if committee_type == 'E' %}
    <div class="entity__figure row">
      <h3 class="heading--section">Filer information</h3>
      <table class="t-sans usa-width-three-fourths">
        <tr>
          <td class="figure__label">Filer name:</td>
          <td class="figure__value">{{name}}</td>
        </tr>
        <tr>
          <td class="figure__label">Mailing address:</td>
          <td class="figure__value">
            <span class="t-block">{{ street_1 }}</span>
            {% if street_2 %}
              <span class="t-block">{{ street_2 }}</span>
            {% endif %}
            <span class="t-block">{{ city }}, {{ state }} {{ zip }}</span>
          </td>
        </tr>
        <tr>
          <td class="figure__label">Filer type:</td>
          <td class="figure__value">{{ committee_type_full }}</td>
        </tr>
      </table>
    </div>
    <!-- For all other committee types -->
    {% else %}
    <div class="entity__figure row">
      <h3 class="heading--section">Committee information</h3>
      <table class="t-sans usa-width-three-fourths">
        <tr>
          <td class="figure__label">Committee name:</td>
          <td class="figure__value">{{name}}</td>
        </tr>
        <tr>
          <td class="figure__label">Mailing address:</td>
          <td class="figure__value">
            <span class="t-block">{{ street_1 }}</span>
            {% if street_2 %}
              <span class="t-block">{{ street_2 }}</span>
            {% endif %}
            <span class="t-block">{{ city }}, {{ state }} {{ zip }}</span>
          </td>
        </tr>
        <tr>
          <td class="figure__label">Treasurer:</td>
          <td class="figure__value">{{ treasurer_name }}</td>
        </tr>
        <tr>
          <td class="figure__label">Committee type:</td>
          <td class="figure__value">{{ committee_type_full }}</td>
        </tr>
        <tr>
          <td class="figure__label">Committee designation:</td>
          <td class="figure__value">{{ designation_full }}</td>
        </tr>
        {% if organization %}
          <tr>
            <td class="figure__label">Organization type:</td>
            <td class="figure__value">
                {{ organization }}
            </td>
          </tr>
        {% endif %}
        {% if candidates %}
          <tr>
            <td class="figure__label">Authorizing candidate:</td>
            <td class="figure__value">
              <div class="callout callout--primary">
                <h5 class="callout__title t-sans">
                  {% for c in candidates %}
                    {% if c.related_cycle is not none %}
                      <a href="/data/candidate/{{ c.candidate_id }}/?cycle={{ c.related_cycle }}&election_full=false">{{ c.name }}</a>
                    {% else %}
                      <a href="/data/candidate/{{ c.candidate_id }}/">{{ c.name }}</a>
                    {% endif %}
                  {% endfor %}
                </h5>
                  <span class="entity__type">{{ committee_type_full }} candidate</span>

                  {% if candidates[0].office == 'S' %}
                    <span class="entity__type">{{ candidates[0].state|fmt_state_full }}</span>
                  {% elif candidates[0].office == 'H' %}
                      <span class="entity__type">{{ candidates[0].state|fmt_state_full }} - {{ candidates[0].district }}</span>
                  {% endif %}

                  {{ candidates[0].party_full|lower|title }}
              </div>
            </td>
          </tr>
        {% endif %}
      </table>
    </div>
    {% endif %}
  </div>
</section>
