{% import 'macros/cycle-select.html' as select %}

<section id="section-5" role="tabpanel" aria-hidden="true" aria-labelledby="section-5-heading">
  <h2 id="section-5-heading">Committee to committee disbursements</h2>
  <div class="slab slab--inline slab--neutral u-padding--left u-padding--right">
    {{ select.committee_cycle_select(cycles, cycle, 'between-committees')}}
    <div class="entity__figure">
      <div class="row">
        <fieldset class="toggles js-toggles u-float-left">
          <legend class="label" for="transfers">Group by:</legend>
          <label for="toggle-from">
            <input id="toggle-from" type="radio" class="js-panel-toggle-control" name="transfers" value="from-committees" checked>
            <span class="button--alt">Disbursements received from committees</span>
          </label>
          <label for="toggle-to">
            <input id="toggle-to" type="radio" class="js-panel-toggle-control" name="transfers" value="to-committees">
            <span class="button--alt">Disbursements to committees</span>
          </label>
        </fieldset>
      </div>

      <div id="to-committees" class="panel-toggle-element">
        <div class="results-info results-info--simple">
          <h3 class="results-info__title">Disbursements to committees</h3>
          <button type="button" class="js-export button button--cta button--export" data-export-for="disbursements-by-recipient-id">Export</button>
        </div>
        <table
            class="data-table data-table--heading-borders"
            data-type="disbursements-by-recipient-id"
            data-committee="{{ committee.committee_id }}"
            data-cycle="{{ cycle }}"
          >
          <thead>
            <th scope="col">Committee</th>
            <th scope="col">Total</th>
          </thead>
        </table>
      </div>
    </div>
  </div>
</section>
