{% import 'macros/missing.jinja' as missing %}
{% import 'macros/missing-transferred.jinja' as missing_transferred %}
{% import 'macros/cycle-select.jinja' as select %}
{% import 'macros/tables.jinja' as tables %}

<section id="section-1" role="tabpanel" aria-hidden="true" aria-labelledby="section-1-heading">
  <h2 id="section-1-heading">Financial summary</h2>
  <div class="slab slab--inline slab--neutral u-padding--left u-padding--right">
    {{ select.committee_cycle_select(cycles, cycle, 'summary')}}
    {% if reports and totals %}
      {% if committee_type == 'I' %}
        <div class="entity__figure">
          <div class="row">
            <div class="tag__category">
              <div class="tag__item">Coverage dates: {{totals.coverage_start_date|date}} to {{totals.coverage_end_date|date}}</div>
            </div>
          </div>
          {{ tables.summary(ie_summary) }}
          <p class="t-note">Newly filed summary data may not appear for up to 48 hours.</p>
        </div>
      <!-- Inaugural Committees -->
      {% elif committee.organization_type == 'I' %}
        <div class="entity__figure">
          <div class="row">
            <div class="tag__category">
              <div class="tag__item">Coverage dates: {{totals.coverage_start_date|date}} to {{totals.coverage_end_date|date}}</div>
            </div>
          </div>
          {{ tables.summary(inaugural_summary) }}
        </div>
      {% else %}
        {% if former_committee_name %}
          <div class="entity__figure entity__figure--narrow">
            {{ missing_transferred.missing_transferred_committee_message(former_committee_name, former_authorized_candidate_name, former_authorized_candidate_id) }}
          </div>
        {% endif %}
        <div class="entity__figure entity__figure--narrow" id="total-raised">
          <div class="heading--section heading--with-action">
            <h3 class="heading__left">Total raised</h3>
            <a class="heading__right button--alt button--browse"
                href="/data/receipts/?committee_id={{ committee_id}}&two_year_transaction_period={{ cycle }}">Browse receipts
            </a>
          </div>
          <div class="tag__category">
            <div class="tag__item">Coverage dates: {{totals.coverage_start_date|date}} to {{totals.coverage_end_date|date}}</div>
          </div>
          {{ tables.summary(raising_summary, committee_id, cycle, committee_type) }}
        </div>
        <div class="entity__figure entity__figure--narrow" id="total-spent">
          <div class="heading--section heading--with-action">
            <h3 class="heading__left">Total spent</h3>
            <a class="heading__right button--alt button--browse"
                href="/data/disbursements/?committee_id={{ committee_id }}&two_year_transaction_period={{ cycle }}">Browse disbursements
            </a>
          </div>
          <div class="tag__category u-no-margin">
            <div class="tag__item">Coverage dates: {{totals.coverage_start_date|date}} to {{totals.coverage_end_date|date}}</div>
          </div>
          {{ tables.summary(spending_summary, committee_id, cycle, committee_type) }}
        </div>
        <div class="entity__figure entity__figure--narrow" id="cash-summary">
          <div class="heading--section heading--with-action">
            <h3 class="heading__left">Cash summary</h3>
          </div>
          <div class="tag__category u-no-margin">
            <div class="tag__item">Coverage dates: {{totals.coverage_start_date|date}} to {{totals.coverage_end_date|date}}</div>
          </div>
          {{ tables.summary(cash_summary, committee_id) }}
        </div>
      {% endif %}
    {% else %}
      {# on committee profile page, when cycles has more options
      than cycles_has_financial, cycle_out_of_range = true. when go back to financial summery page, missing message show last_cycle_has_financial 
      #}
      {% if cycle_out_of_range %}
        {{ missing.missing_financials(committee.name, committee.last_cycle_has_financial) }}
      {% else %}
         {{ missing.missing_financials(committee.name, cycle) }}
      {% endif %}      
    {% endif %}
  </div>
</section>
