{% import 'macros/missing.jinja' as missing %}
{% import 'macros/missing-transferred.jinja' as missing_transferred %}
{% import 'macros/cycle-select.jinja' as select %}
{% import 'macros/tables.jinja' as tables %}

<section id="section-1" role="tabpanel" aria-hidden="true" aria-labelledby="section-1-heading">
  <h2 id="section-1-heading">Financial summary</h2>
  <div class="slab slab--inline slab--neutral u-padding--left u-padding--right">
    {{ select.committee_cycle_select(cycles, cycle, 'summary')}}
    {% if reports and totals %}
      {% if committee_type == 'I' %}
        <div class="entity__figure">
          <div class="row">
            <div class="tag__category">
              <div class="tag__item">Coverage dates: {{totals.coverage_start_date|date}} to {{totals.coverage_end_date|date}}</div>
            </div>
          </div>
          {{ tables.summary(ie_summary) }}
          <p class="t-note">Newly filed summary data may not appear for up to 48 hours.</p>
        </div>
      <!-- Inaugural Committees -->
      {% elif committee.organization_type == 'I' %}
        <div class="entity__figure">
          <div class="row">
            <div class="tag__category">
              <div class="tag__item">Coverage dates: {{totals.coverage_start_date|date}} to {{totals.coverage_end_date|date}}</div>
            </div>
          </div>
          {{ tables.summary(inaugural_summary) }}
        </div>
      {% else %}
        {% if former_committee_name %}
          <div class="entity__figure entity__figure--narrow">
            {{ missing_transferred.missing_transferred_committee_message(former_committee_name, former_authorized_candidate_name, former_authorized_candidate_id) }}
          </div>
        {% endif %}
        {% if FEATURES.pac_snapshot %}
        <div class="entity__figure entity__figure--narrow" id="committee-snapshot">
          <div class="heading--section">
            <h3>Committee snapshot</h3>
          </div>

          {% set shared_circle_props = 'cx=21 cy=21 r=15.91549430918954' %}
          {% set shared_text_props = 'x=50% y=57%' %}
          {% set coverage_str = totals.coverage_start_date|date ~' to ' ~totals.coverage_end_date|date %}

          {% if totals.individual_contributions_percent %}
            {% set rec_ind = totals.individual_contributions_percent|round|int %}
            {% set rec_ind_class = 'raising' %}
            {% set rec_ind_ring = '0 100' %}
            {% set rec_ind_l = rec_ind ~'%' %}
            {% if rec_ind > 100 %}
            {% set rec_ind_l = '>100%' %}
            {% set rec_ind_ring = '100 0' %}
            {% elif rec_ind > 0 and rec_ind < 1 %}
            {% set rec_ind_l = '<1%' %}
            {% else %}
            {% set rec_ind_ring = rec_ind ~ ' ' ~ (100 - rec_ind) %}
            {% endif %}
          {% else %}
            {% set rec_ind_l = '!' %}
            {% set rec_ind_ring = '0 100' %}
            {% set rec_ind_class = '' %}
          {% endif %}

          {% if totals.party_and_other_committee_contributions_percent %}
            {% set rec_com = totals.party_and_other_committee_contributions_percent|round|int %}
            {% set rec_com_class = 'raising' %}
            {% set rec_com_ring = '0 100' %}
            {% set rec_com_l = rec_com ~'%' %}
            {% if rec_com > 100 %}
            {% set rec_com_l = '>100%' %}
            {% set rec_com_ring = '100 0' %}
            {% elif rec_com > 0 and rec_com < 1 %}
            {% set rec_com_l = '<1%' %}
            {% else %}
            {% set rec_com_ring = rec_com ~ ' ' ~ (100 - rec_com) %}
            {% endif %}
          {% else %}
            {% set rec_com_l = '!' %}
            {% set rec_com_ring = '0 100' %}
            {% set rec_com_class = '' %}
          {% endif %}

          {% if totals.contributions_ie_and_party_expenditures_made_percent %}
            {% set dis_com = totals.contributions_ie_and_party_expenditures_made_percent|round|int %}
            {% set dis_com_class = 'spending' %}
            {% set dis_com_ring = '0 100' %}
            {% set dis_com_l = dis_com ~'%' %}
            {% if dis_com > 100 %}
            {% set dis_com_l = '>100%' %}
            {% set dis_com_ring = '100 0' %}
            {% elif dis_com > 0 and dis_com < 1 %}
            {% set dis_com_l = '<1%' %}
            {% else %}
            {% set dis_com_ring = dis_com ~ ' ' ~ (100 - dis_com) %}
            {% endif %}
          {% else %}
            {% set dis_com_l = '!' %}
            {% set dis_com_ring = '0 100' %}
            {% set dis_com_class = '' %}
          {% endif %}

          {% if totals.operating_expenditures_percent %}
            {% set dis_oe = totals.operating_expenditures_percent|round|int %}
            {% set dis_oe_class = 'spending' %}
            {% set dis_oe_ring = '0 100' %}
            {% set dis_oe_l = dis_oe ~'%' %}
            {% if dis_oe > 100 %}
            {% set dis_oe_l = '>100%' %}
            {% set dis_oe_ring = '100 0' %}
            {% elif dis_oe > 0 and dis_oe < 1 %}
            {% set dis_oe_l = '<1%' %}
            {% else %}
            {% set dis_oe_ring = dis_oe ~ ' ' ~ (100 - dis_oe) %}
            {% endif %}
          {% else %}
            {% set dis_oe_l = '!' %}
            {% set dis_oe_ring = '0 100' %}
            {% set dis_oe_class = '' %}
          {% endif %}

          {# set the meters' max value to the greater of receipts or disbursements #}
          {% if totals.fed_receipts and totals.fed_disbursements and totals.last_cash_on_hand_end_period %}
            {% if totals.fed_receipts >= totals.fed_disbursements %}
              {% set meters_max = totals.fed_receipts %}
            {% else %}
              {% set meters_max = totals.fed_disbursements %}
            {% endif %}
            {# but override both if COH is larger for some reason #}
            {% if totals.last_cash_on_hand_end_period > meters_max %}
              {% set meters_max = totals.last_cash_on_hand_end_period %}
            {% endif %}
          {% endif %}

          {% if com_type_glossary and com_type_text %}
          <p>Learn more about <span class="term" data-term="{{ com_type_glossary }}" title="Click to define" tabindex="0">{{ com_type_text }}</span> like {{ committee.name }}.</p>
          {% endif %}
          <div class="tag__category">
            <div class="tag__item">Coverage dates: {{ coverage_str }}</div>
          </div>
          <div class="snapshot-summary">
            <span class="t-data t-bold">Total receipts: <span class="t-normal">{{ totals.fed_receipts|currency }}</span></span>
            <meter min="0" max="{{ meters_max }}" value="{{ totals.fed_receipts }}" title="US Dollars" data-cat="raising"></meter>
            <span class="t-data t-bold">Total disbursements: <span class="t-normal">{{ totals.fed_disbursements|currency }}</span></span>
            <meter min="0" max="{{ meters_max }}" value="{{ totals.fed_disbursements }}" title="US Dollars" data-cat="spending"></meter>
            <span class="t-data t-bold">Cash on hand: <span class="t-normal">{{ totals.last_cash_on_hand_end_period|currency }}</span></span>
            <meter min="0" max="{{ meters_max }}" value="{{ totals.last_cash_on_hand_end_period }}" title="US Dollars" data-cat="cash"></meter>
          </div>
          <div class="grid grid--2-wide">
            <div class="grid__item">
              <h4 class="t-centered">Money raised</h4>
              <div class="grid grid--2-wide">
                <div class="grid__item">
                  <figure>
                    <svg viewBox="0 0 42 42" class="donut {{ rec_ind_class }}" role="img" aria-labelledby="snap-raise-ind-t snap-raise-ind-d">
                      <title id="snap-raise-ind-t">Percent raised from individual conributions {{ coverage_str }}</title>
                      <desc id="snap-raise-ind-d">98% of money raised came from individual contributions</desc>
                      <circle class="center" {{ shared_circle_props }}></circle>
                      <circle class="ring" {{ shared_circle_props }}></circle>
                      <circle class="segment" {{ shared_circle_props }} stroke-dasharray="{{ rec_ind_ring }}"></circle>
                      <g class="chart-text">
                        <text {{ shared_text_props }}>{{ rec_ind_l }}</text>
                      </g>
                    </svg>
                    <figcaption>Percent raised in individual <span class="term" data-term="contribution" title="Click to define" tabindex="0">contributions</span></figcaption>
                  </figure>
                </div>
                <div class="grid__item">
                  <figure>
                    <svg viewBox="0 0 42 42" class="donut {{ rec_com_class }}" aria-labelledby="snap-raise-com-t snap-raise-com-d">
                      <title id="snap-raise-com-t">Percent raised from other federal political committees {{ coverage_str }}</title>
                      <desc id="snap-raise-com-d">0% of money raised came from other federal political committees</desc>
                      <circle class="center" {{ shared_circle_props }}></circle>
                      <circle class="ring" {{ shared_circle_props }}></circle>
                      <!-- The stroke-dashoffset should add up to 100, with the first value being the color -->
                      <circle class="segment" {{ shared_circle_props }} stroke-dasharray="{{ rec_com_ring }}"></circle>
                      <text {{ shared_text_props }}>{{ rec_com_l }}</text>
                    </svg>
                    <figcaption>Percent raised in contributions from other federal <span class="term" data-term="political committee" title="Click to define" tabindex="0">political committees</span></figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="grid__item">
              <h4 class="t-centered">Money spent</h4>
              <div class="grid grid--2-wide">
                <div class="grid__item">
                  <figure>
                    <svg viewBox="0 0 42 42" class="donut {{ dis_com_class }}" role="img" aria-labelledby="snap-spend-com-t snap-spend-com-d">
                      <title id="snap-spend-com-t">Percent spent on contributions to other federal political committees {{ coverage_str }}</title>
                      <desc id="snap-spend-com-d">96% of money spent went to other federal political committees</desc>
                      <circle class="center"{{ shared_circle_props }}></circle>
                      <circle class="ring"{{ shared_circle_props }}></circle>
                      <circle class="segment" {{ shared_circle_props }} stroke-dasharray="{{ dis_com_ring }}"></circle>
                      <g class="chart-text">
                        <text {{ shared_text_props }}>{{ dis_com_l }}</text>
                      </g>
                    </svg>
                    <figcaption>Percent spent on contributions to other <span class="term" data-term="national committee" title="Click to define" tabindex="0">federal committees</span></figcaption>
                  </figure>
                </div>
                <div class="grid__item">
                  <figure>
                    <svg viewBox="0 0 42 42" class="donut {{ dis_oe_class }}" role="img" aria-labelledby="snap-spend-ox-t snap-spend-ox-d">
                      <title id="snap-spend-ox-t">Percent spent on operating expenditures {{ coverage_str }}</title>
                      <desc id="snap-spend-ox-d">96% of money spent on operating expenditures</desc>
                      <circle class="center" {{ shared_circle_props }}></circle>
                      <circle class="ring" {{ shared_circle_props }}></circle>
                      <!-- The stroke-dashoffset should add up to 100, with the first value being the color -->
                      <circle class="segment" {{ shared_circle_props }} stroke-dasharray="{{ dis_oe_ring }}"></circle>
                      <text {{ shared_text_props }}>{{ dis_oe_l }}</text>
                    </svg>
                    <figcaption>Percent spent on <span class="term" data-term="operating expenditures" title="Click to define" tabindex="0">operating expenditures</span></figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-methodology">
            <p class="t-note">
              The percentages shown do not represent 100% of this committee's activity. Refer to the tables that follow for a complete breakdown of raising and spending.
            </p>
            <div>
              <button class="button--alt js-methodology" data-a11y-dialog-show="methodology-committee-snapshot">Methodology</button>
            </div>
          </div>
          <div class="js-modal modal" id="methodology-committee-snapshot" aria-hidden="true">
            <div tabindex="-1" class="modal__overlay" data-a11y-dialog-hide=""></div>
            <div role="dialog" class="modal__content" aria-labelledby="raised-modal-title">
              <div role="document">
                <button type="button" class="modal__close button--close--primary" data-a11y-dialog-hide="" title="Close this dialog window"></button>
                <h2 id="raised-modal-title">Methodology</h2>
                <strong>Receipts</strong>
                <p>Percentage contributions from individuals</p>
                <ul><li>Total individual contributions divided by total receipts (Form 3X Line 11(a)(iii) divided by Line 19)</li></ul>

                <p>Contributions from party committees plus contributions from other federal committees divided by total receipts (Form 3X Line 11(b) + Line 11(c) divided by Line 19)</p>
                <ul><li><strong>The language under the doughnut could be something like, "percent raised from contrbutions from PACS and party committees."</strong></li></ul>
                <strong>Disbursements</strong>
                <p>Percentage IEs, federal candidate contributions and party coordinated expenditures</p>
                <ul><li>Contributions to federal candidates plus independent expenditures plus party coordinated expenditures divided by total disbursements (Form 3X Line 23 + 24 + 25 divided by Line 31)</li></ul>
                <p>Percentage operating expenditures</p>
                <ul><li>Total operating expenditures divided by total disbursements (Form 3X Line 21(c) divided by Line 31)</li></ul>
              </div>
            </div>
          </div>
        </div>
        {# end pac_snapshot (next line) #}
        {% endif %}
        <div class="entity__figure entity__figure--narrow" id="total-raised">
          <div class="heading--section heading--with-action">
            <h3 class="heading__left">Total raised</h3>
            <a class="heading__right button--alt button--browse"
                href="/data/receipts/?committee_id={{ committee_id}}&two_year_transaction_period={{ cycle }}">Browse receipts
            </a>
          </div>
          <div class="tag__category">
            <div class="tag__item">Coverage dates: {{totals.coverage_start_date|date}} to {{totals.coverage_end_date|date}}</div>
          </div>
          {{ tables.summary(raising_summary, committee_id, cycle, committee_type) }}
        </div>
        <div class="entity__figure entity__figure--narrow" id="total-spent">
          <div class="heading--section heading--with-action">
            <h3 class="heading__left">Total spent</h3>
            <a class="heading__right button--alt button--browse"
                href="/data/disbursements/?committee_id={{ committee_id }}&two_year_transaction_period={{ cycle }}">Browse disbursements
            </a>
          </div>
          <div class="tag__category u-no-margin">
            <div class="tag__item">Coverage dates: {{totals.coverage_start_date|date}} to {{totals.coverage_end_date|date}}</div>
          </div>
          {{ tables.summary(spending_summary, committee_id, cycle, committee_type) }}
        </div>
        <div class="entity__figure entity__figure--narrow" id="cash-summary">
          <div class="heading--section heading--with-action">
            <h3 class="heading__left">Cash summary</h3>
          </div>
          <div class="tag__category u-no-margin">
            <div class="tag__item">Coverage dates: {{totals.coverage_start_date|date}} to {{totals.coverage_end_date|date}}</div>
          </div>
          {{ tables.summary(cash_summary, committee_id) }}
        </div>
      {% endif %}
    {% else %}
      {# on committee profile page, when cycles_has_activity has more options
      than cycles_has_financial, cycle_out_of_range = true. when go back to financial summery page, missing message show last_cycle_has_financial 
      #}
      {% if cycle_out_of_range %}
        {{ missing.missing_financials(committee.name, committee.last_cycle_has_financial) }}
      {% else %}
         {{ missing.missing_financials(committee.name, cycle) }}
      {% endif %}      
    {% endif %}
  </div>
</section>
