<div class="data-container__head">
  <h1 class="data-container__title">{{this.title}}</h1>
  <div class="data-container__action">
    <div class="js-export-message message message--info message--mini t-left-aligned data-container__message" aria-hidden="true">
    </div>
    <div class="data-container__export">
      <button type="button"
        class="js-export button button--cta button--export">
          Export
      </button>
    </div>
  </div>
</div>
