{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}

{% include 'partials/breadcrumbs.html' with page=self links=self.get_ancestors style='primary' %}

<div class="main container">
  <header class="heading--main">
    <h1>Enforcement matters</h1>
  </header>
  <section class="content__section">
    <div class="main__content">
      <p>
        The FEC has exclusive jurisdiction over the civil enforcement of the federal campaign finance law.
        The FEC learns of possible violations through a number of sources including:
      </p>
      <ol class="list--numbered">
        <li>Internal referrals, which result from the FEC’s routine review of committee reports and audits of political committees.</li>
        <li>Sworn complaints filed with the FEC by anyone alleging that a violation has occurred or is about to occur.</li>
        <li>Referrals to the FEC from other government agencies of possible campaign finance violations.</li>
        <li>Self reported submissions to the FEC by any person or entity that believes it may have  committed a campaign finance violation.</li>
      </ol>
      <div class="grid grid--2-wide">
      <div class="grid__item">
        <h3>Audits</h3>
        <p class="t-italic">
         Coming soon: Commission audits of political committees.
        </p>
      </div>
      <div class="grid__item">
        <h3><a href="/legal-resources/enforcement/complaints-process/">Complaints</a></h3>
        <p>Learn how complaints are filed, processed and made public.</p>
        </div>
    </div>
    </div>
    <div class="sidebar-container">
      <aside class="sidebar sidebar--primary">
        <h4 class="sidebar__title">Legal citations</h4>
        <div class="sidebar__content">
          <p>Read the regulations that apply to this page:</p>
          <p>
            <span>11 CFR&nbsp;</span><a href="/regulations/111-20/CURRENT">111.20</a>
            <br><i>Public disclosure of Commission action</i>
          </p>
          <p>
            <span>11 CFR&nbsp;</span><a href="/regulations/111-21/CURRENT">111.21</a>
            <br><i>Confidentiality</i>
          </p>
          <p>
            <span>11 CFR&nbsp;</span><a href="/regulations/111-22/CURRENT">111.22</a>
            <br><i>Ex parte communications</i>
          </p>
          <p>
            <span>11 CFR&nbsp;</span><a href="/regulations/111-23/CURRENT">111.23</a>
            <br><i>Representation by counsel; notification</i>
          </p>
          <p>
            <span>11 CFR&nbsp;</span><a href="/regulations/111-24/CURRENT">111.24</a>
            <br><i>Civil penalties</i>
          </p>
          <p>
            <span>11 CFR&nbsp;</span><a href="/regulations/111-31/CURRENT">111.31</a>
            <br><i>Administrative fines</i>
          </p>
        </div>
      </aside>
    </div>
  </section>

  <div class="content__section">
    <header class="heading--main">
      <h2>Enforcement programs</h2>
    </header>
    <div class="content__section content__section--narrow">
      <h3>Matters Under Review (MURs)</h3>
      <p>
        FEC enforcement matters (called MURs) must, by law, remain confidential until they are closed.
        Law requires the Commission to try to resolve enforcement matters through conciliation.
        If the Commission fails to reach a conciliation agreement with a respondent, the Commission may choose
        to pursue the matter in federal court.
      </p>
      <div class="u-no-print">
        <div class="slab slab--neutral slab--inline">
          <div class="container">
            <div class="row">
              <div class="usa-width-one-whole">
                <form action="{{ settings.FEC_APP_URL }}/legal/search/enforcement" autocomplete="off" class="search__container">
                  <label for="search-input" class="label">Search closed MURs</label>
                  <div class="combo combo--search--medium combo--search--inline">
                    <input id="search-input" type="text" name="search" class="combo__input">
                    <input id="search-type" type="hidden" name="search_type" value="murs">
                    <button class="combo__button button--search button--standard" type="submit">
                      <span class="u-visually-hidden">Search</span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="usa-width-one-whole">
                <p class="t-note t-sans search__example">Examples: filings; 2405</p>
              </div>
            </div>
            <p><i class="icon icon--inline--left i-bang-circle"></i>Results don't include most of the cases closed between 1975 and 1998. Search those cases on <a href="http://www.fec.gov/MUR/">FEC.gov.</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="content__section content__section--narrow">
    <h3>Administrative Fine Program</h3>
    <p class="t-italic">
      Coming soon: The Administrative Fine Program assesses civil money penalties
      for late and non-filed reports.
    </p>
    </div>
    <div class="content__section content__section--narrow">
    <h3>Alternative Dispute Resolution Program</h3>
    <p class="t-italic">
      Coming soon: Alternative Dispute Resolution is a series of procedures for
      resolving enforcement disputes through the mutual consent of the parties
      involved.
    </p>
    </div>
  </div>
</div>
{% endblock %}
