{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load filters %}
{% load home_page %}

{% block title %}Legal resources{% endblock %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block extra_js %}
  <script>
    TOUR_PAGE = 'legal-resources';
  </script>
  <script type="text/javascript" src="{% asset_for 'legal.js' %}"></script>
{% endblock extra_js %}

{% block content %}
  {% include "partials/search-hero.html" %}
  <div class="slab slab--neutral slab--spacious">


  <div class="container main">
    <div class="gcontainer grid--2-wide grid--flex">
      <div class="grid__item card t-left-aligned">
        <form id="large-search" method="get" action="{{ settings.FEC_APP_URL }}/legal/search/" autocomplete="off" class="search__container js-search">
        <div class="combo combo--search combo--search--mini">
          <div class="tour__point tour__point--left" data-intro="<h5>Streamlined legal search</h5>Search across advisory opinions, Matters Under Review (MURs), statutes and regulations all at once. This feature is still growing to include even more categories."></div>
          <select class="search__select select--alt js-search-type" name="search_type" aria-label="Select a search type">
            <option value="all" selected>All</option>
            <option value="statutes">Statutes</option>
            <option value="regulations">Regulations</option>
            <option value="advisory_opinions">Advisory opinions</option>
            <option value="murs">Matters under review</option>
          </select>
          <input type="text" name="search" class="combo__input js-search-input"
          aria-label="Search">
          <button type="submit" class="button--standard button--search combo__button">
           <span class="u-visually-hidden">Search</span>
          </button>
        </div>
        <button type="button" class="button--keywords u-float-right u-margin--top" aria-controls="keyword-modal" data-a11y-dialog-show="keyword-modal">More keyword options</button>
      </form>
      <span class="t-note t-sans search__example search__example--with-select">Examples: 102.2; electioneering</span>

      </div>
      <div class="grid__item card t-left-aligned">
        {% home_page_news %}

      </div>

    </div>
    <section class="content__section content__section--ruled">
      <div class="row">
        <div class="sidebar-container sidebar-container--left">
          <nav class="sidebar sidebar--neutral side-nav js-sticky-side js-toc" data-sticky-container="sections">
            <ul class="sidebar__content">
              <li class="side-nav__item">
                <a class="side-nav__link" href="#advisory-opinions">
                Advisory opinions
                </a>
              </li>
              <li class="side-nav__item">
                <a class="side-nav__link" href="#enforcement-matters">
                Enforcement
                </a>
              </li>
              <li class="side-nav__item">
                <a class="side-nav__link" href="#regulations">
                Regulations
                </a>
              </li>
              <li class="side-nav__item">
                <a class="side-nav__link" href="#statutes">
                Statutes and legislation
                </a>
              </li>
              <li class="side-nav__item">
                <a class="side-nav__link" href="#court-cases">
                Court cases
                </a>
              </li>
              <li class="side-nav__item">
                <a class="side-nav__link" href="#policy">
                Policy statements and other guidance
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
  </div>
  <div class="slab slab--neutral">
    <div class="container">
      <div class="grid grid--4-wide">
        <div class="grid__item">
          <a href="{{ settings.FEC_TRANSITION_URL }}/pages/brochures/fecfeca.shtml">
            <aside class="card card--horizontal card--secondary">
              <div class="card__image__container">
                <span class="card__icon i-notebook"><span class="u-visually-hidden">Icon of a notebook</span></span>
              </div>
              <div class="card__content">
                  The FEC and the Federal Campaign Finance Law brochure
              </div>
            </aside>
          </a>
        </div>
    </div>
  </div>

{% include 'partials/disclaimer.html' %}
{% include 'partials/legal-keyword-modal.html' %}

{% endblock %}
