{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load filters %}
{% load home_page %}

{% block title %}Legal resources{% endblock %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block extra_js %}
  <script>
    TOUR_PAGE = 'legal-resources';
  </script>
  <script type="text/javascript" src="{% asset_for 'legal.js' %}"></script>
{% endblock extra_js %}

{% block content %}
  {% include "partials/search-hero.html" %}
<div class="container main">
  <div class="gcontainer grid--2-wide grid--flex">
    <div class="grid__item card t-left-aligned">
      <h3>Search accross all legal resources</h3>
      <form id="large-search" method="get" action="{{ settings.FEC_APP_URL }}/legal/search/" autocomplete="off" class="search__container js-search">
        <div class="combo combo--search combo--search--inline">
          <select class="search__select select--alt js-search-type" name="search_type" aria-label="Select a search type">
            <option value="all" selected>All Sources</option>
            <option value="statutes">Statutes</option>
            <option value="regulations">Regulations</option>
            <option value="advisory_opinions">Advisory opinions</option>
            <option value="murs">Matters under review</option>
          </select>
          <input type="text" name="search" class="combo__input js-search-input"
          aria-label="Search">
          <button type="submit" class="button--standard button--search combo__button">
           <span class="u-visually-hidden">Search</span>
          </button>
         </div>
         <span class="t-note t-sans search__example">Examples: 102.2; electioneering</span>
         <button type="button" class="button--keywords u-float-right u-margin--top" aria-controls="keyword-modal" data-a11y-dialog-show="keyword-modal">More keyword options</button>
      </form>
      <div class="example--primary u-margin--top">
          <h3>Advanced Searches</h3>
          <ul class="t-sans list--spacious list--columns--two t-small">
            <li><a href="/legal/search/advisory-opinions/?type=advisory_opinions&amp;ao_category=F">Advisory opinions</a><span class="term" data-term="advisory opinion (AO)" title="Click to define" tabindex="0"> (AOs)</span></li>
            <li><a href="/legal/search/enforcement/?search_type=murs&amp;search=&amp;mur_no=&amp;mur_respondents=">Matters under review</a><span class="term" data-term="matter under review (MUR)" title="Click to define" tabindex="0"> (MURs)</span></li>
            <li><a href="/data/audit">Audits</a></li>
            <li><a href="/regulations">Regulations</a></li>
            <li><a href="/data/legal/search/statutes">Statutes</a></li>
          </ul>
        </div>
    </div>
    <div class="grid__item">
        <div class="heading--section heading--with-action">
          <h3 class="heading__left">Legal News</h3>
          <a class="button button--updates heading__right" href="/updates">All News</a>
         </div>
            {% legal_news_feed %}
    </div>
  </div>
  <section class="content__section content__section--ruled">
    <h3>Browse legal resources</h3>
    <ul class="grid grid--4-wide">
      <li class="grid__item card card--horizontal card--primary">
        <div class="card__image__container">
          <span class="card__icon i-direction-sign"><span class="u-visually-hidden">Icon representing advisory opinions</span></span>
        </div>
        <div class="card__content">
          <a href="/data/legal/advisory-opinions/"">Advisory opinions</a>
        </div>
      </li>
      <li class="grid__item card card--horizontal card--primary">
        <div class="card__image__container">
          <span class="card__icon i-shield"><span class="u-visually-hidden">Icon representing enforcement of federal campaign finance law</span></span>
        </div>
        <div class="card__content">
          <a href="/legal-resources/enforcement/">Enforcement of federal campaign finance law</a>
        </div>
      </li>
      <li class="grid__item card card--horizontal card--primary">
        <div class="card__image__container">
          <span class="card__icon i-cfr"><span class="u-visually-hidden">Icon representing regulations/</span></span>
        </div>
        <div class="card__content">
          <a href="/legal-resources/regulations/">Regulations</a>
        </div>
      </li>
      <li class="grid__item card card--horizontal card--primary">
        <div class="card__image__container">
          <span class="card__icon i-usc"><span class="u-visually-hidden">/Icon representing statutes</span></span>
        </div>
        <div class="card__content">
          <a href="/legal-resources/statutes">Statutes</a>
        </div>
      </li>
    </ul>
    <ul class="grid grid--4-wide">
      <li class="grid__item card card--horizontal card--primary">
        <div class="card__image__container">
          <span class="card__icon i-scale"><span class="u-visually-hidden">Icon representing legislation and Commission recommendations</span></span>
        </div>
        <div class="card__content">
          <a href="/legal-resources/legislation">Legislation and Commission recommendations</a>
        </div>
      </li>
      <li class="grid__item card card--horizontal card--primary">
        <div class="card__image__container">
          <span class="card__icon i-mallet"><span class="u-visually-hidden">Icon representing court cases</span></span>
        </div>
        <div class="card__content">
          <a href="/legal-resources/court-cases">Court cases</a>
        </div>
      </li>
      <li class="grid__item card card--horizontal card--primary">
        <div class="card__image__container">
          <span class="card__icon i-committee-audit"><span class="u-visually-hidden">Icon representing audits</span></span>
        </div>
        <div class="card__content">
          <a href="/legal-resources/enforcement/audit-reports/">Audits</a>
        </div>
      </li>
      <li class="grid__item card card--horizontal card--primary">
        <div class="card__image__container">
          <span class="card__icon i-compass"><span class="u-visually-hidden">Icon representing policy and other guidance</span></span>
        </div>
        <div class="card__content">
          <a href="https://transition.fec.gov/law/policy.shtml">Policy and other guidance</a>
        </div>
      </li>
    </ul>
  </section>
</div>
  <section class="slab slab--neutral">
    <div class="container">
       <h2>You might also like</h2>
       <ul class="grid grid--4-wide grid--flex t-sans">
          <li class="grid__item grid__item--infoblock">
            <div class="infoblock__icon infoblock__icon--regreport" role="img" aria-label="Description of the image"></div>
          </li>
          <li class="grid__item grid__item--infoblock">
            <h3 class="u-no-margin"><a href="/help-candidates-and-committees/guides">Guides for candidates and committees</a></h3>
            <p>Learn more about how individuals and groups can be active in federal elections and the requirements that apply to them.</p>
          </li>
          <li class="grid__item grid__item--infoblock">
            <div class="infoblock__image infoblock__image--contribute" role="img" aria-label="Description of the image"></div>
          </li>
          <li class="grid__item grid__item--infoblock">
            <h3 class="u-no-margin"><a href="/help-candidates-and-committees/candidate-taking-receipts/contribution-limits-candidates/">Contribution Limits</a></h3>
            <p>Under the Federal Election Campaign Finance Act, contributions are subject to limits. Those limits differ depending on the type of donor and recipient.</p>
          </li>
       </ul>
    </div>
  </section>


{% include 'partials/disclaimer.html' %}
{% include 'partials/legal-keyword-modal.html' %}

{% endblock %}
