<section id="candidates" class="row" aria-hidden="true" role="tabpanel">
  <h2>Candidates</h2>
  <p>Search candidate data, including money raised, money spent, cash on hand and debt.</p>
  <h3>Search or browse data</h3>
  <div class="content__section--ruled-responsive t-sans">
    <ul>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/candidates/?has_raised_funds=true&is_active_candidate=true">All candidates</a></h4>
          <p class ="u-margin--bottom">Search candidates for president, Senate and House for all years by location, party and more.</p>
          <a class="button--cta button--go" href="/data/browse-data/?tab=bulk-data">Download this data as .CSV to use on your own</a>
        </div>
      </li>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/candidates/president/">Presidential candidates</a></h4>
    	    <p>Search presidential <span class="term"
    	      data-term="candidate" title="Click to define"
    	      tabindex="0">candidate</span> data including money raised,
    	      money spent, cash on hand and debt.</p>
    	    <p><a href="/introduction-campaign-finance/understanding-ways-support-federal-candidates/presidential-elections/public-funding-presidential-elections/#reports-and-resources">Find which candidates have applied for presidential public
    	      funding</a> &#187;</p>
          <p><a href="/campaign-finance-data/presidential-matching-fund-submissions/">Explore presidential matching fund submissions</a> &#187;</p>
        <div class="row grid--2-wide u-margin--bottom">
        {% if FEATURES.presidential_map %}
          <div class="grid__item">
            <a href="/data/candidates/president/presidential-map/">
              <div class="card card--horizontal card--alternating-bg">
                <div class="card__image__container card__image__container--primary">
                  <img src="/static/img/map-us-states-primary-contrast.svg" alt="Icon of us-state map" class="card__image">
                </div>
                <div class="card__content">
                  <span class="label">
                    <span class="label heading__pre-title">Presidential candidates</span>
                  </span>
                  Presidential candidate map
                </div>
              </div>
            </a>
          </div>
         {% endif %}
          <div class="grid__item">
            <a href="/data/elections/president/2024/">
              <div class="card card--horizontal card--alternating-bg">
                <div class="card__image__container card__image__container--primary">
                  <img src="/static/img/i-elections--primary-contrast.svg" alt="Icon of a person and location marker" class="card__image">
                </div>
                <div class="card__content">
                  <span class="label">
                    <span class="label heading__pre-title">Presidential candidates</span>
                  </span>
                  Compare candidates in the 2024 election
                </div>
              </div>
            </a>
          </div>
        </div>
        <a class="button--cta button--go" href="/data/browse-data/?tab=bulk-data">Presidential candidate map exports</a>
      </li>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/candidates/senate/?is_active_candidate=true">Senate candidates</a></h4>
          <p>Search Senate candidate data including money raised, money spent, cash on hand and debt.</p>
          <div class="row grid--2-wide">
            <div class="grid__item">
              <a href="/data/raising-bythenumbers/?office=S">
                <div class="card card--horizontal card--alternating-bg">
                  <div class="card__image__container card__image__container--primary">
                    <img src="/static/img/i-graph--primary-contrast.svg" alt="Icon of a person and location marker" class="card__image">
                  </div>
                  <div class="card__content">
                    <span class="label">
                      <span class="label heading__pre-title">Senate candidates</span>
                    </span>
                    Raising: by the numbers
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/candidates/house/?is_active_candidate=true">House of Representatives candidates</a></h4>
          <p>Search House candidate data including money raised, money spent, cash on hand and debt.</p>
          <div class="row grid--2-wide">
            <div class="grid__item">
              <a href="/data/raising-bythenumbers/?office=H">
                <div class="card card--horizontal card--alternating-bg">
                  <div class="card__image__container card__image__container--primary">
                    <img src="/static/img/i-graph--primary-contrast.svg" alt="Icon of a person and location marker" class="card__image">
                  </div>
                  <div class="card__content">
                    <span class="label">
                      <span class="label heading__pre-title">House candidates</span>
                    </span>
                    Raising: by the numbers
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/filings/?form_type=F2">Most recent Statements of Candidacy (Form 2)</a></h4>
          <p class="u-margin--bottom">Statements of Candidacy (Form 2) contain basic information about individuals running for federal office, including their names, addresses and authorized campaign committees.</p>
          <a class="button--cta button--go" href="/data/browse-data/?tab=bulk-data">Download this data as .CSV to use on your own</a>
         </div>
       </li>
     </ul>
  </div>
</section>
