<section id="committees" class="row" aria-hidden="true" role="tabpanel">
  <h2>Committees</h2>
  <p>The term <span class="term" data-term="political committee">committee</span> encompasses several different political groups that receive and spend money in federal elections.</p>
  <h3>Search or browse data</h3>
  <div class="content__section--ruled-responsive t-sans">
    <ul>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/committees/">All committees</a></h4>
          <p class ="u-margin--bottom">Search for committees by type, years active, political party, location and treasurer.</p>
          <a class="button--cta button--go" href="/data/browse-data/?tab=bulk-data">Download this data as .CSV to use on your own</a>
        </div>
      </li>
      {% if FEATURES.pac_party %}
        <li>
          <i class="icon i-magnifying-glass icon--absolute--left"></i>
          <div class="content__section--indent-left">
            <h4><a href="/data/committees/pac-party/">Political action and party committees</a></h4>
            <p class ="u-margin--bottom">Search for political action and party committees by type, state or territory, treasurer, sponsor and filing frequency.</p>
          </div>
        </li>
      {% endif %}
      <li>
        <div class="content__section--indent-left">
          <h4>Leadership PACs and sponsors</h4>
          <a class="button--cta button--go" href="/data/browse-data/?tab=bulk-data">Download this data as .CSV to use on your own</a>
        </div>
      </li>
      <li>
        <div class="content__section--indent-left">
          <h4>Lobbyist/registrant committees</h4>
          <a class="button--cta button--go" href="/data/browse-data/?tab=bulk-data">Download this data as .CSV to use on your own</a>
        </div>
      </li>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/filings/?form_type=F1">Most recent Statements of Organization (Form 1)</a></h4>
          <p class="u-margin--bottom">Statements of Organization (Form 1) contain basic information about committees, including type, address and treasurer.</p>
          <a class="button--cta button--go" href="/data/browse-data/?tab=bulk-data">Download this data as .CSV to use on your own</a>
        </div>
      </li>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/filings/?form_type=RFAI">Requests for Additional Information sent to committees</a></h4>
           <p>Requests for Additional Information (RFAIs) are sent to committees when a Campaign Finance Analyst needs additional clarification on a committee's filing or identifies an error, omission or possible prohibited activity. Search RFAIs by committee or date.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
