<section id="committees" class="row" aria-hidden="true" role="tabpanel">
  <h2>Committees</h2>
  <p>The term <span class="term" data-term="political committee">committee</span> encompasses several different political groups that receive and spend money in federal elections.</p>
  <div class="content__section--ruled t-sans" >
    <div id="pac-comparator">
      <h3>PAC Comparator</h3>
    </div>
    <style>
      #pac-comparator .top-left {
        float: left;
        padding-right: 2rem;
        position: relative;
        width: 25%;

        /* from Sketch */
        border-right: 1px solid #979797;
      }
      #pac-comparator .top-right {
        float: left;
        padding-left: 2rem;
        position: relative;
        width: 75%;
      }
      #pac-comparator .controls-holder {
        display: flex;
        position: relative;
      }
      #pac-comparator .overlay__container {
        min-height: 100px;
      }
      .typeaheads-holder {
        display: flex;
        justify-content: space-between;
        position: relative;
      }
      .typeaheads-holder .ta {
        margin-bottom: 1rem;
        position: relative;
        padding: 0 2.5rem;
        width: 50%;
      }
      .typeaheads-holder .ta:first-child {
        padding-left: 0;
      }
      .typeaheads-holder .ta:last-child {
        padding-right: 0;
      }
      .typeaheads-holder:after {
        content: "with";
        display: block;
        float: left;
        left: 50%;
        margin-left: -2rem;
        padding-top: 4rem;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 0;
        width: 4rem;

        /* from Sketch */
        font-size: 14px;
        color: #212121;
        letter-spacing: -0.3px;
        line-height: 16px;
      }
      .committees-holder .committee-details {
        float: left;
        min-height: 100px;
        padding: 0 2.5rem;
        width: 50%;
      }
      .committees-holder .committee-details:first-child {
        padding-left: 0;
      }
      .committees-holder .committee-details:last-child {
        padding-right: 0;
      }
      .committee-details h1 {
        font-family: karla,sans-serif;
        padding-left: 1.5rem;

        /* from Sketch */
        font-size: 14px;
        color: #212121;
        letter-spacing: -0.3px;
      }
      .committee-details h2 {
        font-family: karla;
        margin-bottom: 0;
        padding-left: 1.5rem;
        position: relative;

        /* from Sketch */
        font-size: 18px;
        color: #212121;
        letter-spacing: -0.38px;
      }
      .committee-details h3 {
        font-family: karla,sans-serif;
        padding-left: 1.5rem;

        /* from Sketch */
        font-size: 10px;
        color: #5B616B;
        letter-spacing: -0.22px;
      }
      .message__error {
        /* from Sketch */
        color: #CD2026;
        font-family: Helvetica;
        font-size: 12px;
        letter-spacing: -0.25px;
      }
      .icon-pac {
        border-radius: 50%;
        display: inline-block;
        height: 1rem;
        position: absolute;
        width: 1rem;
      }
      .icon-pac.pac-0 {
        /* Sketch */
        background-color: #F77B42;
      }
      .icon-pac.pac-1 {
        /* Sketch */
        background-color: #36BDBB;
      }
      h2 .icon-pac {
        left: 0;
        top: 5px;
      }
      th .icon-pac {
        position: relative;
      }
      table.sliders {
        display: block;
        font-family: karla,sans-serif;
        width: 100%;
      }
      table.sliders th {
        /* Sketch */
        color: #212121;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.34px;
        line-height: 16px;
        text-align: center;
      }
      table.sliders td, table.sliders th {
        padding: 1rem;
      }
      table.sliders td.meters {
        padding-left: 0;
        padding-right: 0;
      }
      table.sliders th.t-right-aligned {
        text-align: right;
      }
      table.sliders thead tr:first-child th {
        border-bottom: solid thin #112E51;
        padding: .5em;
      }
      table.sliders thead tr:first-child th {
        border-left: solid 1rem white;
        border-right: solid 1rem white;
      }
      table.sliders thead th:first-child {
        border-left: none;
      }
      table.sliders thead th:last-child {
        border-right: none;
      }
      table.sliders tbody th {
        font-weight: normal;

        /* Sketch */
        color: #000000;
        font-size: 14px;
        letter-spacing: -0.31px;
        line-height: 13px;
        text-align: right;
      }
      table.sliders tbody td:last-child, table.sliders thead tr:last-child th:last-child {
        border-left: solid thin #979797;
      }
      table.sliders .slider {
        position: relative;

        /* Sketch */
        height: 2px;
        background-color: #E8E8E8;
      }
      table.sliders .slider .icon-pac {
        top: calc(-.5rem + 1px);
        transition: left 1s;
      }
      table.sliders .t-right-aligned span {
        display: block;
        line-height: 1.1em;
      }

      table.sliders .ticks {
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
        margin-right: -2rem;
        margin-left: -1.5rem;
        position: relative;
      }
      table.sliders .ticks .tick {
        width: 4rem;
        text-align: center;
        position: relative;
        display: inline-block;

        /* Sketch */
        color: #4A4A4A;
        font-size: 12px;
        letter-spacing: -0.29px;
      }
      table.sliders .ticks .tick:before {
        background-color: #E8E8E8;
        bottom: 100%;
        content: "";
        display: block;
        height: 1rem;
        left: 50%;
        position: absolute;
        width: 2px;
      }
      table.sliders .ticks .rule {
        background-color: #E8E8E8;
        height: 1px;
        left: 2rem;
        position: absolute;
        top: .5rem;
        width: calc(100% - 4rem);
      }
      table.sliders thead tr:last-child th {
        padding-bottom: 0;
      }
      table.sliders tbody tr:first-child > * {
        padding-top: 0;
      }

    </style>
  </div>
  <h3>Search or browse data</h3>
  <div class="content__section--ruled t-sans">
    <ul>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/committees">All committees</a></h4>
          <p class ="u-margin--bottom">Search for committees by type, years active, political party, location and treasurer.</p>
          <div class="js-accordion accordion--neutral" data-content-prefix="committees">
            <button type="button" class="js-accordion-trigger accordion__button">Download this data as .CSV to use on your own</button>
            <div class="accordion__content">
              <h6 class="t-no-rules">Committee summary</h4>
              <i class="icon i-download icon--absolute--left"></i>
              <div class="content__section--indent-left">
                <ul class="list--flat-bordered u-no-margin">
                  <li><a href="/files/bulk-downloads/2020/committee_summary_2020.csv">2019–2020</a></li>
                  <li><a href="/files/bulk-downloads/2018/committee_summary_2018.csv">2017–2018</a></li>
                  <li><a href="/files/bulk-downloads/2016/committee_summary_2016.csv">2015–2016</a></li>
                  <li><a href="/files/bulk-downloads/2014/committee_summary_2014.csv">2013–2014</a></li>
                  <li><a href="/files/bulk-downloads/2012/committee_summary_2012.csv">2011–2012</a></li>
                  <li><a href="/files/bulk-downloads/2010/committee_summary_2010.csv">2009–2010</a></li>
                  <li><a href="/files/bulk-downloads/2008/committee_summary_2008.csv">2007-2008</a></li>
                </ul>
                <p class="u-margin--top"><a href="/campaign-finance-data/committee-summary-file-description/">Data description for this file</a><i class="icon icon--small i-arrow-right icon--inline--right"></i></p>
              </div>
              <p>This file contains overall receipts and disbursements for each political committee, group or individual registered with the Federal Election Commission, along with a breakdown of overall receipts by source and totals for contributions to other committees, independent expenditures made, etc.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="content__section--indent-left">
          <h4>Leadership PACs and sponsors</h4>
          <div class="js-accordion accordion--neutral" data-content-prefix="pacs">
            <button type="button" class="js-accordion-trigger accordion__button">Download this data as .CSV to use on your own</button>
            <div class="accordion__content">
              <h6 class="t-no-rules">Leadership PACs and sponsors</h4>
              <i class="icon i-download icon--absolute--left"></i>
              <div class="content__section--indent-left">
                <ul class="list--flat-bordered u-no-margin">
                  <li><a href="/files/bulk-downloads/2020/leadership2020.csv">2019–2020</a></li>
                  <li><a href="/files/bulk-downloads/2018/leadership2018.csv">2017–2018</a></li>
                  <li><a href="/files/bulk-downloads/2016/leadership2016.csv">2015–2016</a></li>
                  <li><a href="/files/bulk-downloads/2014/leadership2014.csv">2013–2014</a></li>
                  <li><a href="/files/bulk-downloads/2012/leadership2012.csv">2011–2012</a></li>
                  <li><a href="/files/bulk-downloads/2010/leadership2010.csv">2009–2010</a></li>
                </ul>
                <p class="u-margin--top"><a href="/campaign-finance-data/leadership-pacs-and-sponsors-description">Data description for this file</a><i class="icon icon--small i-arrow-right icon--inline--right"></i></p>
              </div>
              <p>Candidates and members of Congress can create "leadership PACs" to raise funds to support other candidates for federal office. This file lists the PACs who have registered with the FEC as a leadership.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="content__section--indent-left">
          <h4>Lobbyist/registrant committees</h4>
          <div class="js-accordion accordion--neutral" data-content-prefix="lobbyist_registrant_committees">
            <button type="button" class="js-accordion-trigger accordion__button">Download this data as .CSV to use on your own</button>
            <div class="accordion__content">
              <h6 class="t-no-rules">Lobbyist/registrant committees</h4>
              <i class="icon i-download icon--absolute--left"></i>
              <div class="content__section--indent-left">
                <ul class="list--flat-bordered u-no-margin">
                  <li><a href="/files/bulk-downloads/data.fec.gov/lobbyist.csv">2007–2020</a></li>
                </ul>
                <p class="u-margin--top"><a href="/campaign-finance-data/lobbyistregistrant-committees-file-description">Data description for this file</a><i class="icon icon--small i-arrow-right icon--inline--right"></i></p>
              </div>
              <p>The list of PACs that are established or controlled by lobbyists or others registered with Congress for lobby disclosure. Campaigns, parties and leadership PACs who received bundled contributions from these PACs may be required to disclose that bundling activity to the FEC.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/filings/?form_type=F1">Most recent Statements of Organization (Form 1)</a></h4>
          <p class="u-margin--bottom">Statements of Organization (Form 1) contain basic information about committees, including type, address and treasurer.</p>
          <div class="js-accordion accordion--neutral" data-content-prefix="statements_of_organization">
            <button type="button" class="js-accordion-trigger accordion__button">Download this data as .CSV to use on your own</button>
            <div class="accordion__content">
              <h6 class="t-no-rules">New committee registrants</h4>
              <i class="icon i-download icon--absolute--left"></i>
              <div class="content__section--indent-left">
                <ul class="list--flat-bordered u-no-margin">
                  <li><a href="/files/bulk-downloads/2020/Form1Filer_2020.csv">2019–2020</a></li>
                  <li><a href="/files/bulk-downloads/2018/Form1Filer_2018.csv">2017–2018</a></li>
                  <li><a href="/files/bulk-downloads/2016/Form1Filer_2016.csv">2015–2016</a></li>
                  <li><a href="/files/bulk-downloads/2014/Form1Filer_2014.csv">2013–2014</a></li>
                  <li><a href="/files/bulk-downloads/2012/Form1Filer_2012.csv">2011–2012</a></li>
                  <li><a href="/files/bulk-downloads/2010/Form1Filer_2010.csv">2009–2010</a></li>
                </ul>
                <p class="u-margin--top"><a href="/campaign-finance-data/new-committee-registrations-file-description">Data description for this file</a><i class="icon icon--small i-arrow-right icon--inline--right"></i></p>
              </div>
              <p>This file lists all committees that have filed an initial Statement of Organization (FEC Form 1) with the FEC to register as a Federal committee since January 1, 2009.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/filings/?form_type=RFAI">Requests for Additional Information sent to committees</a></h4>
           <p>Requests for Additional Information (RFAIs) are sent to committees when a Campaign Finance Analyst needs additional clarification on a committee's filing or identifies an error, omission or possible prohibited activity. Search RFAIs by committee or date.</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="content__section--ruled">
    <h3>PACronyms</h3>
    <p>PACronyms, an alphabetical list of acronyms, abbreviations, initials and common names of federal political action committees (PACs), was prepared to help researchers readily identify committees when their full names are not disclosed on campaign finance reports.</p>
    <p>The list includes the PACronym, FEC ID number, full committee name, city and state, name of sponsoring, connected, or affiliated organization, committee designation and committee type.  Unless noted otherwise in the full committee name, the acronym "PAC" refers to "political action committee."  The PACronym is listed in italics if the committee's PACronym is not specifically provided on the committee's Statement of Organization (FEC Form 1).</p>
  </div>
  <ul class="list--buttons">
    <li>
      <a class="button button--standard button--document" href="http://www.fec.gov/pubrec/pacronyms/Pacronyms.pdf">Open PDF</a>
    </li>
    <li>
      <a class="button button--standard button--download" href="http://www.fec.gov/pubrec/pacronyms/Pacronyms.xlsx">Download for Excel</a>
    </li>
  </ul>
</section>
