<section class="row" id="statistics" aria-hidden="true" role="tabpanel">
  <h2>Campaign finance statistics</h2>
  <p>Data tables that summarize financial activity by election cycle and coverage period for congressional candidates, political parties, political action committees and communication filings (independent expenditures, electioneering communications and communication costs).</p>
  <a class="button button--cta button--go" href="/campaign-finance-data/campaign-finance-statistics/">Find statistics</a>
</section>
