<section class="row" id="loans-debts" aria-hidden="true" role="tabpanel">
  <h2>Loans and debts</h2>
  <h3>Search or browse data</h3>
  <div class="content__section--ruled-responsive t-sans">
    <ul>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/loans/">Loans</a></h4>
          <p>Search loans owed by or to committees. Search by committee, loaner’s name, date the loan was incurred, original loan amount and payments made.</p>
        </div>
      </li>
      <li>
        {% if FEATURES.debts %}
        {# TODO: debts dates #}
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/debts/">Debts</h4>
          <p>Search debts owed by or to committees. Search by committee, creditor’s name, and debt amount.</p>
        </div>
        {% else %}
          <div class="content__section--indent-left">
            <h4 class="is-disabled">Debts (coming soon)</h4>
          </div>
        {% endif %}
      </li>
    </ul>
  </div>
</section>
