@font-face {
  font-family: 'fec_currency_mono';
  font-style: normal;
  font-weight: normal;
  src: url('/static/fonts/fec-currencymono-regular.woff2') format('woff2'),
    url('/static/fonts/fec-currencymono-regular.woff') format('woff'),
    url('/static/fonts/fec-currencymono-regular.ttf') format('truetype');
}

#contributions-over-time {
  overflow-x: scroll;

  h3 {
    display: inline;
    font-family: karla, sans-serif;

    /* font-family: $sans-serif; */
  }

  [data-total-type] {
    margin: 5px 0 15px;
  }

  .simple-table--responsive {
    width: 100%;
    max-width: 60rem;
  }

  .simple-table--responsive .simple-table__row {
    margin-bottom: 1rem;
    font-family: 'fec_currency_mono';
    letter-spacing: -1px;
  }

  .simple-table--responsive .simple-table__cell {
    display: inline;
    margin-right: 25px;
    vertical-align: baseline;
    height: 3rem;
  }

  .simple-table__cell:nth-child(3) {
    width: 15%;
    text-align: right;
    display: inline-block;
    margin-left: -15px;
  }

  .range__select {
    width: auto;
    display: inline-block;
  }

  .range__select .cycle-select select {
    width: auto;
  }
}

meter {
  /* Reset the default appearance */

  -moz-appearance: none;
  height: 20px;
  width: 40%;
  background: #eee;
  vertical-align: text-top;

  /* For Firefox */

  border-radius: 0;
}

.diagonal_stripe meter::-webkit-meter-optimum-value {
  background-image: linear-gradient(125deg, #36bdbb 18.42%, #6ee6e6 18.42%, #6ee6e6 50%, #36bdbb 50%, #36bdbb 68.42%, #6ee6e6 68.42%, #6ee6e6 100%);
  background-size: 20px 30px;
}

.diagonal_stripe meter:-moz-meter-optimum::-moz-meter-bar {
  background-image: linear-gradient(125deg, #36bdbb 26.92%, #6ee6e6 26.92%, #6ee6e6 50%, #36bdbb 50%, #36bdbb 76.92%, #6ee6e6 76.92%, #6ee6e6 100%);
  background-size: 15.87px 22.66px;
}

/* WebKit */
meter::-webkit-meter-bar {
  background: #eee;
  border-radius: 0;
  height: 20px;
  border: none;
}

meter::-webkit-meter-optimum-value {
  background: #36bdbb;

}

/* Firefox */
meter::-moz-meter-bar {
  border-radius: 0;
  height: 20px;
}

meter:-moz-meter-optimum::-moz-meter-bar {
  background: #36bdbb;
}

.t-mono-stacked-currency {
  font-family: 'fec_currency_mono';
  text-align: right;
}

@media screen and (max-width: 400px) {
  meter {
    display: block;
    width: 80%
  }

  .simple-table__cell {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .tooltip__container button {
    vertical-align: text-top;

  }

  .tooltip {
      width: auto !important;
    }
}

#election-summary {
  &.cq-xs {
    .cycle-select {
      width: auto;
    }
    .grid--flex .grid__item {
      width: 100%;
    }
  }
  &.cq-s {
    .cycle-select {
      width: auto;
    }
    .grid--flex .grid__item {
      width: 100%;
    }
  }
}

.methodology-block ul {
  margin-left: 1rem;
}
