@font-face {
  font-family: fec_currency_mono;
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/fec-currencymono-regular.woff2") format("woff2"),
    url("/static/fonts/fec-currencymono-regular.woff") format("woff"),
    url("/static/fonts/fec-currencymono-regular.ttf") format("truetype");
}

#contributions-over-time {
  font-family: fec_currency_mono;
  letter-spacing: -1px;
  /* font-family: $sans-serif; */

  h3 {
    display: inline;
    font-family: karla, sans-serif;
    /* font-family: $sans-serif; */
  }

  .tooltip__container button {
    vertical-align: text-top;
  }

  [data-total-type] {
    margin: 5px 0 15px 0;
  }

  .simple-table--responsive {
    width: 100%;
    max-width: 60rem;
  }

  .simple-table--responsive .simple-table__row {
    margin-bottom: 1rem;
  }

  .simple-table--responsive .simple-table__cell {
    display: inline;
    margin-right: 25px;
    vertical-align: baseline;
    height: 3rem;
  }

  .simple-table__cell:nth-child(3) {
    width: 15%;
    text-align: right;
    display: inline-block;
    margin-left: -15px;
  }

  .range__select {
    width: auto;
    display: inline-block;
  }

  .range__select .cycle-select select {
    width: auto;
  }
}

meter {
  /* Reset the default appearance */

  -moz-appearance: none;

  height: 20px;

  width: 40%;
  background: #eee;
  vertical-align: text-top;

  /* For Firefox */

  border-radius: 3px;
}

/* DISPLAY:BLOCK, SMALLER HEIGHT AT MOBILE SIZE;

/* WebKit */
meter::-webkit-meter-bar {
  background: #eee;
  border-radius: 3px;
  height: 20px;
  border: none;
}

meter::-webkit-meter-optimum-value {
  background: #36bdbb;
}

/* Firefox */
meter::-moz-meter-bar {
  border-radius: 3px;
  height: 20px;
}

meter:-moz-meter-optimum::-moz-meter-bar {
  background: #36bdbb;
}

.t-mono-stacked-currency {
  font-family: fec_currency_mono;
  text-align: right;
}

@media screen and (max-width: 400px) {
  meter {
    display: block;
  }

  .simple-table__cell:nth-child(3) {
    margin-left: 0 !important;
  }
}
