@import '../variables';
@import '../vendor/bourbon/settings/prefixer'; // prefix-for-webkit for keyframes
@import '../vendor/bourbon/addons/prefixer'; // disable-prefix-for-all for keyframes
@import '../vendor/bourbon/css3/keyframes'; // u-button
@import '../vendor/bourbon/css3/animation'; // u-button
@import '../mixins/utilities'; // u-button:
@import '../vendor/bourbon/addons/triangle'; // tooltips:
@import '../components/overlay'; // loading states

$colorElementBordersOnLight: $gray;
$colorText: $base;
$colorBorder: #333;
$colorTableTdBorder: $gray-lightest;
$fontFamilyMonospace: $currency-monospace;
$fontFamilySansSerif: $sans-serif;
$fontFamilySerif: $serif;
$fontSizeBase: 7.5pt; // (10px); Keeping this as a default so values here are as close to our main scss values as possible
$fontWeightRegular: 500;
$fontWeightSemibold: 600;
$fontWeightBold: 700;
$sizeTableScroller: 10px;

// Borrowed from _icon-variables.scss:
$arrow-down: 'data:image/svg+xml;charset=utf8, %3Csvg%20width%3D%2210%22%20height%3D%229%22%20viewBox%3D%220%200%2010%209%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5.706%208.013l3.685-6.234A.851.851%200%200%200%208.664.485H1.283A.852.852%200%200%200%20.55%201.769l3.69%206.244a.852.852%200%200%200%201.466%200z%22%2F%3E%3C%2Fsvg%3E';
$magnifying-glass-arrow: 'data:image/svg+xml;charset=utf8, %3Csvg%20width%3D%2230%22%20height%3D%2221%22%20viewBox%3D%220%200%2030%2021%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%3E%3Cpath%20d%3D%22M24.24%2013.097l-3.685-6.234a.851.851%200%200%201%20.727-1.294h7.382a.852.852%200%200%201%20.733%201.284l-3.69%206.244a.852.852%200%200%201-1.467%200zM19.653%2016.78a2.03%202.03%200%201%201-2.872%202.872l-4.538-4.537a8.072%208.072%200%200%201-4.12%201.131%208.123%208.123%200%201%201%208.123-8.123%208.072%208.072%200%200%201-1.131%204.12l4.538%204.538zM8.123%202.03a6.092%206.092%200%201%200%200%2012.185%206.092%206.092%200%200%200%200-12.184z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E';
$check: 'data:image/svg+xml;charset=utf8, %3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M16.47%206.678l.177.177a1.233%201.233%200%201%200-1.743-1.744l-6.84%206.84h.354L4.854%208.387a1.233%201.233%200%200%200-1.743%201.744l4.259%204.258a1.23%201.23%200%200%200%201.743%200l7.534-7.534-.176-.177z%22%2F%3E%3C%2Fsvg%3E';
$info-circle: 'data:image/svg+xml;charset=utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M10%200a10%2010%200%201%200%2010%2010A10%2010%200%200%200%2010%200zm1.2%2016.1a15.69%2015.69%200%200%201-2.4.3q-.9%200-.9-.6a9.32%209.32%200%200%201%20.2-1.4l.8-4.7a3.08%203.08%200%200%200%20.1-.9c0-.3-.4-.4-1.2-.4l.1-.5a14.22%2014.22%200%200%201%202.5-.3.61.61%200%200%201%20.7.6%2011.48%2011.48%200%200%201-.2%201.4l-.8%204.8a2.25%202.25%200%200%200-.1.7c0%20.4.2.5%201.2.5v.5zm-.5-10a1.15%201.15%200%200%201-1.2-1.2%201.35%201.35%200%200%201%201.3-1.4A1.22%201.22%200%200%201%2012%204.7a1.42%201.42%200%200%201-1.3%201.4z%22%2F%3E%3C%2Fsvg%3E';

// @font-face {
//   font-family: gandhi;
//   font-style: normal;
//   font-weight: normal;
//   src: url('/static/fonts/gandhiserif-regular.woff2') format('woff2'),
//     url('/static/fonts/gandhiserif-regular.woff') format('woff');
// }
// @font-face {
//   font-family: karla;
//   font-style: normal;
//   font-weight: normal;
//   src: url('/static/fonts/karla-regular.woff2') format('woff2'),
//     url('/static/fonts/karla-regular.woff') format('woff');
// }
// @font-face {
//   font-family: karla;
//   src: url('/static/fonts/karla-bold.woff2') format('woff2'),
//     url('/static/fonts/karla-bold.woff') format('woff');
//   font-weight: bold;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'fec_currency_mono';
//   font-style: normal;
//   font-weight: normal;
//   src: url('/static/fonts/fec-currencymono-regular.woff2') format('woff2'),
//     url('/static/fonts/fec-currencymono-regular.woff') format('woff'),
//     url('/static/fonts/fec-currencymono-regular.ttf') format('truetype');
// }

#gov-fec-pres-finance {
  &,
  & * {
    // THESE ARE PASSED DOWN TO CHILDREN
    box-sizing: border-box;
  }

  font-family: $fontFamilySansSerif;
  font-feature-settings: 'kern', 'liga', 'pnum';
  font-size: $fontSizeBase * 1.4;
  margin: 0 0 ($fontSizeBase * 2);
  position: relative;
  width: 100%;

  // Overrides for the filters
  .filters {
    background: none;
    border: none;
    width: 100%;

    .filter {
      label {
        float: left;
        max-width: 33%;
      }
    }

    .js-table-switcher {
      display: flex;
      flex-direction: row;
      justify-content: stretch;

      legend {
        width: 100%;
      }
      .toggle {
        flex-grow: 2;
      }

    }

  }
  .message, .message[aria-hidden='true'] {
    // .message, etc are copied from components/_messages.scss
    background-color: $neutral;
    border-color: $gray;
    border-style: solid;
    border-width: 0 0 0 3px;
    display: block !important;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: all 0.5s;
    width: 100%;

    &.has-error, &[aria-hidden='false'] {
      margin: 2rem 0;
      max-height: 150px;
      padding: 2rem;
      transition: all 1s;
    }

    &.message--info {
      // borrowed from utilities mixin u-icon-bg
      background-image: url($info-circle);
      background-repeat: no-repeat;
    }

    h2 {
      margin-bottom: 0.25em;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  .candidate-list-wrapper {
    border-bottom: solid 2px $colorBorder;
    position: relative;
    width: 100%;
    order: 10;

    .remote-table-header {
      display: none; // We'll let JavaScript turn this on
      margin-bottom: 0.25px; // Make sure the border is visible above the scrollbar below it
      position: relative;
      width: 100%;
    }
    .table-scroller {
      width: 100%;
      height: 300px;
      max-height: 50vh;
      overflow-x: hidden;
      overflow-y: scroll;
      position: relative;

      &::-webkit-scrollbar {
        width: $sizeTableScroller;
      }
      &::-webkit-scrollbar-track {
        background: $gray-lightest;
      }
      &::-webkit-scrollbar-thumb {
        background: #888;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
    table {
      display: block;
      margin-top: 0;
      table-layout: auto;
      width: 100%;
    }
    thead {
      border-bottom: solid thin $colorBorder;
      border-top: solid 2px $colorBorder;
      display: block;
      width: 100%;
    }
    tbody {
      display: block;
      width: 100%;
    }
    tr {
      border-top: thin solid $colorTableTdBorder;
      border-left: solid thick $inverse;
      display: flex;
      justify-content: space-between;
      width: 100%;

      &.selected {
        background-color: $colorTableTdBorder;
        border-left-color: $colorBorder;
      }
      &:hover {
        background-color: $colorTableTdBorder;
      }
    }
    td, th {
      flex-grow: 1;
      flex-shrink: 1;
      line-height: 1.25em;
      padding: #{$fontSizeBase * .5};
      pointer-events: none; // removing mouse events here in favor of the <tr> handling them

      &:last-child {
        flex-grow: 0;
        flex-shrink: 0;
        width: auto;
        //fixes IE alignment problem
        display: -ms-flexbox; // stylelint-disable-line value-no-vendor-prefix
      }
      &:only-child {
        width: 100%;
      }
    }
    th {
      font-weight: $fontWeightSemibold;

      &:last-child {
        flex-grow: 1;
        flex-shrink: 1;
        padding-right: $fontSizeBase;
      }
    }
    .t-note {
      line-height: 1.5em;
      margin: .5em 0;
      user-select: none;
      opacity: 1;
      transition: opacity .5s;

      &.hidden {
        opacity: 0;
        transition: opacity .5s;
      }
    }
  }
  .map-wrapper {
    width: 100%;
    border-bottom: solid 2px $colorBorder;
    border-top: solid 2px $colorBorder;
    padding: 0 0 $fontSizeBase;

    .election-map {
      border: none;
      height: auto;
      min-height: 30rem;

      svg {
        min-width: 360px;
        min-height: 230px;
        overflow: hidden;
      }

      path {
        transition: fill 1s, opacity .5s;
        &.blur {
          opacity: .33;
          transition: opacity .5s;
        }
      }
      circle {
        opacity: 0;
        transition: opacity .5s;
        pointer-events: none;
        fill: rgb(144 202 202);
        stroke: rgb(59 149 148);
      }
      &[data-map_type='bubble'] {
        path {
          pointer-events: none;

          &:not(.zoomed) {
            fill: $colorTableTdBorder;
            transition: fill 1s;
          }
          &.zoomed, &.blur { // turn on pointer events for all paths when we're zoomed in, if they're featured or not
            pointer-events: initial;
          }
        }

        circle {
          opacity: 1;
          pointer-events: initial;
          z-index: 100;

          &.blur {
            pointer-events: initial;
            opacity: 0;
          }

          transition: .5s;
        }
      }
      path.zero-value, circle.zero-value {
        pointer-events: none !important;
      }
    }

    .breadcrumb-nav {
      padding: 3.25pt 7.5pt 0;
      margin-bottom: 2rem;

      &.view-us {
        span {
          display: none;
        }
      }
    }
  }

  .map-details {
    display: flex;
    justify-content: space-between;

    .candidate-details {
      margin-bottom: 2rem;
      padding: 0 $fontSizeBase;
      min-height: 9.6rem;

      h1 {
        font-family: $fontFamilySansSerif;
        font-size: $fontSizeBase * 2;
        font-weight: $fontWeightRegular;
        line-height: 1.25em;
        margin: 0 0 .25em;

        a {
          line-height: 1.25em;
        }
      }
      h2, h3 {
        font-family: $fontFamilySansSerif;
        font-size: $fontSizeBase * 1.4;
        font-weight: $fontWeightRegular;
        line-height: 1.25em;
        margin: 0 0 .25em;
      }
    }
    .legend-container {
      text-align: right;

      span {
        text-align: right;
        line-height: 1.25em;
        margin-bottom: .25em;
      }
    }
  }
  .export-methodology-buttons-holder {
    padding-top: 1rem;
  }
  .right-column-wrapper {
    padding: 0; // 1rem responsive
    text-align: left;
    width: 100%;

    a, button {
      margin: 0 0 1rem;
    }

    .accordion__button {
      background-color: $colorTableTdBorder;
      max-height: none;
      margin-bottom: 0;

      &[aria-expanded='true'] + .accordion__content {
        max-height: 700px;
        transition: all .5s;
      }
      &[aria-expanded='false'] + .accordion__content {
        display: block !important; // Check to see if this interferes with A11Y
        max-height: 0;
        padding-bottom: 0;
        transition: all .5s;
      }
    }

    .accordion__content {
      overflow: hidden;
      padding: 0 1rem 2rem;

      h5 {
        font-family: inherit;
      }
      td {
        line-height: 1.33rem;
        padding: 1rem;
        vertical-align: top;

        &:first-child {
          padding-left: 0;
        }
        &.indent {
          padding-left: .75rem;
        }
        // &:last-child { // leave the right padding for last-child to make room for scrollbars
        // padding-right: 0; // Don't add this since
        // }
      }
      .border-top {
        border-top: thin solid $colorTableTdBorder;
      }
      tr.close-b td {
        padding-bottom: .75rem;
      }
      tr.close-t td {
        padding-top: .75rem;
      }
      th {
        padding-top: 1.5rem;
      }
    }
  }
  #financial-summaries {
    table {
      text-align: left;
    }
  }
  .overlay__container {
    display: none;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: #{$z1 - 1}; // The typeahead menu is at 100 and we want it to be visible above this

    &.is-loading {
      display: block;
    }
    .overlay {
      display: none;

      &.is-loading {
        background-image: url('../../img/loading.gif');
        display: block;
      }
    }
  }

  // Small sizes
  &.w-s {
    // Leaving this here and empty so others know it's an option
    // deleteThis: true;
  }
  // Medium sizes
  &.w-m {
    @extend .w-s !optional;

    display: flex;
    flex-wrap: wrap;

    .filters {
      .filter {
        max-width: none; // override base
        label {
          max-width: none;
        }
      }
      .js-table-switcher {
        display: block;
      }
    }
    #filter-year {
      width: calc(100% - .5rem);//20rem;
      order: 5; // responsive
      margin-right: .5rem;
    }

    .candidate-list-wrapper {
      margin-right: .5rem;
      width: calc(33.33% - .5rem);
      order: 15;

      .remote-table-header {
        margin-bottom: 0.5px; // Make sure the border is visible above the scrollbar below it
        width: calc(100% + 1px); // align the right side with the parent's right boundary
      }
      .table-scroller {
        height: 100%;
        max-height: 400px;

        table {
          min-height: 400px;
        }
      }
      td, th {
        &:nth-child(2) {
          max-width: 100px;
        }
      }
      tr {

        &.selected {
          background: $colorTableTdBorder;
          // border-left: thick;
          font-weight: $fontWeightBold;

        }
        &:hover {
          background: $colorTableTdBorder;
        }
      }
    }
    .map-wrapper {
      // margin-top: 2.5rem;
      margin-left: .5rem;
      margin-right: .5rem;
      width: calc(66.66% - 1rem);

      .election-map {
        svg {
          min-width: 445px;
          min-height: 258px;
        }
      }
    }
    .export-methodology-buttons-holder {
      text-align: right;
    }
    .right-column-wrapper {
      width: 100%;
      order: 35;
    }
    #downloads-wrapper {
      width: calc(50% - .5rem);
      margin-right: .5rem;
      order: 30;
    }
    .map-details {
      .more-info-wrapper {
        a, button {
          margin: 0 0 1rem 1rem;
        }
      }
    }
  }
  // Large sizes
  &.w-l {

    @extend .w-m;

    #filter-year {
      width: calc(50% - .5rem);
      margin-right: .5rem;
      display: inline-block; // for IE11;

      .js-table-switcher {
        display: block;
      }
    }


    .candidate-list-wrapper {
      width: calc(25% - .5rem);
      order: 20;
    }
    .right-column-wrapper {
      width: calc(28% - .5rem);
      margin-left: .5rem;
      max-height: 490px;
      order: 30;
    }
    .map-wrapper {
      width: calc(47% - 1rem);
      order: 25;

      .election-map {
        svg {
          min-width: 360px;
          min-height: 230px;
        }
      }
    }
    .export-methodology-buttons-holder {
      width: calc(50% - .5rem);
      margin-left: .5rem;
      order: 15;
      padding-top: 3rem;
    }
    #downloads-wrapper {
      width: 75%;
      margin-left: calc(25% + .5rem);
      order: 35;
    }
  }

  // Some overrides for table.table-display *, which was added because IE doesn't like Flex
  table.table-display {
    display: table;

    thead {
      display: table-header-group;
    }
    tbody {
      display: table-row-group;
    }
    tr {
      display: table-row;
    }
    td, th {
      display: table-cell;
    }
  }
}

/* #map-tooltip is outside .contribs-by-state */
#map-tooltip {
  border-radius: 4px;
  border: 2px solid $federal-blue;
  background-color: $inverse;
  color: $federal-blue;
  font-family: $fontFamilySansSerif;
  padding: 1.5rem;
  position: absolute;
  text-align: center;
  z-index: #{$z1 - 2};

  .tooltip__title {
    border-bottom: 1px solid $federal-blue;
    text-transform: uppercase;
    font-weight: 700;
  }

  &.tooltip--above {
    min-width: 12rem;
    left: -4rem;
    bottom: calc(100% + 1.5rem);
  }

  &::before {
    @include triangle(2rem, $primary, down);

    bottom: -1rem;
    content: '';
    display: block;
    left: calc(50% - 1rem);
    position: absolute;
  }

  &::after {
    @include triangle(1.6rem, $inverse, down);

    bottom: -.7rem;
    content: '';
    display: block;
    left: calc(50% - .8rem);
    position: absolute;
  }
}

#gov-fec-pres-finance {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  #filter-year {
    width: 100%;
    order: 5;
  }
  #filter-map-type {
    width: 100%;
    order: 15;
  }
  .export-methodology-buttons-holder {
    margin-left: auto;
    width: 100%;
    order: 25;
    margin-bottom: 1rem;
  }

  .map-wrapper {
    width: 100%;
    order: 20;
  }

  .right-column-wrapper {
    width: 100%;
    order: 30;
    border-bottom: solid 2px $colorBorder;
    border-top: solid 2px $colorBorder;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  #downloads-wrapper {
    width: 100%;
    height: 0;
    margin-left: 0;
    overflow: hidden;
    order: 35;
  }

  #downloads-links-wrapper {
    height: 0;
    overflow: hidden;
  }

  #downloads-links {
    display:flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

      a {
        width:9rem;
        padding: 1rem;
        border: 1px solid $gray-light;
        text-align: center;

          &:hover {
            background:$gray-lightest;
          }
      }
  }
}
