@import '../icon-variables'; // $arrow-down, $magnifying-glass-arrow, $check, $info-circle
@import '../variables';
@import '../vendor/bourbon/settings/prefixer'; // prefix-for-webkit for keyframes
@import '../vendor/bourbon/addons/prefixer'; // disable-prefix-for-all for keyframes
@import '../vendor/bourbon/css3/keyframes'; // u-button
@import '../vendor/bourbon/css3/animation'; // u-button
@import '../mixins/utilities'; // u-button
@import '../vendor/bourbon/addons/triangle'; // tooltips
@import '../components/overlay'; // loading states

$colorElementBordersOnLight: $gray;
$colorText: $base;
$colorBorder: #333;
$colorTableTdBorder: $gray-lightest;
$fontFamilyMonospace: $currency-monospace;
$fontFamilySansSerif: $sans-serif;
$fontFamilySerif: $serif;
$fontSizeBase: 7.5pt; // (10px); Keeping this as a default so values here are as close to our main scss values as possible
$fontWeightRegular: 500;
$fontWeightSemibold: 600;
$fontWeightBold: 700;
$sizeTableScroller: 10px;

#gov-fec-pres-finance {
  &,
  & * {
    // THESE ARE PASSED DOWN TO CHILDREN
    box-sizing: border-box;
  }

  font-family: $fontFamilySansSerif;
  font-feature-settings: 'kern', 'liga', 'pnum';
  font-size: $fontSizeBase * 1.4;
  margin: 0 0 ($fontSizeBase * 2);
  position: relative;
  width: 100%;

  // Overrides for the filters
  .filters {
    background: none;
    border: none;
    width: 100%;

    .filter {
      label {
        float: left;
        max-width: 33%;
      }
    }

    .js-table-switcher {
      display: flex;
      flex-direction: row;
      justify-content: stretch;

      legend {
        width: 100%;
      }
      .toggle {
        flex-grow: 2;
      }
    }
  }

  .message, .message[aria-hidden='true'] {
    // .message, etc are copied from components/_messages.scss
    background-color: $neutral;
    border-color: $gray;
    border-style: solid;
    border-width: 0 0 0 3px;
    display: block !important;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: all 0.5s;
    width: 100%;

    &.has-error, &[aria-hidden='false'] {
      margin: 2rem 0;
      max-height: 150px;
      padding: 2rem;
      transition: all 1s;
    }

    &.message--info {
      // borrowed from utilities mixin u-icon-bg
      background-image: url($info-circle);
      background-repeat: no-repeat;
    }

    h2 {
      margin-bottom: 0.25em;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .candidate-list-wrapper {
    border-bottom: solid 2px $colorBorder;
    order: 10;
    position: relative;
    width: 100%;

    .remote-table-header {
      display: none; // We'll let JavaScript turn this on
      margin-bottom: 0.25px; // Make sure the border is visible above the scrollbar below it
      position: relative;
      width: 100%;
    }

    .table-scroller {
      height: 300px;
      max-height: 50vh;
      overflow-x: hidden;
      overflow-y: scroll;
      position: relative;
      width: 100%;

      &::-webkit-scrollbar {
        width: $sizeTableScroller;
      }
      &::-webkit-scrollbar-track {
        background: $gray-lightest;
      }
      &::-webkit-scrollbar-thumb {
        background: #888;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }

    table {
      display: block;
      margin-top: 0;
      table-layout: auto;
      width: 100%;
    }

    thead {
      border-bottom: solid thin $colorBorder;
      border-top: solid 2px $colorBorder;
      display: block;
      width: 100%;
    }

    tbody {
      display: block;
      width: 100%;
    }

    tr {
      border-top: thin solid $colorTableTdBorder;
      border-left: solid thick $inverse;
      display: flex;
      justify-content: space-between;
      width: 100%;

      &.selected {
        background-color: $colorTableTdBorder;
        border-left-color: $colorBorder;
      }

      &:hover {
        background-color: $colorTableTdBorder;
      }
    }
    td, th {
      flex-grow: 1;
      flex-shrink: 1;
      line-height: 1.25em;
      padding: #{$fontSizeBase * .5};
      pointer-events: none; // removing mouse events here in favor of the <tr> handling them

      &:last-child {
        flex-grow: 0;
        flex-shrink: 0;
        width: auto;
        //fixes IE alignment problem:
        display: -ms-flexbox; // stylelint-disable-line value-no-vendor-prefix
      }

      &:only-child {
        width: 100%;
      }
    }
    th {
      font-weight: $fontWeightSemibold;

      &:last-child {
        flex-grow: 1;
        flex-shrink: 1;
        padding-right: $fontSizeBase;
      }
    }
    .t-note {
      line-height: 1.5em;
      margin: .5em 0;
      opacity: 1;
      transition: opacity .5s;
      user-select: none;

      &.hidden {
        opacity: 0;
        transition: opacity .5s;
      }
    }
  }
  .map-wrapper {
    border-bottom: solid 2px $colorBorder;
    border-top: solid 2px $colorBorder;
    padding: 0 0 $fontSizeBase;
    width: 100%;

    .election-map {
      border: none;
      height: auto;
      min-height: 30rem;

      svg {
        min-width: 360px;
        min-height: 230px;
        overflow: hidden;
      }

      path {
        transition: fill 1s, opacity .5s;

        &.blur {
          opacity: .33;
          transition: opacity .5s;
        }
      }

      circle {
        fill: rgb(144 202 202);
        opacity: 0;
        pointer-events: none;
        stroke: rgb(59 149 148);
        transition: opacity .5s;
      }

      &[data-map_type='bubble'] {
        path {
          pointer-events: none;

          &:not(.zoomed) {
            fill: $colorTableTdBorder;
            transition: fill 1s;
          }

          &.zoomed, &.blur { // turn on pointer events for all paths when we're zoomed in, if they're featured or not
            pointer-events: initial;
          }
        }

        circle {
          opacity: 1;
          pointer-events: initial;
          z-index: 100;

          &.blur {
            opacity: 0;
            pointer-events: initial;
          }

          transition: .5s;
        }
      }
      path.zero-value, circle.zero-value {
        pointer-events: none !important;
      }
    }

    .breadcrumb-nav {
      margin-bottom: 2rem;
      padding: 3.25pt 7.5pt 0;

      &.view-us {
        span {
          display: none;
        }
      }
    }
  }

  .map-details {
    display: flex;
    justify-content: space-between;

    .candidate-details {
      margin-bottom: 2rem;
      min-height: 9.6rem;
      padding: 0 $fontSizeBase;

      h1 {
        font-family: $fontFamilySansSerif;
        font-size: $fontSizeBase * 2;
        font-weight: $fontWeightRegular;
        line-height: 1.25em;
        margin: 0 0 .25em;

        a {
          line-height: 1.25em;
        }
      }
      h2, h3 {
        font-family: $fontFamilySansSerif;
        font-size: $fontSizeBase * 1.4;
        font-weight: $fontWeightRegular;
        line-height: 1.25em;
        margin: 0 0 .25em;
      }
    }
    .legend-container {
      text-align: right;

      span {
        line-height: 1.25em;
        margin-bottom: .25em;
        text-align: right;
      }
    }
  }

  .export-methodology-buttons-holder {
    padding-top: 1rem;
  }

  .right-column-wrapper {
    padding: 0; // 1rem responsive
    text-align: left;
    width: 100%;

    a, button {
      margin: 0 0 1rem;
    }

    .accordion__button {
      background-color: $colorTableTdBorder;
      margin-bottom: 0;
      max-height: none;

      &[aria-expanded='true'] + .accordion__content {
        max-height: 700px;
        transition: all .5s;
      }

      &[aria-expanded='false'] + .accordion__content {
        display: block !important; // Check to see if this interferes with A11Y
        max-height: 0;
        padding-bottom: 0;
        transition: all .5s;
      }
    }

    .accordion__content {
      overflow: hidden;
      padding: 0 1rem 2rem;

      h5 {
        font-family: inherit;
      }

      td {
        line-height: 1.33rem;
        padding: 1rem;
        vertical-align: top;

        &:first-child {
          padding-left: 0;
        }

        &.indent {
          padding-left: .75rem;
        }
      }

      .border-top {
        border-top: thin solid $colorTableTdBorder;
      }

      tr.close-b td {
        padding-bottom: .75rem;
      }

      tr.close-t td {
        padding-top: .75rem;
      }

      th {
        padding-top: 1.5rem;
      }
    }
  }
  #financial-summaries {
    table {
      text-align: left;
    }
  }
  .overlay__container {
    display: none;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: #{$z1 - 1}; // The typeahead menu is at 100 and we want it to be visible above this

    &.is-loading {
      display: block;
    }

    .overlay {
      display: none;

      &.is-loading {
        background-image: url('../../img/loading.gif');
        display: block;
      }
    }
  }

  // Small sizes
  &.w-s {
    // Leaving this here and empty so others know it's an option
    // deleteThis: true;
  }
  // Medium sizes
  &.w-m {
    @extend .w-s !optional;

    display: flex;
    flex-wrap: wrap;

    .filters {
      .filter {
        max-width: none; // override base

        label {
          max-width: none;
        }
      }

      .js-table-switcher {
        display: block;
      }
    }

    #filter-year {
      margin-right: .5rem;
      order: 5; // responsive
      width: calc(100% - .5rem);//20rem;
    }

    .candidate-list-wrapper {
      margin-right: .5rem;
      order: 15;
      width: calc(33.33% - .5rem);

      .remote-table-header {
        margin-bottom: 0.5px; // Make sure the border is visible above the scrollbar below it
        width: calc(100% + 1px); // align the right side with the parent's right boundary
      }

      .table-scroller {
        height: 100%;
        max-height: 400px;

        table {
          min-height: 400px;
        }
      }

      td, th {
        &:nth-child(2) {
          max-width: 100px;
        }
      }

      tr {

        &.selected {
          background: $colorTableTdBorder;
          font-weight: $fontWeightBold;
        }

        &:hover {
          background: $colorTableTdBorder;
        }
      }
    }

    .map-wrapper {
      margin-left: .5rem;
      margin-right: .5rem;
      width: calc(66.66% - 1rem);

      .election-map {
        svg {
          min-height: 258px;
          min-width: 445px;
        }
      }
    }

    .export-methodology-buttons-holder {
      text-align: right;
    }

    .right-column-wrapper {
      order: 35;
      width: 100%;
    }

    #downloads-wrapper {
      margin-right: .5rem;
      order: 30;
      width: calc(50% - .5rem);
    }

    .map-details {
      .more-info-wrapper {
        a, button {
          margin: 0 0 1rem 1rem;
        }
      }
    }
  }
  // Large sizes
  &.w-l {

    @extend .w-m;

    #filter-year {
      display: inline-block; // for IE11;
      margin-right: .5rem;
      width: calc(50% - .5rem);

      .js-table-switcher {
        display: block;
      }
    }


    .candidate-list-wrapper {
      order: 20;
      width: calc(25% - .5rem);
    }

    .right-column-wrapper {
      margin-left: .5rem;
      max-height: 490px;
      order: 30;
      width: calc(28% - .5rem);
    }
    .map-wrapper {
      order: 25;
      width: calc(47% - 1rem);

      .election-map {
        svg {
          min-height: 230px;
          min-width: 360px;
        }
      }
    }
    .export-methodology-buttons-holder {
      margin-left: .5rem;
      order: 15;
      padding-top: 3rem;
      width: calc(50% - .5rem);
    }
    #downloads-wrapper {
      margin-left: calc(25% + .5rem);
      order: 35;
      width: 75%;
    }
  }

  // Some overrides for table.table-display *, which was added because IE doesn't like Flex
  table.table-display {
    display: table;

    thead {
      display: table-header-group;
    }

    tbody {
      display: table-row-group;
    }

    tr {
      display: table-row;
    }

    td, th {
      display: table-cell;
    }
  }
}

/* #map-tooltip is outside .pres-finance-map */
#map-tooltip {
  background-color: $inverse;
  border: 2px solid $federal-blue;
  border-radius: 4px;
  color: $federal-blue;
  font-family: $fontFamilySansSerif;
  padding: 1.5rem;
  position: absolute;
  text-align: center;
  z-index: #{$z1 - 2};

  .tooltip__title {
    border-bottom: 1px solid $federal-blue;
    font-weight: 700;
    text-transform: uppercase;
  }

  &.tooltip--above {
    bottom: calc(100% + 1.5rem);
    left: -4rem;
    min-width: 12rem;
  }

  &::before {
    @include triangle(2rem, $primary, down);

    bottom: -1rem;
    content: '';
    display: block;
    left: calc(50% - 1rem);
    position: absolute;
  }

  &::after {
    @include triangle(1.6rem, $inverse, down);

    bottom: -.7rem;
    content: '';
    display: block;
    left: calc(50% - .8rem);
    position: absolute;
  }
}

#gov-fec-pres-finance {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  #filter-year {
    order: 5;
    width: 100%;
  }
  #filter-map-type {
    order: 15;
    width: 100%;
  }
  .export-methodology-buttons-holder {
    margin-bottom: 1rem;
    margin-left: auto;
    order: 25;
    width: 100%;
  }

  .map-wrapper {
    order: 20;
    width: 100%;
  }

  .right-column-wrapper {
    border-bottom: solid 2px $colorBorder;
    border-top: solid 2px $colorBorder;
    order: 30;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
  }

  #downloads-wrapper {
    height: 0;
    margin-left: 0;
    order: 35;
    overflow: hidden;
    width: 100%;
  }

  #downloads-links-wrapper {
    height: 0;
    overflow: hidden;
  }

  #downloads-links {
    display:flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

      a {
        border: 1px solid $gray-light;
        padding: 1rem;
        text-align: center;
        width: 9rem;

          &:hover {
            background: $gray-lightest;
          }
      }
  }
}

// Style overrides specifically for container queries
// breakpoints:
// xs: <430px
// small:   430px
// medium:  675px
// large:   790px
// xl:      860px
#gov-fec-pres-finance.cq-container {
  container: presmapcontainer / inline-size;

  @container presmapcontainer (max-width: 674px ) {
    .candidate-list-wrapper, .map-wrapper {
      width: 100cqw;
    }
  }
}
