{
  "extends": [
    "../../../.eslintrc"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true,
    "mocha": true,
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "babelOptions": {
      "configFile": "./babel.config.json"
    }
    // "requireConfigFile": false,
    // "ecmaVersion": 2018,
    // "sourceType": "module"
  },
  "rules": {
    "import/order": "off"
  }
  // "globals": {
  //   "$": false
  // }
}
