{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load filters %}
{% load staticfiles %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}

<nav class="page-header page-header--secondary">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link" rel="Home">Home</a></li>
    <li class="breadcrumbs__item">
      <span class="breadcrumbs__separator">›</span>
      <a class="breadcrumbs__link" href="/updates?update_type=press-release&category={{self.get_category_display|slugify}}">Press releases: {{ self.get_category_display }}</a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--current">
      <span class="breadcrumbs__separator">›</span>
      <span>{{ self.title }}</span>
    </li>
  </ul>
</nav>

<article class="main">
  <div class="container">
    <header class="heading--main heading--with-date">
      <ul class="tags">
        <li class="tag tag--secondary t-upper">
          Press Release
        </li>
      </ul>
      <div class="row">
        {% spaceless %}{# for inline blocks #}
        <h1 class="heading__left">{% formatted_title self %}</h1>
        <div class="heading__right">
          <span class="t-sans">{{ self.date|date:'F j, Y' }}</span>
        </div>
        {% endspaceless %}
      </div>
    </header>
    <div>
      <div class="main__content">
        {% include 'partials/body-blocks.html' with blocks=self.body %}
        {% if self.no_boilerplate %}
        <div class="post__boilerplate u-print-only">
          <p>The Federal Election Commission (FEC) is an independent regulatory agency that administers and enforces federal campaign finance laws. The FEC has jurisdiction over the financing of campaigns for the U.S. House of Representatives, the U.S. Senate, the Presidency and the Vice Presidency. Established in 1975, the FEC is composed of six Commissioners who are nominated by the President and confirmed by the U.S. Senate.</p>
          <span class="t-block t-centered">###</span>
        </div>
        {% endif %}
      </div>
      <aside class="sidebar-container">
        <button class="button button--standard button--share is-disabled u-float-right">Share</button>
      </aside>
    </div>
    {% include 'partials/author-list.html' %}
  </div>
</article>

<div class="slab slab--neutral u-no-print">
  <div class="container">
    {% if self.read_next %}
    <div class="content__section">
        <h3>Read next:</h3>
        <h4><a href="{{ self.read_next.url }}">{{ self.read_next.title }}</a></h4>
    </div>
    {% endif %}
    <div class="content__section">
      <h4><a href="/updates?release-category=press-release">More press releases</a> &raquo;</h4>
    </div>
  </div>
</div>

{% include 'partials/disclaimer.html' %}

{% endblock %}
