.js-accordion [aria-hidden=true] {
  display: none !important;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  appearance: none;
  background-color: #cdcdcd;
  border: 1px solid #999;
  padding: 1rem;
  text-align: left;
  width: 100%;
}

.accordion-trigger--expanded {
  background-color: #333;
  color: #fff;
}
