{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load updates %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}
<section class="hero hero--secondary hero--about" aria-labelledby="hero-heading">
  <div class="hero__image"></div>
  <div class="container">
    <h1 id="hero-heading">{{ self.title }}</h1>
    <div class="hero__content">{{ self.hero }}</div>
  </div>
</section>

<div>
  <div id="options" class="container main">
    <div class="sidebar-container sidebar-container--left">
      <div class="js-sticky-side" data-sticky-container="options">
        <nav class="sidebar sidebar--neutral sidebar--left side-nav js-toc">
          <ul class="sidebar__content">
              {% for section in self.sections %}
                <li class="side-nav__item"><a class="side-nav__link" href="#{{section.value.title | slugify }}">{{ section.value.title }}</a></li>
              {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
    <section class="main__content--right">

      {% for section in self.sections %}
      <div id="{{ section.value.title | slugify }}" class="option">
        {% if section.value.related_page %}
          <h2><a href="{{ section.value.related_page.url }}">{{ section.value.title }}</a></h2>
        {% else %}
          <h2>{{ section.value.title }}</h2>
        {% endif %}

        {{ section.value.intro }}

        {% if section.value.button_text %}
          {% if section.value.related_page %}
            <a href="{{ section.value.related_page.url }}" class="button button--cta button--go">{{ section.value.button_text }}</a>
          {% else %}
            <span class="button button--cta button--go is-disabled">{{ section.value.button_text }}</a>
          {% endif %}
        {% endif %}
      </div>
      {% endfor %}

    </section>
  </div>
  {% include 'partials/disclaimer.html' %}
</div>

{% endblock %}
