{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}
{% include 'partials/breadcrumbs.html' with page=self links=self.get_ancestors style='secondary' %}

<article class="main">
  <div class="container">
     <div class="section__heading">
        <ul class="tags">
          <li class="tag tag--secondary t-upper">
            Commission Meetngs</li>
        </ul>
        <div class="row">
          {% spaceless %}{# for inline blocks #}
          <div class="section__heading__title">
            <h1 class="heading__title heading__title--with-date">{{ self.title }}</h1>
          </div>
          <div class="section__heading__date">
            <span class="t-sans">{{ self.mtg_date|date:'F j, Y' }}</span><br />
            <span class="t-sans">{{ self.mtg_time }}</span>
          </div>
          {% endspaceless %}
        </div>
      </div>
 

    <div class="main__content">
    {% for block in self.mtg_media %}
    
          
             {% if block.block_type == "full_video_url" %}
               <p>Video of Entire Meeting: <a href="{{ block.value }}">{{ block.value }}</a></p>
             {% elif block.block_type == "full_audio" %}
               <p>Audio of Entire Meeting:
                  <audio controls>
                   <source src="{{block.value.url}}" type="audio/mpeg">
                   Your browser does not support the audio element Download below.
                 </audio>
                 <a href="{{block.value.url}}" target="_blank">Download Audio</a>
               </p>
             {% elif block.block_type == "mtg_transcript" %}  
               <p><a href="{{ block.value.url }}">{{ block.value.title }}</a></p>
             {% endif %} 
          {% endfor %}
      
        
      {% for block in self.agenda %}
        <ol class="list--numbered">
        {% if block.block_type == "agenda_item" %}
          {% for subblock in block.value %}
          <li>
            {% if subblock.block_type == "item_title" %}
                    <h2>{{subblock.value}}</h2>
             {% elif subblock.block_type == "item_audio" %}
               <p>
                 <audio controls>
                   <source src="{{subblock.value.url}}" type="audio/mpeg">
                   Your browser does not support the audio element Download below.
                 </audio>
                 <a href="{{subblock.value.url}}" target="_blank">Download Audio</a>
               <p>
             {% elif subblock.block_type == "item_text" %}
                     <p>{{subblock.value}}</p>
             {% elif subblock.block_type == "mtg_doc" %}
                    <p><a href="{{subblock.value.mtg_doc_upload.url}}">{{subblock.value.mtg_doc_upload.title}}</a><br />
                {% ifequal subblock.value.submitted_late True %}
                  (Submitted Late)
                {% endifequal %}
                {% ifequal subblock.value.heldover True %}
                  (Heldover from {{subblock.value.heldover_from}} meeting)
                {% endifequal %}
                    </p>
            {% endif %}
        {% endfor %}
    </li>
      {% endif %}
   {% endfor %}
  </ol>
    </div>
    {% if self.sidebar %}
    <div class="sidebar-container">
      <aside class="sidebar sidebar--secondary">
        {% for block in self.sidebar %}
          {% if block.block_type == 'heading' %}
            <h4 class="sidebar__title">{{ block }}</h4>
          {% else %}
            <div class="sidebar__content">
              {{ block }}
            </div>
          {% endif %}
        {% endfor %}
      </aside>
    </div>
    {% endif %}
  </div>
</article>

{% include 'partials/disclaimer.html' %}
{% endblock %}
