{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load filters %}
{% load updates %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}
{% include 'partials/breadcrumbs.html' with page=self links=self.get_ancestors style='secondary' %}


<article class="main">
  <div class="container">
     <header class="heading--main heading--with-date">
        <ul class="tags">
          <li class="tag tag--secondary t-upper">
            Commission Meetngs</li>
        </ul>
        <div class="row">
          {% spaceless %}{# for inline blocks #}
          <h1 class="heading__left">{% formatted_title self %}</h1>
          <div class="heading__right">
            <span class="t-sans">{{ self.mtg_date|date:'F j, Y' }}</span><br />
            <span class="t-sans">{{ self.mtg_time }}</span>
          </div>
          {% endspaceless %}
        </div>
      </header>
   <div class="main__content">      
      <ol class="list--numbered--alt">
      {% for block in self.agenda %}
        
        {% if block.block_type == "agenda_item" %}
          <li>
          {% for subblock in block.value %}
          
            {% if subblock.block_type == "item_title" %}
               <h2>{{subblock.value}}</h2>
            <ul class="list--extra-spacious">
            {% elif subblock.block_type == "item_audio" %}
               <li>	
                 <audio controls>
                   <source src="{{subblock.value.url}}" type="audio/mpeg">
                   Your browser does not support the audio element Download below.
                 </audio>
                 <a href="{{subblock.value.url}}" target="_blank"> Download Audio</a>
               </li>
            {% elif subblock.block_type == "item_text" %}
               <li>{{subblock.value}}</li>
            {% elif subblock.block_type == "mtg_doc" %}
               <li><a href="{{subblock.value.mtg_doc_upload.url}}">{{subblock.value.mtg_doc_upload.title}}</a><br />
                {% ifequal subblock.value.submitted_late True %}
                  <br>(Submitted Late)
                {% endifequal %}
                {% ifequal subblock.value.heldover True %}
                  <br>(Heldover from {{subblock.value.heldover_from}} meeting)
                {% endifequal %}
               </li>
            {% endif %}
          {% endfor %}
           </ul>
        {% endif %}
       </li>
      {% endfor %}
      </ol>
    </div>
  </div>
  <div class="slab slab--neutral u-no-print">
  <div class="container">
    <div class="content__section">
      <h3>Meeting Media</h3>
        <ul class="list--border list--extra-spacious">
          {% for block in self.mtg_media %}
            {% if block.block_type == "full_video_url" %}
              <li>Video of Entire Meeting: <a href="{{ block.value }}">{{ block.value }}</a></li>
            {% elif block.block_type == "full_audio" %}
              <li>Audio of Entire Meeting:
                  <audio controls>
                   <source src="{{block.value.url}}" type="audio/mpeg">
                   Your browser does not support the audio element Download below.
                  </audio>
               </li>
             {% elif block.block_type == "mtg_transcript" %}  
               <li><a href="{{ block.value.url }}">{{ block.value.title }}</a></li>
             {% endif %} 
          {% endfor %}
         </ul>
    </div>
  </div>
</div>
</article>

{% include 'partials/disclaimer.html' %}
{% endblock %}
