{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load filters %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}
<header class="page-header slab slab--primary">
  <h1 class="page-header__title">Calendar</h1>
</header>

<section class="main__content--full">
  <div class="data-container__widgets js-data-widgets">
    <div class="data-container__export">
      <div id="calendar-subscribe" class="export-widget"></div>
      <div id="calendar-download" class="export-widget"></div>
    </div>
  </div>

  <div id="filters" class="filters">
    <button class="js-filter-close filters__close button--close--primary">
      <span class="u-visually-hidden">Close</span>
    </button>
    <div class="filters__hider">
      <div class="filters__inner">
        <h2 class="filter__header">
          Filter events
        </h2>
      </div>
      <form id="category-filters" class="js-accordion accordion--neutral" data-content-prefix="filter" data-open-first="true">
        <button type="button" class="js-accordion-trigger accordion__button">Elections and reporting deadlines</button>
        <div class="accordion__content">
          <div class="filter">
            <fieldset class="js-filter js-dropdown">
              <legend class="label" for="state">State</legend>
              <ul class="dropdown__selected"></ul>
              <div class="dropdown">
                <button type="button" class="dropdown__button button--primary-contrast">Select</button>
                <div class="dropdown__panel" aria-hidden="true">
                  <ul class="{{ css_class }}">
                  {% for value, label in settings.CONSTANTS.states.items %}
                  <li class="dropdown__item">
                    <input id="state-{{ value }}" name="state" type="checkbox" value="{{ value }}">
                    <label class="dropdown__value" for="state-{{ value }}">{{ label }}</label>
                  </li>
                  {% endfor %}
                  </ul>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="filter filter--election">
            <fieldset class="js-filter js-multi-filter" data-filter-group="#category-filters">
              <legend class="label">Elections </legend>
              {% for value, label in settings.CONSTANTS.election_types.items %}
                <input id="{{ value | clean_whitespace }}" type="checkbox" name="category" value="{{ value }}" />
                <label for="{{ value | clean_whitespace }}">{{ label }}</label>
              {% endfor %}
            </fieldset>
          </div>
          <div class="filter filter--deadline">
            <fieldset class="js-filter js-multi-filter" data-filter-group="#category-filters">
              <legend class="label">Reporting deadlines </legend>
              {% for value, label in settings.CONSTANTS.deadline_types.items %}
                <input id="{{ value | clean_whitespace }}" type="checkbox" name="category" value="{{ value }}" />
                <label for="{{ value | clean_whitespace }}">{{ label }}</label>
              {% endfor %}
            </fieldset>
          </div>
        </div>
        <button type="button" class="js-accordion-trigger accordion__button">Reporting and compliance periods</button>
        <div class="accordion__content">
          <div class="filter filter--meeting">
            <fieldset class="js-filter js-multi-filter" data-filter-group="#category-filters">
              <legend class="label">Reporting periods </legend>
              {% for value, label in settings.CONSTANTS.reporting_periods.items %}
                <input id="{{ value | clean_whitespace }}" type="checkbox" name="category" value="{{ value }}" />
                <label for="{{ value | clean_whitespace }}">{{ label }}</label>
              {% endfor %}
            </fieldset>
          </div>
        </div>
        <button type="button" class="js-accordion-trigger accordion__button">Meetings and outreach</button>
        <div class="accordion__content">
          <div class="filter filter--meeting">
            <fieldset class="js-filter js-multi-filter" data-filter-group="#category-filters">
              <legend class="label">Commission meetings </legend>
              {% for value, label in settings.CONSTANTS.meeting_types.items %}
                <input id="{{ value | clean_whitespace }}" type="checkbox" name="category" value="{{ value }}" />
                <label for="{{ value | clean_whitespace }}">{{ label }}</label>
              {% endfor %}
            </fieldset>
          </div>
          <div class="filter filter--outreach">
            <fieldset class="js-filter js-multi-filter" data-filter-group="#category-filters">
              <legend class="label">Outreach </legend>
              {% for value, label in settings.CONSTANTS.outreach_types.items %}
                <input id="{{ value | clean_whitespace }}" type="checkbox" name="category" value="{{ value }}" />
                <label for="{{ value | clean_whitespace }}">{{ label }}</label>
              {% endfor %}
            </fieldset>
          </div>
        </div>
        <button type="button" class="js-accordion-trigger accordion__button">Legal</button>
        <div class="accordion__content">
          <div class="filter filter--rules">
            <fieldset class="js-filter js-multi-filter" data-filter-group="#category-filters">
              <legend class="label">Advisory Opinions and rulemakings </legend>
              {% for value, label in settings.CONSTANTS.rule_types.items %}
                <input id="{{ value | clean_whitespace }}" type="checkbox" name="category" value="{{ value }}" />
                <label for="{{ value | clean_whitespace }}">{{ label }}</label>
              {% endfor %}
            </fieldset>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="data-container">
    <div id="calendar" class="data-container__body"></div>
  </div>
</section>
{% endblock %}
