{% extends "long_page.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block breadcrumbs %}
  {% include 'partials/breadcrumbs.html' with page=self links=self.get_ancestors style='secondary' %}
{% endblock %}

{% block intro %}
  <div class="main__content">
    {{ self.body }}
  </div>
  {% if self.sidebar_title %}
  <div class="sidebar-container">
    <aside class="sidebar sidebar--secondary">
      <h4 class="sidebar__title">{{ self.sidebar_title }}</h4>
      <ul class="sidebar__content">
        {% for related_pages in self.related_pages %}
          {% for related_page in related_pages.value %}
          <li class="u-padding--bottom"><a href="{{ related_page.url }}">{{ related_page.title }}</a></li>
          {% endfor %}
        {% endfor %}
      </ul>
      {% if self.show_search %}
      <h4 class="sidebar__title">Already registered?</h4>
      <form class="sidebar__content" action="/data" method="GET">
        <label class="label" for="committee-search">Find your committee</label>
        <div class="combo--search--mini">
          <input id="committee-search" name="search" class="combo__input" type="text">
          <input type="hidden" name="search_type" value="committees" placeholder="Search committees">
          <button class="combo__button button--search button--standard" type="submit"><span class="u-visually-hidden">Search</span></button>
        </div>
      </form>
      {% endif %}
    </aside>
  </div>
  {% endif %}
{% endblock %}

{% block sections %}
  {% for block in self.sections %}
    <section id="{{ block.value.title | slugify }}"
            class="option">
      <div class="option__content">
        <h2>{{ block.value.title }}</h2>
        {{ block.value.intro }}
        <ul class="{% if block.value.style == 'check' %}list--checks list--checks--secondary{% else %}list--bulleted--alt{% endif %} t-sans">
        {% for item in block.value.items %}
           <li>{{ item }}</li>
        {% endfor %}
        </ul>
      </div>
    </section>
  {% endfor %}
  {% if self.reporting_examples %}
    <section id="reporting-examples" class="sidebar--secondary t-sans">
      <h2 class="sidebar__title sidebar__title--large icon-heading--financial-document">Reporting examples</h2>
      <div class="sidebar__content">
        <div class="grid grid--2-wide">
        {% for example in self.reporting_examples %}
          {% for block in example.value %}
            <div class="grid__item">
              <p class="t-bold">{{ block.label }}</p>
              {{ block.content }}
            </div>
          {% endfor %}
        {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}

{% block related_topics %}
<div class="grid grid--4-wide">
  <div class="grid__item">
    <a href="/contact-us">
      <aside class="card card--horizontal card--secondary">
        <div class="card__image__container">
            <span class="card__icon i-question-bubble"><span class="u-visually-hidden">Icon representing a question</span></span>
        </div>
        <div class="card__content">
          Get help from the FEC by phone or email
        </div>
      </aside>
    </a>
  </div>
</div>
{% endblock %}
