{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load filters %}

{% block content %}

{% include 'partials/breadcrumbs.html' with page=self links=self.get_ancestors style='secondary' %}
<div class="container">
 <header class="heading--main u-padding--top">
    <h1>{{ self.title }}</h1>
  </header>
</div>
<section class="main__content--full data-container__wrapper" id="feed">
  <div class="container">
    <section id="meetings-page-meetings" class="tab-interface u-padding--bottom">
      <div class="container">
        <div class="sidebar-container sidebar-container--left">
          <nav class="sidebar side-nav-alt">
            <ul class="tablist" role="tablist" data-name="tab">
              <li class="side-nav__item" role="presentation">
                <a class="side-nav__link"
                    role="tab"
                    data-name="open-meetings"
                    tabindex="0"
                    aria-controls="meetings-open-meetings"
                    href="#meetings-open-meetings"
                    aria-selected=""
                    >Open Meetings</a>
              </li>
              <li class="side-nav__item" role="presentation">
                <a class="side-nav__link"
                    role="tab"
                    data-name="hearings"
                    tabindex="0"
                    aria-controls="meetings-hearings"
                    href="#meetings-hearings"
                    >Hearings</a>
              </li>
              <li class="side-nav__item" role="presentation">
                <a class="side-nav__link"
                    role="tab"
                    data-name="executive-sessions"
                    tabindex="0"
                    aria-controls="meetings-executive-sessions"
                    href="#meetings-executive-sessions"
                    >Executive Sessions</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="main__content--right">
          <section id="meetings-open-meetings" role="tabpanel" aria-hidden="true" aria-labelledby="open-meetings">
            <h2>Open Meetings</h2>
             <p>Open to the public. The Commission considers new regulations, advisory opinions and other public matters at open meetings, which are typically held at FEC headquarters on Thursdays at 10:00am. Commission meeting agendas are usually published a week before a scheduled meeting.</p>
            <div class="filters--horizontal">
               <form action="" id="openmeetings_form" method="get" class="js-form-nav container">
                  <div class="filter">
                      <label for="year" class="label">Year</label>
                      <select id="year" name="year">
                        <option value="">All</option>
                        {% for item in meetings_years %}
                        <option value="{{ item }}" {% if year == item %}selected {% endif %}>{{ item }}</option>
                        {% endfor %}
                      </select>
                  </div>
                  <div class="filter">
                    <div class="combo combo--filter--mini">
                      <label for="search" class="label">Search</label>
                      <input id="search" class="combo__input" name="search" type="text" value="{{ meetings_query }}">
                      <button type="submit" id="open_sub" class="combo__button button button--standard button--search"><span class="u-visually-hidden">Search</span></button>
                      <input type="hidden" name="tab" value="open-meetings">
                    </div>
                  </div>
              </form>
            </div>
            {% if open_meetings %}
               <table class="simple-table">
                  <tbody>
                    {% for open_meeting in open_meetings %}
                      {% include 'partials/meeting.html' with meeting=open_meeting %}
                     {% endfor %}
                  </tbody>
               </table>
              <div class="results-info">
                <span>Page {{ open_meetings.number }} of {{ open_meetings.paginator.num_pages }}</span>
                  {% if open_meetings.has_previous %}
                    <a class="button button--standard button--previous" href="?page={{ open_meetings.previous_page_number }}&tab=open-meetings&year={{ year }}&search={{ meetings_query }}"><span class="u-visually-hidden">Previous</span></a>
              {% endif %}
              {% if open_meetings.has_next %}
                <a class="button button--standard button--next" href="?page={{ open_meetings.next_page_number }}&tab=open-meetings&year={{ year }}&search={{ meetings_query }}"><span class="u-visually-hidden">Next</span></a>
              {% endif %}
             </div>
              {% else %}
            <div class="message message--info">
              <h2>No results</h2>
               {% if search %}
                <p>We didn’t find any pages matching <strong>&ldquo;{{search}}&rdquo;</strong>.</p>
                {% endif %}
              <p>
                <div class="message--alert__bottom">
                 <p>FEC.gov is in the middle of a redesign, and some pages aren’t included in search results yet. Please try another search. Or, <a href="{{ settings.FEC_CLASSIC_URL }}">search the archive</a> of FEC.gov’s previous design.</p>
                 <p>If you’d like to contact our team, we’re available by <a href="mailto:{{ settings.WEBMANAGER_EMAIL }}">email</a> or <a href="https://github.com/18f/fec">GitHub</a>.</p>
               </div>
            </div>
              {% endif %}
          </section>
          <section id="meetings-hearings" role="tabpanel" aria-hidden="true" aria-labelledby="hearings">
            <h2>Hearings</h2>
            <p>The Commission periodically holds public hearings at its headquarters in Washington, DC. These hearings offer interested persons an opportunity to testify concerning proposed regulations and other matters that come before the Commission.</p>
            <div class="filters--horizontal">
               <form action="" id="hearings_form" method="get" class="js-form-nav container">
                  <div class="filter">
                      <label for="year" class="label">Year</label>
                      <select id="year" name="year">
                        <option value="">All</option>
                        {% for item in hearings_years %}
                        <option value="{{ item }}" {% if year == item %}selected {% endif %}>{{ item }}</option>
                        {% endfor %}
                      </select>
                  </div>
                  <div class="filter">
                    <div class="combo combo--filter--mini">
                      <label for="search" class="label">Search</label>
                      <input id="search" class="combo__input" name="search" type="text" value="{{ hearings_query }}">
                      <button type="submit" id="hearings_sub" class="combo__button button button--standard button--search"><span class="u-visually-hidden">Search</span></button>
                      <input type="hidden" name="tab" value="hearings">
                    </div>
                  </div>
              </form>
             </div>
            {% if hearings %}
               <table class="simple-table" id="hearings_table">
                  <tbody>
                    {% for hearing in hearings %}
                      {% include 'partials/meeting.html' with meeting=hearing %}
                     {% endfor %}
                  </tbody>
               </table>
              <div class="results-info">
                <span>Page {{ hearings.number }} of {{ hearings.paginator.num_pages }}</span>
                  {% if hearings.has_previous %}
                    <a class="button button--standard button--previous" href="?page={{ hearings.previous_page_number }}&tab=hearings&search={{ hearings_query }}&year={{ year }}"><span class="u-visually-hidden">Previous</span></a>
                  {% endif %}
                  {% if hearings.has_next %}
                    <a class="button button--standard button--next" href="?page={{ hearings.next_page_number }}&tab=hearings&search={{ hearings_query }}&year={{ year }}"><span class="u-visually-hidden">Next</span></a>
                  {% endif %}
             </div>
              {% else %}
            <div class="message message--info">
              <h2>No results</h2>
               {% if search %}
                <p>We didn’t find any pages matching <strong>&ldquo;{{search}}&rdquo;</strong>.</p>
               {% endif %}
              <p>
                <div class="message--alert__bottom">
                 <p>FEC.gov is in the middle of a redesign, and some pages aren’t included in search results yet. Please try another search. Or, <a href="{{ settings.FEC_CLASSIC_URL }}">search the archive</a> of FEC.gov’s previous design.</p>
                 <p>If you’d like to contact our team, we’re available by <a href="mailto:{{ settings.WEBMANAGER_EMAIL }}">email</a> or <a href="https://github.com/18f/fec">GitHub</a>.</p>
               </div>
            </div>
            {% endif %}
          </section>
          <section id="meetings-executive-sessions" role="tabpanel" aria-hidden="true" aria-labelledby="executive-sessions">
            <h2>Executive Sessions</h2>
            <p>Confidential and closed to the public. The Commission meets regularly in executive sessions to discuss pending enforcement actions, litigation and other matters that, by law, must be kept confidential.</p>
            <div class="filters--horizontal">
               <form action="" id="executive_form" method="get" class="js-form-nav container">
                  <div class="filter">
                      <label for="year" class="label">Year</label>
                      <select id="year" name="year">
                        <option value="">All</option>
                        {% for item in executives_years %}
                        <option value="{{ item }}" {% if year == item %}selected {% endif %}>{{ item }}</option>
                        {% endfor %}
                      </select>
                  </div>
                  <div class="filter">
                    <div class="combo combo--filter--mini">
                      <label for="search" class="label">Search</label>
                      <input id="search" class="combo__input" name="search" type="text" value="{{ executive_query }}">
                      <button type="submit" id="executive_sub" class="combo__button button button--standard button--search"><span class="u-visually-hidden">Search</span></button>
                      <input type="hidden" name="tab" value="executive-sessions">
                    </div>
                  </div>
              </form>
             </div>
            {% if executive_sessions %}
               <table class="simple-table">
                  <tbody>
                    {% for executive_session in executive_sessions  %}
                      {% include 'partials/meeting.html' with meeting=executive_session  %}
                    {% endfor %}
                  </tbody>
               </table>
              <div class="results-info">
                <span>Page {{ executive_sessions.number }} of {{ executive_sessions.paginator.num_pages }}</span>
                  {% if executive_sessions.has_previous %}
                    <a class="button button--standard button--previous" href="?page={{ executive_sessions.previous_page_number }}&tab=executive-sessions&year={{ year }}&search={{ executive_query }}"><span class="u-visually-hidden">Previous</span></a>
              {% endif %}
              {% if executive_sessions.has_next %}
                <a class="button button--standard button--next" href="?page={{ executive_sessions.next_page_number }}&tab=executive-sessions&year={{ year }}&search={{ executive_query }}"><span class="u-visually-hidden">Next</span></a>
              {% endif %}
             </div>
              {% else %}
            <div class="message message--info">
              <h2>No results</h2>
               {% if search %}
                <p>We didn’t find any pages matching <strong>&ldquo;{{search}}&rdquo;</strong>.</p>
               {% endif %}
              <p>
                <div class="message--alert__bottom">
                 <p>FEC.gov is in the middle of a redesign, and some pages aren’t included in search results yet. Please try another search. Or, <a href="{{ settings.FEC_CLASSIC_URL }}">search the archive</a> of FEC.gov’s previous design.</p>
                 <p>If you’d like to contact our team, we’re available by <a href="mailto:{{ settings.WEBMANAGER_EMAIL }}">email</a> or <a href="https://github.com/18f/fec">GitHub</a>.</p>
               </div>
             </div>
            {% endif %}
          </section>
      </div>
    </section>
 </div>
</section>
{% endblock %}
