{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}

{% block content %}

{% include 'partials/breadcrumbs.html' with page=self links=self.ancestors style='secondary' %}

<article class="main">
  <div class="container">
    <header class="heading--main">
      <h1>{{ self.title }}</h1>
    </header>
    <div class="main__content--full u-padding--top">
      <div class="grid grid--3-wide u-padding--bottom">
      {% if self.chair_commissioner %}
        {% include "partials/commissioner.html" with commissioner=self.chair_commissioner show_dates=True %}
      {% endif %}
      {% if self.vice_commissioner %}
        {% include "partials/commissioner.html" with commissioner=self.vice_commissioner show_dates=True  %}
      {% endif %}
      {% for commissioner in self.current_commissioners %}
        {% include "partials/commissioner.html" with show_dates=True  %}
      {% endfor %}
      {% for commissioner in self.past_commissioners %}
        {% include "partials/commissioner.html" with show_dates=True %}
      {% endfor %}
      </div>
    </div>

    <div class="option">
      <h2>Ex officio Commissioners</h2>

      <p>From 1975 through 1993, the Secretary of the Senate and the Clerk of the House were designated as nonvoting, ex officio Commissioners. In 1993, an appeals court ruled that the presence of nonvoting Congressionally appointed ex officio members on the Commission violated the Constitution’s separation of powers. The Supreme Court dismissed the Commission’s appeal for lack of jurisdiction (<span class="t-italic"><a href="http://www.fec.gov/law/litigation/513_US_88.pdf">FEC v. NRA Political Victory Fund</a></span>). Subsequent to the appeals court decision, the Commission reconstituted itself as a six-member body.</p>

      <h3 class="u-padding--top">Clerk of the House</h3>

      <div class="grid grid--3-wide">
        <div class="grid__item">
          <div class="t-lead">Donnald K. Anderson</div>
          <div class="t-sans">January 1987 to October 1993</div>
        </div>
        <div class="grid__item">
          <div class="t-lead">Benjamin U. Guthrie</div>
          <div class="t-sans">January 1983 to January 1987</div>
        </div>
        <div class="grid__item">
          <div class="t-lead">Edmund L. Henshaw, Jr.</div>
          <div class="t-sans">December 1975 to January 1983</div>
        </div>
        <div class="grid__item">
          <div class="t-lead">W. Pat Jennings</div>
          <div class="t-sans">April 1975 to November 1975</div>
        </div>
      </div>

      <h3 class="u-padding--top">Secretary of the Senate</h3>

      <div class="grid grid--3-wide u-padding--bottom">
        <div class="grid__item">
          <div class="t-lead">Walter J. Stewart</div>
          <div class="t-sans">January 1987 to October 1993</div>
        </div>
        <div class="grid__item">
          <div class="t-lead">Jo-Anne L. Coe</div>
          <div class="t-sans">January 1985 to January 1987</div>
        </div>
        <div class="grid__item">
          <div class="t-lead">William F. Hildenbrand</div>
          <div class="t-sans">January 1981 to January 1985</div>
        </div>
        <div class="grid__item">
          <div class="t-lead">Joseph Stanley Kimmitt</div>
          <div class="t-sans">April 1977 to January 1981</div>
        </div>
        <div class="grid__item">
          <div class="t-lead">Francis R. Valeo</div>
          <div class="t-sans">April 1975 to March 1977</div>
        </div>
      </div>
    </div>

  </div>
</article>

{% endblock %}
