{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}

{% block content %}
{% include 'partials/breadcrumbs.html' with page=self style='secondary' %}

<article class="main">
  <div class="container">
    <header class="heading--main">
      <h1>{{ self.title }}</h1>
    </header>
    <div class="main__content--full u-padding--top">
      <div class="grid grid--3-wide">
      {% if self.chair_commissioner %}
        {% include "partials/commissioner.html" with commissioner=self.chair_commissioner %}
      {% endif %}
      {% if self.vice_commissioner %}
        {% include "partials/commissioner.html" with commissioner=self.vice_commissioner %}
      {% endif %}
      {% for commissioner in self.commissioners %}
        {% include "partials/commissioner.html" %}
      {% endfor %}
      </div>
    </div>
  </div>
</article>

{% endblock %}
