{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}
{% include 'partials/breadcrumbs.html' with page=self style='secondary' %}

<div class="hero__banner--office"></div>
<article class="main">
  <div class="container">
    <header class="heading--main">
      <h1>{{ self.title }}</h1>
    </header>
    <div class="main__content--full u-padding--top">
     <div class="usa-width-one-third">
      <h2>General inquiries</h2>
      <ul>
        <li class="contact-item contact-item--phone">
          <div class="contact-item__content">
            <h5 class="contact-item__title">Toll free</h5>
            <span class="t-block">1-800-424-9530</span>
            <span class="t-block">8:30 a.m. to 5:30 p.m. Eastern Time</span>
          </div>
        </li>
        <li class="contact-item">
          <div class="contact-item__content--offset">
            <h5 class="contact-item__title">Local</h5>
            <span class="t-block">202-694-1000</span>
          </div>
        </li>
        <li class="contact-item">
          <div class="contact-item__content--offset">
            <h5 class="contact-item__title">Teletypewriter (TTY) for the hearing impaired</h5>
            <span class="t-block">202-219-3336</span>
          </div>
        </li>
        <li class="contact-item contact-item--email">
          <div class="contact-item__content">
            <span class="t-block"><a href="mailto:info@fec.gov">info@fec.gov</a></span>
          </div>
        </li>
      </ul>
      <h2>Mailing address</h2>
      <ul>
        <li class="contact-item contact-item--mail">
          <div class="contact-item__content">
            <span class="t-block">Federal Election Commission</span>
            <span class="t-block">999 E St NW</span>
            <span class="t-block">Washington, DC 20463</span>
          </div>
        </li>
      </ul>
      <h2>Website feedback</h2>
      <ul>
        <li class="contact-item contact-item--email">
          <div class="contact-item__content">
            <span class="t-block"><a href="mailto:webmanager@fec.gov">webmanager@fec.gov</a></span>
          </div>
        </li>
        <li class="contact-item contact-item--github">
          <div class="contact-item__content">
            <span class="t-block"><a href="https://github.com/fecgov/fec/issues">GitHub repository</a></span>
          </div>
        </li>
      </ul>
    </div>
    <div class="usa-width-two-thirds">
      <h2>Specific requests</h2>
      <ul>
       <li class="contact-item contact-item--half">
          <h5 class="contact-item__title">Congressional Affairs Office</h5>
          <span class="t-block">FEC's primary liaison with Congress and executive branch agencies</span>
          <span class="contact-item__phone">202-694-1006</span>
        </li>
        <li class="contact-item contact-item--half">
          <h5 class="contact-item__title">Electronic Filing Office</h5>
          <span class="t-block">Including password assistance and technical support</span>
          <span class="contact-item__phone">1-800-424-9530, menu option 4</span>
          <span class="contact-item__phone">202-694-1307</span>
          <span class="t-block"><a href="mailto:eFiletechsupport@fec.gov">eFiletechsupport@fec.gov</a></span>
        </li>
        <li class="contact-item contact-item--half">
          <h5 class="contact-item__title">Press Office</h5>
          <span class="t-block">Including media inquiries and speaker requests</span>
          <span class="contact-item__phone">1-800-424-9530, menu option 1</span>
          <span class="contact-item__phone">202-694-1220</span>
          <span class="t-block"><a href="mailto:press@fec.gov">press@fec.gov</a></span>
        </li>
        <li class="contact-item contact-item--half">
          <h5 class="contact-item__title">Information Division</h5>
          <span class="t-block">Including help with educational materials, registering a committee, ordering a reporting form or campaign finance law</span>
          <span class="contact-item__phone">1-800-424-9530, menu option 6</span>
          <span class="contact-item__phone u-padding--bottom">202-694-1100</span>
          <span class="t-block">Help with campaign finance law questions:</span>
          <span class="t-block u-padding--bottom"> <a href="mailto:info@fec.gov">info@fec.gov</a></span>
          <span class="t-block">Public appearance and FEC speaker requests:</span>
          <span class="t-block u-padding--bottom"><a href="mailto:speaker@fec.gov">speaker@fec.gov</a></span>
         <span class="t-block">Educational outreach and training inquiries:</span>
         <span class="t-block"><a href="mailto:conferences@fec.gov">conferences@fec.gov</a></span>
        </li>
        <li class="contact-item contact-item--half">
          <h5 class="contact-item__title">Public Records Office</h5>
          <span class="t-block">Including help accessing reports and other public documents</span>
          <span class="contact-item__phone">1-800-424-9530, menu option 2</span>
          <span class="contact-item__phone">202-694-1120</span>
          <span class="t-block"><a href="mailto:pubrec@fec.gov">pubrec@fec.gov</a></span>
        </li>
        <li class="contact-item contact-item--half">
          <h5 class="contact-item__title">Reports Analysis Division</h5>
          <span class="t-block">Including help with report creation, transactions and amendments </span>
          <span class="t-block"><a href="/help-candidates-and-committees/question-rad">Contact your analyst</a>
          <span class="contact-item__phone">1-800-424-9530, menu option 5</span>
          <span class="contact-item__phone">202-694-1130</span>
        </li>
      </ul>
    </div>
  </div>
</div>
</article>
{% endblock %}
