{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}
{% include 'partials/breadcrumbs.html' with page=self style='secondary' %}

<div class="hero__banner--office"></div>
<article class="main">
  <div class="container">
    <header class="heading--main">
      <h1>{{ self.title }}</h1>
    </header>
    <div class="main__content--full">
     <div class="usa-width-one-third u-padding--right">
      {% for block in self.contact_items %}
      {{ block.value }}
      {% endfor %}

    </div>
    <div class="usa-width-two-thirds u-padding--left"">
      <h2>{{ self.services_title }}</h2>
      {% for block in self.services %}
      {{ block.value }}
      {% endfor %}

    </div>
  </div>
</div>
</article>
{% endblock %}
