{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load filters %}
{% load static %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}

{% include 'partials/breadcrumbs.html' with page=self links=self.get_ancestors style='secondary' %}

<article class="main">
  <div class="container">
    <header class="heading--main heading--with-date">
      <ul class="tags">
        <li class="tag tag--secondary t-upper">
     <a href="{{self.get_parent.url}}?category={{ self.category | cms_query_syntax }}&year={{ self.date | date:'Y' }}">{{ self.category }}</a>
        </li>
      </ul>
      <div class="row">
        {% spaceless %}{# for inline blocks #}
      <h1 class="heading__left"><a href="{{ self.file_url }}">{% formatted_title self %}</a></h1>
        <div class="heading__right">
          <span class="t-sans">{{ self.display_date }} |
         <a href="{{ self.file_url }}">{{ self.extension }}</a>{% if self.size %} | ({{ self.size }}){% endif %}</span>

        </div>
        {% endspaceless %}
      </div>
    </header>
    <div class="main__content">
      {% include 'partials/body-blocks.html' with blocks=self.body %}
    </div>
</article>

{% include 'partials/disclaimer.html' %}

{% endblock %}
