{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load filters %}
{% load staticfiles %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}

{% block breadcrumbs %}
  {% include 'partials/breadcrumbs.html' with page=self links=self.get_ancestors style=self.breadcrumb_style %}
{% endblock %}


<article class="main container">

  <h1 class="heading--main">{{ self.title }}</h1>

        {% for block in self.body %}

        {{ block }}

        {% endfor %}

</article>

{% include 'partials/disclaimer.html' %}

{% endblock %}

{% block extra_js %}

  <script type="text/javascript" src="{% asset_for_js 'data-init.js' %}"></script>
  <script type="text/javascript" src="{% asset_for_js 'reporting-dates-tables_multiple.js' %}"></script>
{% endblock %}

