{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load home_page %}
{% load filters %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}
  <section class="hero hero--home" aria-labelledby="hero-heading">
    <div class="container">
      <div class="hero__content">
        <h2 id="hero-heading">Protecting the integrity of the campaign finance process</h2>
        <a class="button button--thin-border" href="/about">More about the FEC</a>
      </div>
    </div>
  </section>

  {% home_page_banner_announcement %}

  <section class="slab">
    <div class="container">
      <div class="heading--section heading--with-action">
        <h2 class="heading__left"><div class="tour__point tour__point--left" data-intro="<h5>Stay informed</h5>Check in on the most recent communications from the FEC all in one place, including press releases, meeting agendas and Tips for Treasurers."></div>News and announcements</h2>
        <a class="button--cta button--updates heading__right" href="/updates">All news</a>
      </div>

      {% home_page_news %}

      <div class="heading--section heading--with-action">
        <h2 class="heading__left">Events and deadlines</h2>
        <a class="button--cta heading__right button--calendar" href="/calendar">Full calendar</a>
      </div>
      <ul class="grid grid--4-wide grid--flex t-sans">
        <li class="grid__item grid__item--event">
          <div class="t-bold">Next commission meeting:</div>
          <div class="js-next-commission-meeting"></div>
          <a class="button button--alt button--updates" href="/meetings">All meetings</a>
        <li class="grid__item grid__item--event">
          <div class="t-sans t-bold">Next filing deadline:</div>
          <div class="js-next-filing-deadline"></div>
          <a class="button button--alt button--calendar" href="/calendar/?category=report-E&category=report-M&category=report-MY&category=report-Q&category=report-YE">All filing deadlines</a>
        </li>
        <li class="grid__item grid__item--event">
          <div class="t-sans t-bold">Next training or conference:</div>
          <div class="js-next-training-or-conference"></div>
          <a class="button button--alt button--calendar" href="/calendar/?category=Conferences&category=Roundtables">All outreach</a>
        </li>
        <li class="grid__item grid__item--event">
          <div class="t-sans t-bold">Next public comment deadline:</div>
          <div class="js-next-public-comment-deadline"></div>
          <a class="button button--alt button--calendar" href="/calendar/?category=AOs+and+Rules">All legal events</a>
        </li>
      </div>
    </div>
  </section>

  <section class="slab slab--home slab--neutral">
    <div class="container">
      <h2 class="heading--section u-margin--bottom">Get started</h2>
      <ul class="grid grid--3-wide grid--flex t-sans">
        <li class="grid__item grid__item--infoblock">
          <div class="infoblock__image infoblock__image--support" role="img" aria-label="Description of the image"></div>
          <h3 class="t-sans">Find out how individuals can support federal candidates</h3>
          <p class="infoblock__subtext">Including making contributions, volunteering, internet activities and filing complaints</p>
          <a class="button infoblock__button button--cta button--go" href="/introduction-campaign-finance/understanding-ways-support-federal-candidates/">Start learning</a>
        <li class="grid__item grid__item--infoblock">
          <div class="infoblock__image infoblock__image--compare" role="img" aria-label="Description of the image"></div>
          <h3 class="t-sans">Explore financial data for current and past elections and the candidates in those races</h3>
          <a class="button infoblock__button button--cta button--go" href="/data/#compare-candidates-in-an-election">Compare candidates</a>
        </li>
        <li class="grid__item grid__item--infoblock">
          <div class="infoblock__image infoblock__image--contribute" role="img" aria-label="Description of the image"></div>
          <h3 class="t-sans">Learn about how much contributors can give to different types of committees</h3>
          <a class="button infoblock__button button--cta button--go" href="/help-candidates-and-committees/candidate-taking-receipts/contribution-limits-candidates/">Get the contribution limits</a>
        </li>
      </ul>
    </div>
  </section>

  <section class="slab">
    <div class="container">
      <h1>Commissioners</h1>
      <div class="content__section content__section--narrow u-padding--top">
        <p>Established in 1975, the FEC is composed of six Commissioners who are appointed by the President and confirmed by the Senate. By law, no more than three can represent the same political party.</p>
        <a class="t-sans" href="/about/mission-and-history">Learn more about the FEC's history and mission »</a>
      </div>

      <div class="grid grid--3-wide grid--no-border">
        <div class="grid__item">
          <div class="icon-heading">
            <img class="icon-heading__image" src="{% static "img/headshot--walther.jpg" %}" alt="Headshot of Steven T. Walther">
            <div class="icon-heading__content">
              <div class="t-lead"><a href="/about/leadership-and-structure/steven-t-walther">Steven T. Walther</a></div>
              <div class="t-note">Chairman</div>
              <div class="t-sans">Independent</div>
            </div>
          </div>
        </div>
        <div class="grid__item">
          <div class="icon-heading">
            <img class="icon-heading__image" src="{% static "img/headshot--hunter.jpg" %}" alt="Headshot of Caroline C. Hunter">
            <div class="icon-heading__content">
              <div class="t-lead"><a href="/about/leadership-and-structure/caroline-c-hunter">Caroline C. Hunter</a></div>
              <div class="t-note">Vice Chair</div>
              <div class="t-sans">Republican</div>
            </div>
          </div>
        </div>
        <div class="grid__item">
          <div class="icon-heading">
            <img class="icon-heading__image" src="{% static "img/headshot--goodman.jpg" %}" alt="Headshot of Lee E. Goodman">
            <div class="icon-heading__content">
              <div class="t-lead"><a href="/about/leadership-and-structure/lee-e-goodman">Lee E. Goodman</a></div>
              <div class="t-sans">Republican</div>
            </div>
          </div>
        </div>
        <div class="grid__item">
          <div class="icon-heading">
            <img class="icon-heading__image" src="{% static "img/headshot--petersen.jpg" %}" alt="Headshot of Matthew S. Petersen">
            <div class="icon-heading__content">
              <div class="t-lead"><a href="/about/leadership-and-structure/mathew-s-petersen">Matthew S. Petersen</a></div>
              <div class="t-sans">Republican</div>
            </div>
          </div>
        </div>
        <div class="grid__item">
          <div class="icon-heading">
            <img class="icon-heading__image" src="{% static "img/headshot--weintraub.jpg" %}" alt="Headshot of Ellen L. Weintraub">
            <div class="icon-heading__content">
              <div class="t-lead"><a href="/about/leadership-and-structure/ellen-l-weintraub">Ellen L. Weintraub</a></div>
              <div class="t-sans">Democrat</div>
            </div>
          </div>
        </div>
        <div class="grid__item">
          <div class="icon-heading">
            <img class="icon-heading__image" src="{% static "img/headshot--no-photo.jpg" %}" alt="Vacant Position">
            <div class="icon-heading__content">
              <div class="t-lead">Vacant seat</div>
              <div class="t-sans"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block extra_js %}
  <script>
    TOUR_PAGE = 'introduction';
  </script>
  <script type="text/javascript" src="{% asset_for 'home.js' %}"></script>
{% endblock %}