{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}
  <section class="hero hero--home" aria-labelledby="hero-heading">
    <div class="hero__banner"></div>

    <div class="container">
      <div class="hero__content">
        <h2>The FEC administers and enforces federal campaign finance law and discloses the sources and amounts of funds used to finance our elections</h2>
      </div>

      <div class="grid grid--3-wide">
        <div class="grid__item">
          <img src="{% static "img/feature--data.png" %}" alt="Line chart graph showing campaign finance data">
          <h3><a href="{{ FEC_APP_URL }}/data">Campaign finance data</a></h3>
          <p>Helping citizens make informed voting decisions by showing how money is raised and spent in federal elections.</p>
        </div>

        <div class="grid__item">
          <img src="{% static "img/feature--reporting.png" %}" alt="Icons representing a webpage for federal election guidance">
          <h3><a href="/registration-and-reporting">Registration and reporting</a></h3>
          <p>Providing guidance for individuals and  groups that are active in federal elections.</p>
        </div>

        <div class="grid__item">
          <img src="{% static "img/feature--legal.png" %}" alt="Icons representing a webpage search of legal resources">
          <h3><a href="/legal-resources">Legal resources</a></h3>
          <p>Administering and enforcing federal campaign finance law. Search or browse statutes, regulations, advisory opinions or enforcement matters.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="slab">
    <div class="container">
      <h1>Commissioners</h1>
      <div class="content__section content__section--narrow u-padding--top">
        <p>Established in 1975, the FEC is composed of six Commissioners who are appointed by the President and confirmed by the Senate. By law, no more than three can represent the same political party.</p>
        <a href="http://www.fec.gov/about.shtml">Learn more about the FEC’s history and mission »</a>
      </div>

      <div class="grid grid--3-wide u-padding--top">
        <div class="grid__item">
          <div class="icon-heading">
            <img class="icon-heading__image" src="{% static "img/headshot--peterson.png" %}" alt="Headshot of Matthew S. Peterson">
            <div class="icon-heading__content">
              <h3><a href="http://www.fec.gov/members/petersen/petersen.shtml">Matthew S. Peterson</a></h3>
              <em>Chairman</em><br>
              Republican
            </div>
          </div>
        </div>
        <div class="grid__item">
          <div class="icon-heading">
            <img class="icon-heading__image" src="{% static "img/headshot--walther.png" %}" alt="Headshot of Steven T. Walther">
            <div class="icon-heading__content">
              <h3><a href="http://www.fec.gov/members/walther/walther.shtml">Steven T. Walther</a></h3>
              <em>Vice Chairman</em><br>
              Independent
            </div>
          </div>
        </div>
        <div class="grid__item">
          <div class="icon-heading">
            <img class="icon-heading__image" src="{% static "img/headshot--goodman.png" %}" alt="Headshot of Lee E. Goodman">
            <div class="icon-heading__content">
              <h3><a href="http://www.fec.gov/members/goodman/goodman.shtml">Lee E. Goodman</a></h3>
              Republican
            </div>
          </div>
        </div>
        <div class="grid__item">
          <div class="icon-heading">
            <img class="icon-heading__image" src="{% static "img/headshot--hunter.png" %}" alt="Headshot of Caroline C. Hunter">
            <div class="icon-heading__content">
              <h3><a href="http://www.fec.gov/members/hunter/hunter.shtml">Caroline C. Hunter</a></h3>
              Republican
            </div>
          </div>
        </div>
        <div class="grid__item">
          <div class="icon-heading">
            <img class="icon-heading__image" src="{% static "img/headshot--ravel.png" %}" alt="Headshot of Ann M. Ravel">
            <div class="icon-heading__content">
              <h3><a href="http://www.fec.gov/members/ravel/ravel.shtml">Ann M. Ravel</a></h3>
              Democrat
            </div>
          </div>
        </div>
        <div class="grid__item">
          <div class="icon-heading">
            <img class="icon-heading__image" src="{% static "img/headshot--weintraub.png" %}" alt="Headshot of Ellen L. Weintraub">
            <div class="icon-heading__content">
              <h3><a href="http://www.fec.gov/members/weintraub/weintraub.shtml">Ellen L. Weintraub</a></h3>
              Democrat
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block extra_js %}
{% endblock %}
