{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}
{% load home_page %}
{% load filters %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% comment %}
This template is for previewing the home page banner announcement only in Wagtail.
{% endcomment %}


{% block content %}
<div style="color:green">
   <h2 class="t-sans">This preview shows the banner you are currently editing (draft or live) plus any other banners currently live on the homepage.</h2>
   <h2 class="t-sans"> To change the order of your banner among others: Adjust the "date_active" and save draft to verify order before publishing.</h2>
   <h2 class="t-sans">Note: Banners are ordered by most recent "date_active" first ("alert_for_emergency_use_only" are always first, regardless)</h2>
</div>
  <section class="hero hero--home" aria-labelledby="hero-heading">
    <div class="container">
      <div class="hero__content">
        <h2 id="hero-heading">Protecting the integrity of the campaign finance process</h2>
        <a class="button button--thin-border" href="/about/">More about the FEC</a>
      </div>
    </div>
  </section>

 {% draft_home_page_banner_announcement self.id %}

  <section class="slab">
    <div class="container">
      <div class="heading--section heading--with-action">
        <h2 class="heading__left">News and announcements</h2>
        <a class="button--cta button--updates heading__right" href="/updates/">All news</a>
      </div>

      {% home_page_news %}

      <div class="heading--section heading--with-action">
        <h2 class="heading__left">Events and deadlines</h2>
        <a class="button--cta heading__right button--calendar" href="/calendar/">Full calendar</a>
      </div>
      <ul class="grid grid--4-wide grid--flex t-sans">
        <li class="grid__item grid__item--event">
          <div class="t-bold">Next commission meeting:</div>
          <div class="js-next-commission-meeting"></div>
          <a class="button button--alt button--updates" href="/meetings/">All meetings</a>
        <li class="grid__item grid__item--event">
          <div class="t-sans t-bold">Next filing deadline:</div>
          <div class="js-next-filing-deadline"></div>
          <a class="button button--alt button--calendar" href="/calendar/?category=report-E&category=report-M&category=report-MY&category=report-Q&category=report-YE">All filing deadlines</a>
        </li>
        <li class="grid__item grid__item--event">
          <div class="t-sans t-bold">Next training or conference:</div>
          <div class="js-next-training-or-conference"></div>
          <a class="button button--alt button--calendar" href="/calendar/?category=Conferences&category=Roundtables">All outreach</a>
        </li>
        <li class="grid__item grid__item--event">
          <div class="t-sans t-bold">Next public comment deadline:</div>
          <div class="js-next-public-comment-deadline"></div>
          <a class="button button--alt button--calendar" href="/calendar/?category=AOs+and+Rules">All legal events</a>
        </li>
        <hr>
      </div>
    </div>
  </section>


{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}
