{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}
  <section class="hero hero--home" aria-labelledby="hero-heading">
    <div class="hero__banner hero__banner--monument">
      <div class="container">
        <div class="hero__heading">
          <h1 id="hero-heading" class="hero__title t-display"><span class="t-italic">beta</span>.FEC.gov</h1>
          <h2 class="hero__subtitle">A work in progress</h2>
        </div>
      </div>
      <span class="photo-credit">Photo: <a href="https://www.flickr.com/photos/22711505@N05/8629115043/in/photolist-e9wtgz-dmwmBS-dBjVT5-dBjVV9-7cdheH-8okfqS-dmwnNZ-7cdhec-dmwo3e-nnE7gW-nnEisL-7cdhdV-nnE7cC-bwJ1Sm-bswUey-bswUeC-7chgyh-fQyrNS-dmF8G7-tMLQH9-sjaBdQ-eMJh6X-eMJhfc-7cdhf4-5yMcC6-bGx47B-8o7H7o-gZLgjm-gZMd4a-7RNuMA-8o7H7J-djqs9Q-7cdheM-bFTEni-t9HYHm-7chgyb-dy62vC-dxZy42-qKb6o1-f6Esko-xPjf7Y-7SdGt5-xPjg7J-qn7qLc-tdhLb4-bFTEmp-6wxnbb-drvaJU-dBjVQG-bFdFDB" title='image credit'> Ron Cogswell, CC BY 2.0</span></a>
    </div>
    <div class="hero__bottom">
      <div class="container">
        <div class="hero__content">
          <p class="p--lead">We're designing this site in phases. This allows us to launch new features faster than releasing a completely redesigned FEC.gov. The official site for FEC data is still the <a href="http://www.fec.gov/pindex.shtml" target="_blank">Campaign Finance Disclosure Portal</a>.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="main">
    <div class="container">
      <div class="grid grid--4-wide">
        <div class="feature grid__item">
          <h2 class="feature__title">New features</h2>
          <div class="card card--primary">
            <a class="card__image-link" href="{{ settings.FEC_APP_URL }}">
              <img class="card__image" src="{% static "img/i-data--neutral.svg" %}" alt="Icon for explore campaign finance data">
            </a>
            <div class="card__content">
              Explore <a href="{{ settings.FEC_APP_URL }}">campaign finance data</a>
            </div>
          </div>
          <p>See how money is raised and spent in federal elections. Compare candidates’ financial data. Learn how campaigns have spent their money. Discover who contributed to which candidates.</p>
        </div>
        <div class="feature feature--no-title grid__item">
          <div class="card card--primary">
            <a class="card__image-link js-glossary-toggle">
              <img class="card__image" src="{% static "img/i-glossary--neutral.svg" %}" alt="Icon representing the glossary">
            </a>
            <div class="card__content">
              <span>Use the <a href="#" class="js-glossary-toggle">glossary</a> to learn the meaning of an unfamiliar word or phrase</span>
            </div>
          </div>
          <p>Click words or phrases with the book icon next to them to pull up a definition. Or click the glossary icon at the top of any page to open the full, searchable glossary. For example, click on this term to see its definition: <span class="term" data-term="principal campaign committee">principal campaign committee</span>.</p>
        </div>
        <div class="feature feature--no-title grid__item">
          <div class="card card--primary">
            <a class="card__image-link" href="/registration-and-reporting">
              <img class="card__image" src="{% static "img/i-register--neutral.svg" %}" alt="Icon for reporting and registration">
            </a>
            <div class="card__content">
              <p>Learn how congressional candidates and committees <a href="/registration-and-reporting/">register and report</a></p>
            </div>
          </div>
          <p>We’re making it easier for groups to learn the essentials of registration and reporting. We started with House and Senate candidates and committees, but soon we’ll have content for all the individuals and groups that register with the FEC.</p>
        </div>
        <div class="feature grid__item">
          <h2 class="feature__title">Coming soon</h2>
          <div class="card card--primary is-disabled">
            <img class="card__image" src="{% static "img/i-calendar--neutral.svg" %}" alt="Icon for the calendar">
            <div class="card__content">
              View a calendar of FEC deadlines and events
            </div>
          </div>
          <p>Build a custom calendar to suit your needs, and export it to your personal calendar.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="slab">
    <div class="container">
      <h2 class="h1 t-ruled--bold">What's next?</h2>
      <ul class="feature-list grid grid--4-wide">
        <li class="feature feature--bulleted grid__item">
          <p>Added resources around registration, reporting and compliance</p>
        </li>
        <li class="feature feature--bulleted grid__item">
          <p>Improvements to campaign data tools, including exportable data and additional visualizations</p>
        </li>
        <li class="feature feature--bulleted grid__item">
          <p>A revamped tool for searching advisory opinions and enforcement actions</p>
        </li>
        <li class="feature feature--bulleted grid__item">
          <p>Further improvements to the new look and feel of the website</p>
        </li>
      </ul>
      <div class="slab">
        <p class="h3">And more — reach out and share your ideas.</p>
      </div>
    </div>
  </section>
  <section class="slab slab--neutral">
    <div class="container">
      <div class="billboard">
        <div class="billboard__image__container">
          <img class="billboard__image" src="{% static "img/api@2x.png" %}" alt="API documentation screenshot">
        </div>
        <div class="billboard__content">
          <h2 class="feature__title">The FEC API: Use our data in your project</h2>
          <p>An application programming interface (API)  is an easy way for computers, programs and developers to share and translate large amounts of data in meaningful ways. We recently released the FEC’s first API to help you use the data to tell your own story. This API is the backbone of the campaign finance data on beta.FEC.gov.</p>
          <p>Check out the <a href="https://api.open.fec.gov">API documentation</a>.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block extra_js %}
<!-- Ethnio Activation Code -->
<script type="text/javascript" language="javascript" src="https://ethn.io/70862.js" async="true" charset="utf-8"></script>
{% endblock %}
