{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}

<section class="hero hero--secondary" aria-labelledby="hero-heading">
  <div class="container">
    <h1 class="t-display">Registration and reporting</h1>
    <h2 class="t-ruled">Register your candidacy or committee and get started reporting</h2>
    <div class="hero__content">
      <a class="button--secondary button--lg" href="/registration-options">Explore registration and reporting</a>
    </div>
  </div>
</section>

<article class="main">
  <div class="container">
    <div class="row">
      <section class="main__content">
        <div class="content__section">
          <h2>Get started with the FEC</h2>
          <h3>What does it mean to register and report?</h3>
          <p>The FEC helps citizens make informed voting decisions based, in part, on knowing the sources of financial support for federal candidates and political committees.</p> 
          <p>Campaign finance law requires that federal candidates and political committees register with the FEC once they reach certain monetary thresholds or take other actions that indicate they’ll be active in federal elections.</p>
          <p>Explore registration options to see a breakdown of these groups and their registration thresholds.</p>
          <p>After registration, federal political committees must file regular reports with the FEC. These reports disclose information about their receipts and disbursements. The FEC makes that information available to the public on its website.</p>
        </div>
      </section>
      <aside class="sidebar sidebar--secondary">
        <h2>Need help?</h2>
        <div class="card card--mini">
          <img alt="Call center support icon" src="/static/img/i-contact--neutral.svg" class="icon--complex card__image">
          <div class="card__content">
            <span class="t-block">Give us a call</span>
            <span class="t-block">(800) 424-9530</span>
          </div>
        </div>
        <div class="card card--mini is-disabled">
          <img alt="Calendar icon" src="/static/img/i-calendar--neutral.svg" class="icon--complex card__image">
          <div class="card__content">
            <span>Reporting calendar</span>
          </div>
        </div>      
      </aside>
    </div>
    <div class="row">
      <section class="main__content--full">
        <div class="content__section content__section--ruled">
          <h3>Discover registration and reporting essentials</h3>
          <p>A number of factors dictate how individuals and groups must register and file. Visit this page to identify what kind of filer you are. When you’re ready, use our checklist to get started filing your reports.</p>
          <div class="card card--secondary card--horizontal">
            <a href="/registration-options" class="card__image card__image-link icon--complex">
              <img alt="Registration icon" src="/static/img/i-register--neutral.svg" class="icon--complex">
            </a>
            <div class="card__content">
              <a href="/registration-options">Explore registration and reporting</a>
            </div>
          </div>
        </div>
        <div class="content__section--ruled content__section">
          <h2>Learn how to comply with federal campaign finance laws</h2>
          <div class="row">
            <p class="usa-width-two-thirds">The best complete source for the rules that govern your federal campaign activity are the campaign guides available below.</p>
          </div>          
          <h4 class="t-bold t-upper">Campaign guides:</h4>
          <ul class="list--flat">
            <li class="usa-width-one-fourth">
              <p class="t-sans">Congressional candidates and committees (<a href="http://www.fec.gov/pdf/candgui.pdf">PDF</a>)</p>
              <a class="u-no-border" href="http://www.fec.gov/pdf/candgui.pdf">
                <img src="/static/img/guide--candidates.jpg" alt="Campaign Guide for Congressional Candidates and Committees (PDF)">
              </a>
            </li>
            <li class="usa-width-one-fourth">
              <p class="t-sans">Corporations and labor organizations (<a href="http://www.fec.gov/pdf/colagui.pdf">PDF</a>)</p>          
              <a class="u-no-border" href="http://www.fec.gov/pdf/colagui.pdf">
                <img src="/static/img/guide--orgs.jpg" alt="Campaign Guide for Corporations and Labor Organizations (PDF)">
              </a>
            </li>
            <li class="usa-width-one-fourth">
              <p class="t-sans">Nonconnected committees <br>(<a href="http://www.fec.gov/pdf/nongui.pdf">PDF</a>)</p>          
              <a class="u-no-border" href="http://www.fec.gov/pdf/nongui.pdf">
                <img src="/static/img/guide--nonconnected.jpg" alt="Campaign Guide for Nonconnected Committees (PDF)">
              </a>
            </li>
            <li class="usa-width-one-fourth usa-end-row">
              <p class="t-sans">Political party committees <br>(<a href="http://www.fec.gov/pdf/partygui.pdf">PDF</a>)</p>          
              <a class="u-no-border" href="http://www.fec.gov/pdf/partygui.pdf">
                <img src="/static/img/guide--parties.jpg" alt="Campaign Guide for Political Party Committees (PDF)">
              </a>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</article>


{% endblock %}
