{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}
<section class="hero hero--secondary hero--registration" aria-labelledby="hero-heading">
  <div class="hero__image"></div>
  <div class="container">
    <h1 id="hero-heading" class="hero__title">Registration and reporting</h1>
    <p class="hero__content">Federal candidates and political committees must register with the FEC when they reach certain thresholds. Once registered, they file regular reports about their financial activity. Learn more about these groups and the requirements that apply to them.</p>
  </div>
</section>

<article>
  <div id="options" class="container main">
    <div class="content__section">
      <h2>Who can register and report?</h2>
    </div>
    <div class="sidebar-container sidebar-container--left">
      <div class="js-sticky-side" data-sticky-container="options">
        <nav class="sidebar sidebar--neutral sidebar--left side-nav js-toc">
          <ul class="sidebar__content">
            <li class="side-nav__item"><a class="side-nav__link" href="#candidate-committees">Candidates and candidate committees</a></li>
            <li class="side-nav__item"><a class="side-nav__link" href="#corporations-and-labor">Corporations and labor organizations</a></li>
            <li class="side-nav__item"><a class="side-nav__link" href="#parties">Political party committees</a></li>
            <li class="side-nav__item"><a class="side-nav__link" href="#nonconnected">Nonconnected committees</a></li>
          </ul>
        </nav>
        <aside style="margin-top: 2rem">
          <p>Already registered?<br><a href="{{ settings.FEC_APP_URL }}">Find your committee</a></p>
        </aside>
      </div>
    </div>
    <section class="main__content--right">
      <div id="candidate-committees" class="option">
        <div class="option__content">
          <h3><a href="/registration-and-reporting/essentials-house-and-senate-candidates-and-committees/">Candidates and candidate committees</a></h3>
         <p>An individual running for a seat in the House or Senate becomes a <span class="term" data-term="candidate">candidate</span>
        when he or she raises or spends more than $5,000 in <span class="term" data-term="contribution">contributions</span> or <span class="term" data-term="expenditure">expenditures</span>.</p>
        <p>House and Senate candidates must designate at least one campaign committee. These <span class="term" data-term="authorized committee">authorized
        committees</span> take in contributions and make expenditures for the candidate’s campaign. One of the candidate's authorized
        campaign committees must be designated as the candidate's <span class="term" data-term="principal campaign committee">principal campaign committee</span>.</p>
          <a class="button button--cta button--go" href="/registration-and-reporting/essentials-house-and-senate-candidates-and-committees/">Learn more</a>
        </div>
        <div class="option__aside">
          <h5 class="label">Campaign guide</h5>
          <a class="u-no-border" href="http://www.fec.gov/pdf/candgui.pdf">
            <img src="{% static "img/guide--candidates.jpg" %}" alt="Federal Election Commission Campaign Guide: Congressional Candidates and Committees, June 2014">
          </a>
          <a class="t-sans" href="http://www.fec.gov/pdf/candgui.pdf">(PDF)</a>
          <div class="icon-heading--calendar--secondary option__aside__alt-action">
            <a href="/calendar?category=report-E&category=report-M&category=report-Q">Reporting deadlines</a>
          </div>
        </div>
      </div>
      <div id="corporations-and-labor" class="option">
        <div class="option__content">
          <h3><a href="/registration-and-reporting/essentials-corporations-and-labor-organizations">Corporations and labor organizations</a></h3>
          <p>Corporations and labor organizations <span class="t-bold">can't</span> contribute to federal candidates, but they <span class="t-bold">can</span> establish and administer a special kind of political committee: the separate segregated fund (SSF).</p>
          <p>An SSF can raise funds to make contributions to candidates — including expenditures that are coordinated with candidates — within the applicable contribution limits.</p>
          <h4>Who can set up an SSF?</h4>
            <ul class="list--bulleted">
              <li>Corporations (including those without capital stock)</li>
              <li>Labor organizations</li>
              <li>Incorporated membership organizations (including trade associations)</li>
              <li>National banks</li>
              <li>Incorporated cooperatives</li>
            </ul>
          <p>The sponsoring corporation or labor organization is called the SSF’s “connected organization.”  The connected organization can use its own money to solicit contributions to the SSF and to pay the costs of establishing and operating the SSF, for example staff salaries and office space.</p>
          <p>SSFs may solicit contributions only from a limited group of people, including the connected organization’s executive or administrative personnel, its stockholders (if the connected organization is a corporation), or its members (if the connected organization is a labor organization or a membership organization).</p>
          <a class="button button--cta button--go" href="/registration-and-reporting/essentials-corporations-and-labor-organizations">Learn more</a>
        </div>
        <div class="option__aside">
          <h5 class="label">Campaign guide</h5>
          <a class="u-no-border" href="http://www.fec.gov/pdf/colagui.pdf">
            <img src="{% static "img/guide--orgs.jpg" %}" alt="Federal Election Commission Campaign Guide: Corporations and Labor Organizations, January 2007">
          </a>
          <a class="t-sans" href="http://www.fec.gov/pdf/colagui.pdf">(PDF)</a>
          <div class="icon-heading--calendar--secondary option__aside__alt-action">
            <a href="/calendar?category=EC+Periods&category=FEA+Periods&category=IE+Periods&category=report-E&category=report-M&category=report-Q">Reporting deadlines</a>
          </div>
        </div>
      </div>
      <div id="parties" class="option">
        <div class="option__content">
          <h3><a href="/registration-and-reporting/essentials-political-party-committees">Political party committees</a></h3>
          <h4>Forming a new national or state political party organization</h4>
          <p>You must register your party organization with the FEC when you raise or spend money over certain thresholds in connection with a federal election.</p>
          <p>The FEC determines if a committee has demonstrated enough national (or state) activity to qualify as a national (or state) <span class="term" data-term="party committee">party committee</span>. Before taking advantage of higher contribution limits available to these party committees, you’ll have to ask for an FEC <a href="http://www.fec.gov/pages/brochures/ao.shtml">advisory opinion</a> to verify that your committee has attained national (or state) committee status.</p>
          <p>If your party organization will be active <span class="t-bold">only</span> in state or local elections, you don’t need to register with the FEC.</p>
          <h4>Forming a local branch of an existing political party (for example, Democratic, Republican, Libertarian or Green party)</h4>
          <p>You must register your party organization with the FEC when you raise or spend money over certain thresholds in connection with a federal election.</p>
          <p>When your local party organization is required to register with the FEC, it becomes a local <span class="term" data-term="party committee">party committee</span>. Your local party committee is presumed to be affiliated with the other federal party committees in your state. Affiliated committees share limits on contributions made and received.</p>
          <p>If your party organization will be active <span class="t-bold">only</span> in state or local elections, you don’t need to register with the FEC.</p>
          <a class="button button--cta button--go" href="/registration-and-reporting/essentials-political-party-committees">Learn more</a>
        </div>
        <div class="option__aside">
          <h5 class="label">Campaign guide</h5>
          <a class="u-no-border" href="http://www.fec.gov/pdf/partygui.pdf">
            <img src="{% static "img/guide--parties.jpg" %}" alt="Federal Election Commission Campaign Guide: Political Party Committees, August 2013">
          </a>
          <a class="t-sans" href="http://www.fec.gov/pdf/partygui.pdf">(PDF)</a>
          <div class="icon-heading--calendar--secondary  option__aside__alt-action">
            <a href="/calendar?category=report-E&category=report-M&category=report-Q">Reporting deadlines</a>
          </div>
        </div>
      </div>
      <div id="nonconnected" class="option">
        <div class="option__content">
          <h3>Coming soon: Nonconnected committees</h3>
          <p>This is the FEC’s beta site, which means it’s still being developed. Learn more by reading the campaign guide, and check back soon for more information about nonconnected committees.</p>
        </div>
        <div class="option__aside">
          <h5 class="label">Campaign guide</h5>
          <a class="u-no-border" href="http://www.fec.gov/pdf/nongui.pdf">
            <img src="{% static "img/guide--nonconnected.jpg" %}" alt="Federal Election Commission Campaign Guide: Nonconnected Committees, May 2008">
          </a>
          <a class="t-sans" href="http://www.fec.gov/pdf/nongui.pdf">(PDF)</a>
          <div class="icon-heading--calendar--secondary option__aside__alt-action">
            <a href="/calendar?category=EC+Periods&category=FEA+Periods&category=IE+Periods&category=report-E&category=report-M&category=report-Q">Reporting deadlines</a>
          </div>
        </div>
      </div>
      <div class="option">
        <div class="option__content">
          <p>The best complete source for the rules that govern your federal campaign activity are the campaign guides.</p>
          <p><a href="http://www.fec.gov/info/guidesupdatenotice.pdf">Notice to all campaign guide users &raquo;</a>
        </p>
      </div>
    </section>
  </div>
  <div class="slab slab--neutral">
    <div class="container">
      <h2>Need help?</h2>
      <div class="grid grid--4-wide">
        <div class="grid__item">
          <a href="/calendar?category=report-E&category=report-M&category=report-Q">
            <aside class="card card--horizontal card--secondary">
              <div class="card__image__container">
                  <span class="card__icon i-calendar"><span class="u-visually-hidden">Icon of a calendar</span></span>
              </div>
              <div class="card__content">
                Reporting deadlines
              </div>
            </aside>
          </a>
        </div>
        <div class="grid__item">
            <aside class="card card--horizontal card--secondary">
              <div class="card__image__container">
                  <span class="card__icon i-info-person"><span class="u-visually-hidden">Icon of a customer service representative</span></span>
              </div>
              <div class="card__content">
                Give us a call
                <br>1-800-424-9530
              </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
  <div class="slab slab--neutral footer-disclaimer">
    <div class="container">
      <p class="usa-width-one-half">This site is in beta, which means we're testing content that better adheres to legal plain language requirements. This content is not finalized, is not legal advice and is subject to change.</p>
      <p class="usa-width-one-half">Everything on this site should be read in conjunction with FEC.gov. Please let us know what you think of our new content; use the feedback tool on this page.</p>
    </div>
  </div>
</article>

{% endblock %}
