{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load filters %}

{% block title %}Latest updates | FEC{% endblock %}

{% block content %}
<header class="page-header page-header--primary">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link" rel="Home">Home</a></li>
    <li class="breadcrumbs__item breadcrumbs__item--current">
      <span class="breadcrumbs__separator">›</span>
      <span>Latest updates</span>
    </li>
  </ul>
</header>

<section class="main__content--full data-container__wrapper">
  <nav class="filters filters__inner">
    <a href="/updates">All</a>
    <h3 class="u-no-margin">For press</h3>
    <ul>
      <li><a href="?update_type=press-release&update_type=weekly-digest">All press releases and digests</a></li>
      <li>
        <a href="?update_type=press-release">Press releases</a>
        <ul>
          {% for cat in settings.CONSTANTS.press_release_page_categories.items %}
            <li><a href="?update_type=press-release&category={{ cat.0 | slugify }}">{{ cat.1 }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li><a href="?update_type=weekly-digest">Weekly digest</a></li>
    </ul>
    <h3 class="u-no-margin">For filers</h3>
    <ul>
      <li>
        <a href="?update_type=fec-record">FEC Record</a>
        <ul>
          {% for cat in settings.CONSTANTS.record_page_categories.items %}
            <li><a href="?update_type=fec-record&category={{ cat.0 | slugify }}">{{ cat.1 }}</a></li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>
  <div class="data-container data-container__body">
    <div class="main">
      <h1>Latest updates
        {% if update_types %}
        :
          {% for type in update_types %}
            {{ settings.CONSTANTS.update_types | lookup:type }}
          {% endfor %}
        {% endif %}
        {% if categories %}
          >
          {% for category in categories %}
            {{ category }}
          {% endfor %}
        {% endif %}
      </h1>
      {% for update in updates %}
        {% include 'partials/update.html' with update=update %}
      {% endfor %}
      <div class="row">
        {% if updates.has_previous %}
            <a class="button button--standard button--previous" href="?page={{ updates.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"><span class="u-visually-hidden">Previous</span></a>
        {% endif %}
      <span>Page {{ updates.number }} of {{ updates.paginator.num_pages }}</span>
        {% if updates.has_next %}
            <a class="button button--standard button--next" href="?page={{ updates.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"><span class="u-visually-hidden">Next</span></a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
