{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load filters %}

{% block title %}Latest updates | FEC{% endblock %}

{% block content %}
<header class="page-header page-header--primary">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link" rel="Home">Home</a></li>
    <li class="breadcrumbs__item breadcrumbs__item--current">
      <span class="breadcrumbs__separator">›</span>
      <span>Latest updates</span>
    </li>
  </ul>
</header>

<section class="main__content--full data-container__wrapper">
  <nav class="filters filters__inner">
    <a href="/updates">All</a>
    <form action="/updates" class="js-form-nav">
      <div class="filter">
        <h3 class="u-no-margin">For press</h3>
        <ul>
          <li><a href="?update_type=press-release&update_type=weekly-digest">All press releases and digests</a></li>
          <li>
            <a href="?update_type=press-release">All press releases</a>
            <label for="release-categories">Press release categories</label>
            <select id="release-categories" name="release-category">
                <option value="">View all</option>
              {% for cat in settings.CONSTANTS.press_release_page_categories.items %}
                <option value="{{ cat.0 | slugify }}"
                  {% if cat.0|slugify == release_category %}selected{% endif %}>
                  {{ cat.1 }}</option>
              {% endfor %}
            </select>
          </li>
          <li><a href="?update_type=weekly-digest">Weekly digest</a></li>
        </ul>
      </div>
      <div class="filter">
        <h3 class="u-no-margin">For filers</h3>
        <ul>
          <li>
            <a href="?update_type=fec-record">All FEC Record articles</a>
            <label for="record-categories">FEC Record categories</label>
            <select id="record-categories" name="record-category">
              <option value="">View all</option>
              {% for cat in settings.CONSTANTS.record_page_categories.items %}
                <option value="{{ cat.0 | slugify }}"
                  {% if cat.0|slugify == record_category %}selected{% endif %}>
                  {{ cat.1 }}</option>
              {% endfor %}
            </select>
          </li>
        </ul>
      </div>
      <div class="filter">
        <button type="submit" class="button button--cta">Filter</button>
      </div>
    </form>
  </nav>
  <div class="data-container data-container__body">
    <div class="main">
      <h1>{{ page_context.title }}
        {% if update_types %}
        :
          {% for type in update_types %}
            {{ settings.CONSTANTS.update_types | lookup:type }}
            {% if type == 'press-release' and release_category %}
              > {{ release_category }}
            {% elif type == 'fec-record' and record_category %}
             > {{ record_category }}
            {% endif %}
          {% endfor %}
        {% endif %}
      </h1>
      {% for update in updates %}
        {% include 'partials/update.html' with update=update %}
      {% endfor %}
      <div class="row">
        {% if updates.has_previous %}
            <a class="button button--standard button--previous" href="?page={{ updates.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"><span class="u-visually-hidden">Previous</span></a>
        {% endif %}
      <span>Page {{ updates.number }} of {{ updates.paginator.num_pages }}</span>
        {% if updates.has_next %}
            <a class="button button--standard button--next" href="?page={{ updates.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"><span class="u-visually-hidden">Next</span></a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
