{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load filters %}
{% load updates %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}
<nav class="page-header page-header--secondary">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link" rel="Home">Home</a></li>
    <li class="breadcrumbs__item">
      <span class="breadcrumbs__separator">›</span>
      <a class="breadcrumbs__link" href="/updates?update_type=meetings">Commission meetings</a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--current">
      <span class="breadcrumbs__separator">›</span>
      <span>{{ self.title }}</span>
    </li>
  </ul>
</nav>

<article class="main">
  <div class="container">
    <header class="heading--main heading--with-date">
      <ul class="tags">
        <li class="tag tag--secondary t-upper">Commission Meetings</li>
      </ul>
      <div class="row">
        {% spaceless %}{# for inline blocks #}
        <h1 class="heading__left">{% formatted_title self %}</h1>
        <div class="heading__right">
          <span class="t-sans">{{ self.date|date:'F j, Y' }}</span><br>
        </div>
        {% endspaceless %}
      </div>
    </header>
    {% if self.meeting_type == 'O' %}
      <p>The Commission considers new regulations, advisory opinions and other public matters at open meetings, which are typically held at FEC headquarters on Thursdays at 10:00am.</p>
      <p>Members of the public can attend any open meeting or hearing in person. Open meetings are also streamed live online. To attend in person, please bring a photo ID and be prepared to go through a security check. After security, attendees are escorted to the Commission's hearing room.</p>
    {% elif self.meeting_type == 'E' %}
      <p>The Commission meets regularly in executive sessions to discuss pending enforcement actions, litigation and other matters that, by law, must be kept confidential.</p>
    {% endif %}

    {% if self.live_video_url %}
    <div class="row">
      <div class="slab slab--neutral u-padding--left usa-width-five-sixths">
        <div class="usa-width-one-fourth u-padding--left">
          <a class="u-no-border" href="{{ self.live_video_url }}"><img src={% static 'img/thumbnail--video.png' %} alt="Video"></a>
          </div>
        <div class="usa-width-two-thirds">
          <h3 class="u-no-margin"><a href="{{ self.live_video_url }}">Watch the meeting live at 10:00 a.m. (EDT)</a></h3>
          <p class="u-no-margin">This meeting is currently being streamed{% if self.live_video_captions %} with <a href="{{ self.live_video_captions }}">live captions</a>{% endif %}. The recorded video, audio and captions will be posted on this page after the meeting ends.</p>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="u-padding--top">
      {% if self.agenda %}
      <div class="agenda__heading">
        <h2 class="u-padding--top u-no-margin">Agenda</h2>
        <p>{{ self.date|date:'l, F j, Y' }} &nbsp;|&nbsp; {% if self.time %}{{ self.time|date:'h:i A' }}{% else %}10:00 AM{% endif %}</p>
      </div>
      <ol class="agenda">
      {% for block in self.agenda %}
        <li>
            <h3 class="u-no-margin">{{ block.value.item_title }}</h3>
            {% if block.value.item_audio %}<p class="t-sans u-no-margin"><span class="icon icon--inline--left i-speaker"></span><a href="{{ block.value.item_audio.file.url }}">Listen to discussion of this item</a></p>{% endif %}
            <div class="agenda__text">
              {{ block.value.item_text }}
            </div>
         </li>
      {% endfor %}
      </ol>
      {% else %}
      <div class="u-padding--bottom">
        {% include_block self.imported_html  %}
      </div>
      {% endif %}

      {% if self.approved_minutes_link or self.draft_minutes_links %}
      <h2>Minutes for this meeting</h2>
      <p>
        <a class="pdf-link" href="{{ self.approved_minutes_link }}">Approved minutes</a>
        (Approved on {{ self.approved_minutes_date|date:'F j, Y' }})
      </p>
      {% if self.draft_minutes_links %}
      <p>
        <a class="pdf-link" href="self.draft_minutes_links">Draft minutes</a>
      </p>
      {% endif %}
      {% endif %}

      {% if self.full_video_url or self.full_audio_url or self.mtg_transcript_url %}
      <h3>Recordings</h3>
      <div class="grid grid--4-wide u-padding--bottom">
        {% if self.full_video_url %}
          <div class="grid__item">
            <a href="{{ self.full_video_url }}" class="u-no-border"><img src={% static 'img/thumbnail--video.png' %} alt="Video"></a>
            <br>
            <a href="{{ self.full_video_url }}">Full meeting video</a>
          </div>
        {% endif %}
        {% if self.full_audio_url %}
          <div class="grid__item">
            <a href="{{ self.full_audio_url }}" class="u-no-border"><img src={% static 'img/thumbnail--audio.png' %} alt="Audio"></a>
            <br>
            <a href="{{ self.full_audio_url }}">Full meeting audio</a>
          </div>
        {% endif %}
        {% if self.mtg_transcript_url %}
          <div class="grid__item">
            <a href="{{ self.mtg_transcript_url }}" class="u-no-border"><img src={% static 'img/thumbnail--captions.png' %} alt="Captions"></a>
            <br>
            <a href="{{ self.mtg_transcript_url }}">Full meeting captions</a>
          </div>
        {% endif %}
      </div>
      {% endif %}

      {% if self.sunshine_act_links %}
      <h2 class="u-no-margin">Notices about this meeting</h2>
      <div class="list--spacious">
      <ul>
      {% for link in self.sunshine_act_links|splitlines reversed %}
        <li>
          <p>
            <a class="pdf-link" href="{{ link }}">
              {% if self.sunshine_act_links|splitlines|length > 1 and forloop.counter == 1%}Amended{% endif %}
              Sunshine Act notice
            </a>
          </p>
        </li>
      {% endfor %}
      </ul>
      </div>
      {% endif %}

      {% if not self.agenda and self.meeting_type == 'O' and not self.imported_html %}
      {% comment %}
      If this is an open meeting and there's no agenda (or imported HTML), then display this "coming soon" language
      {% endcomment %}
      <h3>More information about this meeting will be published as it becomes available.</h3>
      {% endif %}

    </div>
  </div>
</article>

  <div class="slab slab--neutral">
    <div class="container">
      <div class="grid grid--4-wide u-padding--top">
        <div class="grid__item">
          <a href="/calendar/?category=Executive+Sessions&category=Open+Meetings&category=Public+Hearings">
            <aside class="card card--horizontal card--secondary">
              <div class="card__image__container">
                <span class="card__icon i-calendar"><span class="u-visually-hidden">Icon of a calendar</span></span>
              </div>
              <div class="card__content">
                Find upcoming Commission meetings
              </div>
            </aside>
          </a>
        </div>
      </div>
    </div>
  </div>

{% include 'partials/disclaimer.html' %}
{% endblock %}
