{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load filters %}
{% load updates %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}
<nav class="page-header page-header--secondary">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link" rel="Home">Home</a></li>
    <li class="breadcrumbs__item">
      <span class="breadcrumbs__separator">›</span>
      <a class="breadcrumbs__link" href="/meetings">Commission meetings</a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--current">
      <span class="breadcrumbs__separator">›</span>
      <span>{{ self.title }}</span>
    </li>
  </ul>
</nav>

<article class="main">
  <div class="container">
    <header class="heading--main heading--with-date">
      <ul class="tags">
        <li class="tag tag--secondary t-upper">Commission Meetings</li>
      </ul>
      <div class="row">
        {% spaceless %}{# for inline blocks #}
        <h1 class="heading__left">{% formatted_title self %}</h1>
        <div class="heading__right">
          <span class="t-sans">{{ self.date|date:'F j, Y' }}{% if self.end_date %} - {{self.end_date|date:'F j, Y' }}{% endif %}</span><br>
        </div>
        {% endspaceless %}
      </div>
    </header>
    {% if self.additional_information %}
       <p class="t-bold">{{ self.additional_information }}</p>
      {% endif %}
    {% if self.meeting_type == 'O' %}
      <p>The Commission considers new regulations, advisory opinions and other public matters at open meetings, which are typically held at FEC headquarters on Thursdays at 10:00am.</p>
      <p>Members of the public can attend any open meeting or hearing in person. Open meetings are also streamed live online. To attend in person, please bring a photo ID and be prepared to go through a security check. After security, attendees are escorted to the Commission's hearing room.</p>
    {% elif self.meeting_type == 'E' %}
      <p>The Commission meets regularly in executive sessions to discuss pending enforcement actions, litigation and other matters that, by law, must be kept confidential.</p>
    {% elif self.meeting_type == 'H' %}
       <p>The Commission considers new regulations, advisory opinions and other public matters at public hearings. Members of the public can attend public hearing in person. Public hearings are also streamed live online. To attend in person, please bring a photo ID and be prepared to go through a security check. After security, attendees are escorted to the Commission's hearing room.</p>
       {% if self.extra_hearing_text %}
       <p>{{ self.extra_hearing_text }}</p>
       {% endif %}


    {% endif %}

    {% if self.live_video_embed %}
    <div class="row">
      <div class="slab slab--neutral slab--inline">
        <h2 class="u-padding--left">Watch the meeting live</h2>
        <p class="u-padding--left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="u-margin--left u-margin--right">
          <div class="video__wrapper">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ self.live_video_embed }}?modestbranding=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="u-padding--top">
      {% if self.agenda %}
      <div class="agenda__heading">
        <h2 class="u-padding--top u-no-margin">Agenda</h2>
        <p>{{ self.date|date:'l, F j, Y' }} {% if self.end_date %}through {{self.end_date|date:'l, F j, Y' }}{% endif %}
        &nbsp;|&nbsp; {% if self.time %}{{ self.time|date:'h:i A' }}{% else %}10:00 AM{% endif %}</p>
      </div>
      <ol class="agenda">
      {% for block in self.agenda %}
        <li>
            <h3 class="u-no-margin">{{ block.value.item_title }}</h3>
            {% if block.value.item_audio %}<p class="t-sans u-no-margin"><span class="icon icon--inline--left i-speaker"></span><a href="{{ block.value.item_audio.file.url }}">Listen to discussion of this item</a></p>{% endif %}

            {% if block.value.item_video %}<p class="t-sans u-no-margin"><span class="icon icon--inline--left i-play"></span><a href="{{ block.value.item_video }}">Watch the discussion of this item</a></p>{% endif %}

            <div class="agenda__text">
              {{ block.value.item_text }}
            </div>
         </li>
      {% endfor %}
      </ol>
      {% else %}
      <div class="u-padding--bottom">
        {% include_block self.imported_html  %}
      </div>
      {% endif %}

      {% if self.approved_minutes_link or self.draft_minutes_links %}
      <h2>Minutes for this meeting</h2>
      <p>
        <a class="pdf-link" href="{{ self.approved_minutes_link }}">Approved minutes</a>
        (Approved on {{ self.approved_minutes_date|date:'F j, Y' }})
      </p>
      {% if self.draft_minutes_links %}
      <p>
        <a class="pdf-link" href="{{ self.draft_minutes_links }}">Draft minutes</a>
      </p>
      {% endif %}
      {% endif %}

      {% if self.full_video_url or self.full_audio_url or self.mtg_transcript_url %}
      <h3>Recordings</h3>
      <div class="grid grid--4-wide u-padding--bottom">
        {% if self.full_video_url %}
          <div class="grid__item">
            <a href="{{ self.full_video_url }}" class="u-no-border"><img src={% static 'img/thumbnail--video.png' %} alt="Video"></a>
            <br>
            <a href="{{ self.full_video_url }}">Full meeting video</a>
          </div>
        {% endif %}
        {% if self.full_audio_url %}
          <div class="grid__item">
            <a href="{{ self.full_audio_url }}" class="u-no-border"><img src={% static 'img/thumbnail--audio.png' %} alt="Audio"></a>
            <br>
            <a href="{{ self.full_audio_url }}">Full meeting audio</a>
          </div>
        {% endif %}
        {% if self.mtg_transcript_url %}
          <div class="grid__item">
            <a href="{{ self.mtg_transcript_url }}" class="u-no-border"><img src={% static 'img/thumbnail--captions.png' %} alt="Captions"></a>
            <br>
            <a href="{{ self.mtg_transcript_url }}">Full meeting captions</a>
          </div>
        {% endif %}
      </div>
      {% endif %}

        {% if self.sunshine_act_links or self.sunshine_act_doc_upld %}
         <h2 class="u-no-margin">Notices about this meeting</h2>
         <div class="list--spacious">
          <ul>
          {% endif %}
          {% if self.sunshine_act_doc_upld %}
            {% for block in self.sunshine_act_doc_upld %}
             <li>
              <p>
                <a class="pdf-link" href="{{ block.value.file.url }}">{% if forloop.counter >= 2 %}Amended {% endif %}Sunshine Act Notice</a>
                 {% if self.sunshine_act_doc_upld|length > 2 and forloop.counter >= 2%}- {{ forloop.counter0 }}{% endif %}
              </p>
             </li>
             {% endfor %}
          {% elif self.sunshine_act_links %}
             {% for link in self.sunshine_act_links|splitlines %}
               <li>
                <p>
                  <a class="pdf-link" href="{{ link }}">
                  {% if forloop.counter >= 2 %}Amended{% endif %}
                   Sunshine Act Notice
                  {% if self.sunshine_act_links|splitlines|length > 2 and forloop.counter >= 2%}- {{ forloop.counter0 }}{% endif %}
                  </a>
                 </p>
                </li>
             {% endfor %}
            </ul>
           </div>
          {% endif %}

      {% if not self.agenda and self.meeting_type == 'O' and not self.imported_html %}
      {% comment %}
      If this is an open meeting and there's no agenda (or imported HTML), then display this "coming soon" language
      {% endcomment %}
      <h3>More information about this meeting will be published as it becomes available.</h3>
      {% endif %}

    </div>
  </div>
</article>

  <div class="slab slab--neutral">
    <div class="container">
      <div class="grid grid--4-wide u-padding--top">
        <div class="grid__item">
          <a href="/calendar/?category=Executive+Sessions&category=Open+Meetings&category=Public+Hearings">
            <aside class="card card--horizontal card--secondary">
              <div class="card__image__container">
                <span class="card__icon i-calendar"><span class="u-visually-hidden">Icon of a calendar</span></span>
              </div>
              <div class="card__content">
                Find upcoming Commission meetings
              </div>
            </aside>
          </a>
        </div>
      </div>
    </div>
  </div>

{% include 'partials/disclaimer.html' %}
{% endblock %}
