{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load filters %}
{% load updates %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}
<nav class="page-header page-header--secondary">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link" rel="Home">Home</a></li>
    <li class="breadcrumbs__item">
      <span class="breadcrumbs__separator">›</span>
      <a class="breadcrumbs__link" href="/updates?update_type=agendas">Meeting agendas</a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--current">
      <span class="breadcrumbs__separator">›</span>
      <span>{{ self.title }}</span>
    </li>
  </ul>
</nav>

<article class="main">
  <div class="container">
    <header class="heading--main heading--with-date">
      <ul class="tags">
        <li class="tag tag--secondary t-upper">Commission Meetings</li>
      </ul>
      <div class="row">
        {% spaceless %}{# for inline blocks #}
        <h1 class="heading__left">{% formatted_title self %}</h1>
        <div class="heading__right">
          <span class="t-sans">{{ self.date|date:'F j, Y' }}</span><br>
        </div>
        {% endspaceless %}
      </div>
    </header>

    <p>The Commission considers new regulations, advisory opinions and other public matters at open meetings, which are typically held at FEC headquarters on Thursdays at 10:00am.</p>
    <p>Members of the public can attend any open meeting or hearing in person. Open meetings are also streamed live online. To attend in person, please bring a photo ID and be prepared to go through a security check. After security, attendees are escorted to the Commission's hearing room.</p>

    <div class="main__content u-padding--top">

      {% if self.agenda %}
      <h2>Agenda</h2>
      <p>{{ self.date|date:'l, F j, Y' }} | {% if self.time %}{{ self.time|date:'h:i A' }}{% else %}10:00 AM{% endif %}</p>


      <ol class="list--numbered u-padding--bottom">
      {% for block in self.agenda %}
        <li>
        {% for subblock in block.value %}
          {% if subblock.block_type == "item_title" %}
            <h3 class="u-no-margin">{{ subblock.value }}</h3>
          {% elif subblock.block_type == "item_text" %}
            {{subblock.value}}
          {% endif %}
        {% endfor %}
         </li>
        {% endfor %}
      </ol>
      {% else %}
      <div class="u-padding--bottom">
        {% include_block self.imported_html  %}
      </div>
      {% endif %}

      {% if self.approved_minutes_link %}
      <h2>Minutes for this meeting</h2>
      <p>Approved on {{ self.approved_minutes_date|date:'F j, Y' }}
      <span class="u-padding--left icon-document--inline--left"></span>
      <a href="self.approved_minutes_link">Agenda document</a>
      {% if self.draft_minutes_links %}
      <br>
      Draft minutes
      <span class="u-padding--left icon-document--inline--left"></span>
      <a href="self.draft_minutes_links">Agenda document</a>
      </p>
      {% endif %}
      {% endif %}

      {% if self.mtg_media %}
      <h3>Recordings</h3>
      <div class="grid grid--4-wide u-padding--bottom">
        {% for block in self.mtg_media %}
          {% if block.block_type == "full_video_url" %}
            <div class="grid__item">
              <a href="{{ block.value }}" class="u-no-border"><img src={% static 'img/thumbnail--video.png' %} alt="Video"></a>
              <br>
              <a href="{{ block.value }}">Full meeting video</a>
            </div>
          {% elif block.block_type == "full_audio_url" %}
            <div class="grid__item">
              <a href="{{ block.value }}" class="u-no-border"><img src={% static 'img/thumbnail--audio.png' %} alt="Audio"></a>
              <br>
              <a href="{{ block.value }}">Full meeting audio</a>
            </div>
          {% elif block.block_type == "mtg_transcript_url" %}
            <div class="grid__item">
              <a href="{{ block.value }}" class="u-no-border"><img src={% static 'img/thumbnail--captions.png' %} alt="Captions"></a>
              <br>
              <a href="{{ block.value }}">Full meeting captions</a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}

      {% if self.sunshine_act_links %}
      <h2 class="u-no-margin">Notices about this meeting</h2>      
      <div class="list--spacious">
      <ul class=" t-sans">
      {% for link in self.sunshine_act_links|splitlines reversed %}
        <li>
          <div class="icon-document--inline--left"></div>
          <a href="{{ link }}">
            {% if self.sunshine_act_links|splitlines|length > 1 and forloop.counter == 1%}Amended{% endif %}
            Sunshine Act notice
          </a>
        </li>
      {% endfor %}
      </ul>
      </div>
      {% endif %}
    </div>
  </div>
</article>

  <div class="slab slab--neutral">
    <div class="container">
      <div class="grid grid--4-wide u-padding--top">
        <div class="grid__item">
          <a href="/calendar/?category=Executive+Sessions&category=Open+Meetings&category=Public+Hearings">
            <aside class="card card--horizontal card--secondary">
              <div class="card__image__container">
                <span class="card__icon i-calendar"><span class="u-visually-hidden">Icon of a calendar</span></span>
              </div>
              <div class="card__content">
                Find upcoming Commission meetings
              </div>
            </aside>
          </a>
        </div>
      </div>
    </div>
  </div>

{% include 'partials/disclaimer.html' %}
{% endblock %}
