{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}

<header class="content__section--extra slab--secondary">
  <div class="container">
      <h1 class="t-ruled--bottom t-display">Registration Options</h1>
      <p class="usa-width-one-half">By law, certain people and groups must register with the FEC and file regular reports about their campaign financial activity. Registrants range from individuals to candidates to political action committees (PACs). Every group has different registration and reporting rules. This is why it’s important to understand each and register correctly.</p>
  </div>
</header>

<article class="main">
  <div class="container">
    <h2 class="h1">Not sure what to choose? Here’s a quick review:</h2>
    <div class="row">
      <div class="content__section main__content">
        <h2>Candidates and candidate committees</h2>
        <p>Candidates are people running for elected federal office. Federal office is the House of Representatives, the Senate, or the office of the president.</p>
        <p>Candidates must designate at least one campaign committee. These authorized groups are called candidate committees.</p>
      </div>
      <div class="sidebar">
        <div class="sidebar__section--skinny">
          <div class="card card--vertical card--secondary">
            <img alt="Call center support icon" src="/static/img/i-register--neutral.svg" class="icon--complex card__image">
            <div class="card__content">
              <a href="/essentials-house-and-senate-candidates-and-committees/">Learn more</a>
            </div>
          </div>
        </div>
      </div>   
    </div>
    <div class="row is-disabled">
      <div class="content__section content__section--ruled main__content">
        <h2>Corporations and labor organizations</h2>
        <p>This is the FEC’s beta site, which means it’s still being developed. Learn more by reading the campaign guide, and check back soon for more information about corporations and labor organizations.</p>
      </div>
      <div class="sidebar">
        <div class="sidebar__section--skinny content__section--ruled">
          <div class="card card--vertical card--secondary">
            <img alt="Call center support icon" src="/static/img/i-register--neutral.svg" class="icon--complex card__image">
            <div class="card__content">
              <span>Learn more</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row is-disabled">
      <div class="content__section content__section--ruled main__content">
        <h2>Nonconnected committees</h2>
        <p>This is the FEC’s beta site, which means it’s still being developed. Learn more by reading the campaign guide, and check back soon for more information about nonconnected committees.</p>
      </div>
      <div class="sidebar">      
        <div class="sidebar__section--skinny content__section--ruled">
          <div class="card card--vertical card--secondary">
            <img alt="Call center support icon" src="/static/img/i-register--neutral.svg" class="icon--complex card__image">
            <div class="card__content">
              <span>Learn more<span>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <div class="row is-disabled">
      <div class="content__section content__section--ruled main__content">
        <h2>Political party committees</h2>
        <p>This is the FEC’s beta site, which means it’s still being developed. Learn more by reading the campaign guide, and check back soon for more information about political party committees.</p>
      </div>
      <div class="sidebar">
        <div class="sidebar__section--skinny content__section--ruled">
          <div class="card card--vertical card--secondary">
            <img alt="Call center support icon" src="/static/img/i-register--neutral.svg" class="icon--complex card__image">
            <div class="card__content">
              <span>Learn more</span>
            </div>
          </div>   
        </div>
      </div>
    </div>            
  </div>
</article>


{% endblock %}
