{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load updates %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}
<section class="hero hero--secondary hero--press" aria-labelledby="hero-heading">
  <div class="hero__image"></div>
  <div class="container">
    <h1 id="hero-heading" class="hero__title">{{ self.title }}</h1>
    <div class="hero__content">{{ self.hero }}</div>
  </div>
</section>

<div>
  <div id="options" class="container main">
    <div class="sidebar-container sidebar-container--left">
      <div class="js-sticky-side" data-sticky-container="options">
        <nav class="sidebar sidebar--neutral sidebar--left side-nav js-toc">
          <ul class="sidebar__content">
              <li class="side-nav__item"><a class="side-nav__link" href="#press-releases">Press releases</a></li>
              <li class="side-nav__item"><a class="side-nav__link" href="#weekly-digest">Weekly Digest</a></li>
              {% for option in self.option_blocks %}
                <li class="side-nav__item"><a class="side-nav__link" href="#{{option.value.title | slugify }}">{{ option.value.title }}</a></li>
              {% endfor %}
              <li class="side-nav__item"><a class="side-nav__link" href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <section class="main__content--right">
      <div id="press-releases" class="option">
        <h2><a href="/updates?update_type=press-release">Press releases</a></h2>
        <div class="content__section">
          {{ self.release_intro }}
        </div>
        <div class="post-feed">
          {% press_releases %}
          <a class="button button--standard button--go" href="/updates?update_type=press-release">All press releases</a>
        </div>
      </div>

      <div id="weekly-digest" class="option">
        <h2><a href="/updates?update_type=weekly-digest">Weekly Digest</a></h2>
        <div class="content__section">
          {{ self.digest_intro }}
        </div>
        <div class="post-feed">
          {% weekly_digests %}
          <a class="button button--standard button--go" href="/updates?update_type=weekly-digest">All Weekly Digests</a>
        </div>
      </div>

      {% for option in self.option_blocks %}
      <div id="{{ option.value.title | slugify }}" class="option">
        <h2><a href="{{ option.value.related_page.url }}">{{ option.value.title }}</a></h2>
        {{ option.value.intro }}
        <a href="{{ option.value.related_page.url }}" class="button button--cta">{{ option.value.button_text }}</a>
      </div>
      {% endfor %}

      <div id="contact" class="option">
        <h2>Contact</h2>
        {{ self.contact_intro }}
        <ul class="grid--3-wide row">
          <li class="grid__item contact-item">
            <div class="contact-item__icon">
              <img src="{% static "img/i-phone--primary.svg" %}" alt="Icon of a phone">
            </div>
            <div class="contact-item__content">
              <h5 class="contact-item__title">Local</h5>
              <span class="t-block">(202) 694-1220</span>
              <span class="t-block">7:00 a.m. to 6:00 p.m.</span>
              <span class="t-block">M-F, Eastern Time</span>
            </div>
          </li>
          <li class="grid__item contact-item">
            <div class="contact-item__icon">
              <img src="{% static "img/i-email--primary.svg" %}" alt="Icon of an email envelope">
            </div>
            <div class="contact-item__content">
              <span class="t-block"><a href="mailto:press@fec.gov">press@fec.gov</a></span>
            </div>
          </li>
        </ul>
        <p>If you need to reach the Press Office during non-business hours, please call the FEC's Press Officer, Judith Ingram, at (202) 531-2882.</p>
      </div>
    </section>
  </div>
  <div class="slab slab--neutral">
    <div class="container">
      <h2>Additional resources</h2>
      <div class="grid grid--4-wide">
        <div class="grid__item">
          <a href="/updates">
            <aside class="card card--horizontal card--secondary">
              <div class="card__image__container">
                  <span class="card__icon i-info-person"><span class="u-visually-hidden">Icon of a customer service representative</span></span>
              </div>
              <div class="card__content">
                Latest Updates
              </div>
            </aside>
          </a>
        </div>
        <div class="grid__item">
          <a href="/calendar">
            <aside class="card card--horizontal card--secondary">
              <div class="card__image__container">
                  <span class="card__icon i-calendar"><span class="u-visually-hidden">Icon of a calendar</span></span>
              </div>
              <div class="card__content">
                Calendar
              </div>
            </aside>
          </a>
        </div>
        <div class="grid__item">
          <a href="{{ settings.FEC_APP_URL }}">
            <aside class="card card--horizontal card--secondary">
              <div class="card__image__container">
                  <span class="card__icon i-table"><span class="u-visually-hidden">Icon of a table of data</span></span>
              </div>
              <div class="card__content">
                Campaign finance data
              </div>
            </aside>
          </a>
        </div>
      </div>
    </div>
  </div>
  {% include 'partials/disclaimer.html' %}
</div>

{% endblock %}
