{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load filters %}
{% load static %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}

{% block breadcrumbs %}
  {% include 'partials/breadcrumbs.html' with page=self links=self.get_ancestors style=self.breadcrumb_style %}
{% endblock %}

{% comment %} TODO:MOVE STYLES  TO STYLEESHEEET  {% endcomment %}
<style>
#static_notes p,
.footnote_row p ,
#header_notes_modal p 
{
  display: inline
}

#header_notes_modal p  {
  margin-left: 2rem;  
}


td a sup{
transition: transform .2s;
}

td:hover a sup {
  transform: scale(2);
}

</style>

<article class="main container">

  <h1 class="heading--main">{{ self.title }}</h1>

    {% comment %}
      Wagtail did away with the .rich-text wrapper
      but we still have some style rules that rely on it
      so we're adding it back for blocks defined in models.py as RichTextBlock
    {% endcomment %}
    <div class=""> 
  <table class="simple-table simple-table--display simple-table-cms election-dates-table">
  <tr>
    <th>State</th>
    <th>Election date</th>
    <th>Close of books<a href='#hdr+'><sup>+</sup></a></th>
    <th>Mailing deadline<a href='#hdr++'><sup>++</sup></a></th>
    <th>Filing deadline<a href='#hdr++'><sup>++</sup></a></th>
    <th>48-Hour Notices<a href='#hdr**'><sup>**</sup></a><br>(candidates only)</th>
  </tr>

     {% for block in self.states %}
    
       {% if block.value.state_table %}
    
          {% include_block block.value.bound_blocks.state_table %}
    
        {% endif %}
   
    {% endfor %}
   
   
    </table>

  {% for block in self.footnotes %}

     {% if block.block_type == 'title' %}
      
      {% verbatim %} 
          <script>const {% endverbatim %} {{ block.value.split|join:"_" | lower}} {% verbatim %} = { 
      {% endverbatim %}

    {% endif %}
    {% if block.block_type == 'footnote' %}

      {% for note in block.value %}
          {% comment %}   
          SEE JSONS-Script: https://docs.djangoproject.com/en/4.1/ref/templates/builtins/#json-script 
          {% endcomment %}

           '{{ note.footnote_number }}':'{{  note.footnote_text  }}',
      {% endfor %}
        {% verbatim %}   } </script> {% endverbatim %} 
     {% endif %}

   {% endfor %}

    </div>
    {% if self.citations %}
      <div id="legal-citations" class="sidebar--secondary t-sans">
        <h4 class="sidebar__title">Legal citations</h4>
        <div class="sidebar__content">
          <div class="grid grid--2-wide">
          {% for citation in self.citations %}
            {% for block in citation.value %}
              <div class="grid__item">
                <p class="t-bold">{{ block.label }}</p>
                <div class="rich-text">{{ block.content }}</div>
              </div>
            {% endfor %}
          {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

</article>

{% include 'partials/disclaimer.html' %}

{% endblock %}

{% block extra_js %}
  

 <script> window.BASE_PATH = '/data' </script>
 <script type="text/javascript" src="{% asset_for_js 'data-init.js' %}"></script>
 <script type="text/javascript" src="{% asset_for_js 'reporting-dates-tables.js' %}"></script>

{% endblock %}

