{% set citation_note = citation_note if citation_note is defined else group.citation_note %}
{% if citation_note.previous_citations %}
  {% set previous_citations = citation_note.previous_citations %}
  {% include 'partials/legal-regulation-citation-change.jinja' %}
{% endif %}
{% for description in citation_note.descriptions %}
  <div>{{ description }}</div>
{% endfor %}
{% for source_url in citation_note.source_urls %}
  <div><a href="{{ source_url }}" target="_blank" rel="noopener noreferrer">View the FEC conversion table</a></div>
{% endfor %}
