<div class="slab slab--neutral footer-disclaimer">
  <div class="container">
      <p class="usa-width-one-half">This information is not intended to replace the law or to change its meaning, nor does this information create or confer any rights for or on any person or bind the Federal Election Commission or the public.</p>
      <p class="usa-width-one-half">The reader is encouraged also to consult the Federal Election Campaign Act of 1971, as amended (52 U.S.C. 30101 et seq.), Commission regulations (Title 11 of the Code of Federal Regulations), Commission advisory opinions and applicable court decisions.</p>
  </div>
</div>
