<div class="toggles--simple">
  Sort by:
  <button
    class="toggle js-toggle-list-sort
      {{#if (eq listEventOrder 'monthTime')}}is-active{{/if}}"
    data-trigger-sort="monthTime">Date</button>
  |
  <button
    class="toggle js-toggle-list-sort
      {{#if (eq listEventOrder 'monthCategory')}}is-active{{/if}}"
    data-trigger-sort="monthCategory">Category</button>
</div>
