<div class="dropdown">
  <button class="button button--standard dropdown__button button--subscribe">Subscribe</button>
  <ul class="dropdown__panel dropdown__panel--right" aria-hidden="true">
    <li class="dropdown__item"><a class="dropdown__value" href="{{subscribe}}">Apple calendar or Outlook</a></li>
    <li class="dropdown__item"><a class="dropdown__value" href="{{subscribe_google}}">Google calendar</a></li>
    <li class="dropdown__item"><a class="dropdown__value" href="{{subscribe_ms365}}">Microsoft 365</a></li>
    <li class="dropdown__item"><a class="dropdown__value" href="https://example.com/calendar.ics">iCal Feed</a></li>
  </ul>
</div>
