<div class="dropdown">
  <button class="button button--standard dropdown__button button--subscribe">Subscribe</button>
  <ul class="dropdown__panel dropdown__panel--right" aria-hidden="true">
    <li class="dropdown__item"><a class="dropdown__value" href="{{calendarSubscribe}}">Apple calendar</a></li>
    <li class="dropdown__item"><a class="dropdown__value" href="{{googleSubscribe}}">Google calendar</a></li>
    <li class="dropdown__item"><a class="dropdown__value" href="{{calendarSubscribe}}">Microsoft Outlook calendar</a></li>
  </ul>
</div>

