<section id="bulk-data" class="row" aria-hidden="true" role="tabpanel">
  <h2>Download bulk data</h2>
  <div class="content__section t-sans">
    <div class="js-accordion accordion--neutral" data-content-prefix="first">
      <button type="button" class="js-accordion-trigger accordion__button">All candidates</button>
      <div class="accordion__content">
        <i class="icon i-download icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <ul class="list--flat-bordered">
            <li><a href="/files/bulk-downloads/2018/weball18.zip">2017–2018</a></li>
            <li><a href="/files/bulk-downloads/2016/weball16.zip">2015–2016</a></li>
            <li><a href="/files/bulk-downloads/2014/weball14.zip">2013–2014</a></li>
            <li><a href="/files/bulk-downloads/2012/weball12.zip">2011–2012</a></li>
            <li><a href="/files/bulk-downloads/2010/weball10.zip">2009–2010</a></li>
            <li><a href="/files/bulk-downloads/2008/weball08.zip">2007-2008</a></li>
            <li><a href="/files/bulk-downloads/2006/weball06.zip">2005–2006</a></li>
            <li><a href="/files/bulk-downloads/2004/weball04.zip">2003–2004</a></li>
            <li><a href="/files/bulk-downloads/2002/weball02.zip">2001-2002</a></li>
            <li><a href="/files/bulk-downloads/2000/weball00.zip">1999–2000</a></li>
            <li><a href="/files/bulk-downloads/1998/weball98.zip">1997–1998</a></li>
            <li><a href="/files/bulk-downloads/1996/weball96.zip">1995–1996</a></li>
            <li><a href="/files/bulk-downloads/1994/weball94.zip">1993–1994</a></li>
            <li><a href="/files/bulk-downloads/1992/weball92.zip">1991–1992</a></li>
            <li><a href="/files/bulk-downloads/1990/weball90.zip">1989–1990</a></li>
            <li><a href="/files/bulk-downloads/1988/weball88.zip">1987–1988</a></li>
            <li><a href="/files/bulk-downloads/1986/weball86.zip">1985–1986</a></li>
            <li><a href="/files/bulk-downloads/1984/weball84.zip">1983–1984</a></li>
            <li><a href="/files/bulk-downloads/1982/weball82.zip">1981–1982</a></li>
            <li><a href="/files/bulk-downloads/1980/weball80.zip">1979–1980</a></li>
          </ul>
        </div>
        <p class="icon-download--inline--left"><a href="#">Header file</a></p>
        <p><a href="/campaign-finance-data/all-candidates-file-metadata">Metadata for this file</a><i class="icon icon--small i-arrow-right icon--inline--right"></i></p>
        <p>The all candidate summary file contains one record including summary financial information for all candidates who raised or spent money during the period no matter when they are up for election. </p>
      </div>
      <button type="button" class="js-accordion-trigger accordion__button">Candidate master</button>
      <div class="accordion__content">
        <h4 class="t-upper">Candidate master</h4>
        <i class="icon i-download icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <ul class="list--flat-bordered">
            <li><a href="/files/bulk-downloads/2018/cn18.zip">2017–2018</a></li>
            <li><a href="/files/bulk-downloads/2016/cn16.zip">2015–2016</a></li>
            <li><a href="/files/bulk-downloads/2014/cn14.zip">2013–2014</a></li>
            <li><a href="/files/bulk-downloads/2012/cn12.zip">2011–2012</a></li>
            <li><a href="/files/bulk-downloads/2010/cn10.zip">2009–2010</a></li>
            <li><a href="/files/bulk-downloads/2008/cn08.zip">2007-2008</a></li>
            <li><a href="/files/bulk-downloads/2006/cn06.zip">2005–2006</a></li>
            <li><a href="/files/bulk-downloads/2004/cn04.zip">2003–2004</a></li>
            <li><a href="/files/bulk-downloads/2002/cn02.zip">2001-2002</a></li>
            <li><a href="/files/bulk-downloads/2000/cn00.zip">1999–2000</a></li>
            <li><a href="/files/bulk-downloads/1998/cn98.zip">1997–1998</a></li>
            <li><a href="/files/bulk-downloads/1996/cn96.zip">1995–1996</a></li>
            <li><a href="/files/bulk-downloads/1994/cn94.zip">1993–1994</a></li>
            <li><a href="/files/bulk-downloads/1992/cn92.zip">1991–1992</a></li>
            <li><a href="/files/bulk-downloads/1990/cn90.zip">1989–1990</a></li>
            <li><a href="/files/bulk-downloads/1988/cn88.zip">1987–1988</a></li>
            <li><a href="/files/bulk-downloads/1986/cn86.zip">1985–1986</a></li>
            <li><a href="/files/bulk-downloads/1984/cn84.zip">1983–1984</a></li>
            <li><a href="/files/bulk-downloads/1982/cn82.zip">1981–1982</a></li>
            <li><a href="/files/bulk-downloads/1980/cn80.zip">1979–1980</a></li>
          </ul>
        </div>
        <p class="icon-download--inline--left"><a href="files/bulk-downloads/data_dictionaries/cn_header_file.csv">Header file</a></p>
        <p><a href="/campaign-finance-data/candidate-master-file-metadata">Metadata for this file</a><i class="icon icon--small i-arrow-right icon--inline--right"></i></p>
        <p>The candidate master file contains one record for each candidate who has either registered with the Federal Election Commission or appeared on a ballot list prepared by a state elections office.</p>
      </div>
      <button type="button" class="js-accordion-trigger accordion__button">Candidate-committee linkages</button>
      <div class="accordion__content">
        <i class="icon i-download icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <ul class="list--flat-bordered">
            <li><a href="/files/bulk-downloads/2018/ccl18.zip">2017–2018</a></li>
            <li><a href="/files/bulk-downloads/2016/ccl16.zip">2015–2016</a></li>
            <li><a href="/files/bulk-downloads/2014/ccl14.zip">2013–2014</a></li>
            <li><a href="/files/bulk-downloads/2012/ccl12.zip">2011–2012</a></li>
            <li><a href="/files/bulk-downloads/2010/ccl10.zip">2009–2010</a></li>
            <li><a href="/files/bulk-downloads/2008/ccl08.zip">2007-2008</a></li>
            <li><a href="/files/bulk-downloads/2006/ccl06.zip">2005–2006</a></li>
            <li><a href="/files/bulk-downloads/2004/ccl04.zip">2003–2004</a></li>
            <li><a href="/files/bulk-downloads/2002/ccl02.zip">2001-2002</a></li>
            <li><a href="/files/bulk-downloads/2000/ccl00.zip">1999–2000</a></li>
          </ul>
        </div>
        <p class="icon-download--inline--left"><a href="/files/bulk-downloads/data_dictionaries/ccl_header_file.csv">Header file</a></p>
        <p><a href="/campaign-finance-data/candidate-committee-linkages-file-metadata/">Metadata for this file</a><i class="icon icon--small i-arrow-right icon--inline--right"></i></p>
        <p>This file contains one record for each candidate to committee linkage.</p>
      </div>
      <button type="button" class="js-accordion-trigger accordion__button">House/Senate current campaigns</button>
      <div class="accordion__content">
        <i class="icon i-download icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <ul class="list--flat-bordered">
            <li><a href="/files/bulk-downloads/2018/webl18.zip">2017–2018</a></li>
            <li><a href="/files/bulk-downloads/2016/webl16.zip">2015–2016</a></li>
            <li><a href="/files/bulk-downloads/2014/webl14.zip">2013–2014</a></li>
            <li><a href="/files/bulk-downloads/2012/webl12.zip">2011–2012</a></li>
            <li><a href="/files/bulk-downloads/2010/webl10.zip">2009–2010</a></li>
            <li><a href="/files/bulk-downloads/2008/webl08.zip">2007-2008</a></li>
            <li><a href="/files/bulk-downloads/2006/webl06.zip">2005–2006</a></li>
            <li><a href="/files/bulk-downloads/2004/webl04.zip">2003–2004</a></li>
            <li><a href="/files/bulk-downloads/2002/webl02.zip">2001-2002</a></li>
            <li><a href="/files/bulk-downloads/2000/webl00.zip">1999–2000</a></li>
            <li><a href="/files/bulk-downloads/1998/webl98.zip">1997–1998</a></li>
            <li><a href="/files/bulk-downloads/1996/webl96.zip">1995–1996</a></li>
          </ul>
        </div>
        <p class="icon-download--inline--left"><a href="/files/bulk-downloads/data_dictionaries/webl.txt">Header file</a></p>
        <p><a href="/campaign-finance-data/current-campaigns-house-and-senate-file-metadata">Metadata for this file</a><i class="icon icon--small i-arrow-right icon--inline--right"></i></p>
        <p>These files contain one record for each campaign.  This record contains summary financial information.</p>
      </div>
      <button type="button" class="js-accordion-trigger accordion__button">Committee master</button>
      <div class="accordion__content">
        <i class="icon i-download icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <ul class="list--flat-bordered">
            <li><a href="/files/bulk-downloads/2018/cm18.zip">2017–2018</a></li>
            <li><a href="/files/bulk-downloads/2016/cm16.zip">2015–2016</a></li>
            <li><a href="/files/bulk-downloads/2014/cm14.zip">2013–2014</a></li>
            <li><a href="/files/bulk-downloads/2012/cm12.zip">2011–2012</a></li>
            <li><a href="/files/bulk-downloads/2010/cm10.zip">2009–2010</a></li>
            <li><a href="/files/bulk-downloads/2008/cm08.zip">2007-2008</a></li>
            <li><a href="/files/bulk-downloads/2006/cm06.zip">2005–2006</a></li>
            <li><a href="/files/bulk-downloads/2004/cm04.zip">2003–2004</a></li>
            <li><a href="/files/bulk-downloads/2002/cm02.zip">2001-2002</a></li>
            <li><a href="/files/bulk-downloads/2000/cm00.zip">1999–2000</a></li>
            <li><a href="/files/bulk-downloads/1998/cm98.zip">1997–1998</a></li>
            <li><a href="/files/bulk-downloads/1996/cm96.zip">1995–1996</a></li>
            <li><a href="/files/bulk-downloads/1994/cm94.zip">1993–1994</a></li>
            <li><a href="/files/bulk-downloads/1992/cm92.zip">1991–1992</a></li>
            <li><a href="/files/bulk-downloads/1990/cm90.zip">1989–1990</a></li>
            <li><a href="/files/bulk-downloads/1988/cm88.zip">1987–1988</a></li>
            <li><a href="/files/bulk-downloads/1986/cm86.zip">1985–1986</a></li>
            <li><a href="/files/bulk-downloads/1984/cm84.zip">1983–1984</a></li>
            <li><a href="/files/bulk-downloads/1982/cm82.zip">1981–1982</a></li>
            <li><a href="/files/bulk-downloads/1980/cm80.zip">1979–1980</a></li>
          </ul>
        </div>
        <p class="icon-download--inline--left"><a href="files/bulk-downloads/data_dictionaries/cm_header_file.csv">Header file</a></p>
        <p><a href="/campaign-finance-data/candidate-master-file-metadata">Metadata for this file></a><i class="icon icon--small i-arrow-right icon--inline--right"></i></p>
        <p>The committee master file contains one record for each committee registered with the Federal Election Commission. This includes federal political action committees and party committees, campaign committees for presidential, house and senate candidates, as well as groups or organizations who are spending money for or against candidates for federal office.</p>
      </div>
      <button type="button" class="js-accordion-trigger accordion__button">PAC Summary</button>
      <div class="accordion__content">
        <i class="icon i-download icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <ul class="list--flat-bordered">
            <li><a href="/files/bulk-downloads/2018/webk18.zip">2017–2018</a></li>
            <li><a href="/files/bulk-downloads/2016/webk16.zip">2015–2016</a></li>
            <li><a href="/files/bulk-downloads/2014/webk14.zip">2013–2014</a></li>
            <li><a href="/files/bulk-downloads/2012/webk12.zip">2011–2012</a></li>
            <li><a href="/files/bulk-downloads/2010/webk10.zip">2009–2010</a></li>
            <li><a href="/files/bulk-downloads/2008/webk08.zip">2007-2008</a></li>
            <li><a href="/files/bulk-downloads/2006/webk06.zip">2005–2006</a></li>
            <li><a href="/files/bulk-downloads/2004/webk04.zip">2003–2004</a></li>
            <li><a href="/files/bulk-downloads/2002/webk02.zip">2001-2002</a></li>
            <li><a href="/files/bulk-downloads/2000/webk00.zip">1999–2000</a></li>
            <li><a href="/files/bulk-downloads/1998/webk98.zip">1997–1998</a></li>
            <li><a href="/files/bulk-downloads/1996/webk96.zip">1995–1996</a></li>
          </ul>
        </div>
        <p class="icon-download--inline--left"><a href="files/bulk-downloads/data_dictionaries/webk.txt">Header file</a></p>
        <p><a href="/campaign-finance-data/pac-and-party-summary-file-metadata">Metadata for this file</a><i class="icon icon--small i-arrow-right icon--inline--right"></i></p>
        <p>This file gives overall receipts and disbursements for each PAC and party committee registered with the commission, along with a breakdown of overall receipts by source and totals for contributions to other committees, independent expenditures made and other information.</p>
      </div>
      <button type="button" class="js-accordion-trigger accordion__button">Contributions by individuals</button>
      <div class="accordion__content">
        <i class="icon i-download icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <ul class="list--flat-bordered">
            <li><a href="/files/bulk-downloads/2018/indiv18.zip">2017–2018</a></li>
            <li><a href="/files/bulk-downloads/2016/indiv16.zip">2015–2016</a></li>
            <li><a href="/files/bulk-downloads/2014/indiv14.zip">2013–2014</a></li>
            <li><a href="/files/bulk-downloads/2012/indiv12.zip">2011–2012</a></li>
            <li><a href="/files/bulk-downloads/2010/indiv10.zip">2009–2010</a></li>
            <li><a href="/files/bulk-downloads/2008/indiv08.zip">2007-2008</a></li>
            <li><a href="/files/bulk-downloads/2006/indiv06.zip">2005–2006</a></li>
            <li><a href="/files/bulk-downloads/2004/indiv04.zip">2003–2004</a></li>
            <li><a href="/files/bulk-downloads/2002/indiv02.zip">2001-2002</a></li>
            <li><a href="/files/bulk-downloads/2000/indiv00.zip">1999–2000</a></li>
            <li><a href="/files/bulk-downloads/1998/indiv98.zip">1997–1998</a></li>
            <li><a href="/files/bulk-downloads/1996/indiv96.zip">1995–1996</a></li>
            <li><a href="/files/bulk-downloads/1994/indiv94.zip">1993–1994</a></li>
            <li><a href="/files/bulk-downloads/1992/indiv92.zip">1991–1992</a></li>
            <li><a href="/files/bulk-downloads/1990/indiv90.zip">1989–1990</a></li>
            <li><a href="/files/bulk-downloads/1988/indiv88.zip">1987–1988</a></li>
            <li><a href="/files/bulk-downloads/1986/indiv86.zip">1985–1986</a></li>
            <li><a href="/files/bulk-downloads/1984/indiv84.zip">1983–1984</a></li>
            <li><a href="/files/bulk-downloads/1982/indiv82.zip">1981–1982</a></li>
            <li><a href="/files/bulk-downloads/1980/indiv80.zip">1979–1980</a></li>
          </ul>
        </div>
        <p class="icon-download--inline--left"><a href="/files/bulk-downloads/data_dictionaries/indiv_header_file.csv">Header file</a></p>
        <p><a href="/campaign-finance-data/contributions-individuals-file-metadata">Metadata for this file</a><i class="icon icon--small i-arrow-right icon--inline--right"></i></p>
        <p>The individual contributions file contains each contribution from an individual to a federal committee. It includes the ID number of the committee receiving the contribution, the name, city, state, zip code, and place of business of the contributor along with the date and amount of the contribution.</p>
      </div>
      <button type="button" class="js-accordion-trigger accordion__button">Contributions to candidates</button>
      <div class="accordion__content">
        <i class="icon i-download icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <ul class="list--flat-bordered">
            <li><a href="/files/bulk-downloads/2018/pas218.zip">2017–2018</a></li>
            <li><a href="/files/bulk-downloads/2016/pas216.zip">2015–2016</a></li>
            <li><a href="/files/bulk-downloads/2014/pas214.zip">2013–2014</a></li>
            <li><a href="/files/bulk-downloads/2012/pas212.zip">2011–2012</a></li>
            <li><a href="/files/bulk-downloads/2010/pas210.zip">2009–2010</a></li>
            <li><a href="/files/bulk-downloads/2008/pas208.zip">2007-2008</a></li>
            <li><a href="/files/bulk-downloads/2006/pas206.zip">2005–2006</a></li>
            <li><a href="/files/bulk-downloads/2004/pas204.zip">2003–2004</a></li>
            <li><a href="/files/bulk-downloads/2002/pas202.zip">2001-2002</a></li>
            <li><a href="/files/bulk-downloads/2000/pas200.zip">1999–2000</a></li>
            <li><a href="/files/bulk-downloads/1998/pas298.zip">1997–1998</a></li>
            <li><a href="/files/bulk-downloads/1996/pas296.zip">1995–1996</a></li>
            <li><a href="/files/bulk-downloads/1994/pas294.zip">1993–1994</a></li>
            <li><a href="/files/bulk-downloads/1992/pas292.zip">1991–1992</a></li>
            <li><a href="/files/bulk-downloads/1990/pas290.zip">1989–1990</a></li>
            <li><a href="/files/bulk-downloads/1988/pas288.zip">1987–1988</a></li>
            <li><a href="/files/bulk-downloads/1986/pas286.zip">1985–1986</a></li>
            <li><a href="/files/bulk-downloads/1984/pas284.zip">1983–1984</a></li>
            <li><a href="/files/bulk-downloads/1982/pas282.zip">1981–1982</a></li>
            <li><a href="/files/bulk-downloads/1980/pas280.zip">1979–1980</a></li>
          </div>
        </ul>
        <p class="icon-download--inline--left"><a href="/files/bulk-downloads/data_dictionaries/pas2_header_file.csv">Header file</a></p>
        <p><a href="/campaign-finance-data/contributions-committees-candidates-file-metadata">Metadata for this file</a><i class="icon icon--small i-arrow-right icon--inline--right"></i></p>
        <p>The itemized committee contributions file contains each contribution or independent expenditure made by a PAC, party committee, candidate committee, or other federal committee to a candidate during the two-year election cycle.</p>
      </div>
      <button type="button" class="js-accordion-trigger accordion__button">Any transaction from one committee to another</button>
      <div class="accordion__content">
        <i class="icon i-download icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <ul class="list--flat-bordered u-margin--bottom">
            <li><a href="/files/bulk-downloads/2018/oth18.zip">2017–2018</a></li>
            <li><a href="/files/bulk-downloads/2016/oth16.zip">2015–2016</a></li>
            <li><a href="/files/bulk-downloads/2014/oth14.zip">2013–2014</a></li>
            <li><a href="/files/bulk-downloads/2012/oth12.zip">2011–2012</a></li>
            <li><a href="/files/bulk-downloads/2010/oth10.zip">2009–2010</a></li>
            <li><a href="/files/bulk-downloads/2008/oth08.zip">2007-2008</a></li>
            <li><a href="/files/bulk-downloads/2006/oth06.zip">2005–2006</a></li>
            <li><a href="/files/bulk-downloads/2004/oth04.zip">2003–2004</a></li>
            <li><a href="/files/bulk-downloads/2002/oth02.zip">2001-2002</a></li>
            <li><a href="/files/bulk-downloads/2000/oth00.zip">1999–2000</a></li>
            <li><a href="/files/bulk-downloads/1998/oth98.zip">1997–1998</a></li>
            <li><a href="/files/bulk-downloads/1996/oth96.zip">1995–1996</a></li>
            <li><a href="/files/bulk-downloads/1994/oth94.zip">1993–1994</a></li>
            <li><a href="/files/bulk-downloads/1992/oth92.zip">1991–1992</a></li>
            <li><a href="/files/bulk-downloads/1990/oth90.zip">1989–1990</a></li>
            <li><a href="/files/bulk-downloads/1988/oth88.zip">1987–1988</a></li>
            <li><a href="/files/bulk-downloads/1986/oth86.zip">1985–1986</a></li>
            <li><a href="/files/bulk-downloads/1984/oth84.zip">1983–1984</a></li>
            <li><a href="/files/bulk-downloads/1982/oth82.zip">1981–1982</a></li>
            <li><a href="/files/bulk-downloads/1980/oth80.zip">1979–1980</a></li>
          </ul>
        </div>
        <p class="icon-download--inline--left"><a href="/files/bulk-downloads/data_dictionaries/oth_header_file.csv">Header file</a></p>
        <p><a href="/campaign-finance-data/any-transaction-one-committee-another-file-metadata">Metadata for this file</a><i class="icon icon--small i-arrow-right icon--inline--right"></i></p>
        <p>The itemized records (miscellaneous transactions) file contains all transactions (contributions, transfers, etc. among federal committees). It contains all data in the itemized committee contributions file plus PAC contributions to party committees, party transfers from state committee to state committee, and party transfers from national committee to state committee. This file only includes federal transfers not soft money transactions.</p>
      </div>
      <button type="button" class="js-accordion-trigger accordion__button">Operating expenditures</button>
      <div class="accordion__content">
        <i class="icon i-download icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <ul class="list--flat-bordered">
            <li><a href="/files/bulk-downloads/2018/oppexp18.zip">2017–2018</a></li>
            <li><a href="/files/bulk-downloads/2016/oppexp16.zip">2015–2016</a></li>
            <li><a href="/files/bulk-downloads/2014/oppexp14.zip">2013–2014</a></li>
            <li><a href="/files/bulk-downloads/2012/oppexp12.zip">2011–2012</a></li>
            <li><a href="/files/bulk-downloads/2010/oppexp10.zip">2009–2010</a></li>
            <li><a href="/files/bulk-downloads/2008/oppexp08.zip">2007-2008</a></li>
            <li><a href="/files/bulk-downloads/2006/oppexp06.zip">2005–2006</a></li>
            <li><a href="/files/bulk-downloads/2004/oppexp04.zip">2003–2004</a></li>
          </ul>
        </div>
        <p class="icon-download--inline--left"><a href="/files/bulk-downloads/data_dictionaries/oppexp_header_file.csv">Header file</a></p>
        <p><a href="/campaign-finance-data/ operating-expenditures-file-metadata">Metadata for this file</a><i class="icon icon--small i-arrow-right icon--inline--right"></i></p>
        <p>This file contains disbursements reported on FEC Form 3 Line 17, FEC Form 3P Line 23and FEC Form 3X Lines 21(a)(i), 21(a)(ii) and 21(b).</p>
      </div>
      <button type="button" class="js-accordion-trigger accordion__button">Electronically filed reports (.fec files)</button>
      <div class="accordion__content">
        <p class="icon-download--inline--left"><a href="/files/bulk-downloads/data_dictionaries/">File formats, header file and metadata</a></p>
        <p><a href="/files/bulk-downloads/electronic/">Download files by day</a> &#187;</p>
        <p>Daily compilation of electronically filed reports and statements.</p>
      </div>
      <button type="button" class="js-accordion-trigger accordion__button">Paper filed reports (.fec files)</button>
      <div class="accordion__content">
        <p class="icon-download--inline--left"><a href="/files/bulk-downloads/data_dictionaries/">File formats, header file and metadata</a></p>
        <p><a href="/files/bulk-downloads/paper/">Download files by day</a>/files/bulk-downloads/2018/cn18.zip187;</p>
        <p>A paper report submitted to the Commission is a committee's official campaign finance disclosure filing for paper filers. If there are any discrepancies between the paper report and the electronic data file received from our data entry contractor, the paper report takes precedence. </p>
      </div>
    </div>
   </div>
</section>
