<section id="candidates" class="row" aria-hidden="true" role="tabpanel">
  <h2>Candidates</h2>
  <p>Search candidates for president, Senate and House for all years by location, party and more.</p>
  <h3>Search or browse data</h3>
  <div class="content__section--ruled t-sans">
    <ul>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/candidates/?has_raised_funds=true">All candidates</a></h4>
          <p class ="u-margin--bottom">Search candidates for president, Senate and House for all years by location, party and more</p>
          <div class="js-accordion accordion--neutral" data-content-prefix="all-candidates">
            <button type="button" class="js-accordion-trigger accordion__button">Download this data as .CSV to use on your own</button>
            <div class="accordion__content">
              <h4 class="t-upper">Candidate summary</h4>
              <i class="icon i-download icon--absolute--left"></i>
              <div class="content__section--indent-left">
                <ul class="list--flat-bordered u-no-margin">
                  <li><a href="#">2017–2018</a></li>
                  <li><a href="#">2015–2016</a></li>
                  <li><a href="#">2013–2014</a></li>
                  <li><a href="#">2011–2012</a></li>
                  <li><a href="#">2009–2010</a></li>
                  <li><a href="#">2007-2008</a></li>
                </ul>
              </div>
              <p><a href="#">Metadata for this file</a><i class="icon icon--small i-arrow-right icon--inline--right"></i></p>
              <p>This file contains information for each candidate who has registered with the FEC or appears on an official state ballot for an election to the U.S. House of Representatives, U.S. Senate or U.S. President.</p>
            </div>
          </div>
        </div>
       </li>
       <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/candidates/president/">Presidential candidates</a></h4>
          <p>Search presidential <span class="term" data-term="candidate" title="Click to define" tabindex="0">candidate</span> data including money raised, money spent, cash on hand and debt.</p>
          <p><a href="press/resources-journalists/presidential-public-funding/">Find which candidates have applied for presidential funding</a></p>
        </div>
      </li>
      <li>
       <i class="icon i-magnifying-glass icon--absolute--left"></i>
       <div class="content__section--indent-left">
         <h4><a href="/data/candidates/senate/">Senate candidates</a></h4>
         <p>Search Senate candidate data including money raised, money spent, cash on hand and debt.</p>
       </div>
      </li>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/candidates/house/">House of Representatives candidates</a></h4>
          <p>Search House candidate data including money raised, money spent, cash on hand and debt.</p>
         </div>
      </li>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/filings/?form_type=F2">Most recent Statements of Candidacy (Form 2)</a></h4>
          <p>Statements of Candidacy (Form 2) contain basic information about individuals running for federal office, including their names, addresses and authorized campaign committees.</p>
          <div class="js-accordion accordion--neutral" data-content-prefix="statements-of-candidacy">
            <button type="button" class="js-accordion-trigger accordion__button">Download this data as .CSV to use on your own</button>
            <div class="accordion__content">
              <h4 class="t-upper">New statement of candidacy</h4>
              <i class="icon i-download icon--absolute--left"></i>
              <div class="content__section--indent-left">
                <ul class="list--flat-bordered u-no-margin">
                  <li><a href="#">2017–2018</a></li>
                  <li><a href="#">2015–2016</a></li>
                  <li><a href="#">2013–2014</a></li>
                  <li><a href="#">2011–2012</a></li>
                  <li><a href="#">2009–2010</a></li>
                  <li><a href="#">2007-2008</a></li>
                </ul>
              </div>
              <p><a href="#">Metadata for this file</a><i class="icon icon--small i-arrow-right icon--inline--right"></i></p>
              <p>This file lists all individuals who have filed a Statement of Candidacy (FEC Form 2) with the FEC to register as a candidate for federal office (U.S. House of Representatives, U.S. Senate and U.S. President) in a given election cycle.</p>
            </div>
          </div>
         </div>
       </li>
     </ul>
  </div>
</section>
