<section class="row" id="filings" aria-hidden="true" role="tabpanel">
  <h2>Filings and reports</h2>
  <p>Filings contain all the statements, reports and notices that candidates and committees file. Search by date, type and filing candidate or committee.</p>
  <h3>Search or browse data</h3>
  <div class="content__section--ruled t-sans">
    <ul>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/filings">All filings</a></h4>
        </div>
      </li>
      <li>
          <i class="icon i-magnifying-glass icon--absolute--left"></i>
          <div class="content__section--indent-left">
            <h4><a href="/data/reports/presidential/?is_amended=false">Presidential committee reports</a></h4>
        </div>
      </li>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/reports/house-senate">House and Senate committee reports</a></h4>
          <p class="u-margin--bottom">Statements of Organization (Form 1) contain basic information about committees, including type, address and treasurer.</p>
          <div class="js-accordion accordion--neutral" data-content-prefix="house-senate">
            <button type="button" class="js-accordion-trigger accordion__button">Download this data as .CSV to use on your own</button>
            <div class="accordion__content">
              <h4 class="t-upper">Senate unofficial electronic filings</h4>
              <i class="icon i-download icon--absolute--left"></i>
              <div class="content__section--indent-left">
                <ul class="list--flat-bordered u-no-margin">
                  <li><a href="http://docquery.fec.gov/senate/">2008–2018</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/reports/pac-party">PAC and party committee reports</a></h4>
        </div>
      </li>
      <li>
       <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4>Unverified filers</h4>
          <p class="u-margin--bottom">Statements of Organization (Form 1) contain basic information about committees, including type, address and treasurer.</p>
          <div class="js-accordion accordion--neutral" data-content-prefix="unverified-filers">
            <button type="button" class="js-accordion-trigger accordion__button">Download this data as .CSV to use on your own</button>
            <div class="accordion__content">
              <h4 class="t-upper">Unverified filers</h4>
              <i class="icon i-download icon--absolute--left"></i>
              <div class="content__section--indent-left">
                <ul class="list--flat-bordered u-no-margin">
                  <li><a href="/files/bulk-downloads/data.fec.gov/UnverifiedCommittees.csv">2007–2018</a></li>
                </ul>
              </div>
              <p><a href="/campaign-finance-data/unverified-filers-file-metadata">Metadata for this file</a><i class="icon icon--small i-arrow-right icon--inline--right"></i></p>
              <p>The FEC works to ensure all filings are accurate and complete. As part of that process, the Commission asks filers whose registration forms contain questionable information to verify their accuracy. This page lists filers that did not respond and verify their information.</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
