<section class="row" id="historical" aria-hidden="true" role="tabpanel">
  <h2>Historical statistics</h2>
  <p>Data tables that summarize campaign financial activity by filer type, election cycle and reporting period.</p>
  <a class="button button--cta button--go" href="https://transition.fec.gov/press/campaign_finance_statistics.shtml">Find statistics</a>
</section>
