<section class="row" id="loans-debts" aria-hidden="true" role="tabpanel">
  <h2>Loans and debts</h2>
  <h3>Search or browse data</h3>
  <div class="content__section--ruled t-sans">
    <ul>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/loans">Loans</a></h4>
        </div>
      </li>
      <li>
        <div class="content__section--indent-left">
          <h4 class="is-disabled">Debts (coming soon)</h4>
        </div>
      </li>
    </ul>
  </div>
</section>
