<section id="other" class="row" aria-hidden="true" role="tabpanel">
  <h2>External sources</h2>
  <p>Certain information is reported to the FEC, but more information is reported to other governmental agencies.</p>
  <div class="content__section--ruled t-sans">
    <ul>
      <li>
        <i class="icon i-share icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="https://www.irs.gov/charities-non-profits/political-organizations/political-organization-filing-and-disclosure">Internal Revenue Service (IRS) filings</a></h4>
          <p>Search and download filings and disclosures by political organizations.</p>
        </div>
      </li>
      <li>
        <i class="icon i-share icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="http://apps.fcc.gov/ecd/">Federal Communications Commission (FCC) electioneering communications database</a></h4>
          <p>Search electioneering communications.</p>
        </div>
      </li>
      <li>
        <i class="icon i-share icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="https://www.oge.gov/web/oge.nsf/Presidential%20Candidates?OpenView">Office of Government Ethics (OGE) presidential candidate financial disclosure reports</a></h4>
          <p>View financial disclosure reports filed by presidential candidates.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
