{% import 'macros/chart-committee-overviews.jinja' as chart %}
{% import 'macros/reaction-box.jinja' as reaction %}

<section class="row" id="spending" aria-hidden="true" role="tabpanel" >
  <h2>Spending</h2>
  <p>Spending includes all the types of <span class="term" data-term="disbursement">disbursements</span> candidates and committees make.</p>
  <h3>Search or browse data</h3>
  <div class="content__section--ruled-responsive t-sans">
    <ul>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/disbursements">All disbursements</a></h4>
          <p>Search all disbursements from committees by the recipient, purpose, amount and date.</p>
        </div>
      </li>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/independent-expenditures">Independent expenditures</a></h4>
          <p class ="u-margin--bottom">Search <span class="term" data-term="independent expenditure" title="Click to define" tabindex="0">independent expenditures</span> to find specific spenders, candidates mentioned and transaction information.</p>
          <div class="js-accordion accordion--neutral" data-content-prefix="independent-expenditure">
            <button type="button" class="js-accordion-trigger accordion__button">Download this data as .CSV to use on your own</button>
            <div class="accordion__content">
              <h6 class="t-no-rules">Independent expenditures</h4>
              <i class="icon i-download icon--absolute--left"></i>
              <div class="content__section--indent-left">
                <ul class="list--flat-bordered u-no-margin">
                  <li><a href="/files/bulk-downloads/2018/independent_expenditure_2018.csv">2017–2018</a></li>
                  <li><a href="/files/bulk-downloads/2016/independent_expenditure_2016.csv">2015–2016</a></li>
                  <li><a href="/files/bulk-downloads/2014/independent_expenditure_2014.csv">2013–2014</a></li>
                  <li><a href="/files/bulk-downloads/2012/independent_expenditure_2012.csv">2011–2012</a></li>
                  <li><a href="/files/bulk-downloads/2010/independent_expenditure_2010.csv">2009–2010</a></li>
                </ul>
                <p class="u-margin--top"><a href="/campaign-finance-data/independent-expenditures-file-description/">Data description for this file</a><i class="icon icon--small i-arrow-right icon--inline--right"></i></p>
              </div>
              <p>This file contains "24-hour" and "48-hour" reports of independent expenditures filed during the current election cycle and for election cycles through 2010. The file contains detailed information about independent expenditures, including who was paid, the purpose of the disbursement, date and amount of the expenditure and the candidate for or against whom the expenditure was made.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4 class="u-padding--bottom"><a href="/data/party-coordinated-expenditures/">Party coordinated expenditures</a></h4>
        </div>
      </li>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/electioneering-communications/">Electioneering communications</a></h4>
          <p class ="u-margin--bottom">Search electioneering communications for communications that support or oppose specific candidates. Search by date and amount spent.</p>
          <div class="js-accordion accordion--neutral" data-content-prefix="electioneering-communications">
            <button type="button" class="js-accordion-trigger accordion__button">Download this data as .CSV to use on your own</button>
            <div class="accordion__content">
              <h6 class="t-no-rules">Electioneering communications</h4>
              <i class="icon i-download icon--absolute--left"></i>
              <div class="content__section--indent-left">
                <ul class="list--flat-bordered u-no-margin">
                  <li><a href="/files/bulk-downloads/2018/ElectioneeringComm_2018.csv">2017–2018</a></li>
                  <li><a href="/files/bulk-downloads/2016/ElectioneeringComm_2016.csv">2015–2016</a></li>
                  <li><a href="/files/bulk-downloads/2014/ElectioneeringComm_2014.csv">2013–2014</a></li>
                  <li><a href="/files/bulk-downloads/2012/ElectioneeringComm_2012.csv"">2011–2012</a></li>
                  <li><a href="/files/bulk-downloads/2010/ElectioneeringComm_2010.csv"">2009–2010</a></li>
                </ul>
                <p class="u-margin--top"><a href="/campaign-finance-data/electioneering-communications-file-description">Data description for this file</a><i class="icon icon--small i-arrow-right icon--inline--right"></i></p>
              </div>
              <p>This file contains specific disbursement transactions disclosed to the Commission as electioneering communications.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/communication-costs"">Communication costs</a></h4>
          <p class ="u-margin--bottom">Search communication costs for communications that support or oppose specific candidates. Search by date and amount spent.</p>
          <div class="js-accordion accordion--neutral" data-content-prefix="communication-costs">
            <button type="button" class="js-accordion-trigger accordion__button">Download this data as .CSV to use on your own</button>
            <div class="accordion__content">
              <h6 class="t-no-rules">Communication costs</h4>
              <i class="icon i-download icon--absolute--left"></i>
              <div class="content__section--indent-left">
                <ul class="list--flat-bordered u-no-margin">
                  <li><a href="/files/bulk-downloads/2018/CommunicationCosts_2018.csv">2017–2018</a></li>
                  <li><a href="/files/bulk-downloads/2016/CommunicationCosts_2016.csv">2015–2016</a></li>
                  <li><a href="/files/bulk-downloads/2014/CommunicationCosts_2014.csv">2013–2014</a></li>
                  <li><a href="/files/bulk-downloads/2012/CommunicationCosts_2012.csv">2011–2012</a></li>
                  <li><a href="/files/bulk-downloads/2010/CommunicationCosts_2010.csv">2009–2010</a></li>
                </ul>
                <p class="u-margin--top"><a href="/campaign-finance-data/communication-costs-file-description">Data description for this file</a><i class="icon icon--small i-arrow-right icon--inline--right"></i></p>
              </div>
              <p>This file contains specific disbursement transactions disclosed to the Commission as communication costs by corporations and labor organizations.</p>
            </div>
          </div>
        </div>
      </li>
      {% if FEATURES.linecharts %}
      <li>
        <section class="content__section" style="padding-top: 3rem;">
          <div class="heading--section heading--with-action" style="border: none;padding: 0">
            <h3 class="heading__left">Cumulative amount spent by committees</h3>
            <div class="heading__right">
              <ul class="list--buttons">
                <button disabled="true" class="button button--cta button--go"  data-a11y-dialog-show="spending-modal" data-ga-event="Spending methodology modal clicked" aria-controls="spending-modal">More spending charts</button>
              </ul>
            </div>
          </div>
          <div class="content__section--ruled-responsive t-sans">
            {{ chart.plot('spent')}}
          </div>
        </section>
      </li>
      <li>
        <div class="content__section--indent-left">
          <div class="js-accordion accordion--neutral" data-content-prefix="methodology_spending">
            <button type="button" class="js-accordion-trigger accordion__button">Methodology</button>
            <div class="accordion__content">
              <div role="document">
                <h6 class="t-no-rules">Methodology Overview</h4>
                <p class="t-note">This data includes Forms 3, 3P, and 3X.</p>
                <p><strong>Money spent</strong> includes each of the following:</p>
                <ul class="list--bulleted">
                  <li><em>Adjusted disbursements</em> for PACs, parties, congressional filers and presidential filers</li>
                </ul>
                <p><em>Adjusted disbursements</em> are total disbursements minus the following:</p>
                <ul class="list--bulleted">
                  <li>Contribution refunds</li>
                  <li>Contributions to candidates and other political committees</li>
                  <li>Loan repayments</li>
                  <li>Nonfederal share of allocated disbursements</li>
                  <li>Offsets to expenditures</li>
                  <li>Other disbursements</li>
                  <li>Transfers to other authorized committees and affiliated committees</li>
                </ul>
                <p>The form-by-form breakdown for adjusted disbursements is:</p>
                <ul class="list--bulleted">
                  <li><strong>Form 3:</strong> <em>line 22</em> - (<em>line 18</em> + <em>line 19(c)</em> + <em>line 20(d)</em> + <em>line 21</em>)</li>
                  <li><strong>Form 3P:</strong> <em>line 30</em> - (<em>line 20(d)</em> + <em>line 24</em> + <em>line 27(c)</em> + <em>line 28(d)</em> + <em>line 29</em>)</li>
                  <li><strong>Form 3X:</strong> <em>line 31</em> - (<em>line 21(a)(ii)</em> + <em>line 22</em> + <em>line 23</em> + <em>line 26</em> + <em>line 28(d)</em> + <em>line 29</em>)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <section class="content__section">
          {{ reaction.reaction_box('spent', 'advanced') }}
        </section>
      </li>
      {% endif %}
    </ul>
  </div>
</section>
