<section class="row" id="spending" aria-hidden="true" role="tabpanel" >
  <h2>Spending</h2>
  <p>Spending includes all the types of <span class="term" data-term="disbursement">disbursements</span> candidates and committees make.</p>
  <h3>Search or browse data</h3>
  <div class="content__section--ruled t-sans">
    <ul>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/disbursements">All disbursements</a></h4>
          <p>Search all disbursements from committees by the recipient, purpose, amount and date.</p>
        </div>
      </li>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="#">Independent expenditures</a></h4>
          <p class ="u-margin--bottom">Search <span class="term" data-term="independent expenditure" title="Click to define" tabindex="0">independent expenditures</span> to find specific spenders, candidates mentioned and transaction information.</p>
          <div class="js-accordion accordion--neutral" data-content-prefix="independent-expenditure">
            <button type="button" class="js-accordion-trigger accordion__button">Download this data as .CSV to use on your own</button>
            <div class="accordion__content">
              <h4 class="t-upper">Independent expenditures</h4>
              <i class="icon i-download icon--absolute--left"></i>
              <div class="content__section--indent-left">
                <ul class="list--flat-bordered u-no-margin">
                  <li><a href="/files/bulk-downloads/2018/independent_expenditure_2018.csv">2017–2018</a></li>
                  <li><a href="/files/bulk-downloads/2016/independent_expenditure_2016.csv">2015–2016</a></li>
                  <li><a href="/files/bulk-downloads/2014/independent_expenditure_2014.csv">2013–2014</a></li>
                  <li><a href="/files/bulk-downloads/2012/independent_expenditure_2012.csv">2011–2012</a></li>
                  <li><a href="/files/bulk-downloads/2010/independent_expenditure_2010.csv">2009–2010</a></li>
                </ul>
              </div>
              <p><a href="#">Metadata for this file</a><i class="icon icon--small i-arrow-right icon--inline--right"></i></p>
              <p>This file contains "24-hour" and "48-hour" reports of independent expenditures filed during the current election cycle and for election cycles through 2010. The file contains detailed information about independent expenditures, including who was paid, the purpose of the disbursement, date and amount of the expenditure and the candidate for or against whom the expenditure was made.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4 class="u-padding--bottom"><a href="/data/party-coordinated-expenditures/">Party coordinated expenditures</a></h4>
        </div>
      </li>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/electioneering-communications/">Electioneering communications</a></h4>
          <p class ="u-margin--bottom">Search electioneering communications for communications that support or oppose specific candidates. Search by date and amount spent.</p>
          <div class="js-accordion accordion--neutral" data-content-prefix="electioneering-communications">
            <button type="button" class="js-accordion-trigger accordion__button">Download this data as .CSV to use on your own</button>
            <div class="accordion__content">
              <h4 class="t-upper">Electioneering communications</h4>
              <i class="icon i-download icon--absolute--left"></i>
              <div class="content__section--indent-left">
                <ul class="list--flat-bordered">
                  <li><a href="/files/bulk-downloads/2018/ElectioneeringComm_2018.csv">2017–2018</a></li>
                  <li><a href="/files/bulk-downloads/2016/ElectioneeringComm_2016.csv">2015–2016</a></li>
                  <li><a href="/files/bulk-downloads/2014/ElectioneeringComm_2014.csv">2013–2014</a></li>
                  <li><a href="/files/bulk-downloads/2012/ElectioneeringComm_2012.csv"">2011–2012</a></li>
                  <li><a href="/files/bulk-downloads/2010/ElectioneeringComm_2010.csv"">2009–2010</a></li>
                </ul>
              </div>
              <p><a href="#">Metadata for this file</a><i class="icon icon--small i-arrow-right icon--inline--right"></i></p>
              <p>This file contains specific disbursement transactions disclosed to the Commission as electioneering communications.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <i class="icon i-magnifying-glass icon--absolute--left"></i>
        <div class="content__section--indent-left">
          <h4><a href="/data/communication-costs"">Communication costs</a></h4>
          <p class ="u-margin--bottom">Search communication costs for communications that support or oppose specific candidates. Search by date and amount spent.</p>
          <div class="js-accordion accordion--neutral" data-content-prefix="communication-costs">
            <button type="button" class="js-accordion-trigger accordion__button">Download this data as .CSV to use on your own</button>
            <div class="accordion__content">
              <h4 class="t-upper">Communication costs</h4>
              <i class="icon i-download icon--absolute--left"></i>
              <div class="content__section--indent-left">
                <ul class="list--flat-bordered u-no-margin">
                  <li><a href="/files/bulk-downloads/2018/CommunicationCosts_2018.csv">2017–2018</a></li>
                  <li><a href="/files/bulk-downloads/2016/CommunicationCosts_2016.csv">2015–2016</a></li>
                  <li><a href="/files/bulk-downloads/2014/CommunicationCosts_2014.csv">2013–2014</a></li>
                  <li><a href="/files/bulk-downloads/2012/CommunicationCosts_2012.csv">2011–2012</a></li>
                  <li><a href="/files/bulk-downloads/2010/CommunicationCosts_2010.csv">2009–2010</a></li>
                </ul>
              </div>
              <p><a href="#">Metadata for this file</a><i class="icon icon--small i-arrow-right icon--inline--right"></i></p>
              <p>This file contains specific disbursement transactions disclosed to the Commission as communication costs by corporations and labor organizations.</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
