{% extends "layouts/main.jinja" %}
{% import 'macros/breadcrumbs.jinja' as breadcrumb %}

{% set breadcrumb_links=[('/legal-resources', 'Legal resources'), ('/data/legal/advisory-opinions/', 'Advisory opinions')] %}

{% block title %}AO {{ advisory_opinion.no }}{% endblock %}

{% block body %}
<header class="page-header slab slab--primary">
  {{ breadcrumb.breadcrumbs('AO %s' % (advisory_opinion.no,), breadcrumb_links) }}
</header>

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ asset_for_css('legal-common.css') }}" />
{% endblock %}

<div class="main">
<div class="container">
  <div class="row">
    <header class="heading--main">
      <h1>AO {{ advisory_opinion.no }}</h1>
      <span class="heading__subtitle">{{ advisory_opinion.name }}</span>
    </header>
    <div class="row" id="sections">
      <div class="sidebar-container sidebar-container--left">
        <div class="js-sticky-side" data-sticky-container="sections">
          <nav class="sidebar sidebar--neutral sidebar--left side-nav js-toc">
            <ul class="sidebar__content">
              <li class="side-nav__item"><a class="side-nav__link" href="#summary">Summary</a></li>
              <li class="side-nav__item"><a class="side-nav__link" href="#documents">Documents</a></li>
              <li class="side-nav__item"><a class="side-nav__link" href="#entities">Entities</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="main__content--right">
        <section id="summary" class="content__section">
          <h2>Summary</h2>
          <p>{{ advisory_opinion.summary }}</p>
        </section>
        <section id="documents" class="content__section">
          <h2>Documents</h2>
          {% if final_opinion %}
            <div class="content__section">
              <a class="button button--cta button--document button--lg" href="{{ final_opinion.url }}">Final opinion</a> <span class="t-sans u-padding--left">{{ final_opinion.date | date(fmt='%B %d, %Y') }}</span>
            </div>
          {% endif %}
          <table class="data-table simple-table" style="table-layout: auto;">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Name</th>
                <th scope="col">Document type</th>
              </tr>
            </thead>
            <tbody>
              {% for document in advisory_opinion.sorted_documents %}
                <tr>
                  <td>{{ document.date | ao_document_date }}</td>
                  <td><a href="{{ document.url }}">{{ document.description }}</a></td>
                  <td>{{ document.category }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>
        <section id="entities" class="content__section">
          <h2>Entities</h2>
          <table class="data-table simple-table" style="table-layout: auto;">
            <thead>
              <tr>
                <th scope="col">Role</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
              </tr>
            </thead>
            <tbody>
              {% for entity in advisory_opinion.entities %}
                <tr>
                  <td>{{ entity.role }}</td>
                  <td>{{ entity.name }}</td>
                  <td>{{ entity.type }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
