{% extends "layouts/legal-main.jinja" %}
{% import 'macros/breadcrumbs.jinja' as breadcrumb %}
{% import 'macros/legal.jinja' as legal %}
 {% set breadcrumb_links=[('/legal-resources/', 'Legal resources'), ('/legal/search/rulemakings/', 'Rulemakings')] %}
 {% block title %}Rulemaking #{{ rm_no }}{% endblock %}
 {% block css %}
<link rel="stylesheet" type="text/css" href="{{ path_for_css('legal-common.css') }}" />
{% endblock %}
{% block body %}
<header class="page-header slab slab--primary">
  {{ breadcrumb.breadcrumbs(rm_number, breadcrumb_links) }}
</header>
<div class="main__content--full embedded-pdf">
  <div class="data-container__widgets">
    <div class="data-container__wrapper">
    <header class="data-container__head">
      <h1 class="data-container__title">{{ rm_name }}</h1>
      <span class="entity__type t-bold">{{ rm_number }}</span>
    </header>
    </div>
  </div>
  <div class="embedded-pdf-list">
    <div class="submit-comments">
    {% if not is_open_for_comment %}
      <div class="label">Not open for comment</div>
    {% else %}
      <div class="label">Open for comment: Notice of Availability</div>
      <div class="label sublabel t-sans">Comment deadline: {{ comment_close_date|date_full(time_tag=True) }}</div>
      <a class="button--cta" href="/legal/rulemakings/{{ rm_no }}/add-comments/">Submit a comment</a>
    {% endif %}
    </div>
    <h2>Key documents</h2>
    <table class="simple-table simple-table--display">
      <thead>
        <tr class="simple-table__header">
          <th class="">Name</th>
          <th class="date">Date</th>
        </tr>
      </thead>
      <tbody>
        {% for doc in key_documents %}
        <tr>
          <td><a class="embed-pdf" href="{{ CANONICAL_BASE }}{{ doc.url }}" data-doc_id="{{ doc.doc_id }}" target="_blank">{{ doc.label }}</a></td>
          <td class="date">{{ doc.doc_date|date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>All documents</h2>
    <table class="simple-table simple-table--display">
      <thead>
        <tr class="simple-table__header">
          <th class="">Document</th>
          <th class="date">Date</th>
        </tr>
      </thead>
      <tbody>
{% for docL1 in documents %}
  {% set rowshading = loop.cycle('odd', 'even') %}
  <tr class="level-1 {{ rowshading }}">
    <td>
      <ul>
        <li><a class="embed-pdf" href="{{ CANONICAL_BASE }}{{ docL1.url }}" data-doc_id="{{ docL1.doc_id }}" target="_blank">{{ docL1.label }}</a></li>
          {%- if docL1.doc_entities -%}
              
                {%- for entity in docL1.doc_entities -%}
                  <li class="indent">{{ entity.name }}, {{ entity.role }}</li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </td>
    <td>{{ docL1.doc_date|date }}</td>
  </tr>
  {# If there's no level 2 list, let's include the description #}
  {# {% if not docL1.secondary_docs %}
    <tr class="level-2 {{ rowshading }}"><td>{{ docL1.label }}</td><td></td></tr>
  {% endif %} #}

  {% for subcat in docL1.secondary_docs %}
    <tr class="level-2 {{ rowshading }}"><td>{{ subcat.label }}</td><td></td></tr>
    {% for doc in subcat.documents %}
      <tr class="level-3 {{ rowshading }}">
        <td>
          <ul>
            {% if doc.label == 'Comments' %}
              {% for entity in doc.doc_entities %}
                {% if doc.doc_entities|length == 1 %}
                  <li>
                  <a class="embed-pdf" href="{{ CANONICAL_BASE }}{{ doc.url }}" data-doc_id="{{ doc.doc_id }}" target="_blank">{{ entity.name }} | {{ entity.role }}</a>
                  </li>
                {% else %}
                  {% if loop.first %}
                    <li><a class="embed-pdf" href="{{ CANONICAL_BASE }}{{ doc.url }}" data-doc_id="{{ doc.doc_id }}" target="_blank">Joint comment</a></li>
                  {% endif %}
                  <li class="indent">{{ entity.name }}, {{ entity.role }}</li>
                {% endif %}
              {% endfor %}
            {% else %}
              <a class="embed-pdf" href="{{ CANONICAL_BASE }}{{ doc.url }}" data-doc_id="{{ doc.doc_id }}" target="_blank">{{ doc.label }}</a>
            {% endif %}
          </ul>
        </td>
        <td class="date">{{ doc.doc_date|date }}</td>
      </tr>
    {% endfor %}
  {% endfor %}
{% endfor %}
      </tbody>
    </table>

    <h2>Entities</h2>
    <table class="simple-table simple-table--display">
      <thead>
        <tr class="simple-table__header">
          <th class="sorting sorting_asc">Name</th>
          <th class="sorting">Role</th>
        </tr>
      </thead>
      <tbody>
        {% for entity in rm_entities %}
        <tr class="{{ loop.cycle('odd', 'even') }}" data-sort="{{ loop.index0 }}">
          <td>{{ entity.name }}</td>
          <td>{{ entity.role }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="embedded-pdf-panel">
    <div class="embedded-pdf-url"><span>Document URL:&nbsp; </span><span></span></div>
    <div class="embedded-pdf-viewer">
      <div class="js-embed-pdf-content-holder">
        <object class="embed-viewer" data="" type="application/pdf" width="100%" height="100%">
          {# <iframe class="embed-viewer" src="" type="application/pdf" width="100%" height="100%" style="border:none"> #}
            <p>Your browser does not support PDFs.</p>
          {# </iframe> #}
        </object>
      </div>
    </div>
  </div>
</div>
<script>
  const canPdf = navigator.pdfViewerEnabled || false;

  /**
   * @param {HTMLElement} clickedEl
   */
  function openEmbeddedPdf(clickedEl) {
    // Unselect the current row(s)
    const currentRow = document.querySelectorAll('tr.row-active');
    currentRow.forEach(row => { row.classList.remove('row-active'); });
    // Select the new row(s)
    const doc_id = clickedEl.dataset.doc_id;
    const sharedLinks = document.querySelectorAll(`.embed-pdf[data-doc_id="${doc_id}"]`);
    sharedLinks.forEach(link => {
      const parentRow = link.closest('tr');
      parentRow.classList.add('row-active');
    });
    // Find the URL
    const url = clickedEl.href;
    let urlHtml = url.replaceAll('/', '<wbr>/<wbr>'); // To tell the page we want to break around slashes
    urlHtml = urlHtml.replaceAll('_', '<wbr>_<wbr>'); // and underscores
    // Find the objects
    const urlHolder = document.querySelector('.embedded-pdf-url span:last-child');
    const pdfViewerObj = document.querySelector('object.embed-viewer');
    const pdfViewerFrame = document.querySelector('iframe.embed-viewer');
    // If the objects exist, put the URL and PDF into it/them
    if (pdfViewerObj || pdfViewerFrame) urlHolder.innerHTML = urlHtml;

    if (pdfViewerObj) {
      pdfViewerObj.innerHTML = '';
      pdfViewerObj.data = url;
    }
    if (pdfViewerFrame) pdfViewerFrame.src = url;

    // Update this page's URL
    const thisUrl = new URL(location);
    thisUrl.searchParams.set('doc_id', doc_id);
    history.pushState({}, "", thisUrl);

    // newUrl.search.set('doc_id', doc_id);
    // window.history.pushState(newUrl);
    // URL(window.location.search).set('doc_id', doc_id);
  }

  function sortTableRows(rows, sortCol0, sortDir0, sortCol1) {
    console.log('sortTableRows(rows, sortCol0, sortDir0, sortCol1)', (typeof rows), sortCol0, sortDir0, sortCol1);
    const sortingArray = [];
    rows.forEach(row => {
      sortingArray.push({
        primary: row.querySelectorAll('td')[sortCol0].innerText.toLowerCase(),
        secondary: sortCol1 === false ? '' : row.querySelectorAll('td')[sortCol1].innerText.toLowerCase(),
        tr: row
      })
    });
    console.log('sortingArray: ', sortingArray);
    sortingArray.sort((a, b) => {
      // console.log('a, b: ', a.primary.localeCompare(b.primary));
      const primaryCompare = a.primary.localeCompare(b.primary);
      if (primaryCompare === 0 && a.secondary != '') {
        return a.secondary.localeCompare(b.secondary);
      }
      return sortDir0 === 'asc' ? primaryCompare : -primaryCompare;
    });
    console.log('sortedArray: ', sortingArray);

    const tableBody = rows[0].closest('tbody');
    sortingArray.forEach((item, i) => {
      tableBody.appendChild(item.tr);
      const isOddRowNum = i % 2 === 0; // we're 0-index so [1] (odd) is actually the second, which should be even
      item.tr.classList.toggle('even', !isOddRowNum);
      item.tr.classList.toggle('odd', isOddRowNum);
    });
  }

  function handleSortableThClick(e) {
    const theTable = e.target.closest('table');
    const theTHs = theTable.querySelectorAll('thead th');
    const theTRs = theTable.querySelectorAll('tbody tr');
    let colToSort = 0;
    let sortDir = 'asc';
    /* unselect other TH, set this one's sort value */
    theTHs.forEach((th, i) => {
      // For the not-clicked columns
      if (th != e.target) {
        th.classList = 'sorting';
      } else {
        colToSort = i;
        sortDir = th.classList.contains('sorting_asc') ? 'desc' : 'asc';
        th.classList = `sorting sorting_${sortDir}`;
      }
    });
    sortTableRows(theTRs, colToSort, sortDir, colToSort === 1 ? 0 : false);
  }
  
  document.addEventListener('DOMContentLoaded', (e) => {
    if (canPdf) {
      const pdfLinks = document.querySelectorAll('a.embed-pdf');
      pdfLinks.forEach(link => {
        link.addEventListener('click', e => {
          e.preventDefault();
          openEmbeddedPdf(e.target);
        })
      });
      // Start by opening a specific doc?
      const thisUrl = new URL(location);
      const idToOpen = thisUrl.searchParams.get('doc_id');
      const elToOpen = document.querySelector(`[data-doc_id="${idToOpen}"]`);
      if (elToOpen) openEmbeddedPdf(elToOpen);
      else openEmbeddedPdf(pdfLinks[0]);
    }

    const sortableColumns = document.querySelectorAll('th.sorting');
    sortableColumns.forEach(th => {
      th.addEventListener('click', handleSortableThClick);
    })
  });
</script>
{% endblock %}
