  <section id="homepage-help-candidate-and-committees" class="slab tab-interface">
    <div class="container">
      <h1 class="u-padding--bottom"><a href="/help-candidates-and-committees/">Help for candidates and committees</a></h1>

      <div class="slab slab--home grid">

        <div class="sidebar-container sidebar-container--left">
          <nav class="sidebar side-nav-alt">
            <ul class="tablist" role="tablist" data-name="tab">
              <li class="side-nav__item" role="presentation">
                <a class="side-nav__link"
                    role="tab"
                    data-name="candidate-and-authorized-committees"
                    tabindex="0"
                    aria-controls="panel1"
                    href="#homepage-candidate-committee-section-1"
                    aria-selected="true">Candidates and their authorized committees</a>
              </li>
              <li class="side-nav__item" role="presentation">
                <a class="side-nav__link"
                    role="tab"
                    data-name="corporations-and-labor-organizations"
                    tabindex="0"
                    aria-controls="panel2"
                    href="#homepage-candidate-committee-section-2">Corporations and labor organizations</a>
              </li>
              <li class="side-nav__item" role="presentation">
                <a class="side-nav__link"
                    role="tab"
                    data-name="political-action-committees"
                    tabindex="0"
                    aria-controls="panel3"
                    href="#homepage-candidate-committee-section-3">Political action committees (PACs)</a>
              </li>
              <li class="side-nav__item" role="presentation">
                <a class="side-nav__link"
                    role="tab"
                    data-name="political-party-committees"
                    tabindex="0"
                    aria-controls="panel4"
                    href="#homepage-candidate-committee-section-4">Political party committees</a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="main__content--right-full">

          <section id="homepage-candidate-committee-section-1" class="option" role="tabpanel" aria-hidden="true" aria-labelledby="homepage-candidate-committee-1-heading">
            <h2 id="homepage-candidate-committee-1-heading">Candidates and their authorized committees</h2>

            <div class="row u-padding--bottom">
            {% for service in service_page.sections %}
              {% if service.value.title == 'Candidates and their authorized committees' %}
                {% for content in service.value.content %}
                  {% if content.block_type == 'page' %}
                    <div class="block-page">{{ content }}</div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
            </div>

            <div class="grid grid--3-wide grid--flex u-no-padding">
              <div class="grid__item">
                <aside class="card card--horizontal card--secondary">
                  <h5 class="icon-heading--calendar-circle u-no-margin">Upcoming deadlines</h5>
                  <div class="card__content--full-width js-homepage-upcoming-deadlines">
                    <p></p>
                  </div>
                </aside>
              </div>
              <div class="grid__item">
                <aside class="card card--horizontal card--secondary">
                  <h5 class="icon-heading--training-circle u-no-margin">Featured training</h5>
                  <div class="card__content--full-width">
                    <p>Watch a <a href="https://www.youtube.com/watch?v=AcJ52LuEhEw">video about candidate registration</a>.</p>
                  </div>
                </aside>
              </div>
              <div class="grid__item">
                <aside class="card card--horizontal card--secondary">
                  <h5 class="icon-heading--document-circle u-no-margin">FEC forms</h5>
                  <div class="card__content--full-width">
                    <p>A collection of <a href="/help-candidates-and-committees/forms/">web and PDF forms</a> for candidates and authorized committees.</p>
                  </div>
                </aside>
              </div>
            </div>
          </section>

          <section id="homepage-candidate-committee-section-2" class="option" role="tabpanel" aria-hidden="true" aria-labelledby="homepage-candidate-committee-2-heading">
            <h2 id="homepage-candidate-committee-2-heading">Corporations and labor organizations</h2>
            <p class="u-no-margin">Corporations and labor organizations can’t make contributions to federal candidates, but they can establish and administer a special kind of political committee, called a separate segregated fund (SSF).</p>

            <div class="row u-padding--bottom">
            {% for service in service_page.sections %}
              {% if service.value.title == 'Corporations and labor organizations' %}
                {% for content in service.value.content %}
                  {% if content.block_type == 'page' %}
                    <div class="block-page">{{ content }}</div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
            </div>

            <div class="grid grid--3-wide grid--flex u-no-padding">
              <div class="grid__item">
                <aside class="card card--horizontal card--secondary">
                  <h5 class="icon-heading--calendar-circle u-no-margin">Upcoming deadlines</h5>
                  <div class="card__content--full-width js-homepage-upcoming-deadlines">
                    <p></p>
                  </div>
                </aside>
              </div>
              <div class="grid__item">
                <aside class="card card--horizontal card--secondary">
                  <h5 class="icon-heading--training-circle u-no-margin">Featured training</h5>
                  <div class="card__content--full-width">
                    <p>Watch a <a href="https://www.youtube.com/watch?v=AcJ52LuEhEw">video about SSF registration</a>.</p>
                  </div>
                </aside>
              </div>
              <div class="grid__item">
                <aside class="card card--horizontal card--secondary">
                  <h5 class="icon-heading--document-circle u-no-margin">FEC forms</h5>
                  <div class="card__content--full-width">
                    <p>A collection of <a href="/help-candidates-and-committees/forms/">web and PDF forms</a> for SSFs.</p>
                  </div>
                </aside>
              </div>
            </div>
          </section>

          <section id="homepage-candidate-committee-section-3" class="option" role="tabpanel" aria-hidden="true" aria-labelledby="homepage-candidate-committee-3-heading">
            <h2 id="homepage-candidate-committee-3-heading">Political action committees (PACs)</h2>
            <p class="u-no-margin">Groups that want to set up a PAC and aren't a candidate’s authorized committee, a political party committee or an SSF can set up a type of PAC called a nonconnected committee.</p>
            <div class="row u-padding--bottom">
            {% for service in service_page.sections %}
              {% if service.value.title == 'Political action committees (PACs)' %}
                {% for content in service.value.content %}
                  {% if content.block_type == 'page' %}
                    <div class="block-page">{{ content }}</div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
            </div>

            <div class="grid grid--3-wide grid--flex u-no-padding">
              <div class="grid__item">
                <aside class="card card--horizontal card--secondary">
                  <h5 class="icon-heading--calendar-circle u-no-margin">Upcoming deadlines</h5>
                  <div class="card__content--full-width js-homepage-upcoming-deadlines">
                    <p></p>
                  </div>
                </aside>
              </div>
              <div class="grid__item">
                <aside class="card card--horizontal card--secondary">
                  <h5 class="icon-heading--training-circle u-no-margin">Featured training</h5>
                  <div class="card__content--full-width">
                    <p>Watch a <a href="https://www.youtube.com/watch?v=AcJ52LuEhEw">video about PAC registration</a>.</p>
                  </div>
                </aside>
              </div>
              <div class="grid__item">
                <aside class="card card--horizontal card--secondary">
                  <h5 class="icon-heading--document-circle u-no-margin">FEC forms</h5>
                  <div class="card__content--full-width">
                    <p>A collection of <a href="/help-candidates-and-committees/forms/">web and PDF forms</a> for PACs.</p>
                  </div>
                </aside>
              </div>
            </div>
          </section>

          <section id="homepage-candidate-committee-section-4" class="option" role="tabpanel" aria-hidden="true" aria-labelledby="homepage-candidate-committee-4-heading">
            <h2 id="homepage-candidate-committee-4-heading">Political party committees</h2>
            <p class="u-no-margin">Political party committees represent a political party at a local, state or national level.</p>

            <div class="row u-padding--bottom">
            {% for service in service_page.sections %}
              {% if service.value.title == 'Political party committees' %}
                {% for content in service.value.content %}
                  {% if content.block_type == 'page' %}
                    <div class="block-page">{{ content }}</div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
            </div>

            <div class="grid grid--3-wide grid--flex u-no-padding">
              <div class="grid__item">
                <aside class="card card--horizontal card--secondary">
                  <h5 class="icon-heading--calendar-circle u-no-margin">Upcoming deadlines</h5>
                  <div class="card__content--full-width js-homepage-upcoming-deadlines">
                    <p></p>
                  </div>
                </aside>
              </div>
              <div class="grid__item">
                <aside class="card card--horizontal card--secondary">
                  <h5 class="icon-heading--training-circle u-no-margin">Featured training</h5>
                  <div class="card__content--full-width">
                    <p>Watch a <a href="https://www.youtube.com/watch?v=AcJ52LuEhEw">video about political party registration</a>.</p>
                  </div>
                </aside>
              </div>
              <div class="grid__item">
                <aside class="card card--horizontal card--secondary">
                  <h5 class="icon-heading--document-circle u-no-margin">FEC forms</h5>
                  <div class="card__content--full-width">
                    <p>A collection of <a href="/help-candidates-and-committees/forms/">web and PDF forms</a> for political party committees.</p>
                  </div>
                </aside>
              </div>
            </div>
          </section>

        </div>
      </div>
    </div>
  </section>
