{% load wagtailimages_tags %}
{% load filters %}

<article class="post">
  <div class="post__pre">
    <div class="post__date">{{ document.date|date:'F j, Y' }}</div>
  </div>
  <h3>{{ document.title }}</h3>
    <div class="t-sans row js-post-content">
      {% if document.body %}
        {{ document.body | truncatewords_html:30 }}
        <a class="js-read-more post__read-more" href="{{ document.url }}">Read more</a>
      {% else %}
        <p class="t-sans post__doc"><a href="{{ document.file_url }}">{{ document.file_name }}</a> {% if document.size %}| ({{ document.size }}){% endif %}</p>
      {% endif %}
    </div>
    <div class="post__meta">
      <a class="tag tag--secondary" href="">{{ document.category }}</a>
    </div>
</article>
