{% load wagtailimages_tags %}
{% load filters %}

<article class="post">
  <div class="post__pre">
    <div class="post__date">{{ document.date|date:'F j, Y' }}</div>
  </div>
  {% if document.body %}
    <h3>{{ document.title }}</h3>
    <div class="t-sans row js-post-content">
        {{ document.body | truncatewords_html:30 }}
        <a class="js-read-more post__read-more" href="{{ document.url }}">Read more</a>
    </div>
  {% else %}
    <h3><a href="{{ document.file_url }}">{{ document.title }}</a> <i class="icon icon--inline--right icon--inline--left i-document"></i><span class="t-sans">(PDF)</span>{% if document.size %}| ({{ document.size }}){% endif %}</h3>
  {% endif %}
    <div class="post__meta">
      <a class="tag tag--secondary" href="">{{ document.category }}</a>
    </div>
</article>
