{% load wagtailimages_tags %}
{% load filters %}

<article class="post">
  <div class="post__pre">
    <div class="post__date">{{ document.display_date }}</div>
  </div>
  {% if document.body or document.intro %}
    <h3>{{ document.title }}</h3>
    <div class="t-sans row js-post-content">
        {% if document.body %}
          {{ document.body | truncatewords_html:30 }}
        {% else %}
          {{ document.intro | truncatewords_html:30 }}
        {% endif %}
        <a class="js-read-more post__read-more" href="{{ document.url }}">Read more</a>
    </div>
  {% else %}
    <h3>
      {% if document.file_url %}
      <a href="{{ document.file_url }}">{{ document.title }}</a>
      {% else %}
      {{ document.title }}
      {% endif %}
      {% if document.extension is not '' %}
      <i class="icon icon--inline--right icon--inline--left i-document"></i>
      <span class="t-sans t-normal">({{ document.extension }}){% if document.size %} | ({{ document.size }}){% endif %}</span>
      {% endif %}
    </h3>
  {% endif %}
    <div class="post__meta">
      <a class="tag tag--secondary" href="{{self.get_parent.url}}?category={{ document.category | cms_query_syntax }}">{{ document.category }}</a>
    </div>
</article>
