{% load wagtailcore_tags %}
{% if alert_preview_banners %}

<section class="slab slab--secondary message--vivid">
  <div class="container">
   {% comment %}
    We allow a max of three alert banners in this preview for rare occasions where there are already two live alert banners,
    but we still want to show the one being edited. We will fade opacity of the third alert banner to signify that 
    it will not show on homepage since the home page max is two.
  {% endcomment %}
  {% for alert_banner in alert_preview_banners %}
   <div class="u-margin--top"{% if forloop.counter == 3 %} style="opacity:.4"{% endif %}>
      <div class="message message--vivid message--large message--alert message--inline u-no-margin-top u-no-margin-bottom">
        <span class="t-bold">{{ alert_banner.title }}: </span> {{ alert_banner.alert_description }}
        <br>
        <a class="t-sans" href="{{ draft_alert_banner.alert_link_url }}" class="t-sans">{{ alert_banner.alert_link_title }}</a> »
      </div>
    </div>
  {% endfor %}
  </div>
</section>
 {% endif %}

 {% if preview_banners %}
 
<section class="slab slab--secondary">
  <div class="container">
  {% comment %}
    We allow a max of three banners in this preview for rare occasions where there are already two live banners,
    but we still want to show the one being edited. We will fade opacity of the third banner to signify that 
    it will not show on homepage since the home page max is two.
  {% endcomment %}
  {% for banner in preview_banners%}
    <div class="u-margin--top"{% if forloop.counter == 3 %} style="opacity:.4"{% endif %}>
      <div class="message message--vivid message--mini message--info message--inline u-no-margin-top u-no-margin-bottom">
        <span class="t-bold">{{ banner.title }}: </span> {{ banner.description }}
      </div>
      <a href="{{ draft_banner.link_url }}" class="t-sans">{{ banner.link_title }}</a> »
      {% if banner.link_url_2 %}
      &nbsp; | &nbsp; <a href="{{ draft_banner.link_url_2 }}" class="t-sans">{{ banner.link_title_2 }}</a> »
      {% endif %}
    </div>
  {% endfor %}
</div>
</section>
{% endif %}
