{% load filters %}
<ul class="grid grid--4-wide t-sans">
  {% for generic_update in generic_updates %}
    <li class="grid__item grid__item--featured">
      {% if generic_update.link %}
      <a href="{{ generic_update.link }}">{{ generic_update.title }}</a>
      {% else %}
      {{ generic_update.title }}
      {% endif %}
    </li>
  {% endfor %}
  {% for update in updates %}
  <li class="grid__item {% if update.homepage_pin == True %}grid__item--featured{% else %}grid__item--home{% endif %}">
    {% if update.homepage_pin == True %}
      <h3>Featured</h3>
    {% endif %}
    <div class="t-bold t-upper">
      {% if update.get_update_type == 'Tips for Treasurers' %}
        Tips for treasurers
      {% elif update.get_update_type == 'Commission Meetings' %}
        Commission meeting
      {% else %}
        {{ update.category }}
      {% endif %}
    </div>
    <a href="{{ update.url }}">{% formatted_title update %}</a>
  </li>
  {% endfor %}
</ul>
