{% load wagtailcore_tags %}

{% if banners %}
  {% for banner in banners %}
<section class="slab slab--secondary {% if banner.prominent == True  %} message--red{% endif %}">
  <div class="container">


    <div{% if forloop.counter == 2 %} class="u-margin--top"{% endif %}>
      <div class="message message--red message--mini message--info message--inline u-no-margin-top u-no-margin-bottom" {% if banner.prominent == True  %} style="font-size:2rem" {% endif %}>
        <span class="t-bold">{{ banner.title }}{% if banner.description %}:{% endif %}</span> {{ banner.description }}
      </div>
{% if banner.prominent == True  %}<br>{% endif %}
      <a href="{{ banner.link_url }}" class="t-sans">{{ banner.link_title }}</a> »
      {% if banner.link_url_2 %}
      &nbsp; | &nbsp; <a href="{{ banner.link_url_2 }}" class="t-sans">{{ banner.link_title_2 }}</a> »
      {% endif %}
    </div>
  {% endfor %}
</div>
</section>
{% endif %}
