{% load wagtailcore_tags %}
{% if alert_banners %}

<section class="slab slab--secondary message--vivid">
  <div class="container">
  {% for alert_banner in alert_banners %}
    <div>
      <div class="message message--vivid message--large message--alert message--inline u-no-margin-top u-no-margin-bottom">
        <span class="t-bold">{{ alert_banner.title }}: </span> {{ alert_banner.alert_description }}
        <br>
        <a class="t-sans" href="{{ alert_banner.alert_link_url }}" class="t-sans">{{ alert_banner.alert_link_title }}</a> »
      </div>
    </div>
  {% endfor %}
  </div>
</section>

{% endif %}

{% if banners %}

<section class="slab slab--secondary">
  <div class="container">
  {% for banner in banners %}
    <div{% if forloop.counter == 2 %} class="u-margin--top"{% endif %}>
      <div class="message message--vivid message--mini message--info message--inline u-no-margin-top u-no-margin-bottom">
        <span class="t-bold">{{ banner.title }}: </span> {{ banner.description }}
      </div>
      <a href="{{ banner.link_url }}" class="t-sans">{{ banner.link_title }}</a> »
      {% if banner.link_url_2 %}
      &nbsp; | &nbsp; <a href="{{ banner.link_url_2 }}" class="t-sans">{{ banner.link_title_2 }}</a> »
      {% endif %}
    </div>
  {% endfor %}
</div>
</section>

{% endif %}
