{% load wagtailcore_tags %}
<section class="slab slab--neutral slab--inline" >
  <div class="container">
  <ul>
  {% for j in jobData %}
      <li>
      <h3><a href="{{ j.PositionURI }}">{{ j.PositionID }} , {{ j.PositionTitle}}</a></h3>
        <ul class="u-padding--bottom">
          <li class='t-sans'><strong>Open Period:</strong> {{ j.PositionStartDate }} - {{ j.PositionEndDate }}</li>
          <li class='t-sans'><strong>Who May Apply:</strong> {{ j.WhoMayApply }}</li>
          <li class='t-sans'><strong>Grade:</strong> {{ j.JobGrade }} - {{ j.LowGrade }} - {{ j.HighGrade }}</li>
        </ul>
      </li>
  {% empty %}
    <li class='t-sans'>There are currently no open positions available. Please check back on this page or Job Announcements on <a href='https://www.usajobs.gov/' title='USAJobs website'>USAJOBs</a> for the latest FEC Vacancy Announcements.")</li>
 </ul>
  {% endfor %}
  </div>
</section>