{% load wagtailcore_tags %}
<section class="slab slab--neutral slab--inline" >
  <div class="container">
  <ul>
  {% for j in jobData %}
      <li>
      <h3><a href="{{ j.position_uri }}">{{ j.position_id }} , {{ j.position_title}}</a></h3>
        <ul class="u-padding--bottom">
          <li class='t-sans'><strong>Open Period:</strong> {{ j.position_start_date }} - {{ j.position_end_date }}</li>
          <li class='t-sans'><strong>Open To:</strong> {{ j.open_to }}</li>
          <li class='t-sans'><strong>Grade:</strong> {{ j.job_grade }} - {{ j.low_grade }} - {{ j.high_grade }}</li>
        </ul>
      </li>
  {% empty %}
    {% if error %}
    <div style="padding: 2rem">
      <div class="message message--alert">
        <h2 class="message__title">Error:</h2>
        <p>{{error}}</p>
      </div>
    </div>
    {% else %}
        <li class='t-sans'>There are currently no open positions available. Please check back on this page or on <a href='https://www.usajobs.gov/' title='USAJobs website'>USAJOBs</a> for the latest FEC vacancy announcements.</li>
    {% endif %}
  {% endfor %}
 </ul>
  </div>
</section>
