{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% block title %}Legal resources{% endblock %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}
  {% include "partials/search-hero.html" %}
  <div class="slab slab--neutral slab--spacious">
    <div class="container">
      <form id="large-search" method="get" action="{{ settings.FEC_APP_URL }}/legal/search/" autocomplete="off" class="search__container js-search">
        <div class="combo combo--search combo--search--large">
          <select class="search__select select--alt js-search-type" name="search_type" aria-label="Select a search type">
            <option value="all">All</option>
            <option value="statutes">Statutes</option>
            <option value="regulations">Regulations</option>
            <option value="advisory_opinions">Advisory opinions</option>
            {% if features.legal_murs %}
            <option value="murs">Matters under review</option>
            {% endif %}
          </select>
          <input type="text" name="search" class="combo__input js-search-input"
          aria-label="Search"
          {% if search_query %} value="{{ search_query }}"{% endif %}>
          <button type="submit" class="button--standard button--search combo__button">
           <span class="u-visually-hidden">Search</span>
          </button>
        </div>
      </form>
      <span class="t-note t-sans search__example search__example--with-select">Examples: 102.2; electioneering</span>
    </div>
  </div>
  <div class="main container">
      <div class="row">
        <div class="sidebar-container sidebar-container--left">
          <nav class="sidebar sidebar--neutral side-nav js-sticky" data-sticky-container="main">
            <ul class="sidebar__content">
              <li class="side-nav__item">
                <a class="side-nav__link" href="#statutes">
                Statutes
                </a>
              </li>
              <li class="side-nav__item">
                <a class="side-nav__link" href="#regulations">
                Regulations
                </a>
              </li>
              <li class="side-nav__item">
                <a class="side-nav__link" href="#advisory-opinions">
                Advisory opinions
                </a>
              </li>
              <li class="side-nav__item">
                <a class="side-nav__link" href="#enforcement-matters">
                Enforcement
                </a>
              </li>
              <li class="is-disabled side-nav__item"><span class="side-nav__link">(Resource TBD)</span></li>
            </ul>
          </nav>
        </div>
        <section class="main__content--right">
            <div class="option">
              <h2 id="statutes"><a href="{{ settings.FEC_APP_URL }}/legal/statutes/">Statutes</a></h2>
              <p>
                The FEC administers and enforces the Federal Election Campaign Act, the Presidential Election Campaign Fund Act and the Presidential Primary Matching Payment Account Act. Those acts and amendments, which are passed by Congress and signed by the President, are collected and restated as law in Title 52 and Title 26 of the U.S. Code.
              </p>
              <p>
                This archive contains the portions of Title 52 and Title 26 that are administered by FEC.
              </p>
              <a class="button--cta button--go" href="{{ settings.FEC_APP_URL }}/legal/statutes/">Explore statutes</a>
            </div>
          <div class="option">
            <h2 id="regulations"><a href="/regulations">Regulations</a></h2>
            <p>As part of its role administering campaign finance law,
              the Commission issues regulations,
              which are published every year in Title 11 of the Code of Federal Regulations (CFR).
              This archive contains a full-text version of 11 CFR, as published January 1, 2016.
            </p>
            <a class="button--cta button--go" href="/regulations">Explore regulations</a>
          </div>
          <div class="option">
            <h2 id="advisory-opinions"><a href="{{ settings.FEC_APP_URL }}/legal/advisory-opinions/">Advisory opinions</a></h2>
            <p>Advisory opinions are official Commission responses to questions about how federal campaign finance law applies to specific, factual situations.</p>
            <p>This archive contains advisory opinions from 1975 to the present. It also contains documents related to advisory opinions — such as requests, drafts and public comments — from 1990 to the present.</p>
            <a class="button--cta button--go" href="{{ settings.FEC_APP_URL }}/legal/advisory-opinions/">Explore advisory opinions</a>
          </div>
          <div class="option">
          {% if features.legal_murs %}
            <h2 id="enforcement-matters"><a href="{{ settings.FEC_APP_URL }}/legal/enforcement/">Enforcement</a></h2>
            <p>The FEC has exclusive jurisdiction over the civil enforcement of the federal campaign finance law. Enforcement cases are primarily handled by the Office of General Counsel and are known as Matters Under Review (MURs).</p>
            <p>Other programs designed to augment the Office of General Counsel's enforcement role include the Alternative Dispute Resolution Program and the Administrative Fine Program.</p>
            <p>Cases in each of these enforcement programs must be kept confidential until the cases are closed.</p>
            <p>Learn more about each type of enforcement action. Search a database of MUR, Alternative Dispute Resolution and Administrative Fine documents from closed cases dating back to 1975.</p>
            <a class="button--cta button--go" href="{{ settings.FEC_APP_URL }}/legal/enforcement/">Explore enforcement</a>
          {% else %}
            <h2 id="enforcement-matters">Enforcement</h2>
            <p>Coming soon. Enforcement matters are available on <a href="http://www.fec.gov/em/em.shtml">FEC.gov</a>.</p>
          {% endif %}
          </div>
        </section>
      </div>
  </div>

  <div class="slab slab--neutral footer-disclaimer">
    <div class="container">
      <p class="usa-width-one-half">This site is in beta, which means we're testing content. This content is not finalized, is not legal advice and is subject to change.</p>
      <p class="usa-width-one-half">Everything on this site should be read in conjunction with FEC.gov. Please let us know what you think of our new content; use the feedback tool on this page.</p>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}
