{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% block title %}Legal resources{% endblock %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}
  {% include "partials/search-hero.html" %}
  <div class="slab slab--neutral slab--spacious">
    <div class="container">
      <form id="large-search" method="get" action="{{ settings.FEC_APP_URL }}/legal/search/" autocomplete="off" class="search__container js-search">
        <div class="combo combo--search combo--search--large">
          <select class="search__select select--alt js-search-type" name="search_type" aria-label="Select a search type">
          {% if features.legal %}
            <option value="all">All</option>
            <option value="regulations">Regulations</option>
            <option value="advisory_opinions">Advisory opinions</option>
          {% else %}
            <option value="regulations">Regulations</option>
          {% endif %}  
          </select>
          <input type="text" name="search" class="combo__input js-search-input"
          aria-label="Search"
          placeholder="Search"
          {% if search_query %} value="{{ search_query }}"{% endif %}>
          <button type="submit" class="button--standard button--search combo__button">
           <span class="u-visually-hidden">Search</span>
          </button>
        </div>
      </form>
      <span class="t-note t-sans search__example">Examples: 102.2; electioneering</span>
    </div>
  </div>
  <div class="container">
      <div class="message message--no-icon">We&rsquo;re designing a new way to get legal resources.
        We could use your help! Let us know if you&rsquo;re interested in <a id="share-feedback-link" href="#">
          sharing feedback</a> or
        <a id="ethnio-link" href="#">
          testing features
        </a> as we build them.</div>
      <div class="row">
        <div class="sidebar-container sidebar-container--left">
          <nav class="sidebar sidebar--neutral side-nav js-sticky" data-sticky-container="main">
            <ul class="sidebar__content">
              <li class="side-nav__item">
                <a class="side-nav__link" href="#regulations">
                Regulations
                </a>
              </li>
              <li class="side-nav__item">
                <a class="side-nav__link" href="#advisory-opinions">
                Advisory opinions
                </a>
              </li>
              <li class="side-nav__item">
                <a class="side-nav__link" href="#enforcement-matters">
                Enforcement matters
                </a>
              </li>
              <li class="is-disabled side-nav__item"><span class="side-nav__link">(Resource TBD)</span></li>
              <li class="is-disabled side-nav__item"><span class="side-nav__link">(Resource TBD)</span></li>
            </ul>
          </nav>
        </div>
        <section class="main__content--right">
          <div class="option">
                <h2 class="results-info__title" id="regulations"><a href="/regulations">Regulations</a></h2>
                <p class="u-padding--top">As part of its role administering campaign finance law,
                  the Commission issues regulations,
                  which are published every year in Title 11 of the Code of Federal Regulations (CFR).
                  This archive contains a full-text version of 11 CFR, as published January 1, 2016.
              </p>
              <a class="button--cta button--go" href="/regulations">Explore 11 CFR</a>
            </div>
            <div class="option">
              <h2 class="results-info__title" id="advisory-opinions"><a href="/advisory-opinions">Advisory opinions</a></h2>
              <p class="u-padding--top">Advisory opinions are official Commission responses to questions about how federal campaign finance law applies to specific, factual situations.
              </p>
              <p class="u-padding--top">This archive contains advisory opinions from 1975 to the present. It also contains documents related to advisory opinions — such as requests, drafts and public comments — from 1990 to the present.
              </p>
              <p> </p>
              <a class="button--cta button--go" href="/advisory-opinions">Explore advisory opinions</a>
          </div>
            <div class="option">
            <h2 class="results-info__title" id="enforcement-matters">Enforcement matters</h2>
            <p class="u-padding--top">Coming soon.
              Enforcement matters are available on
              <a href="http://www.fec.gov/em/em.shtml">FEC.gov</a>
            </p>
        </div>
        </section>
      </div>
  </div>

  <div class="slab slab--neutral footer-disclaimer">
    <div class="container">
      <p class="usa-width-one-half">This site is in beta, which means we're testing content. This content is not finalized, is not legal advice and is subject to change.</p>
      <p class="usa-width-one-half">Everything on this site should be read in conjunction with FEC.gov. Please let us know what you think of our new content; use the feedback tool on this page.</p>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<!-- Ethnio Activation Code -->
<script type="text/javascript" language="javascript" src="https://ethn.io/70862.js" async="true" charset="utf-8"></script>
{% endblock %}
