{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% block title %}Legal Resources{% endblock %}
{% block body_class %}template-{{ self.get_verbose_name | slugify }}{% endblock %}

{% block content %}
  {% include "partials/search-hero.html" %}
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="sidebar-container sidebar-container--left">
          <nav class="sidebar sidebar--neutral side-nav js-sticky" data-sticky-container="main">
            <ul class="sidebar__content">
              <li class="side-nav__item">
                <a class="side-nav__link" href="#regulations">
                Regulations
                </a>
              </li>
              <li class="side-nav__item">
                <a class="side-nav__link" href="#advisory-opinions">
                Advisory Opinions
                </a>
              </li>
              <li class="side-nav__item">
                <a class="side-nav__link" href="#enforcement-matters">
                Enforcement Matters
                </a>
              </li>
              <li class="is-disabled side-nav__item"><span class="side-nav__link">(Resource TBD)</span></li>
              <li class="is-disabled side-nav__item"><span class="side-nav__link">(Resource TBD)</span></li>
            </ul>
          </nav>
        </div>
        <section class="main__content">
          <div class="message message--no-icon">We're designing a new way to get legal resources.
            We could use your help! If you're interested in <a href="#">sharing feedback</a> or
            <a href="#">testing features</a> as we build them, let us know.</div>
          <div class="content__section--ruled u-padding--bottom">
                <h2 class="results-info__title" id="regulations"><a href="/regulations">Regulations</a></h2>
                <p class="u-padding--top">As part of its role administering campaign finance law,
                  the Commission issues regulations,
                  which are published every year in Title 11 of the Code of Federal Regulations (CFR).
                  This archive contains a full-text version of 11 CFR, as published January 1, 2016.
              </p>
              <button class="is-active button--cta-primary">Get started
                  <img class="u-padding-left" src="{% static "img/i-right--inverse.svg" %}"
                alt="Icon for Get started">
              </button>
            </div>
            <div class="content__section--ruled u-padding--top u-padding--bottom">
              <h2 class="results-info__title" id="advisory-opinions">Advisory Opinions</h2>
              <p class="u-padding--top">Coming soon.
                Advisory opinions are available on
                <a href="http://saos.fec.gov/saos/searchao">FEC.gov</a>
              </p>
          </div>
            <div class="content__section--ruled u-padding--top">
            <h2 class="results-info__title" id="enforcement-matters">Enforcement Matters</h2>
            <p class="u-padding--top">Coming soon.
              Enforcement matters are available on
              <a href="http://www.fec.gov/em/em.shtml">FEC.gov</a>
            </p>
        </div>
        </section>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
<!-- Ethnio Activation Code -->
<script type="text/javascript" language="javascript" src="https://ethn.io/70862.js" async="true" charset="utf-8"></script>
{% endblock %}
