<html lang="en">
  <head></head>
  <body class="template-home-page">

    <a href="#main" class="skip-nav">skip navigation</a>
    
    <div class="banner-dev">
      <p class="t-sans t-small">LOCAL<br>
      This site is for testing ideas and code. View the most accurate data on the <a href="https://www.fec.gov">live site</a>.
      </p>
    </div>

    <div id="browser_warning" style="display: none;">
      <h2>Your web browser is not supported</h2>
      <p>You're using Internet Explorer, some features might not work. Please switch to another browser like Chrome, Firefox, or Edge for a better experience.</p>
    </div>


    <header class="usa-banner">
      <div class="js-accordion accordion--neutral" data-content-prefix="gov-banner">
        <div type="button" class="usa-banner-header js-accordion-trigger accordion__button" aria-controls="gov-banner" aria-expanded="false"><span class="u-visually-hidden">Here's how you know</span>
          <img class="flag" src="/static/img/us_flag_small.png" alt="US flag signifying that this is a United States Federal Government website" width="16" height="11">
          <p class="t-inline-block">An official website of the United States government</p>
          <p class="t-inline-block usa-banner-button">Here's how you know</p>
        </div>
        <div class="usa-banner-content usa-grid usa-accordion-content accordion-content" id="gov-banner" aria-hidden="true" >
          <div class="usa-banner-guidance-gov usa-width-one-half">
            <img class="usa-banner-icon usa-media_block-img" src="/static/img/icon-dot-gov.svg" alt="Dot gov" width="38" height="38">
            <div class="usa-media_block-body">
              <p>
                <strong>Official websites use .gov</strong>
                <br>
                A <strong>.gov</strong> website belongs to an official government organization in the United States.
              </p>
            </div>
          </div>
          <div class="usa-banner-guidance-ssl usa-width-one-half">
            <img class="usa-banner-icon usa-media_block-img" src="/static/img/icon-https.svg" alt="SSL" width="38" height="38">
            <div class="usa-media_block-body">
              <p>
                <strong>Secure .gov websites use HTTPS</strong>
                <br>
                A <strong>lock</strong> ( <svg xmlns="http://www.w3.org/2000/svg" width="10" height="15" viewBox="0 0 52 64" class="usa-banner__lock-image" role="img" aria-labelledby="banner-lock-title-default banner-lock-description-default"><title id="banner-lock-title-default">Lock</title><desc id="banner-lock-description-default">A locked padlock</desc><path     ></path></svg> ) or <strong>https://</strong> means you've safely connected to the .gov website. Share sensitive information only on official, secure websites.
              </p>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <main id="main">
      <section class="slab slab--secondary">
        <div class="container">
          <div>
            <div class="message message--vivid message--mini message--info message--inline u-no-margin-top u-no-margin-bottom">
              <span class="t-bold">Rulemaking petition now open for public comment: </span> Candidate salaries (REG 2021-01)
            </div>
            <a href="https://www.fec.gov/legal-resources/regulations/pending-rulemaking-matters-comment/" class="t-sans">Read Federal Register notice &amp; comment now</a> »
          </div>
          <div class="u-margin--top">
            <div class="message message--vivid message--mini message--info message--inline u-no-margin-top u-no-margin-bottom">
              <span class="t-bold">FEC-related COVID-19 information: </span> Offices remain closed to visitors
            </div>
            <a href="https://www.fec.gov/resources/cms-content/documents/status-of-fec-operations.pdf" class="t-sans">Get the latest information on FEC operations</a> »
            &nbsp; | &nbsp; <a href="https://www.fec.gov/resources/cms-content/documents/FEC-COVID-19-workplace-safety-plan.pdf" class="t-sans">Workplace safety plan</a> »            
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
