<html lang="en">
  <head></head>
    <body class="template-home-page">
      <main id="main"></main>
    
      <div id="glossary" class="glossary" aria-describedby="glossary-result" aria-hidden="true">
      <button title="Close glossary" class="button button--close--inverse toggle js-glossary-close" tabindex="-1"><span class="u-visually-hidden">Hide glossary</span>
      </button>
      <h2>Glossary</h2>
      <label for="glossary-search" class="label">Search terms</label>
      <input id="glossary-search" class="glossary__search js-glossary-search" type="search" tabindex="-1">
      <span class="t-note t-sans search__example">Examples: receipt; Hybrid PAC</span>
      <div class="glossary__content" id="glossary-result">
        <ul class="glossary__list js-glossary-list accordion--inverse">
            <li class="glossary__item">
                <button class="data-glossary-term glossary__term accordion__button" tabindex="-1" aria-controls="glossary-content-0" aria-expanded="false">Act</button>
                <div class="glossary__definition accordion__content" id="glossary-content-0" aria-hidden="true" >The Federal Election Campaign Act of 1971, as amended (<a href="https://www.fec.gov/data/legal/statutes/" tabindex="-1">52 U.S.C. §§30101-30146</a>). 11 CFR <a href="https://www.fec.gov/regulations/100-18/CURRENT#100-18" tabindex="-1">100.18</a>. Prior to September 1, 2014, the Act appeared in Title 2 of the U.S. Code. Sometimes abbreviated FECA.</div>
            </li>
            <li class="glossary__item">
                <button class="data-glossary-term glossary__term accordion__button" tabindex="-1" aria-controls="glossary-content-1" aria-expanded="false">Administrative expense</button>
                <div class="glossary__definition accordion__content" id="glossary-content-1" aria-hidden="true" >For party committees, rent, utilities, office equipment, office supplies, routine building maintenance and other operating costs not attributable to a specific candidate.</div>
            </li>
            <li class="glossary__item">
                <button class="data-glossary-term glossary__term accordion__button" tabindex="-1" aria-controls="glossary-content-2" aria-expanded="false">Administrative termination</button>
                <div class="glossary__definition accordion__content" id="glossary-content-2" aria-hidden="true">Administrative termination is the action taken by the Commission to terminate the reporting obligations of political committees that appear to be inactive in accordance with 52 U.S.C. <a href="https://www.govinfo.gov/link/uscode/52/30103" tabindex="-1">30103(d)(2)</a> and <a href="https://www.fec.gov/regulations/102-4/CURRENT#102-4" tabindex="-1">11 CFR 102.4</a>. Administrative termination does not relieve a committee of any legal responsibility for the payment of any outstanding debt or obligations.</div>
            </li>
            <li class="glossary__item">
                <button class="data-glossary-term glossary__term accordion__button" tabindex="-1" aria-controls="glossary-content-3" aria-expanded="false">Advance</button>
                <div class="glossary__definition accordion__content" id="glossary-content-3" aria-hidden="true" >The payment by an individual from his or her personal funds, including a personal credit card, for the costs incurred in providing goods or services to, or obtaining goods or services that are used by or on behalf of, a candidate or a political committee.  See <a href="https://www.fec.gov/regulations/116-5/CURRENT#116-5" tabindex="-1">11 CFR 116.5</a>.</div>
            </li>
            <li class="glossary__item">
                <button class="data-glossary-term glossary__term accordion__button" tabindex="-1" aria-controls="glossary-content-4" aria-expanded="false">Advisory opinion (AO)</button>
                <div class="glossary__definition accordion__content" id="glossary-content-4" aria-hidden="true">A formal response from the Commission regarding the legality of a specific activity proposed in an advisory opinion request (AOR). 11 CFR Part <a href="https://www.fec.gov/regulations/112" tabindex="-1">112</a>.</div>
            </li>
            <li class="glossary__item">
                <button class="data-glossary-term glossary__term accordion__button" tabindex="-1" aria-controls="glossary-content-5" aria-expanded="false">Affiliated committees</button>
                <div class="glossary__definition accordion__content" id="glossary-content-5" aria-hidden="true">Committees and organizations that are considered one committee for purposes of the contribution limits. <a href="https://www.fec.gov/regulations/110-3/CURRENT#110-3" tabindex="-1">11 CFR 110.3(a)(1)</a>. Affiliated committees include (1) All committees established or authorized by a candidate as part of his or her campaign for federal or nonfederal office; and (2) All committees established, financed, maintained or controlled by the same person, group or organization. 11 CFR <a href="https://www.fec.gov/regulations/100-5/CURRENT#100-5-g" tabindex="-1">100.5(g)(1) and (2)</a>; <a href="https://www.fec.gov/regulations/110-3/CURRENT#110-3" tabindex="-1">11 CFR 110.3(a)(1)</a>.</div>
            </li>
            <li class="glossary__item"><button class="data-glossary-term glossary__term accordion__button" tabindex="-1" aria-controls="glossary-content-6" aria-expanded="false">Agent (of a candidate)</button>
                <div class="glossary__definition accordion__content" id="glossary-content-6" aria-hidden="true">An agent of a federal candidate or officeholder is any person who has actual authority, either express or implied, to engage in any of the following activities on behalf of the candidate or officeholder: 
                    <ul class="list-bulleted">
                        <li>To solicit, receive, direct, transfer or spend funds in connection with any election.</li>
                        <li>To request or suggest that a communication be created, produced or distributed; </li>
                        <li>To make or authorize a communication that meets one or more of the “content standards” for coordination;</li>
                        <li>To request or suggest that any other person create, produce, or distribute any communication;</li>
                        <li>To be materially involved in decisions regarding the content, intended audience, means, media outlet, timing, frequency, size, prominence or duration of a communication;</li>
                        <li>To provide material or information to assist another person in the creation, production or distribution of any communication; or</li>
                        <li>To make or direct a communication that is created, produced or distributed with the use of material or information derived from a substantial discussion about the communication with a different candidate;</li>
                    </ul>
                11 CFR <a href="https://www.fec.gov/regulations/109-3/CURRENT#109-3-b" tabindex="-1">109.3(b)</a> and <a href="https://www.fec.gov/regulations/300-2/CURRENT#300-2-b-3" tabindex="-1">300.2(b)(3)</a>.</div>
            </li>
        </ul>
      </div>
    </div>
    
    
    <div>
      <button class="js-feedback feedback__toggle button--cta-secondary" aria-controls="feedback" aria-expanded="false" type="button">Feedback</button>
      <div id="feedback" class="js-feedback-box feedback" aria-hidden="true">
        <button class="js-feedback button--down feedback__close" tabindex="-1"><span class="u-visually-hidden">Close</span></button>
        <div class="js-status" aria-hidden="true">
          <div class="message js-message">
          </div>
          <ul class="list--buttons">
            <li><button class="js-reset button--cta-primary feedback__button" type="button" tabindex="-1">Submit another issue</button></li>
          </ul>
        </div>
        <form id="feedback-form" class="container">
          <fieldset>
            <legend class="feedback__title">Help us improve FEC.gov</legend>
            <h3 class="t-sans">Test new website features with our design team</h3>
            <div class="signup__row">
              <div class="signup__button">
              <a class="button--cta" href="https://ethn.io/12085" tabindex="-1">Sign up</a>
              </div>
              <div class="signup__note">
                <p class="t-sans t-note">Sign up for a 30-minute video call to  help us test new website features.</p>
              </div>
            </div>
            <hr>
            <h3 class="t-sans">Or post public feedback about the FEC.gov website anonymously</h3>
            <p class="t-sans t-note">How can we improve FEC.gov? Your feedback, browser information and the URL of the page you were viewing at the time of submission will be posted publicly - so don't include sensitive information like your name, contact information or Social Security number.</p>
            <label for="feedback-1" class="label">What were you trying to do on fec.gov, and how can we improve it? <span class="label--help">(required)</span></label>
            <textarea id="feedback-1" name="action" tabindex="-1"></textarea>
            <label for="feedback-2" class="label">General website feedback</label>
            <textarea id="feedback-2" name="feedback" tabindex="-1"></textarea>
            <label for="feedback-3" class="label">Tell us about yourself</label>
            
            <div>
              <div class="grecaptcha-badge" data-style="inline" style="">
                <div class="grecaptcha-logo">
                  <iframe title="reCAPTCHA" src="" width="256" height="60" role="presentation" name="" frameborder="0" scrolling="no" sandbox=""></iframe>
                </div>
                <div class="grecaptcha-error"></div>
                <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style=""></textarea>
              </div>
              <iframe style="display: none;"></iframe>
            </div>

            <span class="label--help">I'm a <span class="u-blank-space"></span> interested in <span class="u-blank-space"></span>.</span>
            <textarea id="feedback-3" name="about" tabindex="-1"></textarea>
            <button class="g-recaptcha button--cta feedback__button u-no-margin" data-sitekey="" data-callback="submitFeedback" data-badge="inline" tabindex="-1">Post</button>
            <p class="t-sans t-note u-margin--top"><a href="https://github.com/FECgov/FEC/issues" tabindex="-1">Review all reported feedback</a>  |  <a href="/contact/" tabindex="-1">Contact the FEC about a specific question</a>  |  <a href="/use-recaptcha/" tabindex="-1">Use of reCAPTCHA</a></p>
          </fieldset>
        </form>
      </div>
    </div></body></html>
    