@font-face {
  font-family: 'gandhi';
  src: url('../fonts/gandhiserif-bold.woff2') format('woff2'),
    url('../fonts/gandhiserif-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'gandhi';
  src: url('../fonts/gandhiserif-bolditalic.woff2') format('woff2'),
    url('../fonts/gandhiserif-bolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'gandhi';
  src: url('../fonts/gandhiserif-italic.woff2') format('woff2'),
    url('../fonts/gandhiserif-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'gandhi';
  src: url('../fonts/gandhiserif-regular.woff2') format('woff2'),
    url('../fonts/gandhiserif-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'karla';
  src: url('../fonts/karla-bold.woff2') format('woff2'),
    url('../fonts/karla-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'karla';
  src: url('../fonts/karla-regular.woff2') format('woff2'),
    url('../fonts/karla-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'fec_currency_mono';
  src: url('../fonts/fec-currencymono-bold.woff2') format('woff2'),
    url('../fonts/fec-currencymono-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'fec_currency_mono';
  src: url('../fonts/fec-currencymono-bolditalic.woff2') format('woff2'),
    url('../fonts/fec-currencymono-bolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'fec_currency_mono';
  src: url('../fonts/fec-currencymono-italic.woff2') format('woff2'),
    url('../fonts/fec-currencymono-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'fec_currency_mono';
  src: url('../fonts/fec-currencymono-regular.woff2') format('woff2'),
    url('../fonts/fec-currencymono-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
