@import "../../../../node_modules/leaflet/dist/leaflet";

@import "global";

@import "components/hero";
@import "components/overviews";
@import "components/figures";
@import "components/icons";
@import "components/type-styles";
@import "components/maps";
@import "components/reaction-boxes";
@import "components/_options";
@import "components/datatables";

// for spending raising breakdown pages
@import "components/breakdowns";
@import "components/sidebar";
@import "components/side-nav";
@import "components/table-styles";
@import "components/results-info";
@import "components/charts";
@import "components/modals";
@import "components/examples";
@import "components/headings";
@import "components/icon-headings";
@import "components/search-controls";
@import "components/data-landing-callouts";

#election-lookup.na-map {
  flex-wrap: wrap;
}
#election-lookup.na-map > .usa-width-one-half {
  width: 100% !important;
  &:first-child {
    order: initial;
  }
  &:last-child {
    order: initial;
  }
}
#election-lookup.na-map .message {
  margin-top: 0;
  margin-bottom: 0;
}
