/*
    duped from elections.scss:
    If you add any new rules here, make sure there's a corresponding component in sample-homepage-for-purgecss.html
*/
@import '../../../../node_modules/leaflet/dist/leaflet';

@import 'common';
@import 'components/agendas';
@import 'components/articles';
@import 'components/data-container';
@import 'components/datatables';
@import 'components/downloads';
@import 'components/fec-org-chart';
@import 'components/filters';
@import 'components/entity-header';
@import 'components/maps';
@import 'components/responsive-object';
@import 'components/results-info';
@import 'components/richtext';
/*
    end dupe from elections.scss
*/
