.object .richtext.expanded {
  padding: 0.9em 1.2em;
}

li.sequence-member .struct-block .sequence-container {
  width: 83%;
}

li.sequence-member .struct-block .sequence-container .field-content {
  width: 100%;
}

li.sequence-member .sequence-member-inner .sequence-type-list .sequence-container-inner {
  width: 100%;
}

.t-sans {
  font-family: sans-serif;
}

.Draftail-block--blockquote {
	 border-left: 10px solid #f1f1f1;
	 padding-left: 30px;
	 margin-left: 0;
	 font-style: italic;
}

.term {
  color: #112E51;
  background-color: #ccc;
  background-repeat: no-repeat;
  transition: background-color,.2s,box-shadow,.2s,color,.2s;
  background-size: .6em;
  background-position: 100% 50%;
  box-shadow: 0 0 0 4px transparent;
  border-bottom: none;
  cursor: pointer;
  margin-right: 2px;
}

.richtext ul ul,
.richtext ul ol,
.richtext ol ol,
.richtext ol ul {
  margin-left: 15px;
}

.richtext ul ul li:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}

.richtext ol li:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}

.richtext ul ul li {
  list-style-type: circle;
}

.richtext ul ul ul li {
  list-style-type: square;
}

.richtext ul ul {
  margin-bottom: 0;
  margin-left: 15px;
}

.richtext ol ul li,
.richtext ol ol ul li {
  list-style-type: circle;
}

.richtext ol ol li {
  list-style-type: lower-alpha;
}

.richtext ol ol ol li {
  list-style-type: lower-roman;
}
